.alert{
	display: none;
	color: var(--med-blue);
	font-size: 16px;
	background-color: var(--white);
	padding: 22px 48px 30px 22px;
	border-radius: 4px;
	margin-bottom: 20px;
	max-width: 580px;
	min-height: 60px;
	box-shadow: var(--box-shadow-alert-info);
	position: relative;
}

.alert__icon{
	width: 24px;
	display: flex;
	justify-content: center;
	margin-right: 10px;
	flex-shrink: 0;
}

.alert__text{
	margin: 0;
}

.alert__close{
	color: var(--med-blue);
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0;
	right: 0;
	&:focus,
	&:hover{
		color: var(--med-tint);
	}
}

.alert--visible{
	display: flex;
}

.alert--info{
	box-shadow: var(--box-shadow-alert-info);
	& .alert__icon{
		color: var(--med-tint);
	}
}

.alert--error{
	box-shadow: var(--box-shadow-alert-error);
	& .alert__icon{
		color: var(--red);
	}
}

.alert--warning{
	box-shadow: var(--box-shadow-alert-warning);
	& .alert__icon{
		color: var(--orange);
	}
}

.alert--done{
	box-shadow: var(--box-shadow-alert-done);
	& .alert__icon{
		color: var(--green);
	}
}

.alert--wide{
	max-width: 100%;
	padding: 0;
	margin-bottom: 30px;
	border-radius: 0;
	& > .page__wrapper{
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 90px;
		display: flex;
		align-items: center;
	}
	& .alert__close{
		position: static;
		margin-left: auto;
	}
}