.badge{
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    background-color: var(--orange);
    box-shadow: var(--badge-shadow);
    color: var(--white);
    border-radius: 10px;
    font-weight: var(--fw-normal);
    text-align: center;
    padding: 0.125rem 0.403rem;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform: translateX(33%) translateY(-33%)
}

.badge__text{
    position: relative;
    top: 0.03125rem;
}