.breadcrumbs{
	display: inline-flex;
	flex-wrap: wrap;
	font-weight: var(--fw-light);
	font-size: 14px;
	line-height: 1.2;
	color: var(--med-tint);
	margin-bottom: 50px;
	& .list__item{
		display: flex;
		align-items: center;
		margin-top: 4px;
		margin-bottom: 4px;
		&:not(:last-of-type){
			&::after{
				content: '/';
				display: inline-block;
				margin-left: 7px;
				margin-right: 7px;
			}
		}
	}
	& .link{
		&:hover{
			color: var(--med-blue);
		}
	}
}
