.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: var(--fw-bold);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	user-select: none;
	color: var(--black);
	background-color: var(--white);
	border: 2px solid;
	border-color: var(--black);
	font-size: 18px;
	line-height: 1.2;
	padding: 0.532rem 1.125rem;
	border-radius: 30px;
	outline: none;
	box-shadow: none;
	transition: color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&:not(:disabled){
		&:focus{
			outline: none;
		}
	}
	& > * + .icon__wrapper,
	& > .icon__wrapper + *{
		margin-left: 8px;
	}
	& > .icon__wrapper{
		height: 1em;
		display: flex;
		align-items: center;
		position: relative;
	}
}

.btn__text{

}

.btn--primary{
	color: var(--med-blue);
	background-color: var(--white);
	border-color: var(--med-blue);
	&:disabled{
		color: rgba(var(--med-tint-rgb), 0.3);
		background-color: var(--super-light);
		border-color: rgba(var(--med-tint-rgb), 0.3);
	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--white);
			background-color: var(--med-blue);
			border-color: var(--med-blue);
		}
		&:active{
			color: var(--white);
			border-color: var(--med-blue);
			background-color: var(--med-blue);
		}
	}
}

.btn--secondary{
	color: var(--white);
	background-color: var(--orange);
	border-color: var(--orange);
	&:disabled{
		color: rgba(var(--orange-rgb), 0.2);
		background-color: var(--white);
		border-color: rgba(var(--orange-rgb), 0.2);
	}
	&:not(:disabled){
		&:hover,
		&:focus{
			color: var(--orange);
			background-color: var(--white);
			border-color: var(--orange);
		}
		&:active{
			color: var(--orange);
			background-color: var(--white);
			border-color: var(--orange);
		}
	}
}

.btn--action{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 44px;
	min-height: 44px;
	color: currentColor;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	&.btn--sm{
		min-width: 24px;
		min-height: 24px;
		padding: 0;
	}
	@media (--ie-only){
		height: 44px;
		&.btn--sm{
			height: 24px;
		}
	}
}

.btn--sm{
	font-size: 16px;
	line-height: 1.5;
	padding: 0.125rem 1.166rem;
}

.btn--lg-small{
	@media (--lg-viewport){
		font-size: 16px;
		line-height: 1.5;
		padding: 0.125rem 1.166rem;
	}
}

.btn--lg-normal{
	@media (--lg-viewport){
		font-size: 18px;
		line-height: 1.2;
		padding: 0.532rem 1.125rem;
	}
}

.btn--hidden{

}