.control{
	margin-bottom: 14px;
}

.control--valid{
	& > .control__input{
		border-color: var(--green) !important;
	}
	& .control__msg--valid{
		display: block;
	}
}

.control--invalid{
	&.control--checkbox{
		& > .control__input + .control__label{
			&::after{
				border-color: var(--red) !important;
			}
		}
	}
	& > .control__input{
		border-color: var(--red) !important;
	}
	& .control__msg--invalid{
		display: block;
	}
}

.control--disabled{

}

.control--active{

}

.control__placeholder{
	color: var(--med-tint);
	font-size: 16px;
	font-weight: var(--fw-light);
}

.control__msg{
	font-size: 14px;
	line-height: 1.2;
	margin-top: 3px;
}

.control__msg--valid{
	color: var(--green);
	display: none;
}

.control__msg--invalid{
	color: var(--red);
	display: none;
}

.control__input{
	display: block;
	width: 100%;
	outline: none;
	appearance: none;
	transition: border-color .15s ease-in-out;
	&::placeholder {
		color: var(--med-tint);
		opacity: 1;
	}
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}
}

.control__label{
	line-height: 1.2;
	font-weight: var(--fw-normal);
	font-size: 16px;
	margin-bottom: 8px;
}

.control__indicator{

}

.control__icon{

}

.control__wrapper{

}

.control--select,
.control--text{
	& .control__input{
		height: 44px;
		padding: 12px 15px;
		font-size: 16px;
		line-height: 1.2;
		color: var(--med-blue);
		font-weight: var(--fw-light);
		border: 1px solid;
		border-color: rgba(var(--med-tint-rgb), 0.3);
		background-color: var(--white);
		&:not(:disabled){
			&:hover{
				border-color: rgba(var(--med-tint-rgb), 0.5);
			}
			&:focus{
				border-color: rgba(var(--med-tint-rgb), 1);
			}
		}
		&:disabled{
			border-color: rgba(var(--med-tint-rgb), 0.3);
			background-color: var(--super-light);
		}
	}
	& textarea.control__input{
		min-height: 120px;
	}
}


.control--checkbox,
.control--radio{
	margin-bottom: 12px;
	position: relative;
	& > .control__input{
		width: auto;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		&:disabled{
			& + .control__label{
				&::before{
					border-color: rgba(var(--med-tint-rgb), 0.3);
					background-color: var(--super-light);
				}
			}
		}
		&:checked{
			& + .control__label{
				&::before{
					border-color: rgba(var(--med-tint-rgb), 0.3);
					background-color: var(--super-light);
				}
				&::after{
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 18 14'%3E%3Cpath fill='%232141A4' fill-rule='evenodd' d='M6 11.2L1.8 7 .4 8.4 6 14 18 2 16.6.6 6 11.2z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100%;
				}
			}
		}
		&:not(:disabled){
			& + .control__label{
				&::before{
					cursor: pointer;
				}
				&:hover{
					&::before{
						border-color: rgba(var(--med-tint-rgb), 0.5);
					}
				}
				&:focus{
					outline: none;
					&::before{
						border-color: rgba(var(--med-tint-rgb), 1);
					}
				}
			}
		}
	}
	& .control__label{
		font-weight: var(--fw-light);
		font-size: 14px;
		line-height: 1.2;
		padding-left: 27px;
		color: var(--med-tint);
		&::before{
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 16px;
			height: 16px;
			border-radius: 2px;
			background-color: var(--white);
			border: 1px solid;
			border-color: rgba(var(--med-tint-rgb), 0.3);
		}
		&::after{
			content: '';
			position: absolute;
			display: block;
			top: -0.0875rem;
			left: 0.15rem;
			width: 1.1rem;
			height: 0.8375rem;
		}
		& a{
			text-decoration: underline;
		}
	}
}

.control--radio{
	& .control__label{
		&::before{
			border-radius: 50%;
		}
	}
}

.control--select{
	& .control__wrapper{
		position: relative;
	}
	& .control__input{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 12 8'%3E%3Cpath fill='%23374C83' fill-rule='evenodd' d='M10.59.59L6 5.17 1.41.59 0 2l6 6 6-6L10.59.59z' clip-rule='evenodd'/%3E%3C/svg%3E");
		background-position: calc(100% - 16px) center;
		background-repeat: no-repeat;
		background-size: 12px 7px;
		padding-right: 40px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.control--file{
	& .control__input{
		height: 44px;
		padding: 9px 15px;
		font-size: 16px;
		line-height: 1.2;
		font-weight: var(--fw-light);
		border: 1px solid;
		border-color: rgba(var(--med-tint-rgb), 0.3);
		background-color: var(--white);
		&:not(:disabled){
			&:hover{
				border-color: rgba(var(--med-tint-rgb), 0.5);
			}
			&:focus{
				border-color: rgba(var(--med-tint-rgb), 1);
			}
		}
		&:disabled{
			border-color: rgba(var(--med-tint-rgb), 0.3);
			background-color: var(--super-light);
		}
	}
}

.control--file-aigrid{
	position: relative;
	& input[type="file"]{
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		opacity: 0;
		&:not(:disabled){
			& + .control__input{
				&:hover{
					border-color: rgba(var(--med-tint-rgb), 0.5);
					& .btn--action{
						border-color: rgba(var(--med-tint-rgb), 0.5);
					}
				}
			}
			&:focus{
				& + .control__input{
					border-color: rgba(var(--med-tint-rgb), 1);
					& .btn--action{
						border-color: rgba(var(--med-tint-rgb), 1);
					}
				}
			}
		}
		&:disabled{
			& + .control__input{
				color: rgba(var(--med-blue-rgb), 0.5);
				border-color: rgba(var(--med-tint-rgb), 0.3);
				background-color: var(--super-light);
				& .btn--action{
					border-color: rgba(var(--med-tint-rgb), 0.3);
				}
			}
		}
	}
	& .control__input{
		height: 44px;
		padding: 9px 15px;
		padding-right: 0;
		font-size: 16px;
		line-height: 1.2;
		font-weight: var(--fw-light);
		border: 1px solid;
		border-color: rgba(var(--med-tint-rgb), 0.3);
		background-color: var(--white);
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > span{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	& .btn--action{
		margin-left: auto;
		border-left: 1px solid;
		border-color: rgba(var(--med-tint-rgb), 0.3);
	}
}

.control--file-aigrid-drop{
	max-width: 380px;
	text-align: center;
	& .control__input{
		height: auto;
		border: 2px dashed;
		border-color: rgba(var(--med-tint-rgb), 0.3);
		border-radius: 4px;
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& > .icon__wrapper{
			margin-bottom: 16px;
		}
		& > h4{
			margin-bottom: 24px;
		}
		& > .btn{
			margin-bottom: 24px;
		}
		& p{
			font-size: 14px;
			font-weight: var(--fw-light);
			line-height: 1.2;
			color: var(--med-tint);
			&:not(:last-child){
				margin-bottom: 8px;
			}
		}
	}
}

.control--tabs{
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	& > .wrapper{
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		display: inline-flex;
		width: 100%;
		max-width: calc(var(--wrapper-max) + 2*var(--page-gap));
		margin-left: auto;
		margin-right: auto;
		flex-shrink: 0;
		position: relative;
		z-index: 1;
		& > .control__label{
			color: var(--med-tint);
			background-color: var(--super-light);
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			font-size: 16px;
			font-weight: var(--fw-bold);
			margin-bottom: 0;
			&:not(:last-of-type){
				margin-right: 4px;
			}
			&.control--active{
				color: var(--med-blue);
				background-color: var(--white);
			}
			&.control--disabled{

			}
			& .link{
				display: block;
				text-decoration: none;
				padding: 8px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover{
					color: currentColor;
				}
			}
		}
	}
	& > .control__wrapper{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	@media (--lg-viewport){
		& > .wrapper{
			& > .control__label{
				font-size: 18px;
				& .link{
					padding: 10px 24px;
				}
			}
		}
	}
}

.control--tabs--page{
	& > .wrapper{
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
		background-color: var(--bg);
		&::before,
		&::after{
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: 0;
			height: 100%;
			width: calc( (100vw - var(--scrollbar-width) - 100% + var(--page-gap)*2 )/2 );
			background-color: var(--bg);
		}
		&::before{
			left: var(--page-gap);
			transform: translateX(-100%);
		}
		&::after{
			right: var(--page-gap);
			transform: translateX(100%);
		}
	}
}

.control--tabs--vertical{
	& > .wrapper{
		display: none;
		flex-direction: column;
		border-right: 1px solid;
		border-color: rgba(var(--san-juan-rgb), 0.16);
		max-width: 250px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		& > .control__label{
			color: var(--med-blue);
			background-color: var(--white);
			font-weight: var(--fw-light);
			border-radius: 0;
			&:not(:last-of-type){
				margin-right: 0;
			}
			&.control--active{
				color: var(--med-blue);
				background-color: var(--super-light);
				border-right: 3px solid;
				border-color: var(--secondary);
			}
			&.control--disabled{

			}
			& .link{
				padding: 0.75rem 10px 0.75rem 16px;
				white-space: normal;
				overflow: initial;
				text-overflow: initial;
			}
		}
	}
	& > .multiselect{
		margin-bottom: 0;
	}
	@media (--lg-viewport){
		flex-direction: row;
		& > .control__wrapper{
			& > .control--tab{
				padding-top: 0;
				padding-left: 50px;
			}
		}
		& > .wrapper{
			display: flex;
		}
		& > .multiselect{
			display: none;
		}
	}
}

.control--tab{
	margin-bottom: 0;
	background-color: var(--white);
	padding-top: var(--tab-py);
	padding-bottom: var(--tab-py);
	flex-grow: 1;
}