.dropdown{
	display: inline-flex;
	align-items: center;
	position: relative;
	width: auto;
	max-width: none;
	& .menu{
		font-weight: var(--fw-light);
		font-size: 18px;
		line-height: 1.2;
		max-width: none;
		margin-left: calc( -1*var(--dropdown-px) );
		margin-right: calc( -1*var(--dropdown-px) );
	}
	& .menu__item{
		& .link{
			padding-left: var(--dropdown-px-sm);
			padding-right: var(--dropdown-px-sm);
			padding-top: 0.719rem;
			padding-bottom: 0.719rem;
		}
		&:hover{
			&:not(.menu__item--active){
				background-color: rgba(var(--super-light-rgb), 0.5);
				color: var(--secondary);
			}
		}
	}
	& .menu__item--active{
		border-right: 3px solid;
		border-color: var(--secondary);
		background-color: var(--super-light);
	}
	& .list{
		color: var(--links);
		font-size: 14px;
		line-height: 1.1429;
		max-width: none;
		margin-left: calc( -1*var(--dropdown-px) );
		margin-right: calc( -1*var(--dropdown-px) );
		& .list__item{
			&:not(:last-of-type){
				border-bottom: 1px solid;
				border-color: rgba(var(--links-rgb), 0.16);
			}
			& .link{
				padding-left: var(--dropdown-px);
				padding-right: var(--dropdown-px);
				padding-top: 6px;
				padding-bottom: 6px;
			}
			& .dropdown__activator{
				visibility: hidden;
			}
			&:hover{
				background-color: var(--super-light);
				color: var(--secondary);
				& .dropdown__activator{
					visibility: visible;
				}
			}
		}
	}
	& .person{
		display: block;
		margin-top: 12px;
		margin-bottom: 12px;
		& .person__name{
			margin-bottom: 20px;
		}
		& .person__balance{
			margin-bottom: 0;
		}
	}
	& .ps__rail-x{
		display: none;
	}
}

.dropdown--visible{
	& > .dropdown__wrapper{
		display: flex;
	}
	& > .dropdown__activator{
		visibility: visible !important;
	}
}

.dropdown__wrapper{
	display: none;
	position: absolute;
	z-index: 10;
	top: calc(100% + 10px);
	right: -10px;

	flex-direction: column;
	box-shadow: var(--dropdown-shadow);
	border-radius: 16px;
	background-color: var(--white);
	width: 100vw;
	max-width: 280px;
	text-align: left;
}

.dropdown__indicator{
	width: 28px;
	height: 20px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 15'%3E%3Cpath fill='%232141A4' d='M11.222.962a1 1 0 011.556 0l10.03 12.41A1 1 0 0122.03 15H1.97a1 1 0 01-.778-1.629L11.222.962z'/%3E%3C/svg%3E%0A");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: -9px;
	right: 26px;
}

.dropdown__header{
	padding: var(--dropdown-py) var(--dropdown-px);
	background-color: var(--med-blue);
	color: var(--white);
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	& .dropdown--sm{
		margin-right: -8px;
	}
}

.dropdown__main{
	padding: 0 var(--dropdown-px);
	flex-grow: 1;
	margin-top: var(--dropdown-py);
	margin-bottom: var(--dropdown-py);
	max-height: 550px;
}

.dropdown__footer{
	padding: 0 var(--dropdown-px);
	border-top: 1px solid;
	border-color: rgba(var(--med-tint-rgb), 0.3);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.dropdown--sm{
	& .dropdown__indicator{
		display: none;
	}
	& > .dropdown__wrapper{
		max-width: 240px;
		box-shadow: var(--soft-shadow);
		border-radius: 4px;
	}
	& .dropdown__main{
		padding: 0 var(--dropdown-px-sm);
		margin-top: var(--dropdown-py-sm);
		margin-bottom: var(--dropdown-py-sm);
	}
	& .dropdown__footer{
		display: none;
	}
	& .list{
		& .list__item{
			&:not(:last-of-type){
				border: none;
			}
		}
	}
}

.dropdown--lg{
	& > .dropdown__wrapper{
		max-width: 380px;
	}

}

.dropdown--white{
	& .dropdown__header{
		background-color: var(--white);
		color: inherit;
		padding-left: 24px;
		padding-right: 24px;
	}
	& .dropdown__main{
		padding-left: 24px;
		padding-right: 24px;
	}
	& .dropdown__footer{
		padding-left: 24px;
		padding-right: 24px;
	}
	& .dropdown__indicator{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 15'%3E%3Cpath fill='%23FFFFFF' d='M11.222.962a1 1 0 011.556 0l10.03 12.41A1 1 0 0122.03 15H1.97a1 1 0 01-.778-1.629L11.222.962z'/%3E%3C/svg%3E%0A");
	}
	& > .dropdown__wrapper{
		max-width: 368px;
	}
}