
.footer{

}

.footer__wrapper{
	& > .project__copy{
		display: none;
	}
	@media (--lg-viewport){
		width: 100%;
		max-width: 585px;
		margin-right: 15px;
		flex-grow: 1;
		& > .project__copy{
			display: block;
		}
	}
}
