.form{
	@nest .control--tab > & {
		margin-top: calc( -1*var(--tab-py) );
		margin-bottom: calc( -1*var(--tab-py) );
	}
}

.form--simple{
	box-shadow: var(--soft-shadow);
	border-radius: 16px;
	padding-top: var(--tab-py);
	padding-bottom: var(--tab-py);
	padding-left: 17px;
	padding-right: 17px;
	background-color: var(--white);
	@nest .control--tab > & {
		border-top-left-radius: 0;
	}
	@media (--md-viewport){
		padding-left: 24px;
		padding-right: 24px;
	}
}

.form--lg{
	@media (--lg-viewport){
		padding: 40px;
	}
}