
.header{

}

.header__actions{
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	& > *{
		&:not(:last-child){
			margin-right: 16px;
		}
	}
	@media (--lg-viewport){
		padding-left: 15px;
		margin-left: var(--menu-shift);
	}
}

.header__authorised-actions{
	display: none;
	margin-left: auto;
	& > *{
		&:not(:last-child){
			margin-right: 16px;
		}
	}
	@media (--lg-viewport){
		display: flex;
		padding-left: 15px;
		margin-left: var(--menu-authorised-shift);
		& > *{
			&:not(:last-child){
				margin-right: 40px;
			}
		}
	}
}

.header__menu-toggle{
	@media (--lg-viewport){
		display: none;
	}
}

.header__menu{
	display: none;
	flex-direction: column;
	background-color: var(--white);
	position: absolute;
	z-index: 10;
	top: 100%;
	right: 0;
	height: calc(100vh - 100%); /* fallback */
	height: calc( (var(--vh, 1vh) * 100) - 100% );
	overflow-x: auto;
	overflow-y: scroll;
	width: 100%;
	max-width: none;
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	padding-top: 24px;
	padding-bottom: 24px;
	&.ps{
		position: absolute;
	}
	& .wrapper--authorised{
		max-width: none;
		padding-top: 24px;
		padding-bottom: 24px;
		margin-bottom: -24px;
		margin-left: calc( -1*var(--page-gap) );
		margin-right: calc( -1*var(--page-gap) );
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
	}
	@media (--md-viewport){
		max-width: 395px;
		padding: 24px;
		& .wrapper--authorised{
			margin-left: -24px;
			margin-right: -24px;
			padding-left: 24px;
			padding-right: 24px;
		}
	}
	@media (--lg-viewport){
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: static;
		background-color: transparent;
		overflow: hidden;
		padding: 0;
		max-width: 100%;
		&.ps{
			overflow: visible !important;
			position: static;
			& > .ps__rail-x,
			& > .ps__rail-y{
				display: none !important;
			}
		}
	}
}

.header__shadow{
	display: none;
	width: 100%;
	height: 100vh;
	background-color: rgba(var(--dark-blue-rgb), 0.5);
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
}

.header--menu-open{
	& > .page__wrapper{
		&::before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: var(--white);
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
		}
	}
	& .header__menu-toggle{
		position: relative;
		z-index: 3;
		& .lines{
			stroke: transparent;
		}
		& .cross{
			stroke: var(--med-blue);
		}
	}
	& .header__menu{
		display: flex;
		& > *{/*safari bug*/
			flex-shrink: 0;
		}
	}
	@media (--md-viewport){
		& > .page__wrapper{
			&::before{
				max-width: 395px;
			}
		}
		& .header__shadow{
			display: block;
		}
	}
	@media (--lg-viewport){
		& > .page__wrapper{
			&::before{
				display: none;
			}
		}
		& .header__shadow{
			display: none;
		}
	}
}

