.link{

}

.link__text{

}

.link--action{
    color: var(--med-tint);
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    &:hover{
        color: var(--med-blue);
    }
	& > * + .icon__wrapper,
	& > .icon__wrapper + *{
		margin-left: 8px;
	}
	& > .icon__wrapper{
		height: 1em;
		display: flex;
		align-items: center;
		position: relative;
	}
}