.list{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
    margin-bottom: 0;
	& .link{
		display: block;
		text-decoration: none;
		color: currentColor;
	}
}

.list__item{

}

.list__item--active{

}

.list--advantages{
	margin-top: 24px;
	margin-bottom: 24px;
	font-size: 18px;
	line-height: 1.4;
	font-weight: var(--fw-bold);
	& .list__item{
		display: flex;
		align-items: flex-start;
		max-width: 680px;
		&:not(:last-of-type){
			margin-bottom: 24px;
		}
		& .icon__wrapper{
			flex-shrink: 0;
			margin-right: 35px;
		}
	}
	@media (--sm-viewport){
		@mixin cssLock font-size, sm, md, 18, 24;
	}
	@media (--md-viewport){
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: var(--fw-semi-bold);
	}
	@media (--lg-viewport){
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		& .list__item{
			width: 100%;
			max-width: calc( 50% - 120px/2);
			&:not(:last-of-type){
				margin-bottom: 100px;
			}
			&:nth-last-child(-n+2){ /*last two*/
				margin-bottom: 0;
			}
		}
	}
}

.list--chewrons{
	max-width: 80%;
	font-size: 18px;
	font-weight: var(--fw-light);
	& .list__item{
		position: relative;
		padding-left: calc( 1em + 2px );
		&::before{
			content: '';
			display: block;
			position: absolute;
			top: 0.2em; /* (1.4*1em - 1em)/2      1.4 — body line-height   */
			left: 0;
			width: 1em;
			height: 1em;
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='7' viewBox='0 0 6 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.536133 6.86621L3.41895 3.62305L0.536133 0.441406H2.64551L5.52832 3.62305L2.64551 6.86621H0.536133Z' fill='%232141A4'/%3E%3C/svg%3E%0A");
			background-position: center left;
			background-repeat: no-repeat;
			background-size: 6px 7px;
		}
		&:not(:last-of-type){
			margin-bottom: 24px;
		}
	}
}

.list--numbers{
	font-size: 18px;
	font-weight: var(--fw-light);
	max-width: 80%;
	counter-reset: list-numbers;
	& .list__item{
		position: relative;
		counter-increment: list-numbers;
		padding-left: 21px;
		&::before{
			content: counter(list-numbers) ".";
			display: block;
			font-weight: var(--fw-bold);
			position: absolute;
			top: 0;
			left: 0;
		}
		&:not(:last-of-type){
			margin-bottom: 24px;
		}
	}
}

.list--benefits{
	padding-top: 20px;
	margin-bottom: 28px;
	width: 100%;
	& .icon__wrapper{
		display: block;
		margin-bottom: 20px;
		flex-shrink: 0;
	}
	& .icon__vue{
		width: 120px;
		height: auto;
	}
	& h3{
		margin-bottom: 16px;
	}
	& .list__item{
		width: 100%;
		max-width: 500px;
		&:not(:last-of-type){
			margin-bottom: 40px;
		}
		& .icon__vue{
			& .wrapper{
				animation-name: soarBottom;
				animation-duration: 2s;
				animation-timing-function: linear;
				animation-fill-mode: both;
				animation-iteration-count: infinite;
				animation-play-state: paused;
			}
		}
		&:hover{
			& .icon__vue{
				& .wrapper{
					animation-play-state: running;
				}
			}
		}
	}
	@media (--md-viewport){
		margin-bottom: 40px;
		& .icon__wrapper{
			margin-bottom: 0;
			margin-right: 32px;
		}
		& .icon__vue{
			width: 160px;
		}
		& h3{
			margin-bottom: 20px;
		}
		& p{
			margin-bottom: 20px;
		}
		& .list__item{
			display: flex;
			max-width: 800px;
			& .icon__wrapper{
				opacity: 0;
				animation-play-state: running;
				animation-fill-mode: both;
				animation-timing-function: linear;
				animation-name: fadeIn;
				animation-duration: 0.5s;
			}
			&:not(:last-child){
				margin-bottom: 40px;
			}
			&:nth-of-type(1){
				& .icon__wrapper{
					animation-delay: 0.5s;
				}
				& > .wrapper{
					animation-delay: 0s;
				}
			}
			&:nth-of-type(2){
				& .icon__wrapper{
					animation-delay: calc( var(--anim-dur)/2 + 0.5s );
				}
				& > .wrapper{
					animation-delay: calc( var(--anim-dur)/2 );
				}
			}
			&:nth-of-type(3){
				& .icon__wrapper{
					animation-delay: calc( var(--anim-dur) + 0.5s );
				}
				& > .wrapper{
					animation-delay: calc( var(--anim-dur) );
				}
			}
			& > .wrapper{
				animation-play-state: running;
				animation-fill-mode: both;
				animation-timing-function: ease-in;
				animation-name: zoomInRight;
				animation-duration: 2s;
			}
		}
		@nest .section--hidden & {
			& .list__item{
				& .icon__wrapper{
					animation-play-state: paused;
				}
				& > .wrapper{
					animation-play-state: paused;
				}
			}
		}
	}
	@media (--lg-viewport){
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 60px;
		& .icon__wrapper{
			margin-right: 0;
			margin-bottom: 40px;
		}
		& h3{
			margin-bottom: 24px;
		}
		& .list__item{
			display: block;
			max-width: calc( (100% - 80px*2)/3 );
			&:not(:last-child){
				margin-bottom: 30px;
			}
			&:nth-of-type(1){
				& .icon__wrapper{
					animation-delay: 2s;
				}
				& > .wrapper{
					animation-delay: 1s;
				}
			}
			&:nth-of-type(2){
				& .icon__wrapper{
					animation-delay: 2.5s;
				}
				& > .wrapper{
					animation-delay: 1.5s;
				}
			}
			&:nth-of-type(3){
				& .icon__wrapper{
					animation-delay: 3s;
				}
				& > .wrapper{
					animation-delay: 2s;
				}
			}
			& > .wrapper{
				animation-play-state: running;
				animation-fill-mode: both;
				animation-timing-function: ease-in;
				animation-name: slideInUp;
				animation-duration: 1s;
			}
			@nest .section--hidden & {
				& .list__item{
					& > .wrapper{
						animation-play-state: paused;
					}
				}
			}
		}
	}
}

.list--services{
	padding-top: 30px;
	margin-bottom: 60px;
	& .icon__wrapper{
		display: block;
		margin-bottom: 30px;
		flex-shrink: 0;
	}
	& .p2{
		margin-bottom: 30px;
	}
	& .list__item{
		&:not(:last-child){
			margin-bottom: 80px;
		}
	}
	@media (--md-viewport){
		& .icon__wrapper{
			margin-bottom: 0;
			margin-right: 30px;
			width: 100%;
			max-width: 30%;
			display: flex;
			justify-content: center;
		}
		& .list__item{
			display: flex;
			& > .wrapper{
				width: 100%;
			}
		}
	}
	@media (--lg-viewport){
		& .icon__wrapper{
			margin-right: 75px;
			max-width: 350px;
		}
	}
}

@keyframes zoomInRight {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(7000px, 0, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

@keyframes slideInUp {
	0%{
		opacity: 0;
		transform: translate3d(0, 200%, 0);
		visibility: visible;
	}
	90%{
		opacity: 0.3;
		transform: translate3d(0, 20%, 0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes soarBottom {
	0%{
		transform: translate3d(0, 0, 0);
	}
	50%{
		transform: translate3d(0, 5px, 0);
	}
	100%{
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeIn {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}