.menu{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	& .link{
		display: block;
		text-decoration: none;
		color: currentColor;
	}
}

.menu__item{

}

.menu__item--active{

}

.menu--main{
	font-size: 24px;
	line-height: 1.2;
	font-weight: var(--fw-semi-bold);
	& .menu__item{
		position: relative;
		&:not(:last-of-type){
			margin-bottom: 30px;
		}
	}
	& .menu{
		display: none;
	}
	& .link{
		display: inline-block;
		position: relative;
		&::after{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: -2px;
			width: 0;
			height: 2px;
			background-color: var(--orange);
			transition: width var(--anim-dur);
		}
	}
	& .menu__item--active{
		& > .nav__item{
			& .link{
				&::after{
					width: 100%;
				}
			}
		}
	}
	@media (--lg-viewport){
		display: flex;
		font-size: 18px;
		& .menu__item{
			&:not(:last-of-type){
				margin-bottom: 0;
				margin-right: 25px;
			}
			&:not(.menu__item--active){
				& > .nav__item{
					& .link{
						&::after{
							width: 0;
						}
						&:hover{
							&::after{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

.menu--footer{
	font-size: 18px;
	& > .menu__item{
		&:not(:last-of-type){
			margin-bottom: 27px;
		}
		& > .nav__item{
			font-weight: var(--fw-bold);
			margin-bottom: 16px;
		}
		& .menu{
			display: none;
		}
	}
	@media (--lg-viewport){
		display: flex;
		flex-wrap: wrap;
		& > .menu__item{
			width: 100%;
			max-width: 270px;
			&:not(:last-of-type){
				margin-bottom: 30px;
				margin-right: 30px;
			}
			& .menu{
				display: block;
				& > .menu__item{
					&:not(:last-of-type){
						margin-bottom: 18px;
					}
				}
			}
		}
	}
}

.menu--authorised{
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 24px;
	& > .menu__item{
		&:not(:last-of-type){
			margin-bottom: 16px;
		}
	}
}