.modal{
	display: none;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&[aria-hidden='true'] {
	  display: none;
	}
}

.modal__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--dark-blue-rgb), 0.5);
	@media (--md-viewport){
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: var(--page-gap);
	}
}

.modal__container{
	width: 100%;
	height: 100%;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 245px;
	@media (--md-viewport){
		max-width: 945px;
		height: auto;
		max-height: 100%;
		box-shadow: var(--soft-shadow);
	}
}

.modal__header{
	position: relative;
	z-index: 1;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: var(--page-gap);
	padding-right: calc( var(--page-gap) + 44px) ;
	border-bottom: 1px solid;
	border-color: rgba(var(--links-rgb), 0.16);
	@media (--md-viewport){
		padding-left: var(--modal-px-lg);
		padding-right: calc( var(--modal-px-lg) + 44px) ;
	}
}

.modal__main{
	flex-grow: 1;
	position: relative;
	z-index: 1;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	margin-top: 8px;
	margin-bottom: 8px;
	@media (--md-viewport){
		padding-left: var(--modal-px-lg);
		padding-right: var(--modal-px-lg);
	}
}

.modal__footer{
	position: relative;
	z-index: 1;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	border-top: 1px solid;
	border-color: rgba(var(--links-rgb), 0.16);
	@media (--md-viewport){
		padding-left: var(--modal-px-lg);
		padding-right: var(--modal-px-lg);
	}
}

.modal__close{
	position: absolute;
	z-index: 1;
	top: 16px;
	right: calc( var(--page-gap) - 10px );
	@media (--md-viewport){
		right: calc( var(--modal-px-lg) - 10px );
	}
}

.modal--visible{
	display: block;
}
