.nav{

}

.nav__item{

}

.nav--header{
	margin-bottom: 20px;
	@media (--lg-viewport){
		margin-bottom: 0;
		margin-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}
}

.nav--footer{
	width: 100%;
	margin-bottom: 30px;
	@media (--lg-viewport){
		margin-bottom: 0;
		width: auto;
		flex-grow: 1;
	}
}