.page{
	display: flex; /*fix бага ie11 с min-height:100%*/
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
	scroll-behavior: smooth;
}

.page__wrapper{
	width: 100%;
	max-width: calc(var(--wrapper-max) + 2*var(--page-gap));
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	margin-left: auto;
	margin-right: auto;
}

.page__main{
	width: 100%;
	flex-grow: 1;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	& > *:first-child{
		padding-top: 20px;
	}
	@media (--sm-viewport){
		& > *:first-child{
			@mixin cssLock padding-top, md, lg, 20, 50;
		}
	}
	@media (--md-viewport){
		& > *:first-child{
			padding-top: 50px;
		}
	}
}

.page__header{
	width: 100%;
	position: relative;
	z-index: 5;
	background-color: var(--bg);
	& > .page__wrapper{
		max-width: calc(var(--header-wrapper-max) + 2*var(--page-gap));
		padding-top: 24px;
		padding-bottom: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	& .project__logo{
		margin-right: 15px;
		flex-shrink: 0;
		position: relative;
		z-index: 2;
	}
	& .project__description{

	}
	@media (--md-viewport){
		& > .page__wrapper{
			padding-top: 28px;
			padding-bottom: 28px;
		}
		& .project__logo{
			z-index: 0;
		}
	}
	@media (--lg-viewport){
		& > .page__wrapper{
			padding-top: 20px;
			padding-bottom: 20px;
		}
		& .project__description{
			margin-left: 44px;
			padding-top: 22px;
		}
	}
	@media (--header-wrapper-hlp){
		& > .page__wrapper{
			padding-left: calc( var(--page-gap)*2 );
			padding-right: calc( var(--page-gap)*2 );
		}
	}

}

.page__footer{
	width: 100%;
	& > .page__wrapper{
		padding-top: 40px;
		padding-bottom: 40px;
		max-width: calc(var(--header-wrapper-max) + 2*var(--page-gap));
	}
	& .project__logo{
		margin-bottom: 18px;
	}
	& .project__description{
		margin-bottom: 30px;
	}
	& .project__copy{

	}
	@media (--lg-viewport){
		& > .page__wrapper{
			padding-top: 70px;
			padding-bottom: 70px;
			display: flex;
			justify-content: space-between;
			& > .project__copy{
				display: none;
			}
		}
		& .project__logo{
			margin-bottom: 35px;
		}
		& .project__description{
			margin-left: 44px;
			margin-bottom: 20px;
		}
		& .project__copy{
			margin-left: 44px;
		}
	}
	@media (--header-wrapper-hlp){
		& > .page__wrapper{
			padding-left: calc( var(--page-gap)*2 );
			padding-right: calc( var(--page-gap)*2 );
		}
	}
}

.page__body{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	background-color: var(--white);
}

.page__body--home{
	background-color: var(--bg);
	& .page__header{
		background-color: transparent;
	}
	& .page__bg{
		&::before{
			display: block;
		}
		& > div{
			display: block;
		}
	}
}

.page__body--promo{
	background-color: var(--bg);
	& .page__header{
		background-color: transparent;
	}
	& .page__bg{
		&::before{
			display: block;
		}
		& > div{
			&:nth-child(1),
			&:nth-child(2){
				display: block;
			}
			&:nth-child(1){
				top: 140px;
				right: -24%;
			}
			&:nth-child(2){
				top: 980px;
				left: -7%;
			}
		}
	}
}

.page__bg{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&::before,
	&::after{
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		left: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1802 1100'%3E%3Cpath fill='%23F2F5FA' d='M26.79 386.703L633.898 13.319c30.764-17.759 68.878-17.759 99.642 0L1775.21 619.737c35.72 20.662 35.72 72.232 0 92.723l-607.11 373.39c-30.76 17.75-68.87 17.75-99.64 0L26.79 479.426c-35.72-20.491-35.72-72.061 0-92.723z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
	}
	&::before{
		display: none;
		top: 0;
		width: 640px;
		height: 260px;
		background-position: bottom right;
		background-size: 220%;
	}
	&::after{
		bottom: 0;
		width: 650px;
		height: 525px;
		background-position: 110% 45%;
		background-size: 220%;
	}
	& > div{
		display: none;
		position: absolute;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1802 1100'%3E%3Cpath fill='%23F2F5FA' d='M26.79 386.703L633.898 13.319c30.764-17.759 68.878-17.759 99.642 0L1775.21 619.737c35.72 20.662 35.72 72.232 0 92.723l-607.11 373.39c-30.76 17.75-68.87 17.75-99.64 0L26.79 479.426c-35.72-20.491-35.72-72.061 0-92.723z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		max-width: none;
		width: 1397px;
		transform: translate3d(0, 0, 0);
		transition: transform calc(var(--anim-dur)*2);
		&::before{
			content: '';
			display: block;
			padding-top: 61%;
		}
		&:nth-child(even){
			z-index: -1;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1802 1100'%3E%3Cpath fill='%23FFFFFF' d='M26.79 386.703L633.898 13.319c30.764-17.759 68.878-17.759 99.642 0L1775.21 619.737c35.72 20.662 35.72 72.232 0 92.723l-607.11 373.39c-30.76 17.75-68.87 17.75-99.64 0L26.79 479.426c-35.72-20.491-35.72-72.061 0-92.723z'/%3E%3C/svg%3E");
		}
		&:nth-child(1){
			top: 18%;
			right: -64%;
		}
		&:nth-child(2){
			top: 37%;
			left: -67%;
		}
		&:nth-child(3){
			top: 50%;
			right: -54%;
		}
		&:nth-child(4){
			top: 73%;
			right: -46%;
		}
	}
	@media (--md-viewport){
		& > div{
			width: 1823px;
			&:nth-child(1){
				right: -54%;
			}
			&:nth-child(2){
				left: -47%;
			}
			&:nth-child(3){
				right: -34%;
			}
			&:nth-child(4){
				right: -16%;
			}
		}
	}
	@media (--lg-viewport){
		& > div{
			width: 2091px;
			&:nth-child(1){
				right: -24%;
			}
			&:nth-child(2){
				left: -7%;
			}
			&:nth-child(3){
				right: -14%;
			}
			&:nth-child(4){
				right: 6%;
			}
		}
	}
}

.page--noscroll{
	overflow: hidden;
	@media (--safary-only){
		position: fixed;
	}
}