.pagination{
    padding-left: 0;
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: var(--med-blue);
}

.pagination__item{
    width: 32px;
    height: 32px;
    line-height: 1;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(var(--med-tint-rgb), 0.3);
    position: relative;
    text-align: center;
    margin-bottom: 8px;
    &:not(:last-of-type){
        margin-right: 16px;
    }
    &:hover{
        color: var(--orange);
        border-color: var(--secondary);
    }
    & a{
        color: inherit;
        text-decoration: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.pagination__item--active{
    color: var(--orange);
    border-color: var(--secondary);
}

.pagination__prev{

}

.pagination__next{

}

.pagination__placeholder{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
    user-select: none;
    &:hover{
        color: var(--med-blue);
    }
}

.pagination__prev,
.pagination__next,
.pagination__placeholder{
    border-color: transparent !important;
}