.person{
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.person__name{
	font-size: 16px;
	line-height: 1.2;
	font-weight: var(--fw-semi-bold);
}

.person__balance{

}

.person__pic{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	font-size: 18px;
	font-weight: var(--fw-light);
	border: 2px solid;
	border-color: var(--med-blue);
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: var(--shadows);
	flex-shrink: 0;
	margin-right: 24px;
}

.person__company{
	font-size: 14px;
	font-weight: var(--fw-light);
}

.person--lg{
	& .person__pic{
		width: 64px;
		height: 64px;
		font-size: 32px;
	}
	& .person__name{
		font-size: 24px;
	}
	& .person__company{
		font-size: 16px;
	}
}