.project{

}

.project__logo{
	display: inline-block;
}

.project__description{
	font-size: 16px;
	font-weight: var(--fw-normal);
	line-height: 1.1875;
	margin: 0;
	@media (--lg-viewport){
		font-size: 24px;
		line-height: 1.3;
		font-weight: var(--fw-semi-bold);
	}
}

.project__copy{
	font-size: 14px;
	line-height: 1.2;
	font-weight: var(--fw-light);
	@media (--lg-viewport){
		font-size: 18px;
	}
}