.section{
	opacity: 1;
	transition: opacity 0.8s;
}

.section--hidden{
	opacity: 0;
}

.section--slider-main{
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 30px;
}

.section--solutions,
.section--clients{
	margin-bottom: 80px;
	& > .page__wrapper{
		display: flex;
		flex-direction: column;
		& > .icon__wrapper{
			margin-bottom: 25px;
			margin-left: auto;
			margin-right: auto;
		}
		& > .wrapper{
			max-width: 680px;
		}
	}
	& p:last-of-type{
		margin-bottom: 24px;
	}
	@media (--sm-viewport){
		& > .page__wrapper{
			& > .icon__wrapper{
				@mixin cssLock margin-bottom, sm, md, 25, 40;
			}
		}
	}
	@media (--md-viewport){
		@mixin cssLock margin-bottom, md, lg, 80, 245;
		& > .page__wrapper{
			& > .icon__wrapper{
				margin-bottom: 40px;
			}
		}
		& h1{
			margin-bottom: 40px;
		}
		& .h3{
			margin-bottom: 30px;
		}
		& p:last-of-type{
			margin-bottom: 40px;
		}
	}
	@media (--lg-viewport){
		margin-bottom: 245px;
		& > .page__wrapper{
			flex-direction: row;
			align-items: center;
			& > .icon__wrapper{
				flex-shrink: 0;
				margin-bottom: 0;
				margin-right: 52px;
			}
		}
	}
}
.section--solutions{
	& .icon__vue--easy-solutions-animation{
		width: 193px;
		height: 283px;
	}
	@media (--sm-viewport){
		& .icon__vue--easy-solutions-animation{
			@mixin cssLock width, sm, md, 193, 285;
			@mixin cssLock height, sm, md, 283, 417;
		}
	}
	@media (--md-viewport){
		& .icon__vue--easy-solutions-animation{
			@mixin cssLock width, md, lg, 285, 356;
			@mixin cssLock height, md, lg, 417, 522;
		}
	}
	@media (--lg-viewport){
		& .icon__vue--easy-solutions-animation{
			width: 356px;
			height: 522px;
		}
	}
}

.section--clients{
	& .h3{
		margin-bottom: 8px;
	}
	& .p1{
		margin-bottom: 16px;
	}
	& .p2{
		margin-bottom: 24px;
	}
	& .icon__vue--clients{
		width: 346px;
		height: 294px;
	}
	@media (--sm-viewport){
		& .icon__vue--clients{
			@mixin cssLock width, sm, md, 346, 495;
			@mixin cssLock height, sm, md, 294, 420;
		}
	}
	@media (--md-viewport){
		margin-top: 50px;
		& h1{
			margin-bottom: 24px;
		}
		& .p1{
			margin-bottom: 24px;
		}
		& .icon__vue--clients{
			width: 495px;
			height: 420px;
		}
	}
	@media (--lg-viewport){
		margin-top: 60px;
		& .icon__vue--clients{
			@mixin cssLock width, lg, xl, 375, 547;
			@mixin cssLock height, lg, xl, 318, 464;
		}
	}
	@media (--xl-viewport){
		& .icon__vue--clients{
			width: 547px;
			height: 464px;
		}
	}
}

.section--sectors,
.section--advantages{
	margin-bottom: 80px;
	& > .page__wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& > .btn--secondary{
			margin-left: auto;
			margin-right: auto;
		}
	}
	& h1{
		margin-bottom: 25px;
	}
	@media (--sm-viewport){
		@mixin cssLock margin-bottom, sm, md, 40, 80;
	}
	@media (--md-viewport){
		@mixin cssLock margin-bottom, md, lg, 80, 245;
	}
	@media (--lg-viewport){
		margin-bottom: 260px;
		& > .page__wrapper{
			align-items: flex-start;
			& .h1,
			& .p1{
				max-width: calc(100%*2/3);
			}
			& > .btn--secondary{
				margin-left: 0;
			}
		}
		& h1{
			margin-bottom: 40px;
		}
	}
}

.section--sectors{
	overflow: hidden;
	@media (--md-viewport){
		& .btn--hidden{
			opacity: 1;
			transition: opacity 1s;
			transition-delay: 3s;
		}
		&.section--hidden{
			& .btn--hidden{
				opacity: 0;
			}
		}
	}
}


.section--advantages{
	margin-bottom: 40px;
	overflow: hidden;
	& > .page__wrapper{
		& > .btn--secondary{
			margin-left: 0;
		}
	}
	@media (--md-viewport){
		margin-bottom: 65px;
		& > .page__wrapper{
			& > .btn--secondary{
				margin-left: auto;
			}
		}
		& .btn--hidden{
			opacity: 1;
			transition: opacity 1s;
			transition-delay: 3s;
		}
		&.section--hidden{
			& .btn--hidden{
				opacity: 0;
			}
		}
	}
	@media (--lg-viewport){
		margin-bottom: 140px;
		& > .page__wrapper{
			& > .btn--secondary{
				margin-left: 0;
			}
		}
	}
}

.section--steps{
	overflow: hidden;
	margin-bottom: 80px;
	text-align: center;
	& .btn{
		opacity: 1;
		transition: opacity 1s;
	}
	& .btn--hidden{
		opacity: 0;
	}
	& h1{
		margin-bottom: 40px;
	}
	@media (--md-viewport){
		margin-bottom: 150px;
		& h1{
			margin-bottom: 24px;
		}
	}
	@media (--lg-viewport){
		margin-bottom: 315px;
		& h1{
			margin-bottom: 88px;
		}
	}
}

.section--gray{
	background-color: var(--bg);
}

.section--gray-hack{
	position: absolute;
	left: 0;
	width: 100%;
	&::before{
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: var(--bg);
	}
}