.slider{

}

.slider__container{

}

.slider__wrapper{

}

.slider__slide{

}

.slider__pagination{
	& .swiper-pagination-bullet{
		width: 8x;
		height: 8px;
		margin: 0 5px;
		background: var(--soft-tint);
	}
	& .swiper-pagination-bullet-active{
		background: var(--orange);
	}
	@media (--lg-viewport){
		& .swiper-pagination-bullet{
			width: 12px;
			height: 12px;
			margin: 0 7px;
		}
	}
}

.slider--main{
	text-align: center;
	& .swiper-slide{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
		width: 100%;
		& > svg{
			flex-shrink: 0;
			max-height: 530px;
			max-width: none;
			padding-bottom: 24px;
			margin-top: auto;
			margin-bottom: auto;
			@mixin cssLock margin-left, xs, md, -130, -50;
			@mixin cssLock margin-right, xs, md, -130, -50;
		}
		& .h1{
			margin-bottom: 16px;
		}
	}
	& .swiper-wrapper{
		margin-bottom: 25px;
	}
	& .swiper-pagination{
		position: static;
	}
	@media (--md-viewport){
		& .swiper-slide{
			& > svg{
				padding-bottom: 44px;
				margin-left: -15px;
				margin-right: -15px;
			}
			& .h1{
				margin-bottom: 24px;
			}
		}
	}
	@media (--lg-viewport){
		max-width: none;
		margin-left: calc( 0.2941176471*100vw -  764.7058823529px); /* cssLock('margin-left', 1240, 2600, -400, 0); */
		margin-right: calc( 0.2941176471*100vw -  764.7058823529px);
		& .swiper-slide{
			width: calc(100%/3);
			padding-left: 0;
			padding-right: 0;
			& > svg{
				margin-left: 0;
				margin-right: 0;
			}
			& > :not(svg){
				opacity: 0;
				transition: opacity var(--anim-dur);
			}
		}
		& .slider__slide--visible-text{
			& > :not(svg){
				opacity: 1;
			}
		}
		& .swiper-wrapper{
			margin-bottom: 35px;
		}
	}
	@media (--slider-main-hlp){
		max-width: 2600px;
		margin-left: auto;
		margin-right: auto;
		& .swiper-wrapper{
			margin-bottom: 35px;
		}
	}
	@media (--ie-only){
		& .swiper-slide{
			& > svg{
				height: 100vh;
			}
		}
	}
	@media (orientation: landscape) {

	}
	@media (orientation: portrait) {

	}
}

.slider--sectors{
	margin-bottom: 17px;
	& .slider__pagination{
		position: static;
	}
	& .slider__slide{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: auto;
		& .icon__wrapper{
			margin-top: auto;
			margin-bottom: 10px;
		}
		& .icon__vue{
			& .wrapper{
				animation-name: soarBottom;
				animation-duration: 2s;
				animation-timing-function: linear;
				animation-fill-mode: both;
				animation-iteration-count: infinite;
				animation-play-state: paused;
			}
		}
		&:hover{
			& .icon__vue{
				& .wrapper{
					animation-play-state: running;
				}
			}
		}
	}
	& h3{
		margin-bottom: 0;
	}
	& .slider__wrapper{
		margin-bottom: 17px;
	}
	@media (--md-viewport){
		@mixin cssLock margin-bottom, md, lg, 20, 40;
		& .slider__wrapper{
			margin-bottom: 34px;
		}
		& .slider__slide{
			& .icon__wrapper{
				margin-bottom: 18px;
			}
		}
	}
	@media (--lg-viewport){
		padding-top: 40px;
		margin-bottom: 50px;
		& h3{
			max-width: 285px;
			margin-bottom: 40px;
		}
		& .slider__pagination{
			display: none;
		}
		& .slider__container{
			overflow: visible;
		}
		& .slider__wrapper{
			margin-bottom: 0;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		& .icon__wrapper{
			margin-bottom: 0;
			margin-right: 40px;
		}
		& .slider__slide{
			text-align: left;
			flex-direction: row;
			max-width: calc( (100% - 24px)/2 );
			animation-play-state: running;
			animation-fill-mode: both;
			animation-timing-function: ease-in;
			animation-name: zoomInRight;
			animation-duration: 4s;
			margin-bottom: 28px;
			&:nth-child(1){
				animation-delay: 0s;
			}
			&:nth-child(2){
				animation-delay: calc( var(--anim-dur) );
			}
			&:nth-child(3){
				animation-delay: calc( var(--anim-dur)/2 );
			}
			&:nth-child(4){
				animation-delay: calc( var(--anim-dur)*2 );
			}
			& .icon__wrapper{
				margin-bottom: 0;
			}
		}
		@nest .section--hidden & {
			& .slider__slide{
				animation-play-state: paused;
			}
		}
	}
	@media (--xl-viewport){

	}
}
