.table{
	width: 100%;
	margin-bottom: 24px;
	& thead{
		background-color: transparent;
		font-size: 14px;
		line-height: 1.2142857142857142;
		font-weight: var(--fw-bold);
		border-bottom: 1px solid;
		border-color: rgba(var(--links-rgb), 0.16)
	}
	& tbody{
		& tr{
			&:hover{
				background-color: var(--super-light);
			}
		}
	}
	& tr{
		box-shadow: var(--tr-shadow);
		& > th,
		& > td{
			&:last-of-type{
				text-align: right;
			}
		}
	}
	& th,
	& td{
		padding: 11px;
	}
	& th{

	}
	& td{

	}
	@media (--md-viewport){

	}
	@media (--lg-viewport){

	}
}

.table--simple{
	& thead{
		background-color: var(--super-light);
	}
	& tr{
		& > th,
		& > td{
			&:first-of-type{
				padding-left: var(--table-px);
			}
			&:last-of-type{
				padding-right: var(--table-px);
			}
		}
	}
	@media (--lg-viewport){
		& tr{
			& > th,
			& > td{
				&:first-of-type{
					padding-left: var(--table-px-lg);
				}
				&:last-of-type{
					padding-right: var(--table-px-lg);
				}
			}
		}
	}
}

.table--light{
	font-size: 18px;
	line-height: 1.2;
	font-weight: var(--fw-light);
	& th,
	& td{
		padding: 12px;
	}
	& tr{
		& > th,
		& > td{
			&:first-of-type{
				padding-left: 0;
			}
			&:last-of-type{
				padding-right: 0;
			}
		}
	}
}