.text{

}

.text--error{
	color: var(--red);
}

.text--success{
	color: var(--green);
}

.text--warning{
	color: var(--orange);
}

.text--info{
	color: var(--med-tint);
}

.text--muted{
	color: var(--soft-tint);
}

.text--rouble{
	font-family: ALSRubl, Arial, Tahoma, sans-serif;
}