.widget{

}

.widget__header{

}

.widget__main{

}

.widget--balance{
	width: 100%;
	background-color: var(--white);
	box-shadow: var(--soft-shadow);
	padding: 24px;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	& .p4{
		margin-bottom: 13px;
	}
	& .h3-reg{
		margin-bottom: 4px;
	}
	& > .wrapper{
		margin-right: 18px;
	}
	& .btn{
		margin-top: 10px;
		margin-bottom: -2px;
	}
	@media (--lg-viewport){
		max-width: var(--widget-balance-max);
	}
}

.widget--codebox{
	margin-bottom: 24px;
	color: rgba(var(--white-rgb), 0.71);
	font-family: RobotoMono;
	font-weight: var(--fw-medium);
	font-size: 14px;
	line-height: 1.1429;
	& .widget__header{
		font-size: 18px;
		font-weight: var(--fw-light);
		color: var(--link-on-dark);
		background-color: var(--big-stone);
		padding: 16px 12px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	& .widget__main{
		padding: 16px 20px;
		white-space: pre;
		background: linear-gradient(0deg, rgba(var(--black-rgb), 0.2), rgba(var(--black-rgb), 0.2)), var(--big-stone);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}
