.wrapper{

}

.wrapper--steps{
	position: relative;
	max-width: none;
	margin-left: calc(-1*var(--page-gap));
	margin-right: calc(-1*var(--page-gap));
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	& .line--md,
	& .line--lg{
		display: none;
	}
	& .line--sm{
		position: relative;
	}
	& .wrapper--digit{
		& .digit{
			width: 80px;
		}
	}
	& .wrapper--digit-2{
		& .digit{
			margin-left: auto;
		}
	}
	& .wrapper--digit-4{
		& .digit{
			margin-left: auto;
		}
	}
	& .line--sm-1{
		top: -10px;
		margin-bottom: -32px;
	}
	& .line--sm-2{
		margin-left: auto;
		top: -20px;
		margin-bottom: -42px;
	}
	& .line--sm-3{
		top: -45px;
		left: 0;
		margin-bottom: -55px;
	}
	@media (--sm-viewport){
		& .wrapper--digit-4,
		& .wrapper--digit-2{
			& .digit{
				margin-left: 0;
			}
		}
		& .line--sm-1{
			top: -18px;
			left: 32px;
		}
		& .line--sm-2{
			margin-left: 0;
			left: 235px;
			margin-bottom: -38px;
		}
		& .line--sm-3{
			margin-bottom: -45px;
		}
	}
	@media (--md-viewport){
		margin-bottom: 24px;
		& .line--sm{
			display: none;
		}
		& .line--md{
			display: block;
			position: relative;
		}
		& .wrapper--digit{
			& .digit{
				width: 112px;
			}
		}
		& .wrapper--digit-1{
			margin-bottom: 85px;
		}
		& .wrapper--digit-2{
			margin-left: auto;
		}
		& .wrapper--digit-4{
			margin-left: auto;
			& .digit{
				width: 130px;
			}
		}
		& .line--md-2{
			top: -104px;
			margin-left: calc((100% - 183px)/2*0.5);
			margin-bottom: -95px;
		}
		& .line--md-3{
			top: -102px;
			margin-left: auto;
			margin-right: calc((100% - 183px)/2*0.5);
			margin-bottom: -90px;
		}
	}
	@media (--lg-viewport){
		flex-direction: row;
		margin-bottom: 24px;
		&::before{
			content: '';
			display: block;
			padding-top: 83%;
		}
		& .line--md{
			display: none;
		}
		& .wrapper--digit{
			position: absolute;
		}
		& .wrapper--digit-1{
			top: 0%;
			left: var(--page-gap);
		}
		& .wrapper--digit-2{
			top: 27%;
			left: 34%;
		}
		& .wrapper--digit-3{
			top: 53%;
			right: -3%;
		}
		& .wrapper--digit-4{
			top: 82%;
			left: 34%;
		}
		& .line--lg{
			display: block;
			position: absolute;
			top: 37px;
			left: -44%;
			width: 131%;
			max-width: none;
		}
	}
}

.wrapper--digit{
	position: relative;
	z-index: 2;
	text-align: left;
	display: flex;
	flex-direction: column;
	& > .wrapper{
		opacity: 0;
		transition: opacity 1s;
	}
	& svg{
		flex-shrink: 0;
	}
	& h3{
		margin-bottom: 8px;
	}
	& p{
		font-weight: var(--fw-light);
		font-size: 16px;
		line-height: 1.1875;
	}
	@media (--sm-viewport){
		flex-direction: row;
		& > .wrapper{
			margin-top: 0px;
			margin-left: 10px;
			max-width: 280px;
		}
	}
	@media (--md-viewport){
		& > .wrapper{
			margin-top: 8px;
			margin-left: 0px;
		}
		& p{
			font-size: 18px;
			line-height: 1.2;
		}
		& h3{
			margin-bottom: 24px;
		}
	}
	@media (--lg-viewport){
		margin: 0;
		& > .wrapper{
			margin-left: 19px;
		}
		& h3{
			margin-bottom: 12px;
		}
	}
}

.wrapper--authorised{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: var(--med-blue);
	color: var(--white);
	@media (--lg-viewport){
		display: none;
	}
}

.wrapper--dropdown{
	margin-right: 17px;
	position: relative;
	& .person{
		margin: 0;
	}
	& .person__pic{
		margin: 0;
		background-color: var(--white);
	}
	&::after{
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 50%;
		right: -17px;
		width: 10px;
		height: 5px;
		transform: translateY(-50%);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 5'%3E%3Cpath fill='%232141A4' fill-rule='evenodd' d='M0 0l5 5 5-5H0z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.wrapper--form-sm{
	@media (--lg-viewport){
		margin: auto;
		max-width: 380px;
	}
}

.wrapper--form-md{
	@media (--lg-viewport){
		margin: auto;
		max-width: 580px;
	}
}

.wrapper--service{
	position: relative;
	& .person{
		flex-wrap: wrap;
		& .person__pic{
			position: absolute;
			top: 0;
			left: 0;
			padding: 10px;
			background-color: var(--white);
			z-index: 1;
			overflow: visible;
			border: none;
			&::before,
			&::after{
				content: '';
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 50%;

			}
			&::before{
				background-color: var(--soft-tint);
				z-index: -2;
				left: 0;
				transform: translateX(22px) scaleX(0.7) scaleY(0.2);
				transform-origin: center bottom;
			}
			&::after{
				background-color: var(--white);
				border: 2px solid;
				border-color: inherit;
			}
		}
		& .person__name{
			margin-bottom: 16px;
			padding-left: calc(64px + 30px);
			min-height: 64px;
		}
		& .person__company{
			font-size: 18px;
			line-height: 1.2222222222222223;
			width: 100%;
		}
	}
	@media (--sm-viewport){

	}
	@media (--md-viewport){
		& .person{
			flex-wrap: nowrap;
			& .person__pic{
				width: 160px;
				height: 160px;
				position: relative;
				top: 0;
				margin-right: 40px;
			}
			& .person__name{
				padding-left: 0;
				min-height: 0;
			}
			& .person__company{
				font-size: 18px;
			}
		}
	}
	@media (--lg-viewport){
		padding-bottom: 80px;
	}
}

.wrapper--slider-main{
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-bottom: 20px;
	& .section--slider-main{
		margin-top: auto;
		margin-bottom: auto;
	}
	@media (--sm-viewport){
		@mixin cssLock margin-bottom, sm, md, 20, 40;
	}
	@media (--md-viewport){
		@mixin cssLock margin-bottom, md, lg, 40, 250;
	}
	@media (--lg-viewport){
		margin-bottom: 250px;
	}
}

.wrapper--sticky{
	margin-bottom: 60px;
	& > .wrapper{
		width: 100%; /*ie11*/
	}
	& > .widget--balance{
		position: sticky;
		z-index: 3;
		flex-shrink: 0;
		bottom: 0;
		margin-top: 30px;
		max-width: none;
		width: auto;
		border-radius: 0;
		margin-left: calc( -1*var(--page-gap) );
		margin-right: calc( -1*var(--page-gap) );
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
	}
	@media (--md-viewport){
		& > .widget--balance{
			display: none;
		}
	}
	@media (--lg-viewport){
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		& > .widget--balance{
			display: flex;
			top: 30px;
			margin-top: 0;
			max-width: var(--widget-balance-max);
			width: 100%;
			border-radius: 16px;
			margin: 0;
			padding: 24px;
		}
		& > .wrapper{
			margin-right: var(--wrapper-stiky-mr);
		}
		& .control--tabs--page{
			& > .wrapper{
				&::after{
					width: calc( (100vw - var(--scrollbar-width) - 100% + var(--page-gap)*2 )/2 + (var(--widget-balance-max) + var(--wrapper-stiky-mr))/2 );
				}
			}
		}
	}
}

.wrapper--alerts-top{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding-top: 3px;
}