/*
	используемые плагины (vue.config.js):
		postcssImport (https://github.com/postcss/postcss-import):
			- инлайн импорт css файлов
		postcssPresetEnv (https://github.com/csstools/postcss-preset-env):
			- добавляем кастомные css переменные ( var(--xl) ) подробнее: https://github.com/postcss/postcss-preset
			- добавляем кастомные медиа выражения ( @media(--sm-viewport) ) подробнее: https://github.com/postcss/postcss-custom-media
		postcssMixins (https://github.com/postcss/postcss-mixins):
			- добавляем локальные миксины заданные через  @define-mixin
			- добавляем js миксин addJsVariablesToRoot ( добавляет импортированные css переменные к элементу :root) вызывать после основного :root
			- добавляем js миксин cssLock ( css-шлюзы ) подробнее: https://habr.com/ru/company/mailru/blog/315196/
*/

/* Import blocks */
@import 'blocks/page.css';
@import 'blocks/header.css';
@import 'blocks/main.css';
@import 'blocks/footer.css';
@import 'blocks/icon.css';
@import 'blocks/nav.css';
@import 'blocks/menu.css';
@import 'blocks/link.css';
@import 'blocks/btn.css';
@import 'blocks/project.css';
@import 'blocks/section.css';
@import 'blocks/slider.css';
@import 'blocks/control.css';
@import 'blocks/text.css';
@import 'blocks/wrapper.css';
@import 'blocks/badge.css';
@import 'blocks/dropdown.css';
@import 'blocks/list.css';
@import 'blocks/figure.css';
@import 'blocks/form.css';
@import 'blocks/table.css';
@import 'blocks/breadcrumbs.css';
@import 'blocks/person.css';
@import 'blocks/widget.css';
@import 'blocks/file.css';
@import 'blocks/modal.css';
@import 'blocks/pagination.css';
@import 'blocks/alert.css';


@import 'vendors/multiselect.css';
@import 'vendors/perfect-scrollbar.css';

@custom-media --ie-only screen and (-ms-high-contrast: active), (-ms-high-contrast: none);
@custom-media --safari-only not all and (min-resolution:.001dpcm);
@custom-media --header-wrapper-hlp (min-width: 1180px);
@custom-media --slider-main-hlp (min-width: 2600px);

@custom-selector :--all-headers h1, h2, h3, h4, h5, h6;
@custom-selector :--table-cell td, th;

:root{
	/* Colors */
	--white:		#FFFFFF; --white-rgb: 255,255,255;
	--black:		#000000; --black-rgb: 0,0,0;
	--bg:			#FAFAFA;
	--med-blue: 	#2141A4; --med-blue-rgb: 33,65,164;
	--dark-blue: 	#203260; --dark-blue-rgb: 32,50,96;
	--links: 		#374c83; --links-rgb: 55,76,131;
	--med-tint: 	#687EC1; --med-tint-rgb: 104,126,193;
	--soft-tint: 	#C0CFFB;
	--shadows: 		#DCE6FF;
	--super-light: 	#F2F5FA; --super-light-rgb: 242,245,250;
	--orange: 		#ED6D23; --orange-rgb: 237,109,35;
	--secondary:	#E77D53;
	--red: 			#E60000;
	--green: 		#4CAF50;

	--san-juan:		#324E6D; --san-juan-rgb: 50,78,109;
	--big-stone:	#1A284D;
	--link-on-dark:	#B3C5E9;

	/* Fonts */
	--fw-thin: 100;
	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;

	/* Shadows */
	--sharp-shadow: 8px 8px 0px var(--shadows);
	--soft-shadow: 0px 8px 24px rgba(var(--dark-blue-rgb), 0.1);
	--tr-shadow: inset 0px -1px 0px rgba(var(--links-rgb), 0.16);
	--badge-shadow: 0px 3px 8px rgba(--black-rgb, 0.08);
	--dropdown-shadow: 0px 0px 1px rgba(26, 40, 77, 0.16), 0px 3px 8px rgba(14, 22, 43, 0.12);
	--box-shadow-alert-info: 0px 8px 24px rgba(var(--dark-blue-rgb), 0.1),
							 inset 0px 3px 0px var(--med-tint);
	--box-shadow-alert-error: 0px 8px 24px rgba(var(--dark-blue-rgb), 0.1),
							  inset 0px 3px 0px var(--red);
	--box-shadow-alert-warning: 0px 8px 24px rgba(var(--dark-blue-rgb), 0.1),
								inset 0px 3px 0px var(--orange);
	--box-shadow-alert-done: 0px 8px 24px rgba(var(--dark-blue-rgb), 0.1),
							 inset 0px 3px 0px var(--green);

	/* Other */
	--font-primary: ProximaNova, Arial, Helvetica, sans-serif;
	--wrapper-max: 1180px;
	--header-wrapper-max: 1780px;
	--page-gap: 15px;
	--scrollbar-width:  17px;
	--anim-dur:  0.4s;
	--dropdown-px: 20px;
	--dropdown-px-sm: 16px;
	--dropdown-py: 8px;
	--dropdown-py-sm: 6px;
	--table-px: 8px;
	--table-px-lg: 24px;
	--tab-py: 24px;
	--modal-px-lg: 32px;
	--widget-balance-max: 340px;
	--wrapper-stiky-mr: 60px;
	--menu-shift: -93px; /* костыли для выравнивания меню по центру экрана без position:absolute, подкрутить при изменении меню */
	--menu-authorised-shift: 7px;
}

@mixin addJsVariablesToRoot{};

/* Mixins */
@define-mixin addWebFont $name, $type: Regular, $weight: 400, $style: normal {
	@font-face {
		font-family: $name;
		src: url('../assets/fonts/$(name)$(type).woff2') format('woff2'),
			 url('../assets/fonts/$(name)$(type).woff') format('woff');
		font-style: $style;
		font-weight: $(weight);
		font-display: swap;
	}
}

@define-mixin addVariableFont $name, $filename, $v-settings: 'wght' 400, $weight: 200 800, $style: normal, $v-ligatures: normal {
	@font-face {
		font-family: $name;
		src: url('../assets/fonts/variable/$(filename).ttf') format("truetype-variations");
		font-style: $style;
		font-variation-settings: $(v-settings);
		font-variation-ligatures: normal;
		font-weight: $(weight)
	}
}

/* Add fonts */
@mixin addWebFont ProximaNova, Regular, 400{};
@mixin addWebFont ProximaNova, Bold, 700{};
@mixin addWebFont ProximaNova, Light, 300{};
@mixin addWebFont ProximaNova, SemiBold, 600{};
@mixin addWebFont RobotoMono, Regular, 400{};
@mixin addWebFont ALSRubl, Regular, 400{}; /*  https://tema.livejournal.com/241645.html  */

@supports (font-variation-settings: 'wght' 115) {
	/*@mixin addVariableFont 'Manrope VF', ManropeGX{};*/
}

html,
body{
	width: 100%;
	min-height: 100%;
	margin:  0;
	padding: 0;
	font-family: ProximaNova, Arial, Helvetica, sans-serif;
	color: var(--med-blue);
	font-weight: var(--fw-normal);
	line-height: 1.4;
	font-size: 16px;
}

a{
	color: currentcolor;
	transition: color calc(var(--anim-dur)/2);
	&:hover,
	&:active{

	}
}

*{
	max-width: 100%;
}

@supports(object-fit: contain){
	img{
		object-fit: contain;
	}
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin-top: 0;
	margin-bottom: 0.5em;
	font-family: ProximaNova, Arial, Helvetica, sans-serif;
	font-weight: var(--fw-bold);
}

.h1-reg{
	font-size: 48px;
	line-height: 1.2083333333333333;
	margin-bottom: 24px;
}

h1,
.h1{
	font-size: 36px;
	line-height: 1.2083333333333333;
	margin-bottom: 18px;
	@media (--sm-viewport){
		@mixin cssLock font-size, sm, md, 36, 48;
		@mixin cssLock margin-bottom, sm, md, 18, 24;
	}
	@media (--md-viewport){
		font-size: 48px;
		margin-bottom: 24px;
	}
}

.h2-reg{
	font-size: 36px;
	line-height: 1.2222222222222223;
	font-weight: var(--fw-semi-bold);
	margin-bottom: 16px;
	margin-bottom: 20px;
}

h2,
.h2{
	font-size: 24px;
	line-height: 1.2222222222222223;
	font-weight: var(--fw-semi-bold);
	margin-bottom: 16px;
	@media (--sm-viewport){
		@mixin cssLock font-size, sm, md, 24, 36;
		@mixin cssLock margin-bottom, sm, md, 16, 20;
	}
	@media (--md-viewport){
		font-size: 36px;
		margin-bottom: 20px;
	}
}

.h3-reg{
	font-size: 24px;
	line-height: 1.2083333333333333;
	font-weight: var(--fw-semi-bold);
	margin-bottom: 18px;
}

h3,
.h3{
	font-size: 18px;
	line-height: 1.44;
	margin-bottom: 14px;
	@media (--sm-viewport){
		@mixin cssLock font-size, sm, md, 18, 24;
		@mixin cssLock margin-bottom, sm, md, 14, 18;
	}
	@media (--md-viewport){
		font-size: 24px;
		line-height: 1.2083333333333333;
		font-weight: var(--fw-semi-bold);
		margin-bottom: 18px;
	}
}

h4,
.h4{
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 18px;
}

h5{

}

h6{

}

p{
	font-weight: var(--fw-light);
	line-height: 1.1875;
}

.p-reg{
	font-weight: var(--fw-normal);
	font-size: 16px;
	line-height: 1.1875;
}

.p1-reg{
	font-size: 24px;
	line-height: 1.4166666666666667;
	font-weight: var(--fw-light);
	margin-bottom: 24px;
}

.p1{
	font-size: 18px;
	line-height: 1.2222222222222223;
	font-weight: var(--fw-light);
	margin-bottom: 10px;
	@media (--sm-viewport){
		@mixin cssLock font-size, sm, md, 18, 24;
		@mixin cssLock margin-bottom, sm, md, 10, 24;
	}
	@media (--md-viewport){
		font-size: 24px;
		line-height: 1.4166666666666667;
		margin-bottom: 24px;
	}
}

.p2-reg{
	font-size: 18px;
	line-height: 1.2222222222222223;
	font-weight: var(--fw-light);
	margin-bottom: 20px;
}

.p2{
	font-size: 16px;
	line-height: 1.1875;
	font-weight: var(--fw-light);
	margin-bottom: 10px;
	@media (--sm-viewport){
		@mixin cssLock font-size, sm, md, 16, 18;
		@mixin cssLock margin-bottom, sm, md, 10, 20;
	}
	@media (--md-viewport){
		font-size: 18px;
		line-height: 1.2222222222222223;
		margin-bottom: 20px;
	}
}

.p3-reg{
	font-size: 16px;
	line-height: 1.1875;
	font-weight: var(--fw-light);
	margin-bottom: 16px;
}

.p3{
	font-size: 14px;
	line-height: 1.2142857142857142;
	font-weight: var(--fw-light);
	margin-bottom: 10px;
	@media (--sm-viewport){
		@mixin cssLock font-size, sm, md, 14, 16;
		@mixin cssLock margin-bottom, sm, md, 10, 16;
	}
	@media (--md-viewport){
		font-size: 16px;
		line-height: 1.1875;
		margin-bottom: 16px;
	}
}

.p4{
	font-size: 14px;
	line-height: 1.2142857142857142;
	font-weight: var(--fw-light);
	margin-bottom: 16px;
}

.scroll__measure{
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

a[href^='tel:']{

}

a[href^='mailto:']{

}

.row{
	max-width: none;
}