<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="icon" href="<%= BASE_URL %>icons/favicon.ico">
		<meta name="theme-color" content="#2141A4">
		<link rel="icon" type="image/png" href="<%= BASE_URL %>icons/icon-72x72.png" sizes="72x72">
		<link rel="icon" type="image/png" href="<%= BASE_URL %>icons/icon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="<%= BASE_URL %>icons/icon-128x128.png" sizes="128x128">
		<link rel="icon" type="image/png" href="<%= BASE_URL %>icons/icon-144x144.png" sizes="144x144">
		<link rel="icon" type="image/png" href="<%= BASE_URL %>icons/icon-152x152.png" sizes="152x152">
		<link rel="icon" type="image/png" href="<%= BASE_URL %>icons/icon-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="<%= BASE_URL %>icons/icon-384x384.png" sizes="384x384">
		<link rel="icon" type="image/png" href="<%= BASE_URL %>icons/icon-512x512.png" sizes="512x512">
		<link rel="manifest" href="<%= BASE_URL %>manifest.json">
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body class="page">
		<noscript>
			<strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
