<template>
	<main class="page__main">
		<div class="page__wrapper">
			<h1>
				Речевая аналитика
			</h1>
		</div>
		<aigrid-tabs class="control--tabs--page">
			<aigrid-tab name="О решении">
				<div class="page__wrapper">
					О решении
				</div>
			</aigrid-tab>
			<aigrid-tab name="API" :active="true">
				<div class="page__wrapper">
					<aigrid-tabs :vertical="true">
						<aigrid-tab name="История платежей">
							Распознавание речи
						</aigrid-tab>
						<aigrid-tab name="Масовая: распознавание речи" :active="true">
							<h3>
                                Адрес запроса
                            </h3>
						</aigrid-tab>
					</aigrid-tabs>
				</div>
			</aigrid-tab>
			<aigrid-tab name="История запросов">
				<div class="page__wrapper">
                    История запросов
				</div>
			</aigrid-tab>
		</aigrid-tabs>
	</main>
</template>

<script>

	import AigridTabs from '../components/AigridTabs';
	import AigridTab from '../components/AigridTab';

	export default {
		name: 'PageSpeechAnalytics',
		components: {
			AigridTabs,
			AigridTab
        },
		data(){
			return {
			}
		},
		methods: {

		},
		mounted(){

		}
	}

</script>