<template>
	<main class="page__main">
		<section class="section section--gray">
			<div class="page__wrapper">
				<el-pagination></el-pagination>
				<div class="d-lg-flex justify-content-between pb-4">
					<div class="wrapper mr-lg-3">
						<div class="person person--lg">
							<div class="person__pic">
								A
							</div>
							<div class="wrapper">
								<div class="person__name">
									Александропольский Константин
								</div>
								<div class="person__company">
									ООО «Независимая Компания»
								</div>
							</div>
						</div>
					</div>
					<div class="widget widget--balance">
						<div class="wrapper">
							<div class="p4">
								Стоимость (за 1 мин)
							</div>
							<div class="h3-reg text-nowrap">
								от 1,07 <span class="text--rouble">p</span>
							</div>
						</div>
						<button class="btn btn--secondary">
							Подключить
						</button>
					</div>
				</div>
			</div>
		</section>
		<aigrid-tabs class="control--tabs--page" :options="{ defaultTabHash: 'balance' }">
			<aigrid-tab name="Профиль" id="profile">
				<div class="page__wrapper pt-5">
					Профиль
				</div>
			</aigrid-tab>
			<aigrid-tab name="Компания" id="company">
				<div class="page__wrapper pt-5">
					<aigrid-tabs :vertical="true" :options="{ defaultTabHash: 'staff' }">
						<aigrid-tab name="Компания" id="company-inner">
							Компания
						</aigrid-tab>
						<aigrid-tab name="Сотрудники" id="staff">
							<h3 class="mb-5">
								Сотрудники
							</h3>
							<h4>
								Приглашение сотрудников
							</h4>
							<p>
								Вы можете пригласить сотрудников, которые будут работать на площадке от имени вашей компании.
							</p>
							<label for="" class="control__label">
								Эл. почта <sup class="text--error">*</sup>
							</label>
							<div class="row mb-4">
								<div class="col-12 col-md-6 mb-3">
									<div class="control control--text mr-3 mb-0">
										<input type="email" class="control__input">
										<div class="control__msg control__msg--invalid">
											Введите почту
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 mb-3">
									<a href="#" class="btn btn--secondary">
										Пригласить
									</a>
								</div>
							</div>
							<h4>
								Отправленные приглашения
							</h4>
							<p>
								Вы можете отправить повторное приглашение или удалить приглашение, если оно еще не активировано пользователем.
							</p>
							<table class="table table--simple mt-5">
								<thead>
									<tr>
										<th>Пользователь</th>
										<th>Отправлено</th>
										<th>Статус</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>ivanov@gmail.com</td>
										<td>2020-06-23, 12:36</td>
										<td>отправлено</td>
										<td>
											<a href="#" title="Обновить" class="btn btn--action btn--sm mr-3">
												<icon-refresh></icon-refresh>
											</a>
											<a href="#" title="Удалить" class="btn btn--action btn--sm">
												<icon-delete></icon-delete>
											</a>
										</td>
									</tr>
									<tr>
										<td>petrov@gmail.com</td>
										<td>2020-06-23, 12:36</td>
										<td>
											<span class="text--success">
												принято
											</span>
										</td>
										<td></td>
									</tr>
									<tr>
										<td>sidorov@gmail.com</td>
										<td>2020-06-23, 12:36</td>
										<td>
											<span class="text--success">
												принято
											</span>
										</td>
										<td></td>
									</tr>
								</tbody>
							</table>
							<h4>
								Сотрудники
							</h4>
							<p>
								Вы можете передать пользователю компанию или убрать пользователя из компании. После передачи компании другому пользователю вы автоматически покинете компанию и не сможете ей управлять. Только владелец компании может приглашать пользователей и редактировать информацию о компании.
							</p>
							<table class="table table--simple">
								<thead>
									<tr>
										<th>Пользователь</th>
										<th>Отправлено</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>ivanov@gmail.com</td>
										<td>2020-06-23, 12:36</td>
										<td>отправлено</td>
										<td>
											<a href="#" title="Обновить" class="btn btn--action btn--sm mr-3">
												<icon-grant-access></icon-grant-access>
											</a>
											<a href="#" title="Удалить" class="btn btn--action btn--sm text--error">
												<icon-delete-cross></icon-delete-cross>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</aigrid-tab>
					</aigrid-tabs>
				</div>
			</aigrid-tab>
			<aigrid-tab name="Баланс и биллинг" id="balance">
				<div class="page__wrapper pt-5">
					<aigrid-tabs :vertical="true" :options="{ defaultTabHash: 'billing' }">
						<aigrid-tab name="История платежей" id="payments-history">
							<div class="row">
								<div class="col-12">
									<h3 class="mb-4">
										Редактирование платежа
									</h3>
								</div>
								<div class="col-12 col-md-6 mb-3">
									<div class="control control--text">
										<label for="" class="control__label">
											Сумма <sup class="text--error">*</sup>
										</label>
										<input type="number" class="control__input">
										<div class="control__msg control__msg--invalid">
											Введите сумму
										</div>
									</div>
								</div>
								<div class="col-12 mb-4">
									<a href="#" class="link link--action">
										<icon-frame></icon-frame>
										<div class="btn__text">
											Скачать шаблон счета на оплату
										</div>
									</a>
								</div>
								<div class="col-12 mt-3">
									<h4>
										Документ (платежное поручение)
									</h4>
								</div>
								<div class="col-12 col-md-6 mb-3">
									<div class="control__label">
										Приложите файл
									</div>
									<aigrid-file
										:placeholder="'Приложите файл'"
										>
									</aigrid-file>
								</div>
								<div class="col-12 mb-4">
									<a href="#" class="link link--action">
										<icon-plus-circle></icon-plus-circle>
										<div class="btn__text">
											Добавить ещё документ
										</div>
									</a>
								</div>
								<div class="col-12 mt-3">
									<button class="btn btn--secondary">
										Отправить на согласование
									</button>
								</div>
							</div>
						</aigrid-tab>
						<aigrid-tab name="История списаний" id="billing">
							<h3 class="mb-4">
								История списаний по дням
							</h3>
							<a href="#" class="link link--action mb-4">
								<icon-chewron-left></icon-chewron-left>
								<span class="link__text">
									Назад к списаниям за день
								</span>
							</a>
							<p class="p3 mb-4">
								Сводная таблица, отображающая статистику списаний с баланса вашей компании за день.
							</p>
							<table class="table table--simple mb-5">
								<thead>
									<tr>
										<th>Дата</th>
										<th>Списание</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-0,63 <span class="text--rouble">p</span></td>
									</tr>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-5 200 <span class="text--rouble">p</span></td>
									</tr>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-2,50 <span class="text--rouble">p</span></td>
									</tr>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-14,00 <span class="text--rouble">p</span></td>
									</tr>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-0,63 <span class="text--rouble">p</span></td>
									</tr>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-2,15 <span class="text--rouble">p</span></td>
									</tr>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-14,00 <span class="text--rouble">p</span></td>
									</tr>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-0,63 <span class="text--rouble">p</span></td>
									</tr>
									<tr>
										<td>
											<a href="#" @click.prevent="openExamplePopup">
												2020-06-23
											</a>
										</td>
										<td>-2,15 <span class="text--rouble">p</span></td>
									</tr>
								</tbody>
							</table>
							<ul class="pagination">
								<li class="pagination__item pagination__prev">
									<a href="#">
										<icon-chewron-left></icon-chewron-left>
									</a>
								</li>
								<li class="pagination__item">
									<a href="#">1</a>
								</li>
								<li class="pagination__item pagination__item--active">
									<a href="#">2</a>
								</li>
								<li class="pagination__item">
									<a href="#">3</a>
								</li>
								<li class="pagination__item">
									<a href="#">4</a>
								</li>
								<li class="pagination__item">
									<a href="#">5</a>
								</li>
								<li class="pagination__item pagination__placeholder">
									...
								</li>
								<li class="pagination__item">
									<a href="#">12</a>
								</li>
								<li class="pagination__item">
									<a href="#">13</a>
								</li>
								<li class="pagination__item pagination__next">
									<a href="#">
										<icon-chewron-right></icon-chewron-right>
									</a>
								</li>
							</ul>
						</aigrid-tab>
						<aigrid-tab name="Пополнить" id="fill-up">
							Пополнить
						</aigrid-tab>
						<aigrid-tab name="Вывести" id="withdraw">
							Вывести
						</aigrid-tab>
						<aigrid-tab name="Акты" id="acts">
							Акты
						</aigrid-tab>
					</aigrid-tabs>
				</div>
			</aigrid-tab>
			<aigrid-tab name="API" id="api">
				<div class="page__wrapper pt-5">
					<aigrid-tabs :vertical="true" :options="{ defaultTabHash: 'mass_sppech_recognition' }">
						<aigrid-tab name="Распознавание речи" id="sppech_recognition">
							<h3 class="mb-4">
								Распознавание речи
							</h3>
						</aigrid-tab>
						<aigrid-tab name="Масовая: распознавание речи" id="mass_sppech_recognition">
							<h3 class="mb-4">
								Адрес запроса
							</h3>
							<div class="row mb-3">
								<div class="col-4 col-md-2 pr-0">
									<label for="" class="control__label">
										Метод
									</label>
									<multiselect
										class="text-nowrap"
										value="POST"
										:multiple="false"
										:options="['POST', 'GET']">
									</multiselect>
								</div>
								<div class="col-8 col-md-10 pl-0">
									<label for="" class="control__label">
										URL
									</label>
									<div class="control control--text">
										<input type="text" class="control__input" value="https://domain.com/com/vision/v2.0/[newAr][&details][&language]">
									</div>
								</div>
							</div>
							<h3 class="mb-4">
								Заголовки
							</h3>
							<table class="table table--simple mb-5">
								<thead>
									<tr>
										<th>Заголовок</th>
										<th>Значение</th>
										<th>Описание</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Content-Type</td>
										<td>multipart/form-data</td>
										<td>Тип контента</td>
									</tr>
									<tr>
										<td>token</td>
										<td>a41ea94e7e</td>
										<td>Токен компании</td>
									</tr>
								</tbody>
							</table>
							<h3 class="mb-4">
								Параметры
							</h3>
							<table class="table table--simple mb-5">
								<thead>
									<tr>
										<th>Заголовок</th>
										<th>Значение</th>
										<th>Описание</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Файл</td>
										<td>file</td>
										<td>Двоичные данные</td>
									</tr>
								</tbody>
							</table>
							<h3 class="mb-4">
								Пример запроса
							</h3>
							<div class="widget widget--codebox mb-5">
								<div class="widget__header">
									CURL
								</div>
<pre class="widget__main">
curl --location --request POST 'http://10.0.102.121:90/activebc/abc_rec'
--header 'Content-Type: multipart/form-data'
--header 'token: ab747d125f' --form=file=@[Путь_к_файлу]


</pre>
							</div>
							<div class="form--simple p-3 p-md-4 p-lg-5">
								<h2>
									Тестовый стенд
								</h2>
								<p class="p2">
									Добавьте аудиофайл в формате .wav или сделайте запись с микрофона
								</p>
								<aigrid-file
									:drop="true"
									accept=".png,.jpg"
									class="mw-100"
									>
									<p>
										Размер файла до 100 мб, формат wav
									</p>
								</aigrid-file>
								<div class="d-flex flex-column align-items-center">
									<p class="p2 text-center">
										ИЛИ
									</p>
									<button class="btn btn--primary">
										<icon-mic></icon-mic>
										<span class="btn__text">
											Начать запись
										</span>
									</button>
								</div>
							</div>
						</aigrid-tab>
					</aigrid-tabs>
				</div>
			</aigrid-tab>
		</aigrid-tabs>

		<el-popup :name="'example-popup'">
			<template v-slot:header>
				<div class="d-flex flex-wrap align-items-center">
					<div class="h3 my-1 mr-3">
						Информация запросе
					</div>
					<div class="my-1 mr-3">
						Списание от 2020-06-14, 20:45
					</div>
					<div class="my-1 mr-3">
						Сумма: -1,14 <span class="text--rouble">p</span>
					</div>
				</div>
			</template>
			<table class="table table--simple">
				<thead>
					<tr>
						<th>Параметр</th>
						<th>Значение</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Сервис</td>
						<td>Распознавание речи</td>
					</tr>
					<tr>
						<td>Компания</td>
						<td>Coca Cola</td>
					</tr>
					<tr>
						<td>Стоимость</td>
						<td>4.14 руб</td>
					</tr>
					<tr>
						<td>Сервис</td>
						<td>15 секунд</td>
					</tr>
					<tr>
						<td>Тарифный план</td>
						<td>Единица тарификации — отрезок аудио длительностью 15 секунд. Отрезки меньшей длительности округляются в большую сторону (1 секунда превращается в 15 секунд).</td>
					</tr>
					<tr>
						<td>Тарифицируемые единицы</td>
						<td>3 (15-сек. интервал)</td>
					</tr>
					<tr>
						<td>Размер файла</td>
						<td>мб</td>
					</tr>
				</tbody>
			</table>

			<h3>
				Информация об ответе
			</h3>
			<div class="widget widget--codebox">
				<div class="widget__header">
					JSON
				</div>
				<pre class="widget__main">
{
"bit": 16,
"size": 1750924,
"uuid": "523c643d-0491-4fb6-a880-b219a3d78f42",
"phrase": "ПУСТЬ ВАША ЧАДО РАСТЁТ СМЕЛЫМ ОН ИМИ ВОСПИТАНЫ РЕБЁНКОМ В МЕРУ БОЛЬШИМ И ЗДОРОВЫМ",
"status": 0,
"duration": 36.477416666,
"filename": "RackMultipart20200614-18-1hke1wy.wav"
}
				</pre>
			</div>
			<div class="d-flex w-100 mt-5">
				<button class="btn btn--secondary mx-auto">
					Распознать ещё
				</button>
			</div>
		</el-popup>

	</main>
</template>

<script>

	import {events} from '../events';

	import AigridTabs from '../components/AigridTabs';
	import AigridTab from '../components/AigridTab';
	import ElPagination from '../components/ElPagination';
	import AigridFile from '../components/AigridFile';
	import ElPopup from '../components/ElPopup';
	import Multiselect from 'vue-multiselect';

	import IconChewronLeft from '../components/icons/icon_files/IconChewronLeft';
	import IconChewronRight from '../components/icons/icon_files/IconChewronRight';
	import IconDelete from '../components/icons/icon_files/IconDelete';
	import IconRefresh from '../components/icons/icon_files/IconRefresh';
	import IconGrantAccess from '../components/icons/icon_files/IconGrantAccess';
	import IconDeleteCross from '../components/icons/icon_files/IconDeleteCross';
	import IconFrame from '../components/icons/icon_files/IconFrame';
	import IconPlusCircle from '../components/icons/icon_files/IconPlusCircle';
	import IconMic from '../components/icons/icon_files/IconMic';

	export default {
		name: 'PageBilling',
		components: {
			AigridTabs,
			AigridTab,
			Multiselect,
			ElPagination,
			IconChewronLeft,
			IconChewronRight,
			IconDelete,
			IconRefresh,
			IconGrantAccess,
			IconDeleteCross,
			IconFrame,
			AigridFile,
			IconPlusCircle,
			IconMic,
			ElPopup
		},
		data(){
			return {

			}
		},
		computed: {

		},
		methods: {
			openExamplePopup(){
				this.$evbus.$emit(events.EV_APP_OPEN_POPUP, {
					name: 'example-popup'
				});
			},
		},
		mounted(){

		}
	}

</script>