<template>
	<main class="page__main">
		<section class="section">
			<div class="page__wrapper">
				<h1>
					Распознавание речи – VS Robotics
				</h1>
			</div>
		</section>
		<section class="section">
			<div class="page__wrapper">
				<div class="wrapper wrapper--sticky">
					<div class="wrapper">
						<div class="wrapper wrapper--service">
							<div class="person person--lg">
								<div class="person__pic">
									<icon-vsr-short></icon-vsr-short>
								</div>
								<div class="wrapper">
									<div class="person__name">
										Разработчик: VS Robotics
									</div>
									<div class="person__company">
										Система распознавания речи VS Robotics позволяет транскрибировать — преобразовывать в текст разговорную речь в online и offline режимах. Сервис дополнен нейросетевыми моделями отсеивания шумов, распознавания эмоций, оценки пола и возраста абонента.
									</div>
								</div>
							</div>
						</div>
						<div class="widget widget--balance my-4 d-none d-md-flex d-lg-none">
							<div class="wrapper">
								<div class="p4">
									Стоимость (за 1 мин)
								</div>
								<div class="h3-reg text-nowrap">
									от 1,07 <span class="text--rouble">p</span>
								</div>
							</div>
							<button class="btn btn--secondary">
								Подключить
							</button>
						</div>
						<div class="section--gray-hack"></div>
						<aigrid-tabs class="control--tabs--page">
							<aigrid-tab name="Обзор">
								<div class="page__wrapper pt-lg-5">
									<h2>
										Обзор
									</h2>
									<p class="p2">
										Технология распознавания речи компании VS Robotics позволяет транскрибировать в текст любую спонтанную разговорную речь в online и offline режимах.
									</p>
									<p class="p2 mb-5 pb-4">
										Преобразование текста в речь применяется для протоколирования встреч, расшифровки телефонных разговоров, в работе голосового робота-оператора, при создании субтитров и в других направлениях. Для работы уже созданы словари с тематиками из разных сфер бизнеса общим объемом более 2 миллионов слов с возможностью online пополнения. Компания VS Robotics может внедрить модуль автоматического распознавания речи в call-центр вашей организации в минимальные сроки.
									</p>
									<h3 class="pt-3 mb-4">
										Возможности сервиса
									</h3>
									<ul class="list list--chewrons mb-4 pb-3">
										<li class="list__item">
											Online и offline преобразование в текст (транскрибирование) спонтанной разговорной речи
										</li>
										<li class="list__item">
											Быстрая адаптация под любые задачи заказчика
										</li>
										<li class="list__item">
											Интеграция с коммуникационной платформой заказчика
										</li>
										<li class="list__item">
											Временные метки для быстрого поиска нужного фрагмента
										</li>
										<li class="list__item">
											Поддержка форматов аудиофайлов WAV, MP3, AIFF, WMA, FLAC, OGG и др.
										</li>
										<li class="list__item">
											Расшифровка записи телефонных разговоров низкого качества
										</li>
										<li class="list__item">
											Определение и обработка многоканальных аудио- и видеофайлов
										</li>
										<li class="list__item">
											Обучение модели распознавания речи для любой сферы
										</li>
									</ul>
									<h3 class="mb-4">
										Как это работает
									</h3>
									<ol class="list list--numbers mb-5">
										<li class="list__item">
											Речь абонента поступает в сервер распознавания. Для обработки речь разбивается на фреймы по 10 миллисекунд.
										</li>
										<li class="list__item">
											Фреймы с шумом отсеиваются при помощи рекуррентной нейросети.
										</li>
										<li class="list__item">
											Очищенная речь абонента поступает в акустическую модель, которая преобразует последовательность звуковых импульсов в фонемы.
										</li>
										<li class="list__item">
											Поток фонем проходит через лингвистическую модель, представляющую собой конечный автомат для преобразования последовательностей. Таким образом речь преобразуется в текст фразы.
										</li>
										<li class="list__item">
											Для уточнения результатов распознавания используется дополнительная лингвистическая модель, основанная на нейросетевой архитектуре RNNLM.
										</li>
										<li class="list__item">
											Используя свёрточную нейронную сеть, робот способен с точностью до 97% определять пол абонента и его возраст со средней погрешностью в 6 лет.
										</li>
									</ol>
									<a href="#" class="file mb-5 pb-4">
										<div class="file__icon">
											<icon-pdf></icon-pdf>
										</div>
										<div class="file__name">
											Презентация Распознавание VSR.pdf
										</div>
									</a>
									<h2>
										Стоимость
									</h2>
									<div class="form form--simple form--lg">
										<h4 class="mb-4">
											Тариф «15 секунд»
										</h4>
										<p class="p2">
											Единица тарификации — отрезок аудио длительностью 15 секунд. Отрезки меньшей длительности округляются в большую сторону (1 секунда превращается в 15 секунд).
										</p>
										<img src="../assets/images/speech-recognition-chart.jpg" class="mt-3 mb-5">
										<table class="table table--light">
											<thead>
												<tr>
													<th>Количество единиц тарификации</th>
													<th>Стоимость 1 единицы тарификации, руб.</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>0 – 200</td>
													<td>Бесплатно</td>
												</tr>
												<tr>
													<td>200 – 10 000</td>
													<td>0,10 руб.</td>
												</tr>
												<tr>
													<td>от 10 000</td>
													<td>0,07 руб.</td>
												</tr>
											</tbody>
										</table>
										<p class="p4">
											Предусмотрены специальные тарифы, зависящие от объема, напишите нам и мы подберем подходящий вам вариант.
										</p>
									</div>
								</div>
							</aigrid-tab>
							<aigrid-tab name="Преимущества">
								<div class="page__wrapper pt-lg-5">
									<h2>
										Преимущества
									</h2>
								</div>
							</aigrid-tab>
						</aigrid-tabs>
					</div>
					<div class="widget widget--balance">
						<div class="wrapper">
							<div class="p4">
								Стоимость (за 1 мин)
							</div>
							<div class="h3-reg text-nowrap">
								от 1,07 <span class="text--rouble">p</span>
							</div>
						</div>
						<button class="btn btn--secondary">
							Подключить
						</button>
					</div>
				</div>
			</div>
		</section>
	</main>
</template>

<script>

	import IconVsrShort from '../components/icons/icon_files/IconVsrShort';
	import IconPdf from '../components/icons/icon_files/IconPdf';
	import AigridTabs from '../components/AigridTabs';
	import AigridTab from '../components/AigridTab';

	export default {
		name: 'PageSpeechRecognition',
		components: {
			IconVsrShort,
			IconPdf,
			AigridTabs,
			AigridTab
		},
		data(){
			return {
			}
		},
		methods: {

		},
		mounted(){

		}
	}

</script>