<template>
	<main class="page__main">
		<div class="page__wrapper">
			<el-pagination></el-pagination>
			<h1>
				Поставщикам
			</h1>
		</div>
	</main>
</template>

<script>

	import ElPagination from '../components/ElPagination';

	export default {
		name: 'PageProviders',
		components: {
			ElPagination
		},
		data(){
			return {
			}
		},
		methods: {

		},
		mounted(){

		}
	}

</script>