<template>
	<main class="page__main">
		<div class="page__wrapper">
			<el-pagination></el-pagination>
			<div class="wrapper wrapper--form-md">
				<h1>
					Напишите нам
				</h1>
				<form action="" class="form form--simple">
					<div class="control control--text">
						<label for="" class="control__label">
							ФИО <sup class="text--error">*</sup>
						</label>
						<input type="text" class="control__input">
						<div class="control__msg control__msg--invalid">
							Введите ФИО
						</div>
					</div>
					<div class="control control--text">
						<label for="" class="control__label">
							Эл. почта <sup class="text--error">*</sup>
						</label>
						<input type="email" class="control__input">
						<div class="control__msg control__msg--invalid">
							Введите почту
						</div>
					</div>
					<div class="control control--text">
						<label for="" class="control__label">
							Телефон <sup class="text--error">*</sup>
						</label>
						<masked-input
							class="control__input"
							placeholder="+7(___)___-__-__"
							mask="\+7(111)111-11-11"
							type="tel"
							>
						</masked-input>
						<div class="control__msg control__msg--invalid">
							Введите телефон
						</div>
					</div>
					<div class="control control--text">
						<label for="" class="control__label">
							Сообщение <sup class="text--error">*</sup>
						</label>
						<textarea class="control__input"></textarea>
						<div class="control__msg control__msg--invalid">
							Введите Сообщение
						</div>
					</div>
					<label for="" class="control__label">
						Приложите файл
					</label>
					<aigrid-file class="mb-4"></aigrid-file>
					<div class="d-flex w-100 mb-3">
						<button class="btn btn--primary ml-auto">
							Отправить
						</button>
					</div>
				</form>
			</div>
		</div>
	</main>
</template>

<script>

	import ElPagination from '../components/ElPagination';
	import AigridFile from '../components/AigridFile';
	import MaskedInput from 'vue-masked-input';

	export default {
		name: 'PageFeedback',
		components: {
			ElPagination,
			AigridFile,
			MaskedInput
		},
		data(){
			return {
			}
		},
		methods: {

		},
		mounted(){

		}
	}

</script>