<template>
	<main class="page__main">
		<div class="page__wrapper">
			<div class="wrapper wrapper--form-sm">
				<aigrid-tabs>
					<aigrid-tab name="Вход" class="bg-transparent">
						<form action="" class="form form--simple">
							<div class="control control--text">
								<label for="" class="control__label">
									Эл. почта <sup class="text--error">*</sup>
								</label>
								<input type="email" class="control__input">
								<div class="control__msg control__msg--invalid">
									Введите почту
								</div>
							</div>
							<div class="control control--text">
								<label for="" class="control__label">
									Пароль <sup class="text--error">*</sup>
								</label>
								<input type="password" class="control__input">
								<div class="control__msg control__msg--invalid">
									Введите пароль
								</div>
							</div>
							<a href="#" class="d-block text--info mb-5">
								Забыли пароль?
							</a>
							<button class="btn btn--primary w-100" @click.prevent="$store.dispatch('authoriseUser')">
								Войти
							</button>
						</form>
					</aigrid-tab>
					<aigrid-tab name="Регистрация" class="bg-transparent">
						<form action="" class="form form--simple">
							<div class="control control--text">
								<label for="" class="control__label">
									Эл. почта <sup class="text--error">*</sup>
								</label>
								<input type="email" class="control__input">
								<div class="control__msg control__msg--invalid">
									Введите почту
								</div>
							</div>
							<div class="control control--text">
								<label for="" class="control__label">
									Пароль <sup class="text--error">*</sup>
								</label>
								<input type="password" class="control__input">
								<div class="p4 text--info pt-1">
									минимальная длина пароля – 6 символов
								</div>
								<div class="control__msg control__msg--invalid">
									Введите пароль
								</div>
							</div>
							<div class="control control--text mb-4">
								<label for="" class="control__label">
									Подтверждение пароля <sup class="text--error">*</sup>
								</label>
								<input type="password" class="control__input">
								<div class="control__msg control__msg--invalid">
									Введите пароль
								</div>
							</div>
							<div class="control control--checkbox">
								<input id="register-checkbox-1" type="checkbox" class="control__input">
								<label for="register-checkbox-1" class="control__label">
									Я принимаю условия <a href="#">Политики в отношении обработки персональных данных в ООО «ЭЙАЙГРИД»</a>
								</label>
								<div class="control__msg control__msg--invalid">
									Плдтвердите согласие
								</div>
							</div>
							<div class="control control--checkbox mb-4">
								<input id="register-checkbox-2" type="checkbox" class="control__input">
								<label for="register-checkbox-2" class="control__label">
									Я даю свое <a href="#">согласие ООО «ЭЙАЙГРИД» на обработку моих персональных данных</a> в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных», согласие на получение информации, в том числе рекламного характера
								</label>
								<div class="control__msg control__msg--invalid">
									Плдтвердите согласие
								</div>
							</div>
							<button class="btn btn--primary w-100 mb-3">
								Зарегистрироваться
							</button>
						</form>
					</aigrid-tab>
				</aigrid-tabs>
			</div>
		</div>
	</main>
</template>

<script>

	import AigridTabs from '../components/AigridTabs';
	import AigridTab from '../components/AigridTab';

	export default {
		name: 'PageRegisration',
		components: {
			AigridTabs,
			AigridTab
		},
		data(){
			return {
			}
		},
		methods: {

		},
		mounted(){

		}
	}

</script>