<template>
	<main class="page__main">
		<section class="section section--clients">
			<div class="page__wrapper">
				<h1 class="d-md-none">
					Клиентам
				</h1>
				<icon-clients></icon-clients>
				<div class="wrapper">
					<h1 class="d-none d-md-block">
						Клиентам
					</h1>
					<p class="p1">
						Выбирайте сервисы для оптимизации финансовых, временных и трудовых ресурсов для решения бизнес-задач
					</p>
					<div class="h3">
						Эффективное управление рутинными задачами
					</div>
					<p class="p2">
						Сервисы платформы помогают автоматизировать бизнес-процессы, позволяя выстраивать их гибче в соответствии с наличием временных, технических и человеческих ресурсов.
					</p>
					<div class="h3">
						Проверенные поставщики решений
					</div>
					<p class="p2">
						На площадке представлены ведущие игроки рынка IT, специализирующиеся на технологических решениях, обладающие доказанным опытом и высокой квалификацией
					</p>
					<div class="h3">
						Возможность интеграции по API в вашу CRM
					</div>
					<p class="p2">
						Каждый сервис имеет простой HTTP API, позволяющий использовать ресурсы сервиса в любой сторонней программе или приложении. Сходные сервисы имеют подобные API, что позволяет менять один сервис на другой без потери времени.
					</p>
					<a href="#" class="btn btn--secondary">
						Регистрация
					</a>
				</div>
			</div>
		</section>
		<section class="section section--advantages">
			<div class="page__wrapper">
				<h1>
					Преимущества
				</h1>
				<p class="p1">
					Упростите процедуру поиска поставщика решений. Экономьте время, выбирая из каталога услуг. Сравнивайте сервисы.
				</p>
				<ul class="list list--advantages">
					<li class="list__item">
						<icon-one></icon-one>
						Приветственные баллы для тестирования любых сервисов
					</li>
					<li class="list__item">
						<icon-two></icon-two>
						Прозрачная и понятная тарификация и система скидок на все услуги
					</li>
					<li class="list__item">
						<icon-three></icon-three>
						Запуск сервисов в несколько кликов
					</li>
					<li class="list__item">
						<icon-four></icon-four>
						Отсутствие необходимости заключения договора на каждую новую услугу
					</li>
				</ul>
				<a href="#" class="btn btn--secondary">
					Регистрация
				</a>
			</div>
		</section>
	</main>
</template>

<script>

	import IconClients from '../components/icons/icon_files/IconClients'
	import IconOne from '../components/icons/icon_files/IconOne';
	import IconTwo from '../components/icons/icon_files/IconTwo';
	import IconThree from '../components/icons/icon_files/IconThree';
	import IconFour from '../components/icons/icon_files/IconFour';


	export default {
		name: 'PageClients',
		components: {
			IconClients,
			IconOne,
			IconTwo,
			IconThree,
			IconFour
		},
		data(){
			return {
			}
		},
		methods: {

		},
		mounted(){

		}
	}

</script>