<template>
	<main class="page__main">
		<section class="section section--solutions section--hidden">
			<div class="page__wrapper">
				<animation-easy-solutions :animated="$store.getters.animEnabled"></animation-easy-solutions>
				<div class="wrapper">
					<h1>
						IT-решения легко
					</h1>
					<p class="h3">
						AIGrid — понятная в использовании облачная платформа. Для работы с площадкой и сервисами не нужны специальные знания в IT!
					</p>
					<p class="p1">
						Автоматизируйте процессы с помощью готовых решений
					</p>
					<p class="p1">
						Заказывайте услуги у проверенных поставщиков сервисов
					</p>
					<p class="p1">
						Создавайте онлайн-сервисы. Публикуйте на Aigrid. Мы&nbsp;привлечем новых клиентов
					</p>
					<a href="#" class="btn btn--secondary">
						Регистрация
					</a>
				</div>
			</div>
		</section>
		<section class="section section--sectors section--hidden">
			<div class="page__wrapper">
				<h1>
					Для разных сфер бизнеса
				</h1>
				<p class="p1">
					Решения, представленные на Aigrid, могут применяться для повышения эффективности работы контакт-центров в различных сферах: ЖКХ, телемаркетинг, взыскание, подбор персонала, страхование, медицина и др.
				</p>
				<div class="slider slider--sectors">
					<div class="swiper-container slider__container">
						<div class="swiper-wrapper slider__wrapper">
							<div class="swiper-slide slider__slide">
								<icon-bank></icon-bank>
								<h3>
									Банки и финансовые организации
								</h3>
							</div>
							<div class="swiper-slide slider__slide">
								<icon-telecommunication></icon-telecommunication>
								<h3>
									Телекоммуникационные компании
								</h3>
							</div>
							<div class="swiper-slide slider__slide">
								<icon-collection></icon-collection>
								<h3>
									Коллекторские агентства
								</h3>
							</div>
							<div class="swiper-slide slider__slide">
								<icon-telemarketing></icon-telemarketing>
								<h3>
									Телемаркетинг
								</h3>
							</div>
						</div>
						<div class="swiper-pagination slider__pagination"></div>
					</div>
				</div>
				<a href="#" class="btn btn--secondary btn--hidden">
					Регистрация
				</a>
			</div>
		</section>
		<section class="section section--steps section--hidden">
			<div class="page__wrapper">
				<h1>
					Как это работает?
				</h1>
				<animation-steps :animated="$store.getters.animEnabled"></animation-steps>
				<a href="#" class="btn btn--secondary btn--hidden">
					Регистрация
				</a>
			</div>
		</section>
		<section class="section section--advantages section--hidden">
			<div class="page__wrapper">
				<h1>
					Преимущества AIGrid
				</h1>
				<p class="p1">
					Работать с AIGrid надёжно и выгодно. Начать работу легко благодаря интуитивно понятному интерфейсу.
				</p>
				<ul class="list list--benefits">
					<li class="list__item">
						<icon-profit></icon-profit>
						<div class="wrapper">
							<h3>
								Выгодно
							</h3>
							<p class="p2">
								Приветственные баллы для тестирования любых сервисов
							</p>
							<p class="p2">
								Удобный биллинг
							</p>
							<p class="p2">
								Моментальное зачисление денежных средств
							</p>
						</div>
					</li>
					<li class="list__item">
						<icon-safe></icon-safe>
						<div class="wrapper">
							<h3>
								Надежно
							</h3>
							<p class="p2">
								Прозрачная и понятная тарификация и система скидок на все услуги
							</p>
							<p class="p2">
								Только проверенные поставщики решений
							</p>
							<p class="p2">
								Сервис и поддержка 24/7
							</p>
						</div>
					</li>
					<li class="list__item">
						<icon-easy></icon-easy>
						<div class="wrapper">
							<h3>
								Просто
							</h3>
							<p class="p2">
								Нет необходимости заключения договора на каждую новую услугу
							</p>
							<p class="p2">
								Быстрый запуск решения
							</p>
							<p class="p2">
								Не нужно запускать и самостоятельного продвигать собственный интернет-ресурс
							</p>
						</div>
					</li>
				</ul>
				<a href="#" class="btn btn--secondary btn--hidden">
					Регистрация
				</a>
			</div>
		</section>
	</main>
</template>

<script>

	import { events } from '../events';

	import Swiper, { Navigation, Pagination, Autoplay } from 'swiper';

	import AnimationSteps from '../components/AnimationSteps';
	import AnimationEasySolutions from '../components/AnimationEasySolutions';

	import IconBank from '../components/icons/icon_files/IconBank';
	import IconTelemarketing from '../components/icons/icon_files/IconTelemarketing';
	import IconTelecommunication from '../components/icons/icon_files/IconTelecommunication';
	import IconProfit from '../components/icons/icon_files/IconProfit';
	import IconSafe from '../components/icons/icon_files/IconSafe';
	import IconEasy from '../components/icons/icon_files/IconEasy';
	import IconCollection from '../components/icons/icon_files/IconCollection';

	Swiper.use([Navigation, Pagination, Autoplay]);

	export default {
		name: 'PageIndex',
		components: {
			AnimationEasySolutions,
			AnimationSteps,
			IconBank,
			IconTelemarketing,
			IconTelecommunication,
			IconProfit,
			IconSafe,
			IconEasy,
			IconCollection
		},
		data(){
			return {
				sliders: {
					sectors: undefined
				},
				parallaxScene: null,
				sectionScenes: []
			}
		},
		computed: {

		},
		methods: {
			initSections(){
				let _this = this,
					sections = [
						'solutions',
						'sectors',
						'steps',
						'advantages'
					];

				sections.map( name => {
					let section = document.querySelector(`.section--${name}`),
					scene = this.$scrollmagic.scene({
						triggerElement: section,
						duration: 0,
						offset: 0,
						triggerHook: 0.5
					})
					.on('enter', () => {
						section.classList.remove('section--hidden');
						if( name === 'solutions' ){
							_this.$evbus.$emit(events.EV_APP_ANIMATED_SVG_START,{
								name: 'easy-solutions'
							});
						}
						if( name === 'steps' ){
							_this.$evbus.$emit(events.EV_APP_ANIMATED_SVG_START,{
								name: 'steps'
							});
						}
					})
					//.addIndicators({indent: 100});
					this.$scrollmagic.addScene(scene);
					this.sectionScenes.push(scene);
				});
			},
			changeBgPosition(scrollProgress){
				let figures = [...document.querySelectorAll('.page__bg > div')],
					speedY = [-8, 3, -2, -3],
					speedX = [-4, 8, -5, -2];
				window.requestAnimationFrame(() => {
					figures.map( (figure, index) => {
						figure.style.transform = `translate3d(${scrollProgress * speedX[index]}px, ${scrollProgress * speedY[index]}px, 0)`;
					})
				})
			},
			initBgParallax(){
				let _this = this;
				this.parallaxScene = this.$scrollmagic.scene({
					triggerElement: '.page',
					duration: document.documentElement.scrollHeight - window.innerHeight,
					offset: 0,
					triggerHook: 0
				})
				.on('progress', (evt) => {
					_this.changeBgPosition( (evt.progress*100).toFixed(0) );
				})
				//.addIndicators({indent: 100});
				this.$scrollmagic.addScene(this.parallaxScene);
			},
			breakpointChecker(breakpoint, sliderName, enableFunc) {
				if (breakpoint.matches === true) {
					if (this.sliders[sliderName] !== undefined) {
						this.sliders[sliderName].destroy(true, true);
					}
					return;
				} else if (breakpoint.matches === false) {
					return enableFunc();
				}
			},
			sliderSectorsPreset(elem){
				let container = elem.querySelector('.swiper-container'),
					pagination = elem.querySelector('.swiper-pagination');
				return new Swiper(container, {
					speed: 800,
					spaceBetween: 0,
					slidesPerView: 1,
					loop: true,
					pagination: {
						el: pagination,
						type: 'bullets',
						clickable: true
					}
				});
			},
			initSliderSectors(){
				let _this = this,
					elem = document.querySelector('.slider--sectors'),
					toggleBreakpoint = window.matchMedia(`(min-width:${this.$store.state.breakponts.lg}px)`);

				function enableSwiper() {
					_this.sliders.sectors = _this.sliderSectorsPreset(elem);
				}

				toggleBreakpoint.addListener( () =>{
					this.breakpointChecker(toggleBreakpoint, 'sectors', enableSwiper);
				});
				this.breakpointChecker(toggleBreakpoint, 'sectors', enableSwiper);
			}
		},
		mounted(){
			this.initSections();
			this.initBgParallax();
			this.initSliderSectors();
		},
		beforeDestroy(){
			if( this.parallaxScene ){
				this.$scrollmagic.removeScene(this.parallaxScene);
			}
			if( this.sectionScenes.length ){
				this.sectionScenes.map( scene => {
					this.$scrollmagic.removeScene(scene);
				});
				this.sectionScenes = [];
			}
		}
	}
</script>
