<template>
	<main class="page__main">
		<div class="page__wrapper">
            <el-pagination></el-pagination>
            <h1>
                Профиль
            </h1>
		</div>
	</main>
</template>

<script>

    import ElPagination from '../components/ElPagination';

	export default {
		name: 'PageProfile',
		components: {
            ElPagination
		},
		data(){
			return {

			}
        },
		computed: {

		},
		methods: {

		},
		mounted(){

		}
	}

</script>