<template>
	<main class="page__main">
		<div class="page__wrapper">
			<el-pagination></el-pagination>
			<h1>
				Сервисы
			</h1>
			<p class="p1">
				Мы предоставляем каталог сервисов для эффективного управления различными бизнес-процессами.
			</p>
			<ul class="list list--services">
				<li class="list__item">
					<icon-speech-recognition-small></icon-speech-recognition-small>
					<div class="wrapper">
						<h2>
							Распознавание речи
						</h2>
						<p class="p2">
							Автоматический процесс преобразования речевого сигнала в цифровую информацию (например, текстовые данные). Чтобы повысить точность распознавания, уточните языковую модель, которую должен использовать сервис. Модель должна соответствовать тематике речи.
						</p>
						<table class="table table--light">
							<thead>
								<tr>
									<th></th>
									<th class="text-right">
										<div class="p4 m-0">
											Стоимость (за 1 мин)
										</div>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="h3 m-0">
											VS Robotics
										</div>
									</td>
									<td class="text-right">
										<div class="h3 m-0">
											от 1,07 руб
										</div>
									</td>
									<td>
										<a href="#" class="btn btn--secondary btn--sm btn--lg-normal">
											Подключить
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<div class="h3 m-0">
											Шмяндекс
										</div>
									</td>
									<td class="text-right">
										<div class="h3 m-0">
											от 1,07 руб
										</div>
									</td>
									<td>
										<a href="#" class="btn btn--secondary btn--sm btn--lg-normal">
											Подключить
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<li class="list__item">
					<icon-speech-analytics-small></icon-speech-analytics-small>
					<div class="wrapper">
						<h2>
							Речевая аналитика
						</h2>
						<p class="p2">
							Речевая аналитика преобразует звонки в текст. Это позволяет быстро находить диалоги с нужными ключевыми словами, контролировать соблюдение скриптов, оценивать работу операторов, изучать запросы клиентов. В итоге вы получаете информацию, которая помогает повысить число успешных сделок.
						</p>
						<table class="table table--light">
							<thead>
								<tr>
									<th></th>
									<th class="text-right">
										<div class="p4 m-0">
											Стоимость (за 1 мин)
										</div>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="h3 m-0">
											VS Robotics
										</div>
									</td>
									<td class="text-right">
										<div class="h3 m-0">
											от 1,07 руб
										</div>
									</td>
									<td>
										<a href="#" class="btn btn--secondary btn--sm btn--lg-normal">
											Подключить
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<li class="list__item">
					<icon-robot-operator-small></icon-robot-operator-small>
					<div class="wrapper">
						<h2>
							Робот-оператор
						</h2>
						<p class="p2">
							Речевая аналитика преобразует звонки в текст. Это позволяет быстро находить диалоги с нужными ключевыми словами, контролировать соблюдение скриптов, оценивать работу операторов, изучать запросы клиентов. В итоге вы получаете информацию, которая помогает повысить число успешных сделок.
						</p>
						<table class="table table--light">
							<thead>
								<tr>
									<th></th>
									<th class="text-right">
										<div class="p4 m-0">
											Стоимость (за 1 мин)
										</div>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="h3 m-0">
											VS Robotics
										</div>
									</td>
									<td class="text-right">
										<div class="h3 m-0">
											от 1,07 руб
										</div>
									</td>
									<td>
										<a href="#" class="btn btn--secondary btn--sm btn--lg-normal">
											Подключить
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<div class="h3 m-0">
											Шмяндекс
										</div>
									</td>
									<td class="text-right">
										<div class="h3 m-0">
											от 1,07 руб
										</div>
									</td>
									<td>
										<a href="#" class="btn btn--secondary btn--sm btn--lg-normal">
											Подключить
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<div class="h3 m-0">
											Гугляндекс
										</div>
									</td>
									<td class="text-right">
										<div class="h3 m-0">
											от 24 руб
										</div>
									</td>
									<td>
										<a href="#" class="btn btn--secondary btn--sm btn--lg-normal">
											Подключить
										</a>
									</td>
								</tr>
								<tr>
									<td>
										<div class="h3 m-0">
											ЦРТ
										</div>
									</td>
									<td class="text-right">
										<div class="h3 m-0">
											от 24 руб
										</div>
									</td>
									<td>
										<a href="#" class="btn btn--secondary btn--sm btn--lg-normal">
											Подключить
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
			</ul>
		</div>
	</main>
</template>

<script>

	import ElPagination from '../components/ElPagination';

	import IconSpeechRecognitionSmall from '../components/icons/icon_files/IconSpeechRecognitionSmall';
	import IconSpeechAnalyticsSmall from '../components/icons/icon_files/IconSpeechAnalyticsSmall';
	import IconRobotOperatorSmall from '../components/icons/icon_files/IconRobotOperatorSmall';

	export default {
		name: 'PageServices',
		components: {
			ElPagination,
			IconSpeechRecognitionSmall,
			IconSpeechAnalyticsSmall,
			IconRobotOperatorSmall
		},
		data(){
			return {
			}
		},
		methods: {

		},
		mounted(){

		}
	}

</script>