<template>
	<main class="page__main">
		<section class="section">
			<div class="page__wrapper">

				<div class="wrapper px-3 py-4">
					<h1>Иконки</h1>
					<table>
						<tr
							v-for="(row, r_index) in iconsTable"
							:key="`row_${r_index}`"
							>
							<td
								class="p-2"
								v-for="(icon, c_index) in row"
								:key="`col_${c_index}`"
								>
								<component
									v-bind:is="icon"
								></component>
							</td>
						</tr>
					</table>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Текст</h1>

					<h1>
						h1
					</h1>
					<h2>
						h2
					</h2>
					<h3>
						h3
					</h3>
					<h4>
						h4
					</h4>
					<p class="p1">
						p1
					</p>
					<p class="p2">
						p2
					</p>
					<p class="p3">
						p3
					</p>
					<p class="p4">
						p4
					</p>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Чекбокс</h1>
					<div class="control control--checkbox">
						<input id="test-checkbox" type="checkbox" class="control__input">
						<label for="test-checkbox" class="control__label">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus necessitatibus dolorem quaerat soluta sapiente architecto! Animi, quasi accusantium delectus laborum eos eaque natus aliquid rerum praesentium, in debitis laudantium ducimus.
						</label>
						<div class="control__msg control__msg--valid">
							valid
						</div>
						<div class="control__msg control__msg--invalid">
							Error description
						</div>
					</div>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Радио</h1>
					<div class="control control--radio">
						<input id="test-radio-1" name="test-radio" type="radio" class="control__input">
						<label for="test-radio-1" class="control__label">
							Lorem, ipsum dolor
						</label>
					</div>
					<div class="control control--radio">
						<input id="test-radio-2" name="test-radio" type="radio" class="control__input">
						<label for="test-radio-2" class="control__label">
							Lorem, ipsum dolor
						</label>
					</div>
					<div class="control control--radio">
						<input id="test-radio-3" name="test-radio" type="radio" class="control__input">
						<label for="test-radio-3" class="control__label">
							Lorem, ipsum dolor
						</label>
						<div class="control__msg control__msg--valid">
							valid
						</div>
						<div class="control__msg control__msg--invalid">
							Error description
						</div>
					</div>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Текст</h1>
					<div class="control control--text control--invalid">
						<label for="" class="control__label">
							ФИО <sup class="text--error">*</sup>
						</label>
						<input type="text" class="control__input">
						<div class="control__msg control__msg--valid">
							valid
						</div>
						<div class="control__msg control__msg--invalid">
							Error description
						</div>
					</div>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Селекты</h1>
					<h3>Простой</h3>
					<div class="control control--select">
						<label for="" class="control__label">
							ФИО <sup class="text--error">*</sup>
						</label>
						<select name="" id="" class="control__input">
							<option value="1">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore rerum modi temporibus illum consectetur adipisci repellendus neque ab fugiat eveniet blanditiis officiis aliquid eos cumque a, aperiam quo distinctio eum!
							</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
						<div class="control__msg control__msg--valid">
							Ok
						</div>
						<div class="control__msg control__msg--invalid">
							Ошибка
						</div>
					</div>
					<h3>Кастомный одиночный</h3>
					<multiselect
						v-model="selected"
						:multiple="false"
						:options="options">
					</multiselect>
					<h3>Кастомный множественный</h3>
					<multiselect
						v-model="selected"
						:multiple="true"
						:options="options">
					</multiselect>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Файл</h1>
					<h3>Простой</h3>
					<div class="control control--file">
						<label for="" class="control__label">
							Приложите файл
						</label>
						<input type="file" class="control__input">
						<div class="control__msg control__msg--valid">
							valid
						</div>
						<div class="control__msg control__msg--invalid">
							Error description
						</div>
					</div>
					<h3>Кастомный обычный</h3>
					<aigrid-file
						:placeholder="'Выберите файл'"
						>
					</aigrid-file>
					<h3>Кастомный drag&drop</h3>
					<aigrid-file
						:drop="true"
						accept=".png,.jpg"
						multiple
						name="multiple-aigrid-file"
						v-model="multipleAigridFileValue"
						>
						<p>
							Размер файла до 100 мб, формат wav
						</p>
					</aigrid-file>
				</div>

				<div class="wrapper px-3 py-4 dropdown__hlp">
					<h1>Dropdown</h1>

					<h3>Белый</h3>

					<aigrid-dropdown-menu class="dropdown--white dropdown--visible">
						<template v-slot:activator>
							<!-- activator element -->
						</template>
						<div class="py-3">
							<div class="control control--text">
								<label for="" class="control__label">
									Эл. почта <sup class="text--error">*</sup>
								</label>
								<input type="email" class="control__input">
								<div class="control__msg control__msg--invalid">
									Введите почту
								</div>
							</div>
							<div class="control control--text">
								<label for="" class="control__label">
									Пароль <sup class="text--error">*</sup>
								</label>
								<input type="password" class="control__input">
								<div class="control__msg control__msg--invalid">
									Введите пароль
								</div>
							</div>
							<a href="#" class="d-block p4 text--info pt-1 mb-4">
								Забыли пароль?
							</a>
							<button class="btn btn--primary w-100 mb-3">
								Войти
							</button>
						</div>
					</aigrid-dropdown-menu>

					<div class="mb-3"></div>
					<h3>Средний</h3>
					<aigrid-dropdown-menu class="dropdown--visible">
						<template v-slot:activator>
							<!-- activator element -->
						</template>
						<template v-slot:header>
							<div class="my-2 py-1">
								<div class="p1 pb-1">
									Александр Константинопольский
								</div>
								<div class="p4 text--muted mb-1">
									Баланс
								</div>
								<div class="h3 mb-0">
									12 780 <span class="text--rouble">p</span>
								</div>
							</div>
						</template>
						<ul class="menu">
							<li class="menu__item">
								<div class="nav__item">
									<a href="#" class="link">
										Профиль
									</a>
								</div>
							</li>
							<li class="menu__item menu__item--active">
								<div class="nav__item">
									<a href="#" class="link">
										Компания
									</a>
								</div>
							</li>
							<li class="menu__item">
								<div class="nav__item">
									<a href="#" class="link">
										Баланс и биллинг
									</a>
								</div>
							</li>
						</ul>
						<template v-slot:footer>
							<ul class="menu">
								<li class="menu__item">
									<div class="nav__item">
										<a href="#" class="link">
											Выход
										</a>
									</div>
								</li>
							</ul>
						</template>
					</aigrid-dropdown-menu>

					<h3 class="mt-5">Маленький</h3>
					<aigrid-dropdown-menu class="dropdown--sm dropdown--visible">
						<template v-slot:activator>
							<!-- activator element -->
						</template>
						<ul class="list">
							<li class="list__item">
								<a href="#" class="link">
									Отметить все как прочитанные
								</a>
							</li>
							<li class="list__item">
								<a href="#" class="link">
									Настройки
								</a>
							</li>
						</ul>
					</aigrid-dropdown-menu>

					<div class="mb-3"></div>
					<aigrid-dropdown-menu class="dropdown--sm dropdown--visible">
						<template v-slot:activator>
							<!-- activator element -->
						</template>
						<ul class="list">
							<li class="list__item">
								<a href="#" class="link">
									Отметить как прочитанное
								</a>
							</li>
						</ul>
					</aigrid-dropdown-menu>

					<h3 class="mt-5">Большой</h3>
					<aigrid-dropdown-menu class="dropdown--lg dropdown--visible">
						<template v-slot:activator>
							<!-- activator element -->
						</template>
						<template v-slot:header>
							<div class="d-flex align-items-center">
								<div class="p1 m-0 mr-3">
									Уведомления
								</div>
								<aigrid-dropdown-menu class="dropdown--sm ml-auto">
									<template v-slot:activator>
										<button class="btn btn--action btn--sm ml-auto">
											<icon-more-vertical></icon-more-vertical>
										</button>
									</template>
									<ul class="list">
										<li class="list__item">
											<a href="#" class="link">
												Отметить все как прочитанные
											</a>
										</li>
										<li class="list__item">
											<a href="#" class="link">
												Настройки
											</a>
										</li>
									</ul>
								</aigrid-dropdown-menu>
							</div>
						</template>
						<ul class="list">
							<li class="list__item d-flex align-items-start px-3 py-2" v-for="index in 10" :key="`notification_${index}`">
								<div class="figure figure--dot text--success mr-2 mt-1"></div>
								<div class="wrapper mr-2">
									<div class="p-reg mb-1">
										Выход из системы
									</div>
									<div class="p3 mb-1">
										Вы вышли из аккаунта. IP-адрес: 89.208.104.100
									</div>
									<div class="p4 text--muted mb-0">
										12 минут назад
									</div>
								</div>
								<aigrid-dropdown-menu class="dropdown--sm ml-auto">
									<template v-slot:activator>
										<button class="btn btn--action btn--sm ml-auto">
											<icon-more-vertical></icon-more-vertical>
										</button>
									</template>
									<ul class="list">
										<li class="list__item">
											<a href="#" class="link">
												Удалить
											</a>
										</li>
									</ul>
								</aigrid-dropdown-menu>
							</li>
						</ul>
					</aigrid-dropdown-menu>
				</div>

				<aigrid-dropdown-menu>
					<template v-slot:activator>
						<button class="btn btn--primary mb-4">
							click to open
						</button>
					</template>
					<template v-slot:header>
						<div class="my-2 py-1">
							<div class="p1 pb-1">
								Александр Константинопольский
							</div>
							<div class="p4 text--muted mb-1">
								Баланс
							</div>
							<div class="h3 mb-0">
								12 780 <span class="text--rouble">p</span>
							</div>
						</div>
					</template>
					<ul class="menu">
						<li class="menu__item">
							<div class="nav__item">
								<a href="#" class="link">
									Профиль
								</a>
							</div>
						</li>
						<li class="menu__item menu__item--active">
							<div class="nav__item">
								<a href="#" class="link">
									Компания
								</a>
							</div>
						</li>
						<li class="menu__item">
							<div class="nav__item">
								<a href="#" class="link">
									Баланс и биллинг
								</a>
							</div>
						</li>
					</ul>
					<template v-slot:footer>
						<ul class="menu">
							<li class="menu__item">
								<div class="nav__item">
									<a href="#" class="link">
										Выход
									</a>
								</div>
							</li>
						</ul>
					</template>
				</aigrid-dropdown-menu>

				<div class="wrapper px-3 py-4">
					<h1>Табы</h1>

					<h3>Горизонтальные</h3>
					<aigrid-tabs>
						<aigrid-tab name="О решении">
							This is the content of the О решении
						</aigrid-tab>
						<aigrid-tab name="API">
							This is the content of the API
						</aigrid-tab>
						<aigrid-tab name="Стоимость">
							<aigrid-tabs :vertical="true">
								<aigrid-tab name="Распознавание речи">
									This is the content of the Распознавание речи
								</aigrid-tab>
								<aigrid-tab name="Масовая: распознавание речи">
									This is the content of the Масовая: распознавание речи
								</aigrid-tab>
							</aigrid-tabs>
						</aigrid-tab>
					</aigrid-tabs>

					<h3>Вертикальные</h3>
					<aigrid-tabs :vertical="true">
						<aigrid-tab name="Распознавание речи">
							This is the content of the Распознавание речи
						</aigrid-tab>
						<aigrid-tab name="Масовая: распознавание речи">
							This is the content of the Масовая: распознавание речи
						</aigrid-tab>
					</aigrid-tabs>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Код</h1>
					<div class="widget widget--codebox">
						<div class="widget__header">
							CURL
						</div>
<pre class="widget__main">
curl --location --request POST 'http://10.0.102.121:90/activebc/abc_rec'
--header 'Content-Type: multipart/form-data'
--header 'token: ab747d125f' --form=file=@[Путь_к_файлу]


</pre>
					</div>
				</div>

				<div class="wrapper px-3 py-4">
					<h1>Таблицы</h1>
					<h3>Обычная</h3>
					<table class="table table--simple">
						<thead>
							<tr>
								<th>Количество единиц тарификации</th>
								<th>Стоимость 1 единицы тарификации, руб.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>0 – 200</td>
								<td>Бесплатно</td>
							</tr>
							<tr>
								<td>200 – 10 000</td>
								<td>0,10 руб.</td>
							</tr>
							<tr>
								<td>от 10 000</td>
								<td>0,07 руб.</td>
							</tr>
						</tbody>
					</table>
					<h3 class="mt-5">С прозрачной шапкой</h3>
					<table class="table table--light">
						<thead>
							<tr>
								<th>Количество единиц тарификации</th>
								<th>Стоимость 1 единицы тарификации, руб.</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>0 – 200</td>
								<td>Бесплатно</td>
							</tr>
							<tr>
								<td>200 – 10 000</td>
								<td>0,10 руб.</td>
							</tr>
							<tr>
								<td>от 10 000</td>
								<td>0,07 руб.</td>
							</tr>
						</tbody>
					</table>
				</div>


				<div class="wrapper px-3 py-4">
					<h1>Алерты</h1>

					<div class="wrapper wrapper--alerts-top">
						<aigrid-alert :alert-type="'info'" wide>
							<span class="text--info">Info</span> Письмо со ссылкой для подтверждения Вашего адреса электронной почты было отправлено. Проверьте почту.
						</aigrid-alert>

						<aigrid-alert :alert-type="'warning'" wide>
							<span class="text--warning">Warning</span> Письмо со ссылкой для подтверждения Вашего адреса электронной почты было отправлено. Проверьте почту.
						</aigrid-alert>

						<aigrid-alert :alert-type="'error'" wide>
							<span class="text--error">Warning</span> Письмо со ссылкой для подтверждения Вашего адреса электронной почты было отправлено. Проверьте почту.
						</aigrid-alert>

						<aigrid-alert :alert-type="'done'" wide>
							<span class="text--success">Warning</span> Письмо со ссылкой для подтверждения Вашего адреса электронной почты было отправлено. Проверьте почту.
						</aigrid-alert>
					</div>

					<aigrid-alert :alert-type="'info'">
						<span class="text--info">Info</span> Письмо со ссылкой для подтверждения Вашего адреса электронной почты было отправлено. Проверьте почту.
					</aigrid-alert>

					<aigrid-alert :alert-type="'warning'">
						<span class="text--warning">Warning</span> Письмо со ссылкой для подтверждения Вашего адреса электронной почты было отправлено. Проверьте почту.
					</aigrid-alert>

					<aigrid-alert :alert-type="'error'">
						<span class="text--error">Warning</span> Письмо со ссылкой для подтверждения Вашего адреса электронной почты было отправлено. Проверьте почту.
					</aigrid-alert>

					<aigrid-alert :alert-type="'done'">
						<span class="text--success">Warning</span> Письмо со ссылкой для подтверждения Вашего адреса электронной почты было отправлено. Проверьте почту.
					</aigrid-alert>

				</div>

			</div>

		</section>
	</main>
</template>

<script>

	import allIcons from '../components/icons/allIcons.js';
	import AigridFile from '../components/AigridFile';
	import AigridDropdownMenu from '../components/AigridDropdownMenu';
	import AigridTabs from '../components/AigridTabs';
	import AigridTab from '../components/AigridTab';
	import AigridAlert from '../components/AigridAlert';
	import Multiselect from 'vue-multiselect';

	export default {
		name: 'PageUi',
		components: {
			AigridFile,
			Multiselect,
			AigridDropdownMenu,
			AigridTabs,
			AigridTab,
			AigridAlert,
			...allIcons
		},
		data(){
			return {
				allIconsNames: Object.keys(allIcons),
				selected: null,
				options: ['list', 'of', 'options'],
				multipleAigridFileValue: []
			}
		},
        computed: {
            iconsTable(){
                let rows = [],
                    col = [];
                this.allIconsNames.map( (name, index) => {
                    col.push(name);
                    if( (index + 1) % 3 === 0 ){
                        rows.push(col);
                        col = [];
                    }
                });
                rows.push(col);
                return rows;
            }
        },
		mounted(){

		}
	}
</script>

<style lang="postcss">
	.dropdown__hlp{
		& > .dropdown{
			& > .dropdown__wrapper{
				position: relative;
			}
		}
	}
</style>