<template>
	<section v-show="isActive"
			:aria-hidden="! isActive"
			class="control control--tab"
			:id="computedId"
			role="tabpanel"
			>
		<slot></slot>
	</section>
</template>

<script>

	export default {
		name: 'AigridTab',
		props: {
			id: { default: null },
			name: { required: true },
			prefix: { default: '' },
			suffix: { default: '' },
			isDisabled:{ default: false }
		},
		data(){
			return {
				isActive: this.active,
				isVisible: true,
			}
		},
		computed: {
			header() {
				return this.prefix + this.name + this.suffix;
			},
			computedId() {
				return this.id ? this.id : this.name.toLowerCase().replace(/ /g, '-');
			},
			hash() {
				return this.isDisabled ? '#' : `#${this.computedId}`;
			}
		}
	}

</script>