<template>

	<div class="dropdown" :class="{'dropdown--visible': isVisible}" v-click-outside="hideMenu">
		<div class="dropdown__activator" @click="toggleMenu">
			<slot name="activator"></slot>
		</div>
		<div class="dropdown__wrapper" ref="wrapper" :style="wrapperStyle">
			<div class="dropdown__indicator" :style="indicatorStyle"></div>
			<div class="dropdown__header" v-if="hasHeader">
				<slot name="header"></slot>
			</div>
			<aigrid-custom-scroll class="dropdown__main">
				<slot name="default"></slot>
			</aigrid-custom-scroll>
			<div class="dropdown__footer" v-if="hasFooter">
				<slot name="footer"></slot>
			</div>
		</div>
	</div>

</template>

<script>

	import {events} from '../events';

	import ClickOutside from 'vue-click-outside';
	import AigridCustomScroll from './AigridCustomScroll.vue';

	export default {
		name: 'AigridDropdown',
		props: {

		},
		directives: {
			ClickOutside
		},
		components: {
			AigridCustomScroll
		},
		data() {
			return{
				isVisible: false,
				shiftY: 0,
				shiftX: 0
			}
		},
		computed: {
			wrapperStyle(){
				return `transform: translateX(${this.shiftX}px) translateY(${this.shiftY}px);`;
			},
			indicatorStyle(){
				return `transform: translateX(${-this.shiftX}px);`;
			},
			hasHeader(){
				return !!this.$slots.header || !!this.$scopedSlots.header;
			},
			hasFooter(){
				return !!this.$slots.footer || !!this.$scopedSlots.footer;
			}
		},
		methods: {
			toggleMenu(){
				this.isVisible ? this.hideMenu() : this.showMenu();
			},
			showMenu(){
				let viewportWidth = document.querySelector('body').scrollWidth;
				this.isVisible = true;
				this.$nextTick(() => {
					let box = this.$refs.wrapper.getBoundingClientRect();
					if( box.x < 0 ){
						this.shiftX = -box.x;
					}else if( viewportWidth - (box.x + box.width) < 0 ){
						this.shiftX =  viewportWidth - (box.x + box.width);
					}
				});
			},
			hideMenu(){
				this.isVisible = false;
				this.shiftY = 0;
				this.shiftX = 0;
			}
		},
		mounted(){
			this.$evbus.$on(events.EV_APP_CLOSE_ALL_WINDOWS, () => {
				if( this.isVisible ){
					this.hideMenu();
				}
			});
		}
	}

</script>