<template>
	<div class="alert" :class="[{'alert--visible': isVisible, 'alert--wide': isWide}, `alert--${alertType}`]">
		<div class="page__wrapper" v-if="isWide">
			<div class="alert__icon">
				<component v-bind:is="`icon-${alertType}`"></component>
			</div>
			<p class="alert__text">
				<slot></slot>
			</p>
			<button class="btn btn--action alert__close" @click="toggleAlert">
				<icon-close></icon-close>
			</button>
		</div>
		<template v-else>
			<div class="alert__icon">
				<component v-bind:is="`icon-${alertType}`"></component>
			</div>
			<p class="alert__text">
				<slot></slot>
			</p>
			<button class="btn btn--action alert__close" @click="toggleAlert">
				<icon-close></icon-close>
			</button>
		</template>
	</div>
</template>

<script>

	import IconClose from './icons/icon_files/IconClose.vue';
	import IconInfo from './icons/icon_files/IconInfo.vue';
	import IconWarning from './icons/icon_files/IconWarning.vue';
	import IconError from './icons/icon_files/IconError.vue';
	import IconDone from './icons/icon_files/IconDone.vue';

	export default {
		name: 'AigridAlert',
		props: {
			alertType: {
				type: String,
				default: 'info',
				validator: function (val) {
					return ['info', 'done', 'warning', 'error'].includes(val);
				}
			},
			wide: {
				type: Boolean,
				default: false
			}
		},
		components: {
			IconClose,
			IconInfo,
			IconWarning,
			IconError,
			IconDone
		},
		data(){
			return {
				isWide: this.wide,
				isVisible: true,
			}
		},
		computed: {

		},
		methods: {
			toggleAlert(){
				this.isVisible = !this.isVisible;
			}
		}
	}

</script>