<template>
	<div
		class="control control--file-aigrid"
		:class="{
			'control--invalid': isInvalid,
			'control--disabled': $attrs.disabled,
			'control--file-aigrid-drop': dropEnabled
		}"
		>
		<input
			:id="`aigrid-file-${id}`"
			type="file"
			v-bind="$attrs"
			ref="input"
			@change="onChange"
			>
		<label
			:for="`aigrid-file-${id}`"
			class="control__input"
			@click.prevent=""
			@dragenter="onFileDragenter"
			@dragover="onFileDragover"
			@dragleave ="onFileDragleave "
			@drop="onFileDrop"
			>

			<template v-if="!dropEnabled">
				<span v-if="isSelected">
					<span v-html="selectedName"></span>
				</span>
				<span class="control__placeholder" v-if="!isSelected">
					{{ placeholder }}
				</span>
				<button
					:disabled="$attrs.disabled"
					@click.prevent="onSelectRemove"
					class="btn btn--action">
					<icon-delete v-if="isSelected"></icon-delete>
					<icon-attachment v-if="!isSelected"></icon-attachment>
				</button>
			</template>

			<template v-if="dropEnabled">
				<template v-if="!isSelected">
					<icon-upload></icon-upload>
					<h4>
						Перетащите файл сюда
					</h4>
					<p>
						или выберите файл вручную
					</p>
					<button
						:disabled="$attrs.disabled"
						@click.prevent="openFileSelector"
						class="btn btn--primary"
						>
						Выбрать файл
					</button>
					<slot></slot>
				</template>
				<template v-else>
					<p class="mb-3">
						<span v-html="selectedName"></span>
					</p>
					<button
						:disabled="$attrs.disabled"
						@click.prevent="onRemove"
						class="btn btn--primary"
						>
						Удалить файл
					</button>
				</template>
			</template>

		</label>
		<div class="control__msg control__msg--valid" v-if="hasMessageValid">
			<slot name="message_valid"></slot>
		</div>
		<div class="control__msg control__msg--invalid" v-if="hasMessageinValid">
			<slot name="message_invalid"></slot>
		</div>
	</div>
</template>


<script>

	import IconAttachment from './icons/icon_files/IconAttachment.vue';
	import IconDelete from './icons/icon_files/IconDelete.vue';
	import IconUpload from './icons/icon_files/IconUpload.vue';

	export default {
		name: 'AigridFile',
		inheritAttrs: false,
		props: {
			value: {
				type: Array,
				default: function(){
					return [];
				}
			},
			placeholder: {
				type: String,
				default: 'Файл не выбран'
			},
			invalid: {
				type: Boolean,
				default: false
			},
			drop: {
				type: Boolean,
				default: false
			}
		},
		components: {
			IconAttachment,
			IconDelete,
			IconUpload
		},
		data() {
			return{
				isInvalid: this.invalid,
				dropEnabled: this.drop,
				files: this.value,
				id: null
			}
		},
		computed: {
			isSelected(){
				return this.files.length;
			},
			selectedName(){
				if( this.isSelected ){
					return this.attributes.reduce((accum, curr, index) => {
						return `${accum}${curr.name}.${curr.extension}${index !== this.attributes.length-1 ? ',' : ''} <br>`
					}, '');
				}else{
					return '';
				}
			},
			attributes: function(){
				let resp = [];
				if( this.isSelected ){
					this.files.map( file => {
						resp.push({
							name: file.name.split('.').slice(0, -1).join('.'),
							size: file.size,
							extension: file.name.split('.').slice(-1).join('.')
						})
					});
				}
				return resp;
			},
			hasMessageValid(){
				return !!this.$slots.message_valid || !!this.$scopedSlots.message_valid;
			},
			hasMessageinValid(){
				return !!this.$slots.message_invalid || !!this.$scopedSlots.message_invalid;
			}
		},
		methods: {
			onChange(evt) {
				this.files = [...evt.target.files];
				this.$emit('input', this.files);
			},
			onSelectRemove(){
				!this.isSelected ? this.openFileSelector() : this.onRemove();
			},
			openFileSelector(){
				this.$refs['input'].click();
			},
			onRemove(){
				this.files = [];
				this.$refs['input'].setAttribute('type', ''); //reset hack
				this.$refs['input'].setAttribute('type', 'file');
				this.$emit('input', this.files);
			},
			onFileDragenter(evt) {
				this.$refs['input'].focus();
				evt.preventDefault();
				evt.stopPropagation();
			},
			onFileDragover(evt) {
				this.$refs['input'].focus();
				evt.preventDefault();
				evt.stopPropagation();
			},
			onFileDragleave(evt) {
				this.$refs['input'].blur();
				evt.preventDefault();
				evt.stopPropagation();
			},
			onFileDrop(evt) {
				if( !this.dropEnabled || this.$attrs.disabled !== undefined ){ return; }
				evt.preventDefault();
				evt.stopPropagation();
				this.$refs['input'].files = evt.dataTransfer.files;
				this.files = [...evt.dataTransfer.files];
				this.$emit('input', this.files);
			}
		},
		mounted(){
			this.id = this._uid
		}
	}
</script>