<template>
	<svg viewBox="0 0 962 526" fill="none" xmlns="http://www.w3.org/2000/svg" ref="svg">
		<g class="lines">
			<path
				v-if="!isMobile"
				class="line-start"
				d="M1 317L117.182 317L393.614 476"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-linecap="round"
				:stroke-dasharray="line_start.dasharray"
				:stroke-dashoffset="line_start.dashoffset"
				opacity="0"
				>
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_start_anim`"
					:dur="line_start.dur"
					:begin="line_start.begin"
					class="anim_start"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0"
					ref="start">
				</animate>
			</path>
			<path
				v-if="!isMobile"
				class="line-finish"
				d="M719.122 249L805.257 199L848.324 199L853.25 173.202C853.478 172.01 855.232 172.176 855.232 173.389V225.32C855.232 226.548 857.018 226.695 857.219 225.483L868.372 158.017C868.572 156.805 870.359 156.952 870.359 158.18V240.199C870.359 241.439 872.169 241.57 872.348 240.343L884.394 157.657C884.573 156.43 886.384 156.561 886.384 157.801V226.78C886.384 227.995 888.142 228.159 888.366 226.965L898.423 173.535C898.647 172.341 900.406 172.505 900.406 173.72V212.039C900.406 213.151 901.947 213.433 902.341 212.394L907.416 199H961"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-linecap="round"
				:stroke-dasharray="line_finish.dasharray"
				:stroke-dashoffset="line_finish.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_finish_anim`"
					:dur="line_finish.dur"
					:begin="line_finish.begin"
					class="anim_finish"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0"
					ref="finish">
				</animate>
			</path>
			<path
				class="line-video"
				d="M255 292.5V353.767L395 271.5L543 356.5"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-miterlimit="10"
				:stroke-dasharray="line_video.dasharray"
				:stroke-dashoffset="line_video.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_video_anim`"
					:dur="line_video.dur"
					:begin="line_video.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
			<path
				class="line-microphone"
				d="M463.664 471.187L563.872 413.274"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-miterlimit="10"
				:stroke-dasharray="line_microphone.dasharray"
				:stroke-dashoffset="line_microphone.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_microphone_anim`"
					:dur="line_microphone.dur"
					:begin="line_microphone.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
			<path
				class="line-dialog"
				d="M362.052 77.4962L409.351 50.1899L443.321 70.2946"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-miterlimit="10"
				:stroke-dasharray="line_dialog.dasharray"
				:stroke-dashoffset="line_dialog.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_dialog_anim`"
					:dur="line_dialog.dur"
					:begin="line_dialog.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
		</g>
		<g class="computer" :opacity="computer.opacity">
			<path
				class="shadow"
				d="M721.275 416.574L649.638 458.284C644.535 461.185 636.231 461.185 631.128 458.284L526.774 398.07C524.173 396.57 522.872 394.469 522.972 392.469V384.467L611.718 332.755L721.275 416.574Z"
				fill="#DCE6FF"
				:transform="`translate(${computer_shadow.from})`">
				<animateTransform
					v-if="isAnimated"
					:id="`${uid}_computer_shadow_anim`"
					:dur="computer_shadow.dur"
					:begin="computer_shadow.begin"
					:from="computer_shadow.form"
					:to="computer_shadow.to"
					attributeName="transform"
					type="translate"
					fill="freeze"
					repeatCount="1"
				/>
			</path>
			<path d="M562.491 334.656C567.594 331.755 575.898 331.755 581.001 334.656L685.355 394.87C690.458 397.771 690.458 402.672 685.355 405.572L631.527 436.68C626.424 439.58 618.12 439.58 613.017 436.68L508.663 376.466C503.561 373.565 503.561 368.664 508.663 365.763L562.491 334.656Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M508.564 376.465L612.918 436.679C618.021 439.58 626.325 439.58 631.428 436.679L685.256 405.572C687.657 404.172 688.958 402.271 689.058 400.471V408.673C689.058 410.573 687.757 412.574 685.256 414.074L631.428 445.181C626.325 448.082 618.021 448.082 612.918 445.181L508.564 384.967C505.963 383.467 504.662 381.367 504.762 379.366V371.364C504.862 373.165 506.163 375.065 508.564 376.465Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M555.088 349.26C559.991 334.156 559.991 321.253 559.991 315.952L568.695 310.951C568.695 313.151 568.695 316.552 568.395 320.853L639.132 361.663C639.132 369.164 639.132 391.57 625.425 414.175L546.184 368.464L555.088 349.26Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M560.091 315.951L639.232 361.662L647.936 356.661L568.795 310.95L560.091 315.951Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10"/>
			<path d="M625.524 414.174C639.232 391.569 639.232 369.164 639.232 361.662L647.936 356.661C647.936 364.062 647.936 384.467 637.13 407.472L625.524 414.174Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M443.73 15.5818C443.73 8.68016 448.633 5.87952 454.636 9.2803L748.288 178.719C754.291 182.22 759.194 190.622 759.194 197.624V394.369L443.73 212.327V15.5818Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M771 190.822V387.568L759.194 394.369V197.624" fill="white"/>
			<path d="M771 190.822V387.568L759.194 394.369V197.624" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M760.094 171.918C766.097 175.419 771 183.821 771 190.822L759.194 197.624C759.194 190.722 754.291 182.22 748.288 178.72" fill="white"/>
			<path d="M760.094 171.918C766.097 175.419 771 183.821 771 190.822L759.194 197.624C759.194 190.722 754.291 182.22 748.288 178.72" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M748.288 178.72L454.636 9.28048C452.235 7.88015 449.934 7.48006 448.133 8.0802L457.538 2.67895C459.539 0.578469 462.74 0.378423 466.442 2.47891L760.094 171.918L748.288 178.72Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M759.194 394.369V434.178C759.194 441.08 754.291 443.881 748.288 440.48L454.636 270.941C448.633 267.44 443.73 259.038 443.73 252.036V212.227L759.194 394.369Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M759.194 434.179V394.369L771 387.568V427.377C771 430.878 769.799 433.278 767.798 434.379L756.492 440.88C758.093 439.68 759.194 437.379 759.194 434.179Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M454.636 218.629L748.288 388.068V191.322L454.636 21.8833V218.629Z" fill="#DCE6FF" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<animate
				v-if="isAnimated"
				:id="`${uid}_computer_anim`"
				:dur="computer.dur"
				:begin="computer.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1"
				:ref="isMobileAndAnimated ? 'start' : 'computer'">
			</animate>
		</g>
		<g class="text" :opacity="computer.opacity">
			<path
				class="line-4-end"
				d="M625.825 293.046L497.158 218.829V223.63L625.825 297.847V293.046Z"
				fill="#21409A"
				:opacity="text_lines.opacity">
				<animate
					v-if="indefeniteAnimationEnabled"
					:dur="text_lines.dur"
					:begin="text_lines.begin"
					repeatCount="indefinite"
					fill="freeze"
					calcMode="discrete"
					attributeName="opacity"
					values="0;0;0;0; 0;0;0;0; 0;0;0;0; 0;1;1;1; 1;1;1;0">
				</animate>
			</path>
			<path
				class="line-4-start"
				d="M482.351 211.527L467.643 203.025V208.727L482.351 217.229V211.527Z"
				fill="#21409A"
				:opacity="text_lines.opacity">
				<animate
					v-if="indefeniteAnimationEnabled"
					:dur="text_lines.dur"
					:begin="text_lines.begin"
					repeatCount="indefinite"
					fill="freeze"
					calcMode="discrete"
					attributeName="opacity"
					values="0;0;0;0; 0;0;0;0; 0;0;0;0; 1;1;1;1; 1;1;1;0">
				</animate>
			</path>
			<path
				class="line-3-end"
				d="M605.514 258.338L497.158 195.723V200.524L605.514 263.039V258.338Z"
				fill="#21409A"
				:opacity="text_lines.opacity">
				<animate
					v-if="indefeniteAnimationEnabled"
					:dur="text_lines.dur"
					:begin="text_lines.begin"
					repeatCount="indefinite"
					fill="freeze"
					calcMode="discrete"
					attributeName="opacity"
					values="0;0;0;0; 0;0;0;0; 0;1;1;1; 1;1;1;1; 1;1;1;0">
				</animate>
			</path>
			<path
				class="line-3-start"
				d="M482.351 189.122L467.643 180.62V186.321L482.351 194.823V189.122Z"
				fill="#21409A"
				:opacity="text_lines.opacity">
				<animate
					v-if="indefeniteAnimationEnabled"
					:dur="text_lines.dur"
					:begin="text_lines.begin"
					repeatCount="indefinite"
					fill="freeze"
					calcMode="discrete"
					attributeName="opacity"
					values="0;0;0;0; 0;0;0;0; 1;1;1;1; 1;1;1;1; 1;1;1;0">
				</animate>
			</path>
			<path
				class="line-2-end"
				d="M664.545 270.04L497.158 173.418V178.219L664.545 274.841V270.04Z"
				fill="#21409A"
				:opacity="text_lines.opacity">
				<animate
					v-if="indefeniteAnimationEnabled"
					:dur="text_lines.dur"
					:begin="text_lines.begin"
					repeatCount="indefinite"
					fill="freeze"
					calcMode="discrete"
					attributeName="opacity"
					values="0;0;0;0; 0;1;1;1; 1;1;1;1; 1;1;1;1; 1;1;1;0">
				</animate>
			</path>
			<path
				class="line-2-start"
				d="M482.351 166.717L467.643 158.215V164.016L482.351 172.418V166.717Z"
				fill="#21409A"
				:opacity="text_lines.opacity">
				<animate
					v-if="indefeniteAnimationEnabled"
					:dur="text_lines.dur"
					:begin="text_lines.begin"
					repeatCount="indefinite"
					fill="freeze"
					calcMode="discrete"
					attributeName="opacity"
					values="0;0;0;0; 1;1;1;1; 1;1;1;1; 1;1;1;1; 1;1;1;0">
				</animate>
			</path>
			<path
				class="line-1-end"
				d="M690.458 262.739L497.158 151.213V155.914L690.458 267.44V262.739Z"
				fill="#21409A"
				:opacity="text_lines.opacity">
				<animate
					v-if="indefeniteAnimationEnabled"
					:dur="text_lines.dur"
					:begin="text_lines.begin"
					repeatCount="indefinite"
					fill="freeze"
					calcMode="discrete"
					attributeName="opacity"
					values="0;1;1;1; 1;1;1;1; 1;1;1;1; 1;1;1;1; 1;1;1;0">
				</animate>
			</path>
			<path
				class="line-1-start"
				d="M482.351 144.312L467.643 135.91V141.611L482.351 150.113V144.312Z"
				fill="#21409A"
				:opacity="text_lines.opacity">
				<animate
					v-if="indefeniteAnimationEnabled"
					:dur="text_lines.dur"
					:begin="text_lines.begin"
					repeatCount="indefinite"
					fill="freeze"
					calcMode="discrete"
					attributeName="opacity"
					values="1;1;1;1; 1;1;1;1; 1;1;1;1; 1;1;1;1; 1;1;1;0">
				</animate>
			</path>
			<animate
				v-if="isAnimated"
				:id="`${uid}_text_anim`"
				:dur="text.dur"
				:begin="text.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="dialog" transform="translate(40 135)" :opacity="dialog.opacity">
			<g transform="matrix(1, -0.5773502691896257, 0, 1, 0, 0)">
				<g transform="scale(0.85 1)">
					<path
						class="shadow"
						d="M382.877 113.506H298.877C294.477 113.506 290.877 117.106 290.877 121.506V165.506C290.877 169.906 294.477 173.506 298.877 173.506H322.577C324.577 173.506 326.477 174.306 327.877 175.706L335.677 183.506C338.577 186.406 343.277 186.406 346.177 183.506L353.977 175.706C355.377 174.306 357.277 173.506 359.277 173.506H382.877C387.277 173.506 390.877 169.906 390.877 165.506V121.506C390.877 117.106 387.277 113.506 382.877 113.506Z"
						fill="#DCE6FF"
						:transform="`translate(${dialog_shadow.from})`">
						<animateTransform
							v-if="isAnimated"
							:id="`${uid}_dialog_shadow_anim`"
							:dur="dialog_shadow.dur"
							:begin="dialog_shadow.begin"
							:from="dialog_shadow.form"
							:to="dialog_shadow.to"
							attributeName="transform"
							type="translate"
							fill="freeze"
							repeatCount="1"
						/>
					</path>
					<path d="M368.866 90H284.866C280.466 90 276.866 93.6 276.866 98V142C276.866 146.4 280.466 150 284.866 150H308.566C310.566 150 312.466 150.8 313.866 152.2L321.666 160C324.566 162.9 329.266 162.9 332.166 160L339.966 152.2C341.366 150.8 343.266 150 345.266 150H368.866C373.266 150 376.866 146.4 376.866 142V98C376.866 93.6 373.266 90 368.866 90Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path
						d="M302.866 126C306.18 126 308.866 123.314 308.866 120C308.866 116.686 306.18 114 302.866 114C299.552 114 296.866 116.686 296.866 120C296.866 123.314 299.552 126 302.866 126Z"
						fill="#21409A"
						transform="translate(0, 0)">
						<animateTransform
							v-if="indefeniteAnimationEnabled"
							attributeName="transform"
							type="translate"
							values="
								0 0;
								0 -5;
								0 0
							"
							begin="0s"
							dur="1s"
							repeatCount="indefinite">
						</animateTransform>
					</path>
					<path
						d="M326.866 126.5C330.18 126.5 332.866 123.814 332.866 120.5C332.866 117.186 330.18 114.5 326.866 114.5C323.552 114.5 320.866 117.186 320.866 120.5C320.866 123.814 323.552 126.5 326.866 126.5Z"
						fill="#21409A"
						transform="translate(0, 0)">
						<animateTransform
							v-if="indefeniteAnimationEnabled"
							attributeName="transform"
							type="translate"
							values="
								0 0;
								0 -5;
								0 0
							"
							begin="0.33s"
							dur="1s"
							repeatCount="indefinite">
						</animateTransform>
					</path>
					<path
						d="M350.866 127C354.18 127 356.866 124.314 356.866 121C356.866 117.686 354.18 115 350.866 115C347.552 115 344.866 117.686 344.866 121C344.866 124.314 347.552 127 350.866 127Z"
						fill="#21409A"
						transform="translate(0, 0)">
						<animateTransform
							v-if="indefeniteAnimationEnabled"
							attributeName="transform"
							type="translate"
							values="
								0 0;
								0 -5;
								0 0
							"
							begin="0.66s"
							dur="1s"
							repeatCount="indefinite">
						</animateTransform>
					</path>
				</g>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_dialog_anim`"
				:dur="dialog.dur"
				:begin="dialog.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="video" transform="translate(30 -90)" :opacity="video.opacity">
			<g transform="matrix(1, 0.5773502691896257, 0, 1, 0, 0)">
				<g transform="scale(0.85 1)">
					<path
						class="shadow"
						d="M373.939 245.03H221.939C216.439 245.03 211.939 240.53 211.939 235.03V139.03C211.939 133.53 216.439 129.03 221.939 129.03H373.939C379.439 129.03 383.939 133.53 383.939 139.03V235.03C383.939 240.63 379.539 245.03 373.939 245.03Z"
						fill="#DCE6FF"
						:transform="`translate(${video_shadow.from})`">
						<animateTransform
							v-if="isAnimated"
							:id="`${uid}_video_shadow_anim`"
							:dur="video_shadow.dur"
							:begin="video_shadow.begin"
							:from="video_shadow.form"
							:to="video_shadow.to"
							attributeName="transform"
							type="translate"
							fill="freeze"
							repeatCount="1"
						/>
					</path>
					<path d="M352 264H200C194.5 264 190 259.5 190 254V158C190 152.5 194.5 148 200 148H352C357.5 148 362 152.5 362 158V254C362 259.6 357.6 264 352 264Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M266.7 213.6L291.1 199.5C292.3 198.8 292.3 197.2 291.1 196.5L266.7 182.4C265.5 181.7 264.1 182.6 264.1 184V212.1C264.1 213.5 265.5 214.4 266.7 213.6Z" fill="#21409A"/>
					<path d="M328 250.5H202C200.9 250.5 200 249.6 200 248.5C200 247.4 200.9 246.5 202 246.5H328C329.1 246.5 330 247.4 330 248.5C330 249.6 329.1 250.5 328 250.5Z" fill="#21409A"/>
					<path
						d="M351.5 250.5H338.5C337.4 250.5 336.5 249.6 336.5 248.5C336.5 247.4 337.4 246.5 338.5 246.5H351.5C352.6 246.5 353.5 247.4 353.5 248.5C353.5 249.6 352.6 250.5 351.5 250.5Z"
						fill="#21409A"
						>
					</path>
					<path
						d="M347.5 242.5H342.5C341.4 242.5 340.5 241.6 340.5 240.5C340.5 239.4 341.4 238.5 342.5 238.5H347.5C348.6 238.5 349.5 239.4 349.5 240.5C349.5 241.6 348.6 242.5 347.5 242.5Z"
						fill="#21409A"
						>
					</path>
					<path
						d="M346.5 234.5H343.5C342.4 234.5 341.5 233.6 341.5 232.5C341.5 231.4 342.4 230.5 343.5 230.5H346.5C347.6 230.5 348.5 231.4 348.5 232.5C348.5 233.6 347.6 234.5 346.5 234.5Z"
						fill="#21409A"
						>
					</path>
					<path
						d="M227 253C229.485 253 231.5 250.985 231.5 248.5C231.5 246.015 229.485 244 227 244C224.515 244 222.5 246.015 222.5 248.5C222.5 250.985 224.515 253 227 253Z"
						fill="#21409A"
						transform="translate(0, 0)">
						<animateTransform
							v-if="indefeniteAnimationEnabled"
							attributeName="transform"
							type="translate"
							from="-20 0"
							to="90 0"
							begin="0s"
							dur="20s"
							repeatCount="indefinite"
						/>
					</path>
				</g>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_video_anim`"
				:dur="video.dur"
				:begin="video.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="message" :transform="`translate(${message_transform.from})`" :opacity="message.opacity">
			<g transform="matrix(1, 0.5773502691896257, 0, 1, 0, 0)">
				<g transform="scale(0.95 1)">
					<path d="M395 163H613C616.3 163 619 160.3 619 157V93C619 89.7 616.3 87 613 87H395C391.7 87 389 89.7 389 93V157C389 160.3 391.7 163 395 163Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M426 145C437.046 145 446 136.046 446 125C446 113.954 437.046 105 426 105C414.954 105 406 113.954 406 125C406 136.046 414.954 145 426 145Z" fill="#21409A"/>
					<path d="M421.6 133.8L435.4 125.8C436.1 125.4 436.1 124.5 435.4 124.1L421.6 116.1C420.9 115.7 420.1 116.2 420.1 117V132.9C420.1 133.7 420.9 134.2 421.6 133.8Z" fill="white"/>
					<g class="lines">
						<path
							:d="`M${457.8 + 8.3*index} ${109 +3*(index%2 === 0 ? index%6 : index%3)}v${33 - 3*(index%2 === 0 ? index%6 : index%3)*2}`"
							v-for="index in 17"
							:key="`wave_${index}`"
							stroke-linecap="round"
							stroke-width="4"
							stroke="#21409A"
							>
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="2s"
								:begin="message_waves[index-1].begin"
								attributeName="d"
								:values="`
									M${457.8 + 8.3*index} 109v33;
									M${457.8 + 8.3*index} 118v13;
									M${457.8 + 8.3*index} 109v33;
								`"
								repeatCount="indefinite">
							</animate>
						</path>
					</g>
				</g>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_message_anim`"
				:dur="message.dur"
				:begin="message.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
			<animateTransform
				v-if="isAnimated"
				:id="`${uid}_message_transform_anim`"
				:dur="message_transform.dur"
				:begin="message_transform.begin"
				:from="message_transform.form"
				:to="message_transform.to"
				attributeName="transform"
				type="translate"
				fill="freeze"
				repeatCount="1"
			/>
		</g>
		<g class="microphone" :opacity="microphone.opacity">
			<path
				class="shadow"
				d="M394.205 475.388L437.928 450.083C457.438 438.78 489.055 438.88 508.565 450.083C528.075 461.385 528.075 479.589 508.565 490.892C508.565 490.892 508.565 490.892 508.465 490.892L464.842 516.198C445.332 527.4 413.716 527.4 394.205 516.198C374.795 504.895 374.695 486.591 394.205 475.388Z" fill="#DCE6FF">
			</path>
			<path d="M475.047 488.092C475.047 480.99 470.345 473.888 461.04 468.487C442.33 457.685 412.014 457.685 393.305 468.487C383.9 473.888 379.197 480.99 379.297 488.092V497.294C379.197 504.395 383.9 511.497 393.305 516.898C412.014 527.701 442.33 527.701 461.04 516.898C470.345 511.497 475.047 504.395 475.047 497.394V488.092Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M379.498 486.191C379.398 493.093 384.1 500.094 393.405 505.395C412.014 515.898 442.13 515.898 460.74 505.395C470.045 500.094 474.647 493.193 474.647 486.291" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M415.416 438.58C415.416 436.88 416.517 435.079 418.818 433.779C423.42 431.178 430.824 431.178 435.426 433.779C437.728 435.079 438.828 436.78 438.828 438.58V488.292C438.828 489.992 437.728 491.792 435.426 493.093C430.824 495.693 423.42 495.693 418.818 493.093C416.517 491.792 415.416 489.992 415.416 488.292V438.58Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M479.049 367.364C479.049 363.463 477.648 360.762 475.447 359.462L469.744 356.161C467.543 354.961 464.541 355.061 461.14 357.061C454.436 360.962 448.933 370.464 448.933 378.266V385.368V414.775C448.933 417.975 448.533 420.976 447.933 423.577C445.331 422.776 442.53 421.676 439.729 420.076C421.119 409.373 406.011 383.167 406.011 361.762V332.355V325.254C406.011 321.353 404.61 318.652 402.409 317.352L396.706 314.051C394.505 312.851 391.504 313.051 388.102 314.951C381.398 318.852 375.896 328.355 375.896 336.156V343.258V372.665C375.896 397.671 393.605 428.278 415.316 440.781C420.819 443.981 426.122 445.682 430.924 446.082C430.924 446.082 430.924 446.082 431.024 446.082C431.624 446.082 432.125 446.182 432.725 446.182C432.825 446.182 432.925 446.182 432.925 446.182C433.425 446.182 433.926 446.182 434.426 446.182C434.526 446.182 434.626 446.182 434.626 446.182C435.126 446.182 435.626 446.082 436.127 445.982C436.227 445.982 436.227 445.982 436.327 445.982C436.827 445.882 437.327 445.782 437.928 445.682C439.729 445.282 441.429 444.581 443.03 443.781L443.23 443.681L467.643 429.578C474.747 425.477 479.149 416.675 479.149 404.172V374.765L479.049 367.364Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M469.544 356.161C467.343 354.961 464.341 355.161 460.939 357.061C454.236 360.962 448.733 370.464 448.733 378.266V385.368V414.774C448.733 429.678 441.329 438.48 430.624 438.78C426.021 438.88 420.719 437.38 415.216 434.179C396.606 423.476 381.498 397.27 381.498 375.865V346.459V339.357C381.498 331.555 387.001 322.053 393.705 318.152C397.106 316.252 400.108 316.052 402.309 317.252L401.809 316.952L396.506 313.951C394.305 312.751 391.303 312.951 387.902 314.851C381.198 318.752 375.695 328.254 375.695 336.056V343.158V372.565C375.695 397.57 393.404 428.178 415.116 440.68C420.619 443.881 425.821 445.582 430.524 445.982C430.924 445.982 431.224 445.982 431.624 445.982C431.824 445.982 431.924 445.982 432.125 445.982C432.325 445.982 432.625 445.982 432.825 445.982C436.527 445.982 439.829 445.081 442.73 443.481L442.63 443.381C442.93 443.281 443.13 443.081 443.43 442.981L442.83 443.381C449.934 439.28 454.336 430.478 454.336 417.975V388.568V381.467C454.336 373.665 459.839 364.163 466.542 360.262C469.944 358.361 472.946 358.161 475.147 359.362L469.544 356.161Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M467.043 376.266C467.043 398.171 449.334 415.875 427.422 415.875C405.511 415.875 387.802 398.171 387.802 376.266V260.739C387.802 238.834 405.511 221.13 427.422 221.13C449.334 221.13 467.043 238.834 467.043 260.739V376.266Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M469.644 324.153C469.644 321.353 468.743 318.452 467.043 315.751V324.153C467.043 329.955 463.141 335.856 455.437 340.257C439.929 349.159 414.816 349.159 399.408 340.257C391.704 335.856 387.902 330.055 387.802 324.153V324.053V315.751C386.101 318.452 385.2 321.353 385.2 324.153V365.063C385.2 371.364 389.302 377.566 397.507 382.367C414.015 391.869 440.729 391.869 457.137 382.367C465.342 377.666 469.444 371.364 469.544 365.163L469.644 324.153Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M388.302 288.445C391.103 294.447 394.205 296.747 399.508 299.748C409.012 305.149 422.82 307.049 435.326 305.749C435.326 305.749 440.329 305.549 440.329 300.548C440.329 295.547 435.326 295.947 435.326 295.947C422.92 297.247 409.613 295.147 400.108 289.545C392.304 285.044 388.402 279.143 388.402 273.142" fill="#21409A"/>
			<path d="M388.302 271.741C391.103 277.742 394.205 280.042 399.508 283.043C409.012 288.444 422.82 290.345 435.326 289.045C435.326 289.045 440.329 288.844 440.329 283.843C440.329 278.842 435.326 279.242 435.326 279.242C422.92 280.543 409.613 278.442 400.108 272.841C392.304 268.34 388.402 262.438 388.402 256.437" fill="#21409A"/>
			<path d="M388.302 305.049C391.103 311.051 394.205 313.351 399.508 316.352C409.012 321.753 422.82 323.653 435.326 322.353C435.326 322.353 440.329 322.153 440.329 317.152C440.329 312.151 435.326 312.551 435.326 312.551C422.92 313.851 409.613 311.751 400.108 306.149C392.304 301.648 388.402 295.747 388.402 289.746" fill="#21409A"/>
			<path d="M467.543 284.645V289.746C467.543 296.147 463.441 302.149 455.937 306.55C454.236 307.55 452.435 308.45 450.534 309.25C450.534 309.25 447.132 310.35 447.132 314.851C447.132 319.353 450.534 318.852 450.534 318.852C452.435 318.052 454.436 317.352 456.137 316.352C463.941 312.051 467.443 308.35 467.443 301.949V294.147" fill="#21409A"/>
			<path d="M467.543 268.741V273.842C467.543 280.243 463.441 286.245 455.937 290.646C454.236 291.646 452.435 292.546 450.534 293.346C450.534 293.346 447.132 294.447 447.132 298.948C447.132 303.449 450.534 302.949 450.534 302.949C452.435 302.148 454.436 301.448 456.137 300.448C463.941 296.147 467.443 292.446 467.443 286.045V278.243" fill="#21409A"/>
			<path d="M467.543 252.837V257.938C467.543 264.34 463.441 270.341 455.937 274.742C454.236 275.742 452.435 276.642 450.534 277.443C450.534 277.443 447.132 278.543 447.132 283.044C447.132 287.545 450.534 287.045 450.534 287.045C452.435 286.245 454.436 285.544 456.137 284.544C463.941 280.243 467.443 276.542 467.443 270.141V262.339" fill="#21409A"/>
			<path d="M479.049 403.972C479.049 403.872 479.049 403.872 479.049 403.772V374.365V367.264C479.049 363.363 477.648 360.662 475.447 359.362L469.744 356.061C467.543 354.861 464.542 354.961 461.14 356.961C454.436 360.862 448.934 370.364 448.934 378.166V385.268V409.273" fill="white"/>
			<path d="M479.049 403.972C479.049 403.872 479.049 403.872 479.049 403.772V374.365V367.264C479.049 363.363 477.648 360.662 475.447 359.362L469.744 356.061C467.543 354.861 464.542 354.961 461.14 356.961C454.436 360.862 448.934 370.364 448.934 378.166V385.268V409.273" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M454.436 411.274V388.569V381.467C454.436 373.665 459.939 364.163 466.643 360.262C470.044 358.362 473.046 358.161 475.247 359.362L469.544 356.061C467.343 354.861 464.341 354.961 460.94 356.961C454.236 360.862 448.733 370.364 448.733 378.166V385.268V412.674" fill="white"/>
			<path d="M454.436 411.274V388.569V381.467C454.436 373.665 459.939 364.163 466.643 360.262C470.044 358.362 473.046 358.161 475.247 359.362L469.544 356.061C467.343 354.861 464.341 354.961 460.94 356.961C454.236 360.862 448.733 370.364 448.733 378.166V385.268V412.674" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<animate
				v-if="isAnimated"
				:id="`${uid}_microphone_anim`"
				:dur="microphone.dur"
				:begin="microphone.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
	</svg>
</template>

<script>

	import mixinAnimatedSvg from '../mixins/animatedSvg';

	export default {
		name: 'AnimationSpeechRecognition',
		mixins: [
			mixinAnimatedSvg
		],
		data(){
			return {
				uid: 'sr',
				animationName: 'speech-recognition',
			}
		},
		computed: {
			line_start(){
				return{
					begin: 'indefinite',
					dur: '0.5s',
					dasharray: this.isAnimated ? 450 : 0,
					dashoffset: this.isAnimated ? 450 : 0
				}
			},
			computer() {
				return {
					begin: this.isMobileAndAnimated ? 'indefinite' : `${this.uid}_line_start_anim.begin`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			computer_shadow(){
				return {
					begin: `${this.uid}_computer_anim.begin + 0.2s`,
					dur: '0.3s',
					from: this.isAnimated ? '-20 -10' : '0 0',
					to: '0 0'
				}
			},
			microphone() {
				return {
					begin: `${this.uid}_computer_anim.begin + 0.5s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			video() {
				return {
					begin: `${this.uid}_microphone_anim.end - 0.2s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			video_shadow() {
				return {
					begin: `${this.uid}_video_anim.begin + 0.2s`,
					dur: '0.3s',
					from: this.isAnimated ? '-20 20' : '0 0',
					to: '0 0'
				}
			},
			dialog() {
				return {
					begin: `${this.uid}_video_shadow_anim.end - 0.2s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			dialog_shadow() {
				return {
					begin: `${this.uid}_dialog_anim.begin + 0.2s`,
					dur: '0.5s',
					from: this.isAnimated ? '-10 -22' : '0 0',
					to: '0 0'
				}
			},
			message() {
				return {
					begin: `${this.uid}_dialog_shadow_anim.end - 0.2s`,
					dur: '0.2s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			message_waves(){
				return [
					{ begin: "0s" },
					{ begin: "0.2s" },
					{ begin: "0.5s" },
					{ begin: "0s" },
					{ begin: "0.8s" },
					{ begin: "0.1s" },
					{ begin: "0.5s" },
					{ begin: "0s", },
					{ begin: "0.4s" },
					{ begin: "0.6s" },
					{ begin: "0.2s" },
					{ begin: "0.7s" },
					{ begin: "0s" },
					{ begin: "0.1s" },
					{ begin: "0.7s"},
					{ begin: "0s"},
					{ begin: "0.5s" }
				]
			},
			message_transform() {
				return {
					begin: `${this.uid}_message_anim.end + 0.5s`,
					dur: '0.5s',
					from: this.isAnimated ? '20 -215' : '100 -255',
					to: '100 -255'
				}
			},
			line_microphone(){
				return{
					begin: `${this.uid}_message_transform_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 140 : 0,
					dashoffset: this.isAnimated ? 140 : 0
				}
			},
			line_dialog(){
				return{
					begin: `${this.uid}_message_transform_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 120 : 0,
					dashoffset: this.isAnimated ? 120 : 0
				}
			},
			line_video(){
				return{
					begin: `${this.uid}_message_transform_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 400 : 0,
					dashoffset: this.isAnimated ? 400 : 0
				}
			},
			text() {
				return {
					begin: `${this.uid}_line_microphone_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			text_lines() {
				return {
					begin: this.isAnimated ? `${this.uid}_text_anim.end` : '0s',
					dur: '3s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			line_finish(){
				return{
					begin: 'indefinite',
					dur: '1s',
					dasharray: this.isAnimated ? 720 : 0,
					dashoffset: this.isAnimated ? 720 : 0
				}
			}
		}
	}
</script>