<template>
	<svg viewBox="0 0 962 526" fill="none" xmlns="http://www.w3.org/2000/svg" ref="svg">
		<g class="lines">
			<path
				v-if="!isMobile"
				class="line-start"
				d="M-1 353L219 226.5"
				stroke="#DCE6FF"
				stroke-width="2"
				:stroke-dasharray="line_start.dasharray"
				:stroke-dashoffset="line_start.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_start_anim`"
					:dur="line_start.dur"
					:begin="line_start.begin"
					class="anim_start"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0"
					ref="start">
				</animate>
			</path>
			<path
				class="line-bank"
				d="M481.4 336.2L222.6 186.7"
				stroke="#DDE4FD"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linejoin="round"
				:stroke-dasharray="line_bank.dasharray"
				:stroke-dashoffset="line_bank.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_bank_anim`"
					:dur="line_bank.dur"
					:begin="line_bank.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
			<path
				class="line-phone"
				d="M680 225.5L225.9 487.6"
				stroke="#DDE4FD"
				stroke-width="2"
				stroke-miterlimit="10"
				:stroke-dasharray="line_phone.dasharray"
				:stroke-dashoffset="line_phone.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_phone_anim`"
					:dur="line_phone.dur"
					:begin="line_phone.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
			<path
				class="line-telecom"
				d="M407 311.4L665.8 460.9"
				stroke="#DDE4FD"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linejoin="round"
				:stroke-dasharray="line_telecom.dasharray"
				:stroke-dashoffset="line_telecom.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_telecom_anim`"
					:dur="line_telecom.dur"
					:begin="line_telecom.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
			<path
				v-if="!isMobile"
				class="line-finish"
				d="M695.084 251L812.268 317L876.368 317L881.294 291.202C881.521 290.01 883.276 290.176 883.276 291.389V343.32C883.276 344.548 885.062 344.695 885.262 343.483L896.416 276.017C896.616 274.805 898.402 274.952 898.402 276.18V358.199C898.402 359.439 900.213 359.57 900.392 358.343L912.438 275.657C912.616 274.43 914.427 274.561 914.427 275.801V344.78C914.427 345.995 916.185 346.159 916.41 344.965L926.466 291.535C926.691 290.341 928.449 290.505 928.449 291.72V330.039C928.449 331.151 929.99 331.433 930.384 330.394L935.46 317H961"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-linecap="round"
				:stroke-dasharray="line_finish.dasharray"
				:stroke-dashoffset="line_finish.dashoffset"
				opacity="0">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_finish_anim`"
					:dur="line_finish.dur"
					:begin="line_finish.begin"
					class="anim_finish"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0"
					ref="finish">
				</animate>
			</path>
		</g>
		<g class="storage" :opacity="storage.opacity">
			<g class="servers">
				<g class="block">
					<path class="shadow" d="M750.2 212.8C737.6 200.2 742.7 206 739.7 204.2L663 137.4C656.7 133.8 646.8 133.8 640.7 137.4L540.2 184.6C537.1 186.4 535.7 188.7 535.7 191C535.7 193.3 535.7 220.3 535.7 222.6C535.7 224.9 537.3 227.3 540.4 229.1L651.8 292.2C658.1 295.8 668 295.8 674.1 292.2L765.8 237.2C768.9 235.5 771 233.4 771 229.6C771.1 225.2 754 216.5 750.2 212.8Z" fill="#DDE4FD"/>
					<path d="M757.2 183.1C757.2 180.8 755.6 178.4 752.5 176.7L651.9 118.7C645.6 115.1 635.7 115.1 629.6 118.7L539.8 170.9C536.7 172.7 535.3 175 535.3 177.3C535.3 179.6 535.3 206.6 535.3 208.9C535.3 211.2 536.9 213.6 540 215.4L640.6 273.4C646.9 277 656.8 277 662.9 273.4L752.7 221.2C755.8 219.5 757.2 217.1 757.2 214.9C757.3 212.5 757.3 185.4 757.2 183.1Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M749.9 171.6C749.9 171.2 749.7 170.9 749.3 170.6L648.7 112.6C646.7 111.5 643.8 110.8 640.7 110.8C637.6 110.8 634.8 111.4 632.7 112.6L542.9 164.8C542.6 165 542.4 165.4 542.4 165.7C542.4 166 542.4 176.9 542.4 177.3C542.4 177.7 542.6 178 543 178.2L643.6 236.2C645.6 237.3 648.5 238 651.6 238C654.7 238 657.5 237.4 659.6 236.2L749.4 184C749.7 183.8 749.9 183.4 749.9 183.1C749.9 182.7 749.9 172 749.9 171.6Z" fill="#DDE4FD" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M757.2 134.2C757.2 131.9 755.6 129.5 752.5 127.8L652 69.7C645.7 66.1 635.8 66.1 629.7 69.7L539.9 121.8C536.8 123.6 535.4 125.9 535.4 128.2C535.4 130.5 535.4 157.5 535.4 159.8C535.4 162.1 537 164.5 540.1 166.3L640.7 224.3C647 227.9 656.9 227.9 663 224.3L752.8 172.1C755.9 170.4 757.3 168 757.3 165.8C757.3 163.6 757.3 136.6 757.2 134.2Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M749.9 122.7C749.9 122.3 749.7 122 749.3 121.7L648.7 63.7001C646.7 62.6001 643.8 61.9001 640.7 61.9001C637.6 61.9001 634.8 62.5001 632.7 63.7001L543 115.8C542.7 116 542.5 116.4 542.5 116.7C542.5 117.1 542.5 127.9 542.5 128.3C542.5 128.7 542.7 129 543.1 129.2L643.7 187.2C645.7 188.4 648.6 189 651.7 189C654.8 189 657.6 188.4 659.7 187.2L749.5 135C749.8 134.8 750 134.4 750 134.1C749.9 133.8 749.9 123.1 749.9 122.7Z" fill="#DDE4FD" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M757.2 85.3001C757.2 83.0001 755.6 80.6001 752.5 78.9001L652 20.8001C645.7 17.2001 635.8 17.2001 629.7 20.8001L539.9 73.0001C536.8 74.8001 535.4 77.1001 535.4 79.4001C535.4 81.7001 535.4 108.7 535.4 111C535.4 113.3 537 115.7 540.1 117.5L640.7 175.5C647 179.1 656.9 179.1 663 175.5L752.8 123.3C755.9 121.6 757.3 119.2 757.3 117C757.3 114.7 757.3 87.7001 757.2 85.3001Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M543.1 78.9L643.7 136.9C645.7 138 648.6 138.7 651.7 138.7C654.8 138.7 657.6 138.1 659.7 136.9L749.5 84.7C750.1 84.3 750.1 83.2 749.4 82.8L648.7 24.8C646.7 23.7 643.8 23 640.7 23C637.6 23 634.8 23.6 632.7 24.8L543 77C542.5 77.3 542.5 78.5 543.1 78.9Z" fill="#DDE4FD" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M543.5 192.1C542.9 191.6 542.3 190.7 542.3 189.9C542.2 190.7 542.8 191.6 543.5 192.1Z" fill="#304295"/>
					<path d="M543.5 198.4C542.9 198 542.3 197 542.3 196.2C542.2 197 542.8 198.1 543.5 198.4Z" fill="#304295"/>
				</g>
				<g class="lamps">
					<g class="6">
						<path d="M727.4 108C726.4 108.6 725.7 110 725.7 111.1V132.1C725.7 133.2 726.6 133.7 727.5 133.1C728.5 132.5 729.3 131.1 729.2 130V109C729.2 107.9 728.5 107.4 727.4 108Z" fill="#304295"/>
						<path d="M733.9 104.1C732.9 104.7 732.2 106.1 732.2 107.2V128.2C732.2 129.3 733.1 129.8 734 129.2C735 128.6 735.7 127.2 735.7 126.1V105.1C735.7 104.1 734.9 103.6 733.9 104.1Z" fill="#304295"/>
						<path d="M740.5 100.3C739.5 100.9 738.8 102.3 738.8 103.4V124.4C738.8 125.5 739.7 126 740.6 125.4C741.6 124.8 742.3 123.4 742.3 122.3V101.3C742.4 100.2 741.5 99.8 740.5 100.3Z" fill="#304295"/>
						<path d="M747 96.5001C746 97.1001 745.3 98.5001 745.3 99.6001V120.6C745.3 121.7 746.2 122.2 747.1 121.6C748.1 121 748.8 119.6 748.8 118.5V97.5001C748.9 96.4001 748.1 95.9001 747 96.5001Z" fill="#304295"/>
					</g>
					<g class="5">
						<path d="M547.9 95.5C548.2 95.7 548.5 96.1 548.5 96.5V101.6C548.5 102 548.3 102.2 547.9 101.9L542.8 99C542.5 98.8 542.2 98.4 542.2 98V92.9C542.2 92.5 542.4 92.3 542.8 92.6L547.9 95.5Z" fill="#304295"/>
						<path d="M547.9 104.9C548.2 105.1 548.5 105.5 548.5 105.9V111C548.5 111.4 548.3 111.5 547.9 111.3L542.8 108.4C542.5 108.2 542.2 107.8 542.2 107.4V102.3C542.2 101.9 542.4 101.7 542.8 102L547.9 104.9Z" fill="#304295"/>
						<path d="M556.9 100.9C557.2 101.1 557.5 101.5 557.5 101.9V107C557.5 107.4 557.3 107.6 556.9 107.3L551.8 104.4C551.5 104.2 551.2 103.8 551.2 103.4V98.2999C551.2 97.8999 551.4 97.6999 551.8 97.9999L556.9 100.9Z" fill="#304295"/>
						<path d="M556.9 110.3C557.2 110.5 557.5 110.9 557.5 111.3V116.4C557.5 116.8 557.3 116.9 556.9 116.7L551.8 113.8C551.5 113.6 551.2 113.2 551.2 112.8V107.6C551.2 107.2 551.4 107.1 551.8 107.3L556.9 110.3Z" fill="#304295"/>
						<path d="M566 106.3C566.3 106.5 566.6 106.9 566.6 107.3V112.4C566.6 112.8 566.4 113 566 112.7L560.9 109.8C560.6 109.6 560.3 109.2 560.3 108.8V103.7C560.3 103.3 560.5 103.1 560.9 103.4L566 106.3Z" fill="#304295"/>
						<path d="M566 115.7C566.3 115.9 566.6 116.3 566.6 116.7V121.8C566.6 122.2 566.4 122.3 566 122.1L560.9 119.2C560.6 119 560.3 118.6 560.3 118.2V113.1C560.3 112.7 560.5 112.6 560.9 112.8L566 115.7Z" fill="#304295"/>
						<path d="M575 111.6C575.3 111.8 575.6 112.2 575.6 112.6V117.7C575.6 118.1 575.4 118.3 575 118L569.9 115.1C569.6 114.9 569.3 114.5 569.3 114.1V109C569.3 108.6 569.5 108.4 569.9 108.7L575 111.6Z" fill="#304295"/>
						<path d="M575 121C575.3 121.2 575.6 121.6 575.6 122V127.1C575.6 127.5 575.4 127.6 575 127.4L569.9 124.5C569.6 124.3 569.3 123.9 569.3 123.5V118.4C569.3 118 569.5 117.8 569.9 118.1L575 121Z" fill="#304295"/>
						<path d="M584 117.3C584.3 117.5 584.6 117.9 584.6 118.3V123.4C584.6 123.8 584.4 124 584 123.7L578.9 120.8C578.6 120.6 578.3 120.2 578.3 119.8V114.7C578.3 114.3 578.6 114.1 578.9 114.4L584 117.3Z" fill="#304295"/>
						<path d="M584 126.6C584.3 126.8 584.6 127.2 584.6 127.6V132.7C584.6 133.1 584.4 133.3 584 133L578.9 130.1C578.6 129.9 578.3 129.5 578.3 129.1V124C578.3 123.6 578.6 123.4 578.9 123.7L584 126.6Z" fill="#304295"/>
						<path d="M593 122.7C593.3 122.9 593.6 123.3 593.6 123.7V128.8C593.6 129.2 593.4 129.4 593 129.1L587.9 126.2C587.6 126 587.3 125.6 587.3 125.2V120.1C587.3 119.7 587.5 119.5 587.9 119.8L593 122.7Z" fill="#304295"/>
						<path d="M593 132C593.3 132.2 593.6 132.6 593.6 133V138.1C593.6 138.5 593.4 138.6 593 138.4L587.9 135.5C587.6 135.3 587.3 134.9 587.3 134.5V129.4C587.3 129 587.5 128.8 587.9 129.1L593 132Z" fill="#304295"/>
					</g>
					<g class="4">
						<path d="M626.7 136.7C627.7 137.3 628.4 138.7 628.4 139.8V160.8C628.4 161.9 627.5 162.4 626.6 161.8C625.6 161.2 624.9 159.8 624.9 158.7V137.7C624.9 136.6 625.8 136.2 626.7 136.7Z" fill="#304295"/>
						<path d="M620.1 132.9C621.1 133.5 621.8 134.9 621.8 136V157C621.8 158.1 620.9 158.6 620 158C619 157.4 618.3 156 618.3 154.9V133.9C618.4 132.8 619.1 132.3 620.1 132.9Z" fill="#304295"/>
						<path d="M613.5 129.1C614.5 129.7 615.2 131.1 615.2 132.2V153.2C615.2 154.3 614.3 154.8 613.4 154.2C612.4 153.6 611.7 152.2 611.7 151.1V130.2C611.8 128.9 612.6 128.4 613.5 129.1Z" fill="#304295"/>
						<path d="M607 125.2C608 125.8 608.7 127.2 608.7 128.3V149.3C608.7 150.4 607.8 150.9 606.9 150.3C605.9 149.7 605.2 148.3 605.2 147.2V126.2C605.2 125.2 606 124.7 607 125.2Z" fill="#304295"/>
					</g>
					<g class="3">
						<path d="M547.9 141.2C548.2 141.4 548.5 141.8 548.5 142.2V147.3C548.5 147.7 548.3 147.9 547.9 147.6L542.8 144.7C542.5 144.5 542.2 144.1 542.2 143.7V138.6C542.2 138.2 542.4 138.1 542.8 138.3L547.9 141.2Z" fill="#304295"/>
						<path d="M547.9 150.6C548.2 150.8 548.5 151.2 548.5 151.6V156.7C548.5 157.1 548.3 157.2 547.9 157L542.8 154.1C542.5 153.9 542.2 153.5 542.2 153.1V148C542.2 147.6 542.4 147.5 542.8 147.7L547.9 150.6Z" fill="#304295"/>
						<path d="M556.9 146.5C557.2 146.7 557.5 147.1 557.5 147.5V152.6C557.5 153 557.3 153.1 556.9 152.9L551.8 149.8C551.5 149.6 551.2 149.2 551.2 148.8V143.7C551.2 143.3 551.4 143.1 551.8 143.4L556.9 146.5Z" fill="#304295"/>
						<path d="M556.9 155.9C557.2 156.1 557.5 156.5 557.5 156.9V162C557.5 162.4 557.3 162.5 556.9 162.3L551.8 159.4C551.5 159.2 551.2 158.8 551.2 158.4V153.3C551.2 152.9 551.4 152.8 551.8 153L556.9 155.9Z" fill="#304295"/>
						<path d="M566 151.9C566.3 152.1 566.6 152.5 566.6 152.9V158C566.6 158.4 566.4 158.6 566 158.3L560.9 155.4C560.6 155.2 560.3 154.8 560.3 154.4V149.3C560.3 148.9 560.5 148.7 560.9 149L566 151.9Z" fill="#304295"/>
						<path d="M566 161.3C566.3 161.5 566.6 161.9 566.6 162.3V167.4C566.6 167.8 566.4 168 566 167.7L560.9 164.8C560.6 164.6 560.3 164.2 560.3 163.8V158.7C560.3 158.3 560.5 158.1 560.9 158.4L566 161.3Z" fill="#304295"/>
						<path d="M575 157.3C575.3 157.5 575.6 157.9 575.6 158.3V163.4C575.6 163.8 575.4 163.9 575 163.7L569.9 160.8C569.6 160.6 569.3 160.2 569.3 159.8V154.7C569.3 154.3 569.5 154.1 569.9 154.4L575 157.3Z" fill="#304295"/>
						<path d="M575 166.7C575.3 166.9 575.6 167.3 575.6 167.7V172.8C575.6 173.2 575.4 173.4 575 173.1L569.9 170.2C569.6 170 569.3 169.6 569.3 169.2V164C569.3 163.6 569.5 163.5 569.9 163.7L575 166.7Z" fill="#304295"/>
						<path d="M584 162.9C584.3 163.1 584.6 163.5 584.6 163.9V169C584.6 169.4 584.4 169.5 584 169.3L578.9 166.4C578.6 166.2 578.3 165.8 578.3 165.4V160.3C578.3 159.9 578.6 159.7 578.9 160L584 162.9Z" fill="#304295"/>
						<path d="M584 172.4C584.3 172.6 584.6 173 584.6 173.4V178.5C584.6 178.9 584.4 179.1 584 178.8L578.9 175.9C578.6 175.7 578.3 175.3 578.3 174.9V169.8C578.3 169.4 578.6 169.2 578.9 169.5L584 172.4Z" fill="#304295"/>
						<path d="M593 168.3C593.3 168.5 593.6 168.9 593.6 169.3V174.4C593.6 174.8 593.4 175 593 174.7L587.9 171.8C587.6 171.6 587.3 171.2 587.3 170.8V165.6C587.3 165.2 587.5 165.1 587.9 165.3L593 168.3Z" fill="#304295"/>
						<path d="M593 177.7C593.3 177.9 593.6 178.3 593.6 178.7V183.8C593.6 184.2 593.4 184.4 593 184.1L587.9 181.2C587.6 181 587.3 180.6 587.3 180.2V175.1C587.3 174.7 587.5 174.5 587.9 174.8L593 177.7Z" fill="#304295"/>
					</g>
					<g class="2">
						<path d="M626.7 186.4C627.7 187 628.4 188.4 628.4 189.5V210.5C628.4 211.6 627.5 212.1 626.6 211.5C625.6 210.9 624.9 209.5 624.9 208.4V187.4C624.9 186.3 625.8 185.8 626.7 186.4Z" fill="#304295"/>
						<path d="M620.1 182.5C621.1 183.1 621.8 184.5 621.8 185.6V206.6C621.8 207.7 620.9 208.2 620 207.6C619 207 618.3 205.6 618.3 204.5V183.5C618.4 182.5 619.1 182.1 620.1 182.5Z" fill="#304295"/>
						<path d="M613.5 178.8C614.5 179.4 615.2 180.8 615.2 181.9V202.9C615.2 204 614.3 204.5 613.4 203.9C612.4 203.3 611.7 201.9 611.7 200.8V179.8C611.8 178.5 612.6 178.2 613.5 178.8Z" fill="#304295"/>
						<path d="M607 174.8C608 175.4 608.7 176.8 608.7 177.9V198.9C608.7 200 607.8 200.5 606.9 199.9C605.9 199.3 605.2 197.9 605.2 196.8V175.8C605.2 174.7 606 174.3 607 174.8Z" fill="#304295"/>
					</g>
					<g class="1">
						<path d="M549.7 192.8C550.3 193.2 550.9 194.2 550.9 195C550.9 195.9 550.3 196.1 549.7 195.7L543.4 192.1C542.8 191.6 542.2 190.7 542.2 189.9C542.2 189 542.8 188.8 543.4 189.2L549.7 192.8Z" fill="#304295"/>
						<path d="M545.1 196.4C545.7 196.8 546.3 197.8 546.3 198.6C546.3 199.5 545.7 199.7 545.1 199.3L543.5 198.3C542.9 197.9 542.3 196.9 542.3 196.1C542.3 195.2 542.9 195 543.5 195.4L545.1 196.4Z" fill="#304295"/>
						<path d="M552.6 207.1C553.2 207.5 553.8 208.5 553.8 209.3C553.8 210.2 553.2 210.4 552.6 210L543.4 204.7C542.8 204.3 542.2 203.3 542.2 202.5C542.2 201.6 542.8 201.4 543.4 201.8L552.6 207.1Z" fill="#304295"/>
						<path d="M560 205.1C560.6 205.5 561.2 206.5 561.2 207.3C561.2 208.2 560.6 208.4 560 208L549.5 202C548.9 201.6 548.3 200.6 548.3 199.8C548.3 198.9 548.9 198.7 549.5 199.1L560 205.1Z" fill="#304295"/>
						<path d="M558.6 210.6C559.2 211 559.8 212 559.8 212.8C559.8 213.7 559.2 213.9 558.6 213.5L557.4 212.8C556.8 212.4 556.2 211.4 556.2 210.6C556.2 209.7 556.8 209.5 557.4 209.9L558.6 210.6Z" fill="#304295"/>
						<path d="M556.3 196.5C556.9 196.9 557.5 197.9 557.5 198.7C557.5 199.6 556.9 199.8 556.3 199.4L554.5 198.4C553.9 198 553.3 197 553.3 196.2C553.3 195.3 553.9 195.1 554.5 195.5L556.3 196.5Z" fill="#304295"/>
						<path d="M565 201.6C565.6 202 566.2 203 566.2 203.8C566.2 204.7 565.6 204.9 565 204.5L561.2 202.3C560.6 201.9 560 200.9 560 200.1C560 199.2 560.6 199 561.2 199.4L565 201.6Z" fill="#304295"/>
						<path d="M570.6 207.9C570 207.5 569.4 206.5 569.4 205.7C569.3 206.6 569.8 207.5 570.6 207.9Z" fill="#304295"/>
						<path d="M576.8 208.7C577.4 209.1 578 210.1 578 211C578 211.8 577.4 212.1 576.8 211.7L570.5 208C569.9 207.6 569.3 206.6 569.3 205.8C569.3 204.9 569.9 204.7 570.5 205.1L576.8 208.7Z" fill="#304295"/>
						<path d="M570.6 214.2C570 213.8 569.4 212.8 569.4 212C569.3 212.9 569.8 213.8 570.6 214.2Z" fill="#304295"/>
						<path d="M572.1 212.3C572.7 212.7 573.3 213.7 573.3 214.5C573.3 215.4 572.7 215.6 572.1 215.2L565.1 211.1C564.5 210.7 563.9 209.7 563.9 208.9C563.9 208 564.5 207.8 565.1 208.2L572.1 212.3Z" fill="#304295"/>
						<path d="M579.8 222.9L570.6 217.6L563.7 213.4C563.1 213 562.5 213.3 562.5 214.1C562.5 214.9 563.1 215.9 563.7 216.3L570.6 220.5L579.8 225.8C580.4 226.2 581 225.9 581 225.1C581 224.3 580.4 223.3 579.8 222.9Z" fill="#304295"/>
						<path d="M592.1 223.9C592.7 224.3 593.3 225.3 593.3 226.1C593.3 227 592.7 227.2 592.1 226.8L576.6 218C576 217.6 575.4 216.6 575.4 215.8C575.4 214.9 576 214.7 576.6 215.1L592.1 223.9Z" fill="#304295"/>
						<path d="M592.1 230.1C592.7 230.5 593.3 231.5 593.3 232.3C593.3 233.2 592.7 233.4 592.1 233L590.8 232.3C590.2 231.9 589.6 230.9 589.6 230.1C589.6 229.2 590.2 229 590.8 229.4L592.1 230.1Z" fill="#304295"/>
						<path d="M585.7 226.4C586.3 226.8 586.9 227.8 586.9 228.6C586.9 229.5 586.3 229.7 585.7 229.3L584.5 228.6C583.9 228.2 583.3 227.2 583.3 226.4C583.3 225.5 583.9 225.3 584.5 225.7L585.7 226.4Z" fill="#304295"/>
						<path d="M583.5 212.4C584.1 212.8 584.7 213.8 584.7 214.6C584.7 215.5 584.1 215.7 583.5 215.3L581.7 214.3C581.1 213.9 580.5 212.9 580.5 212.1C580.5 211.2 581.1 211 581.7 211.4L583.5 212.4Z" fill="#304295"/>
						<path d="M592.1 217.4C592.7 217.8 593.3 218.8 593.3 219.6C593.3 220.5 592.7 220.7 592.1 220.3L588.3 218.1C587.7 217.7 587.1 216.7 587.1 215.9C587.1 215 587.7 214.8 588.3 215.2L592.1 217.4Z" fill="#304295"/>
					</g>
				</g>
			</g>
			<g class="cloud" transform="translate(0 0)">
				<path d="M672.4 111.3L694.9 97C696.8 95.6 698.3 93.4 699 89.9C701.3 78.1 694.7 64.5 687.2 58.6C689.7 49.9 684.4 25.9 668.3 11.9C652 -2.09998 637.1 -0.699981 625.5 12.1C622.6 6.00002 614.5 -1.49998 606 1.80002L588.8 12.4L592.1 42.7L667.1 106.9L672.4 111.3Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M665.5 72.6001L687.5 58.6001" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M670.3 112.1C673.6 111.4 676.2 108.9 677.3 103.4C679.6 91.5999 673 78.5999 665.5 72.6999C668 63.9999 662.9 37.7999 646.6 23.6999C630.5 9.59995 614.5 8.99995 607.9 27.3999C605.4 20.7999 601.5 9.49995 588.5 12.7999H588.7C581.6 16.0999 581.7 24.0999 581.7 28.4999C569.9 28.9999 570.1 50.6 578.4 59.7C586.8 68.7999 651.8 106 660.8 111.2C662 111.9 666 113.1 669.9 112.3" fill="white"/>
				<path d="M670.3 112.1C673.6 111.4 676.2 108.9 677.3 103.4C679.6 91.5999 673 78.5999 665.5 72.6999C668 63.9999 662.9 37.7999 646.6 23.6999C630.5 9.59995 614.5 8.99995 607.9 27.3999C605.4 20.7999 601.5 9.49995 588.5 12.7999H588.7C581.6 16.0999 581.7 24.0999 581.7 28.4999C569.9 28.9999 570.1 50.6 578.4 59.7C586.8 68.8 651.8 106 660.8 111.2C662 111.9 666 113.1 669.9 112.3" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<animateTransform
					v-if="indefeniteAnimationEnabled"
					dur="2s"
					begin="0s"
					values="
						0 0;
						0 5;
						0 0;
					"
					attributeName="transform"
					type="translate"
					repeatCount="indefinite"
				/>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_storage_anim`"
				:dur="storage.dur"
				:begin="storage.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="bank" :opacity="bank.opacity">
			<path class="shadow" d="M297.1 189.1L255.6 166C250.1 162.8 241.2 162.8 235.7 166L202.1 198.6C196.6 201.8 193.4 212.1 199.3 216.2L225.3 230.6C230.8 233.8 240.3 233.8 245.8 230.6L297.2 200.7C302.6 197.4 302.6 192.3 297.1 189.1Z" fill="#DDE4FD"/>
			<path d="M193.1 209.8C192.3 208.3 192 206.4 192 203.9V55.6C192 47.6 196.8 38.3 202.9 34.7L259.2 2.29998C261.7 0.799985 264 0.599985 265.9 1.49998C269.1 2.69999 276 7.79998 276 7.79998L274 11C274.1 11.6 274.1 12.3 274.1 12.9V161.2C274.1 169.2 269.3 178.5 263.2 182.1L206.9 214.6L205 218.4C205 218.4 196.2 215.1 193.5 210.3C193.5 210.3 193.5 210.3 193.5 210.2C193.3 210 193.3 209.9 193.1 209.8Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M272.4 6.3999C273.3 6.3999 274.2 6.6999 274.8 6.9999C277 8.2999 278.2 11.2999 278.2 15.2999V164.6C278.2 172.5 273.5 181.5 267.6 185L211 217.7C208.6 219.1 206.3 219.4 204.5 218.3C202.3 217 201.1 214 201.1 210V60.6999C201.1 52.7999 205.8 43.7999 211.7 40.2999L268.4 7.6999C269.8 6.8999 271.2 6.3999 272.4 6.3999Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M270.8 14.2C271.2 14.2 271.6 14.3 271.8 14.5C272.6 15 273.1 16 273.1 17.4V163.6C273.1 169.7 268.8 177.1 263.6 180.1L210.9 210.5C209.6 211.3 208.6 211.4 207.7 210.9C206.9 210.4 206.4 209.4 206.4 208V61.7999C206.4 55.7 210.7 48.2999 215.9 45.2999L234.9 34.5V35.2999C234.9 36.4 235.5 37.5999 236.6 38.0999C237.6 38.6999 238.9 38.5999 239.9 38.0999L241 37.5C243.2 36.2 244.4 33.9 244.4 31.4C244.4 29.9 245.2 28.5 246.6 27.7L268.6 15C269.4 14.4 270.1 14.2 270.8 14.2Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M238.8 32.1C238.8 32.7 239.2 32.9 239.7 32.6C240.2 32.3 240.6 31.6 240.6 31.1C240.6 30.5 240.2 30.3 239.7 30.6C239.2 30.8 238.8 31.5 238.8 32.1Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M197.3 107.6C197.4 107.6 197.7 107.6 197.8 107.5C198.2 107.2 198.4 106.9 198.4 106.2V96.1C198.4 95.1 197.8 93.9 197 93.6V93.4C196.6 93.1 196.2 93.1 195.9 93.3C195.5 93.6 195.3 93.9 195.3 94.6V104.7C195.3 105.7 195.9 106.9 196.7 107.2L196.8 107.3C196.8 107.6 197.1 107.6 197.3 107.6Z" fill="#304295"/>
			<path d="M197.3 124.2C197.4 124.2 197.7 124.2 197.8 124.1C198.2 123.8 198.4 123.5 198.4 122.8V112.7C198.4 111.7 197.8 110.5 197 110.2V110.1C196.6 109.8 196.2 109.8 195.9 110C195.5 110.3 195.3 110.6 195.3 111.3V121.4C195.3 122.4 195.9 123.6 196.7 123.9L196.8 124C196.8 124.2 197.1 124.2 197.3 124.2Z" fill="#304295"/>
			<path d="M197.3 89.2C197.4 89.2 197.7 89.2 197.8 89.1C198.2 88.8 198.4 88.5 198.4 87.8V82.2C198.4 81.2 197.8 80 197 79.7V79.6C196.6 79.3 196.2 79.3 195.9 79.5C195.5 79.8 195.3 80.1 195.3 80.8V86.4C195.3 87.4 195.9 88.6 196.7 88.9V89C196.8 89.1 197.1 89.2 197.3 89.2Z" fill="#304295"/>
			<path d="M196.7 83.5C197.3 83.9 197.6 83.5 197.6 83V82.1C197.6 81.5 197.2 80.8 196.8 80.6L196.7 80.5C196.2 80.2 195.9 80.5 195.9 81.1V82C195.8 82.6 196.2 83.3 196.7 83.5Z" fill="white"/>
			<path d="M224.6 157.7C219.4 160.8 215.2 167.4 215.2 172.6C215.2 177.8 219.4 179.6 224.6 176.5C229.8 173.4 234 166.8 234 161.6C234 156.4 229.8 154.8 224.6 157.7ZM230.2 165.3C230.2 165.7 229.9 165.9 229.7 166.1C229.6 166.2 227.5 166.9 227.3 167C227.2 167 227 167 226.9 166.7C226.8 166.6 226.6 165.8 226.6 165.8C226.6 165.8 226 166.1 224.4 166.9C222.9 167.8 222.2 168.3 222.2 168.3C222.2 168.3 221.9 169.3 221.9 169.6C221.8 169.9 221.6 170.1 221.5 170.2C221.2 170.3 219.3 171.9 219.1 172C219 172.1 218.7 172.1 218.6 171.9C218.6 171.6 218.3 170.2 218.7 169.9C219 169.5 220.1 167.7 224.3 165.3C228.5 162.9 229.6 163.3 229.9 163.4C230.4 163.6 230.3 165 230.2 165.3Z" fill="#304295"/>
			<path d="M257.7 140.3C252.5 143.4 248.3 150 248.3 155.2C248.3 160.4 252.5 162.2 257.7 159.1C262.9 156 267.1 149.4 267.1 144.2C267.1 139.1 262.9 137.3 257.7 140.3ZM262.4 151C262.1 151.4 261.4 153 261 153.2C260.6 153.5 259.1 154.2 256.2 153.1C253.3 151.8 253.3 150.3 253.1 149.9C253.1 149.5 254.1 148 254.5 147.6C254.8 147.2 255 147.2 255.1 147.2C255.2 147.3 256.2 148.3 256.4 148.5C256.6 148.7 256.4 148.8 256.4 149.1C256.3 149.4 255.9 150.4 255.9 150.4C255.9 150.4 256.3 150.8 257.3 151.2C258.4 151.7 259 151.7 259 151.7C259 151.7 259.8 150.8 260 150.6C260.3 150.3 260.4 150.2 260.5 150.2C260.8 150.2 262.4 150.3 262.5 150.3C262.5 150.5 262.5 150.6 262.4 151Z" fill="#304295"/>
			<path d="M228.959 74.1381C228.959 71.1793 227.311 70.2517 224.647 71.7898L219.176 74.9482V69.2653L227.82 64.2752V62.9132L217.793 68.7017V85.4217L224.647 81.4649C227.311 79.9267 228.959 77.097 228.959 74.1381ZM227.576 74.9366C227.576 77.097 226.376 79.1048 224.342 80.2789L219.176 83.2613V76.3102L224.342 73.3279C226.376 72.1538 227.576 72.7761 227.576 74.9366Z" fill="#21409A"/>
			<path d="M240.286 71.2382C240.063 71.4378 239.961 71.4965 239.798 71.5904C239.086 72.0014 239.107 71.4965 239.107 70.7685V64.1932C239.107 61.9153 237.622 61.5748 235.263 62.9368C232.68 64.428 231.155 66.788 231.053 69.4299L232.273 68.7254C232.436 66.6824 233.351 65.2616 235.121 64.2401C236.788 63.2773 237.846 63.2773 237.846 65.2734C237.846 65.884 237.744 66.2715 237.48 66.6354C236.971 67.3282 236.076 67.8918 234.429 69.0307C231.846 70.8271 230.545 72.7997 230.545 75.0071C230.545 77.1206 231.826 77.649 233.961 76.4162C235.731 75.3947 237.053 73.7861 237.907 71.7196C237.907 72.8233 238.029 73.8565 239.269 73.1403C239.635 72.929 239.94 72.7059 240.286 72.3654V71.2382ZM237.846 67.2695V69.2421C237.846 71.5434 236.198 73.9035 234.287 75.0072C232.822 75.8525 231.887 75.5003 231.887 74.0913C231.887 72.1187 233.677 70.7332 234.999 69.7587C236.402 68.7372 237.439 68.0209 237.846 67.2695Z" fill="#21409A"/>
			<path d="M250.161 66.7347V54.6644L248.88 55.4041V60.5469L242.921 63.9871V58.8443L241.64 59.584V71.6544L242.921 70.9147V65.2317L248.88 61.7915V67.4744L250.161 66.7347Z" fill="#21409A"/>
			<path d="M256.936 55.4498L261.389 48.1818L259.681 49.1681L253.865 58.7022V52.5262L252.583 53.2659V65.3362L253.865 64.5965V60.5104L256 56.9997L260.047 61.0271L261.654 60.0996L256.936 55.4498Z" fill="#21409A"/>
			<animate
				v-if="isAnimated"
				:id="`${uid}_bank_anim`"
				:dur="bank.dur"
				:begin="bank.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="telecom" :opacity="telecom.opacity">
			<path class="shadow" d="M612.8 391.4L538.1 434.2C533.6 436.7 533.6 443 538.1 445.6L674.7 523.5C680.5 526.8 687.8 526.8 693.7 523.5C709 514.8 750 491.5 765.4 482.3C772.8 477.8 772.8 471.9 766.1 468.2L631.8 391.4C625.8 388.1 618.6 388.1 612.8 391.4Z" fill="#DDE4FD"/>
			<path d="M678.3 514.8L733.9 482.7C735.9 481.6 736.9 479.5 736.9 477.5C736.9 475.5 736.9 469.2 736.9 469.2L609.3 397.8C604 394.7 597.4 394.7 591.9 397.8C577.9 405.9 533.2 429.6 533.2 429.6C533.2 429.6 533.2 435.8 533.2 437.8C533.2 439.8 534.2 441.9 536.2 443L660.8 514.9C666.2 517.9 672.9 517.9 678.3 514.8Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M678.3 506.2L733.9 474.1C738 471.7 738 465.9 733.9 463.7L609.3 391.8C604 388.7 597.4 388.7 591.9 391.8C577.9 399.9 550.5 415.7 536.3 423.9C532.2 426.3 532.2 432.1 536.3 434.3L660.9 506.2C666.2 509.3 672.9 509.3 678.3 506.2Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M646.9 503.6C646.7 503.6 646.4 503.5 646.2 503.4L633.2 495.7C632.5 495.3 632 494.5 632 493.8C632.1 493.2 632.7 493.1 633.5 493.6L646.5 501.3C647.2 501.7 647.7 502.5 647.7 503.2C647.6 503.5 647.4 503.8 646.9 503.6Z" fill="#304295"/>
			<path d="M540.5 432L661.8 502C663.9 503.2 666.3 503.9 668.6 503.9C670.9 503.9 673.3 503.3 675.4 502L682.1 498.2C683 497.7 683 496.6 682.1 496.1L680 494.9C679.3 494.5 679.3 493.4 680 492.9L703.8 479.1C705 478.4 706.4 478.4 707.6 479.1C708.1 479.3 708.5 479.6 709 479.8C710.5 480.7 712.3 480.7 713.8 479.8L729.6 470.7C730.8 470 731 468.8 731 468.3C731 467.8 730.9 466.7 729.6 465.9L608.3 396C606.2 394.8 603.8 394.1 601.5 394.1C599.2 394.1 596.8 394.7 594.7 396L540.6 427.3C539.4 428 539.2 429.2 539.2 429.7C539.2 430.1 539.3 431.3 540.5 432Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M693 491L706 484" stroke="#2141A4" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
			<path d="M687 494L689 493" stroke="#2141A4" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"/>
			<path d="M618.2 420.2C622.7 418.1 622.5 413.6 618 410C613.3 406.5 606 405.3 601.5 407.4C597 409.5 597.2 414 601.7 417.6C606.3 421 613.6 422.2 618.2 420.2ZM603.6 415C603.4 414.8 603.5 414.5 603.6 414.5C603.8 414.5 605.8 413.9 606.1 413.9C606.2 413.9 606.5 413.9 606.8 414C607 414.1 608 414.6 608 414.6C608 414.6 608.6 414.5 610 413.9C611.4 413.3 611.7 412.9 611.7 412.9C611.7 412.9 611.1 412.2 611 412C610.9 411.9 610.9 411.6 610.9 411.5C611 411.4 612.4 410.4 612.5 410.3C612.6 410.2 613 410.2 613.4 410.4C613.8 410.6 615.1 411.5 615.1 411.8C615.1 412 615.1 413.3 611.5 414.9C607.9 416.5 605.9 416.3 605.5 416.3C605.1 416.3 603.8 415.2 603.6 415Z" fill="#21409A"/>
			<path d="M588.1 441.5C592.7 439.4 592.8 434.8 588.2 431.2C583.6 427.6 576.3 426.5 571.7 428.6C567.1 430.7 567 435.3 571.6 438.9C575.9 442.5 583.4 443.6 588.1 441.5ZM572.3 434.3C572.2 434.1 572.1 432.9 572.4 432.8C572.7 432.7 574.1 432.1 579.3 432.9C584.5 433.8 585.9 434.8 586.2 435C586.5 435.2 586.3 436.4 586.3 436.5C586.2 436.7 585.9 436.7 585.7 436.7C585.5 436.7 583.1 436 582.7 435.8C582.5 435.8 582.3 435.6 582.3 435.4C582.2 435.2 581.9 434.5 581.9 434.5C581.9 434.5 581.2 434.3 579.2 434C577.3 433.8 576.5 433.8 576.5 433.8C576.5 433.8 576.3 434.4 576.1 434.5C576 434.6 575.9 434.7 575.6 434.7C575.4 434.7 572.9 434.6 572.6 434.6C572.7 434.7 572.3 434.6 572.3 434.3Z" fill="#21409A"/>
			<path d="M688.2 456.9L691.3 455L682 450.5L682.9 450L692.2 454.5L695.3 452.6L696.2 453L689.3 457.1L688.2 456.9Z" fill="#21409A"/>
			<path d="M674.7 454.5C676.4 453.5 679.2 453.5 681.4 454.6C683.8 455.7 684.1 457.2 682.5 458.2C680.6 459.3 677.9 458.9 675.8 458L675.6 457.9L680.6 455C679.1 454.3 677 453.9 675.5 454.9C674.5 455.5 674.5 456.3 675.5 457L674.8 457.5C673.3 456.4 673.2 455.4 674.7 454.5ZM681.9 457.9C683.3 457 682.6 456.2 681.4 455.4L677.3 457.8C678.9 458.5 680.6 458.6 681.9 457.9Z" fill="#21409A"/>
			<path d="M666 459.9L672.6 463.1L675.2 461.6L671.6 459.7C669.5 458.6 669.1 457.8 670.2 457.2C670.4 457.1 670.8 457 671.1 456.8L671.8 457.2C671.6 457.2 671.2 457.4 670.9 457.6C670.4 457.8 670.8 458.3 672.4 459.2L676.7 461.4L672.6 463.8L665.2 460.2L666 459.9Z" fill="#21409A"/>
			<path d="M660.3 462.8C662 461.8 664.8 461.8 667.1 462.9C669.5 464 669.8 465.5 668.1 466.5C666.2 467.6 663.4 467.2 661.4 466.3L661.2 466.2L666.2 463.3C664.6 462.6 662.6 462.2 661 463.2C660 463.8 659.9 464.6 661 465.3L660.3 465.8C658.9 464.8 658.8 463.7 660.3 462.8ZM667.5 466.2C668.9 465.3 668.2 464.5 667 463.7L662.8 466.1C664.5 466.9 666.2 466.9 667.5 466.2Z" fill="#21409A"/>
			<path d="M650.4 468.8L651.4 468.2L657.8 468.6L657.7 467.1L655.2 465.9L655.9 465.4L663.3 469L662.6 469.5L658.8 467.6L659 471.4L657.9 472L657.8 469L650.4 468.8Z" fill="#21409A"/>
			<path d="M646.9 474.6C644.5 473.5 644.2 472.1 646 471C647.9 469.9 650.6 470 653.1 471.1C655.5 472.2 655.8 473.7 654 474.7C652.1 475.9 649.2 475.9 646.9 474.6ZM652.2 471.6C650.2 470.6 648.1 470.6 646.7 471.4C645.3 472.2 645.7 473.3 647.6 474.3C649.6 475.2 651.7 475.3 653.1 474.5C654.6 473.6 654.2 472.5 652.2 471.6Z" fill="#21409A"/>
			<path d="M635.1 477.5L641.2 480.5L637.4 476.3L638.1 475.9L646.5 477.5L640.4 474.5L641.3 474L648.7 477.6L647.6 478.2L638.7 476.6L642.7 481.1L641.6 481.7L634.2 478.1L635.1 477.5Z" fill="#21409A"/>
			<animate
				v-if="isAnimated"
				:id="`${uid}_telecom_anim`"
				:dur="telecom.dur"
				:begin="telecom.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="messenger" :opacity="messenger.opacity">
			<path class="shadow" d="M275.5 523.6L217.8 490.3C213.6 487.9 213.6 481.8 217.8 479.4L347.2 404.7C352.7 401.5 359.6 401.5 365.1 404.7C379.7 413.1 408.1 429.5 422.8 438C427 440.4 427 446.5 422.8 448.9L293.4 523.6C287.9 526.8 281 526.8 275.5 523.6Z" fill="#DDE4FD"/>
			<path d="M192 462.8V472.6C192 474.4 193.2 476.2 195.5 477.6L258.5 514C260.8 515.3 263.8 516 266.9 516V505.6C263.9 505.6 260.8 504.9 258.5 503.6L195.5 467.2C193.4 465.9 192.3 464.4 192 462.8Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M266.9 505.5V515.9C270.1 515.9 273.2 515.2 275.7 513.9L406.6 438.4C408.8 437.2 410 435.6 410.1 434V423.6C410 425.2 408.8 426.8 406.6 428L275.6 503.5C273.2 504.8 270.1 505.5 266.9 505.5Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M192 462.8C192.3 464.4 193.3 465.9 195.5 467.2L258.5 503.6C260.8 504.9 263.8 505.6 266.9 505.6C270.1 505.6 273.2 504.9 275.7 503.6L406.6 428.1C408.8 426.9 410 425.3 410.1 423.7L403 425L343.7 390.8C339 388.1 331.3 388.1 326.6 390.8L205.4 460.6L192 462.8Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M192 462.8C192.3 464.4 193.3 465.9 195.5 467.2L258.5 503.6C260.8 504.9 263.8 505.6 266.9 505.6C270.1 505.6 273.2 504.9 275.7 503.6L406.6 428.1C408.8 426.9 410 425.3 410.1 423.7C410.4 421.8 409.2 419.8 406.6 418.3L343.6 381.9C338.9 379.2 331.2 379.2 326.5 381.9L195.5 457.4C193 458.7 191.8 460.7 192 462.8Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M192 462.8V472.6C192 474.4 193.2 476.2 195.5 477.6L258.5 514C260.8 515.3 263.8 516 266.9 516V505.6C263.9 505.6 260.8 504.9 258.5 503.6L195.5 467.2C193.4 465.9 192.3 464.4 192 462.8Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M266.9 505.5V515.9C270.1 515.9 273.2 515.2 275.7 513.9L406.6 438.4C408.8 437.2 410 435.6 410.1 434V423.6C410 425.2 408.8 426.8 406.6 428L275.6 503.5C273.2 504.8 270.1 505.5 266.9 505.5Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M406.6 418L343.6 381.6L406.6 418Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M200.5 460.6L269 500.1L381.3 435L313 395.6L200.5 460.6Z" fill="#DDE4FD" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M361.1 412.5C366.623 412.5 371.1 409.903 371.1 406.7C371.1 403.497 366.623 400.9 361.1 400.9C355.577 400.9 351.1 403.497 351.1 406.7C351.1 409.903 355.577 412.5 361.1 412.5Z" fill="#21409A"/>
			<path d="M295.6 423.9L333.1 445.6C338.1 448.4 345.6 448.8 350 446.3C354.3 443.7 353.8 439.4 348.8 436.6L348.3 436.3L355.2 433.5L344.7 434.2L311.3 414.9C306.3 412.1 298.8 411.7 294.4 414.2C290.1 416.7 290.6 421.1 295.6 423.9Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M221.8 455.1L277.8 487.3L285.7 482.7L229.8 450.5L221.8 455.1Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M256.8 455.9L294.4 477.7L302.2 473.1L264.6 451.3L256.8 455.9Z" fill="white" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<animate
				v-if="isAnimated"
				:id="`${uid}_messenger_anim`"
				:dur="messenger.dur"
				:begin="messenger.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="headphones" :opacity="headphones.opacity">
			<path class="shadow" d="M618.293 341.743C618.374 313.245 578.548 290.03 529.339 289.89C480.131 289.751 440.174 312.74 440.093 341.238C440.012 369.736 479.838 392.951 529.047 393.09C578.255 393.23 618.212 370.24 618.293 341.743Z" fill="#DDE4FD"/>
			<path d="M370.7 162.1C357.7 154.6 336.8 166.8 323.9 189.1C310.9 211.5 310.9 235.6 323.9 243.1C327.9 245.4 329.8 246.5 333.7 248.8C346.7 256.3 367.6 244.1 380.5 221.8C393.5 199.4 393.5 175.3 380.5 167.8C376.6 165.4 374.7 164.4 370.7 162.1Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M380.665 221.824C393.589 199.44 393.558 175.229 380.597 167.745C367.635 160.262 346.652 172.34 333.728 194.724C320.805 217.107 320.835 241.319 333.797 248.803C346.758 256.286 367.742 244.207 380.665 221.824Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="9.9998" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M333.7 248.8C333.7 248.8 333.4 248.6 332.6 248.1C331.9 247.6 330.8 246.8 329.8 245.7C328.7 244.6 327.5 242.9 326.5 240.8C325.5 238.8 324.7 236.2 324.2 233.5C323.3 228 323.5 221.3 325.1 214.5C326.7 207.7 329.5 200.7 333.2 194.2C335 191 337.2 187.9 339.5 185C341.8 182.2 344.2 179.4 346.8 177C349.3 174.6 352 172.6 354.8 170.7C357.5 169 360.3 167.6 362.9 166.6C365.5 165.6 368 165.1 370.3 164.9C372.6 164.8 374.5 165 376.1 165.4C377.7 165.7 378.8 166.3 379.6 166.7C380.4 167.2 380.7 167.4 380.7 167.4C380.7 167.4 380.2 167.2 379.6 166.8C378.8 166.5 377.7 166 376.1 165.7C374.5 165.4 372.6 165.2 370.4 165.5C368.2 165.7 365.7 166.4 363.2 167.3C358.1 169.2 352.7 173 347.8 177.7C345.3 180.1 342.9 182.7 340.7 185.6C338.5 188.4 336.5 191.5 334.7 194.7C331.1 201 328.2 207.9 326.6 214.5C325 221.1 324.4 227.6 325.2 233C325.7 235.7 326.2 238.1 327.1 240.2C328 242.2 329 243.8 330.2 245.1C331.2 246.4 332.2 247.1 332.9 247.6C333.4 248.6 333.7 248.8 333.7 248.8Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M377.2 93.8C376.6 94.6 376.5 94.1 376.1 95.1L356.5 101.9L345.7 114.5L339.7 137L341.3 183.5L341.6 189L371.6 171.6V128.4C371.6 112.8 374.3 106.2 380.6 97.2C379.3 96.1 378.2 95 377.2 93.8Z" fill="#DDE4FD" stroke="#304295" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M543.4 202C540 202.3 536.3 200.9 534.4 198.4C512.6 169.7 475.6 133.4 435.6 114.7C406.6 101.2 376.9 99.3001 367.3 106.3C364.9 108 360.7 106.8 358.7 104.5C376.9 92.2001 405.9 95.2001 439.4 110.9C481.1 130.4 521.6 169.8 543.4 202Z" fill="#21409A" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M568.4 298.2L562 295L558.7 249.1C555.2 199.9 493.4 138.5 434.6 111.3C377.9 85.0001 337.5 98.6001 343.5 149.8L347 189L346.2 194.1L341.2 192.3L337.2 147.6C333.6 96.2001 375.3 77.9001 433.8 104.7C495.1 132.8 560.9 194.1 565.1 252.5L568.4 298.2Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M385.5 164.2C371 155.9 347.6 169.4 333.2 194.5C318.8 219.6 318.7 246.6 333.2 254.9C337.6 257.4 346.5 262.6 350.9 265.1C365.4 273.4 388.8 259.9 403.2 234.8C417.6 209.7 417.7 182.7 403.2 174.4C398.8 171.9 389.9 166.7 385.5 164.2Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M403.248 234.828C417.69 209.814 417.65 182.753 403.158 174.386C388.666 166.019 365.21 179.514 350.768 204.528C336.326 229.542 336.366 256.603 350.858 264.97C365.35 273.337 388.805 259.842 403.248 234.828Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="9.9998" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M389 226.6C381 240.3 368.9 248.3 360.4 246.1C361 246.7 361.7 247.2 362.4 247.7C370.8 252.6 384.7 244.3 393.3 229.3C401.9 214.3 402.2 198.1 393.9 193.2C393.1 192.7 392.3 192.4 391.5 192.2C397.8 198.4 396.9 213 389 226.6Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M389 226.6C397 212.9 397.8 198.3 391.6 192.1C383.2 189.8 370.9 197.9 363 211.6C355 225.3 354.2 239.9 360.4 246.1C368.9 248.5 381 240.4 389 226.6Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M389 226.6C397 212.9 397.8 198.3 391.6 192.1C383.2 189.8 370.9 197.9 363 211.6C355 225.3 354.2 239.9 360.4 246.1C368.9 248.5 381 240.4 389 226.6Z" fill="#21409A" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M391.6 192.1C391.6 192.1 391.8 192.3 392.2 192.7C392.4 192.9 392.7 193.2 392.9 193.5C393.1 193.8 393.4 194.2 393.7 194.6C394.2 195.5 394.7 196.5 395.2 197.9C395.4 198.6 395.5 199.3 395.8 200.1C395.9 200.9 396 201.7 396.1 202.6C396.2 204.3 396.2 206.2 396 208.2C395.9 209.2 395.7 210.1 395.5 211.3C395.3 212.3 395 213.3 394.8 214.4C394.2 216.4 393.5 218.6 392.6 220.7C391.7 222.7 390.7 224.9 389.5 226.8C388.4 228.7 387.1 230.7 385.6 232.5C384.2 234.3 382.8 236 381.3 237.5C380.5 238.3 379.7 239 379 239.7C378.2 240.4 377.4 241.1 376.6 241.6C375 242.7 373.4 243.8 371.8 244.4C371 244.9 370.2 245.1 369.5 245.4C368.7 245.6 368 245.9 367.3 246C365.9 246.3 364.7 246.5 363.7 246.5C363.2 246.5 362.8 246.4 362.3 246.4C362 246.4 361.6 246.3 361.3 246.2C360.7 246.1 360.5 246.1 360.5 246.1C360.5 246.1 360.7 246.1 361.3 246.2C361.5 246.2 361.9 246.3 362.3 246.3C362.6 246.3 363.1 246.3 363.7 246.3C364.7 246.3 365.9 246.1 367.2 245.7C367.9 245.5 368.6 245.2 369.2 245C369.9 244.7 370.7 244.4 371.5 244C373 243.2 374.6 242.3 376.2 241C377.8 239.9 379.3 238.4 380.8 236.9C382.3 235.3 383.8 233.7 385.1 231.9C386.5 230.1 387.7 228.1 388.9 226.2C390.1 224.3 391.1 222.2 392 220.2C392.9 218.2 393.6 216 394.2 213.9C394.8 211.8 395.2 209.8 395.5 207.9C395.7 206 395.8 204.1 395.7 202.4C395.7 201.5 395.6 200.7 395.5 200C395.4 199.2 395.3 198.5 395 197.8C394.7 196.4 394.2 195.3 393.6 194.5C393.4 194 393.1 193.7 392.9 193.4C392.7 193.1 392.4 192.8 392.3 192.6C391.7 192.4 391.6 192.1 391.6 192.1Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M362.5 247.7C362.5 247.7 362.7 247.8 363.3 248C363.5 248.1 363.9 248.2 364.3 248.5C364.8 248.6 365.2 248.7 365.7 248.8C366.3 248.9 366.8 248.9 367.4 248.9C368.1 248.9 368.8 248.8 369.4 248.8C370.1 248.7 370.9 248.6 371.7 248.3C372.5 248 373.3 247.8 374.2 247.4C374.7 247.2 375 247.1 375.5 246.8C376 246.6 376.3 246.3 376.8 246.1C377.7 245.6 378.5 245.1 379.4 244.5C380.3 243.9 381.1 243.2 381.9 242.6C382.7 241.8 383.6 241.1 384.4 240.3C385.2 239.5 386 238.7 386.8 237.8C387.6 236.9 388.3 236 389.1 235.1C390.6 233.2 391.9 231.1 393.1 229.1C394.4 226.9 395.4 224.8 396.3 222.6C396.8 221.5 397.2 220.4 397.6 219.3C398.1 218.2 398.3 217 398.6 216C398.9 214.9 399.1 213.8 399.3 212.7C399.4 211.6 399.6 210.5 399.8 209.5C399.9 208.5 399.9 207.5 399.9 206.4C399.9 205.9 399.9 205.4 399.9 204.9C399.9 204.4 399.8 204 399.8 203.5C399.8 202.6 399.5 201.8 399.3 200.9C399.1 200.1 398.8 199.3 398.6 198.6C398.3 197.9 398 197.2 397.7 196.8C397.4 196.2 397 195.8 396.7 195.3C396.4 195 396 194.6 395.7 194.3C395.4 194.1 395.1 193.8 394.9 193.6C394.4 193.3 394.2 193 394.2 193C394.2 193 394.4 193.2 394.9 193.5C395.1 193.6 395.5 193.8 395.8 194.1C396.1 194.4 396.5 194.8 396.8 195.1C397.1 195.4 397.5 196 397.9 196.5C398.2 197.1 398.6 197.6 398.9 198.3C399.2 199 399.5 199.8 399.7 200.6C399.8 201.4 400.2 202.3 400.3 203.2C400.4 203.7 400.4 204.1 400.5 204.6C400.5 205.1 400.5 205.6 400.6 206.1C400.7 207.1 400.6 208.1 400.6 209.2C400.6 210.2 400.4 211.4 400.3 212.5C400.1 213.6 400 214.8 399.6 215.8C399.3 216.9 399 218.1 398.6 219.2C398.3 220.3 397.8 221.5 397.3 222.6C396.4 224.9 395.3 227 394.1 229.2C392.8 231.4 391.5 233.4 390 235.3C389.2 236.2 388.5 237.2 387.7 238C386.9 238.9 386.1 239.7 385.3 240.5C384.5 241.3 383.6 242 382.8 242.8C381.9 243.5 381.1 244.2 380.2 244.7C379.3 245.2 378.5 245.8 377.6 246.3C377.1 246.5 376.7 246.8 376.2 247C375.7 247.2 375.3 247.3 374.8 247.6C374 248.1 373.1 248.2 372.3 248.4C371.5 248.6 370.7 248.7 369.9 248.9C369.1 248.9 368.4 249 367.7 248.9C367 248.8 366.4 248.8 365.9 248.7C365.3 248.6 364.9 248.5 364.5 248.4C364.2 248.3 363.8 248.1 363.6 247.9C362.7 247.8 362.5 247.7 362.5 247.7Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M519.9 372.7L390.4 156.5C390.4 156.5 410.5 141.5 423.5 137.4C437.5 133 458.4 135 479.4 147.1C529.2 175.9 569.4 245.5 569.3 302.8C569.2 328.7 562.6 341.9 553 349.3L519.9 372.7Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M454.3 162.4C404.9 133.8 364.8 156.8 364.6 213.5C364.5 257.1 388 307.9 421.3 342.2V390.1L451.9 366.9C452.5 367.2 453.2 367.7 453.7 368C503.1 396.6 543.2 373.6 543.4 316.9C543.5 260.1 503.7 190.9 454.3 162.4Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M583.1 266.6C568.6 258.3 545.2 271.8 530.8 296.9C516.3 321.9 516.3 349 530.8 357.3C535.2 359.8 544.1 365 548.5 367.5C563 375.8 586.4 362.3 600.8 337.2C615.3 312.2 615.3 285.1 600.8 276.8C596.4 274.3 587.6 269.2 583.1 266.6Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M600.823 337.31C615.265 312.296 615.225 285.235 600.733 276.868C586.241 268.501 562.785 281.996 548.343 307.01C533.901 332.024 533.941 359.085 548.433 367.452C562.925 375.819 586.38 362.324 600.823 337.31Z" fill="#DDE4FD" stroke="#304295" stroke-width="2" stroke-miterlimit="9.9998" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M600.3 282.8C587.3 275.3 566.4 287.5 553.5 309.8C540.5 332.2 540.5 356.3 553.5 363.8C557.5 366.1 559.4 367.2 563.3 369.5C576.3 377 597.2 364.8 610.1 342.5C623.1 320.1 623.1 296 610.1 288.5C606.1 286.2 604.3 285.1 600.3 282.8Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M610.149 342.544C623.073 320.16 623.042 295.948 610.081 288.465C597.119 280.981 576.135 293.06 563.212 315.444C550.289 337.827 550.319 362.039 563.281 369.522C576.242 377.006 597.226 364.927 610.149 342.544Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="9.9998" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M606.4 304.1C597.8 299.1 583.6 307.2 574.9 322.3C566.3 337.3 566.3 353.6 574.9 358.6C577.5 360.1 576.2 359.3 578.8 360.9C587.4 365.9 601.6 357.8 610.3 342.7C618.9 327.7 618.9 311.4 610.3 306.4C607.7 304.8 609.2 305.7 606.4 304.1Z" fill="#21409A" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M610.332 342.661C619.031 327.595 619.026 311.308 610.321 306.282C601.616 301.256 587.508 309.395 578.81 324.461C570.111 339.527 570.116 355.814 578.821 360.84C587.526 365.866 601.634 357.727 610.332 342.661Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="9.9998" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M597.4 252.6V281.6C588.1 281.1 577.9 287.4 568.4 298.2C568.4 298.2 564.2 264.5 555.7 228C548.9 198.6 521.7 172.7 486.7 142.9C406.9 74.6999 354.7 100.9 354.7 100.9L394.3 75.7999C410.9 66.1999 445.3 71.0999 475.5 87.4999C538.6 121.5 597.4 180.2 597.4 252.6Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M437 361.8L443.1 347.3L425.7 337.2C425.1 336.9 424.3 336.7 423.7 337.1L420.6 338.9C419.2 339.7 418.4 341.2 418.4 342.7V349.9C418.4 350.6 418.7 351 419.2 351.4C419.3 351.5 419.5 351.6 419.7 351.6L437 361.8Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M441.9 360L438.8 361.8C437.5 362.6 435.8 361.6 435.8 360.1V352.9C435.8 351.3 436.6 349.9 438 349.1L441.1 347.3C442.4 346.5 444.1 347.5 444.1 349V356.2C444.1 357.7 443.3 359.2 441.9 360Z" fill="#21409A" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M597.3 324.1C593.9 324.1 590.5 327.5 588.7 331.3C586.7 335.4 586.4 339.6 588.7 341C589.4 341.5 592.6 342.3 593.3 342.6C595.6 344 599.3 341.8 601.7 337.8C604 333.8 604.9 328.1 602.6 326.8C601.8 326.3 599 324.1 597.3 324.1Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M601.7 326.6C595.8 325.5 592.6 334.2 592.3 335L572.4 344.8L552.9 355.5L533.6 362.2L514.3 364.8L494.3 364.7L473 362.3L455.6 358.5L437.7 351.6V358.4C472.5 378.5 529.1 378.5 563.9 358.4L592.5 341.9V341.8C592.7 342.1 593.4 343.4 594.2 343.8C598.2 346.4 602.6 342.4 604.4 337.9C605.9 333.5 605.9 327.5 601.7 326.6Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M437.6 351.4C472.4 371.5 529 371.5 563.8 351.4L592.4 334.9L588.1 332.5L560.9 348.7C526 366.6 476.6 366.6 442.6 348.7L437.6 351.4Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M417.5 248.5C417.5 254.1 412.9 256 407.3 252.8C401.7 249.5 397.1 242.4 397.1 236.7C397.1 231.1 401.7 229.2 407.3 232.4C412.9 235.7 417.5 242.9 417.5 248.5ZM448.1 256.9C442.5 253.6 437.9 255.6 437.9 261.2C437.9 266.8 442.5 274.1 448.1 277.3C453.7 280.6 458.3 278.6 458.3 273C458.4 267.3 453.7 260.1 448.1 256.9ZM488.9 281.3C483.3 278 478.7 280 478.7 285.6C478.7 291.2 483.3 298.5 488.9 301.7C494.5 305 499.1 303 499.1 297.4C499.2 291.7 494.5 284.5 488.9 281.3Z" fill="#21409A"/>
			<animate
				v-if="isAnimated"
				:id="`${uid}_headphones_anim`"
				:dur="headphones.dur"
				:begin="headphones.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1"
				:ref="isMobileAndAnimated ? 'start' : 'headphones'">
			</animate>
		</g>
	</svg>
</template>

<script>

	import mixinAnimatedSvg from '../mixins/animatedSvg';

	export default {
		name: 'AnimationVoiceBiometrics',
		mixins: [
			mixinAnimatedSvg
		],
		data(){
			return {
				uid: 'vb',
				animationName: 'voice-biometrics'
			}
		},
		computed: {
			line_start(){
				return{
					begin: 'indefinite',
					dur: '0.5s',
					dasharray: this.isAnimated ? 280 : 0,
					dashoffset: this.isAnimated ? 280 : 0
				}
			},
			headphones() {
				return {
					begin: this.isMobileAndAnimated ? 'indefinite' : `${this.uid}_line_start_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			line_bank(){
				return{
					begin: `${this.uid}_headphones_anim.end`,
					dur: '0.5s',
					dasharray: this.isAnimated ? 320 : 0,
					dashoffset: this.isAnimated ? 320 : 0
				}
			},
			line_phone(){
				return{
					begin: `${this.uid}_headphones_anim.end + 0.2s`,
					dur: '0.5s',
					dasharray: this.isAnimated ? 550 : 0,
					dashoffset: this.isAnimated ? 550 : 0
				}
			},
			line_telecom(){
				return{
					begin: `${this.uid}_headphones_anim.end + 0.4s`,
					dur: '0.5s',
					dasharray: this.isAnimated ? 330 : 0,
					dashoffset: this.isAnimated ? 330 : 0
				}
			},
			storage() {
				return {
					begin: `${this.uid}_line_phone_anim.end - 0.2s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			bank() {
				return {
					begin: `${this.uid}_line_bank_anim.end + 0.4s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			telecom() {
				return {
					begin: `${this.uid}_line_telecom_anim.end + 0.2s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			messenger() {
				return {
					begin: `${this.uid}_line_phone_anim.end + 0.4s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			line_finish(){
				return{
					begin: 'indefinite',
					dur: '1s',
					dasharray: this.isAnimated ? 750 : 0,
					dashoffset: this.isAnimated ? 750 : 0
				}
			}
		}
	}
</script>