<template>
	<div class="page__wrapper wrapper--steps" ref="steps">

		<svg class="line--lg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1551 902">
			<path
				stroke="#DDE4FD"
				stroke-linejoin="round"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M1 51.1779H334.5L339.415 25.3963C339.642 24.2045 341.397 24.3703 341.397 25.5836V77.4789C341.397 78.7074 343.184 78.8538 343.384 77.6417L354.513 10.2141C354.713 9.00197 356.5 9.14842 356.5 10.3769V92.3556C356.5 93.5959 358.311 93.7269 358.49 92.4995L370.51 9.85633C370.689 8.62889 372.5 8.7599 372.5 10.0003V78.9419C372.5 80.1568 374.258 80.3206 374.483 79.1266L384.517 25.7292C384.742 24.5352 386.5 24.699 386.5 25.9139V51.1779V64.2092C386.5 65.3209 388.042 65.6028 388.435 64.5631L393.5 51.1779L463 51L549.5 1"
				:stroke-dasharray="line_lg_0.dasharray"
				:stroke-dashoffset="line_lg_0.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_lg_0_anim"
					:dur="line_lg_0.dur"
					:begin="line_lg_0.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0"
					:ref="isLg ? 'start' : 'line_lg_0'">
				</animate>
			</path>
			<path
				stroke="#DDE4FD"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M579 69L515 106L768 251L866 194L963 250"
				:stroke-dasharray="line_lg_1.dasharray"
				:stroke-dashoffset="line_lg_1.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_lg_1_anim"
					:dur="line_lg_1.dur"
					:begin="line_lg_1.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
			<path
				stroke="#DDE4FD"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M997 224l196-114L1193 110L1415 238L1369 263L1549 367L1382 465"
				:stroke-dasharray="line_lg_2.dasharray"
				:stroke-dashoffset="line_lg_2.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_lg_2_anim"
					:dur="line_lg_2.dur"
					:begin="line_lg_2.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
			<path
				stroke="#DDE4FD"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M1351 562L1315 583L1126 474L1009 543L1102 597L718 822L857 901L966 837"
				:stroke-dasharray="line_lg_3.dasharray"
				:stroke-dashoffset="line_lg_3.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_lg_3_anim"
					:dur="line_lg_3.dur"
					:begin="line_lg_3.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
		</svg>

		<div class="wrapper wrapper--digit wrapper--digit-1">
			<svg class="digit" xmlns="http://www.w3.org/2000/svg" fill="none" width="113" height="130" viewBox="0 0 113 130">
				<g :opacity="isAnimated ? 0 : 1">
					<path fill="#DCE6FF" d="M112.13 85.54l-75.144 43.702-17.04-9.901 59.468-34.654-.17-.17-21.3-4.269 10.394-9.389 29.308 6.317 14.484 8.364z"/>
					<path fill="#fff" stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M1.024 24.074l2.681 17.148c.125.936.935 1.56 1.87 1.56h13.969v73.206c0 .623.311 1.247.873 1.621l17.46 10.725c.56.375 1.31.375 1.933 0l35.543-20.702a1.86 1.86 0 00.935-1.621V13.349c0-.686-.374-1.247-.935-1.622L59.889 2.5c-.25-.125-.562-.25-.873-.25l-20.64-.997a4.747 4.747 0 00-2.744.686L1.959 22.203a1.801 1.801 0 00-.935 1.871z"/>
					<path stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M1.46 23.45l20.703.624c.311 0 .623.125.873.25l14.903 8.73c.561.311.935.935.935 1.62v93.91M22.6 24.012L59.14 2.499M38.874 33.428l36.79-20.578"/>
					<animate
						v-if="isAnimated"
						id="digit_1_anim"
						:dur="digit_1.dur"
						:begin="digit_1.begin"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="1"
						:ref="!isLg ? 'start' : 'digit_1'">
					</animate>
				</g>
			</svg>
			<div class="wrapper" :style="textStyle">
				<h3>
					Зарегистрируйтесь
				</h3>
				<p>
					Процедура регистрации займет у Вас не более 5 минут.
				</p>
			</div>
		</div>

		<svg class="line--sm line--sm-1" xmlns="http://www.w3.org/2000/svg" fill="none" width="92" height="73" viewBox="0 0 92 73">
			<path
				stroke="#DDE4FD"
				stroke-linejoin="round"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M91 1L1 53l33 19"
				:stroke-dasharray="line_sm_1.dasharray"
				:stroke-dashoffset="line_sm_1.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_sm_1_anim"
					:dur="line_sm_1.dur"
					:begin="line_sm_1.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
		</svg>

		<div class="wrapper wrapper--digit wrapper--digit-2">
			<svg class="digit" xmlns="http://www.w3.org/2000/svg" fill="none" width="111" height="130" viewBox="0 0 111 130">
				<g :opacity="isAnimated ? 0 : 1">
					<path fill="#DDE4FD" stroke="#DDE4FD" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M23 95.336l54.975-32.273a.817.817 0 01.82 0L110 81.351l-55.224 32.273a.816.816 0 01-.819 0L23 95.336z"/>
					<path fill="#fff" stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M3.536 53.413a2.139 2.139 0 01-1.04-2.246C3.097 47.389 5.671 36.6 16.57 20.938 25.77 7.74 46.251-2.446 55.78 2.099l26.89 15.498s7.83 3.779 6.461 15.882C87.762 45.582 81.3 57.63 75.769 65.844l12.541 7.557c.657.384 1.04 1.096 1.04 1.862v16.648c0 .767-.438 1.479-1.095 1.917l-59.692 34.884a2.333 2.333 0 01-2.246 0L2.057 114.2c-.712-.438-1.15-1.259-1.04-2.081.438-4.874 3.34-22.289 21.193-47.754L3.536 53.413z"/>
					<path stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M29.001 68.144L10.546 57.63M82.833 17.652c-3.286-2.19-14.622-3.778-34.008 12.815-19.66 16.758-19.824 37.677-19.824 37.677l20.974-12.322s.822-10.514 7.831-15.059c7.01-4.546 12.87-2.355 9.913 7.557-2.958 9.912-16.922 28.367-21.468 35.541-4.545 7.174-17.141 24.151-18.784 44.961M89.405 74.059L57.094 92.678s12.87-19.605 19.058-27.601"/>
					<animate
						v-if="isAnimated"
						id="digit_2_anim"
						:dur="digit_2.dur"
						:begin="digit_2.begin"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="1"
						>
					</animate>
				</g>
			</svg>
			<div class="wrapper" :style="textStyle">
				<h3>
					Протестируйте сервис
				</h3>
				<p>
					Протестируйте работу сервиса с помощью приветственных баллов на счету
				</p>
			</div>
		</div>

		<svg class="line--sm line--sm-2" xmlns="http://www.w3.org/2000/svg" fill="none" width="112" height="84" viewBox="0 0 112 84">
			<path
				stroke="#DDE4FD"
				stroke-linejoin="round"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M79 1l32 18L1 83"
				:stroke-dasharray="line_sm_2.dasharray"
				:stroke-dashoffset="line_sm_2.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_sm_2_anim"
					:dur="line_sm_2.dur"
					:begin="line_sm_2.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
		</svg>

		<svg class="line--md line--md-2" xmlns="http://www.w3.org/2000/svg" fill="none" width="183" height="164" viewBox="0 0 183 164">
			<path
				stroke="#DDE4FD"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M182 1L1 106L100 163"
				:stroke-dasharray="line_md_2.dasharray"
				:stroke-dashoffset="line_md_2.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_md_2_anim"
					:dur="line_md_2.dur"
					:begin="line_md_2.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
		</svg>

		<div class="wrapper wrapper--digit wrapper--digit-3">
			<svg class="digit" xmlns="http://www.w3.org/2000/svg" fill="none" width="114" height="127" viewBox="0 0 114 127">
				<g :opacity="isAnimated ? 0 : 1">
					<path fill="#DDE4FD" stroke="#DDE4FD" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M32.86 87.511L74.2 70.398c.3-.157.67-.157.98 0L112.61 89.9 74.2 109.173c-1.48 1.477-2.17 1.594-9.83 5.907L32.86 87.511z"/>
					<path stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M14.92 58.59l18.55-10.948M4.42 88.279l18.55-10.948"/>
					<path fill="#fff" stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M4.62 20.852L38.23 1.274c.39-.193.84-.322 1.29-.257 4.19.644 26.34 5.023 39.87 23.055 3.86 5.152 7.72 12.816 7.72 21.896 0 6.44-.64 9.66-3.86 11.592l-7.08 3.864S98.71 76.236 88.4 98.776c-.84 1.868-2.57 4.508-4.51 5.796l-32.2 18.676s-7.08 4.508-17.38 1.288c-6.77-2.125-17.13-5.667-32.85-24.343-.38-.515-.58-1.159-.38-1.803l2.64-9.145c.38-1.417 2.19-1.868 3.22-.837 4.57 4.765 14.81 14.747 22.15 16.164 9.66 1.932 9.66-9.016 4.51-16.744-4.38-6.569-15.72-13.588-19-15.52a1.925 1.925 0 01-.97-1.675V60.265a1.903 1.903 0 012.84-1.675c5.54 2.963 17.45 8.501 18.42 1.61 1.28-8.758-10.18-21.187-26.22-21.896-.83-.064-1.61-.644-1.8-1.481l-3.15-13.91c-.2-.773.19-1.675.9-2.061z"/>
					<path stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M48.47 76.944l28.98-16.1M4.04 21.56S24 20.916 41.39 38.948s15.46 42.504-1.93 39.284c0 0 20.61 10.948 18.03 34.132-.58 5.152-1.93 9.016-8.37 12.236"/>
					<animate
						v-if="isAnimated"
						id="digit_3_anim"
						:dur="digit_3.dur"
						:begin="digit_3.begin"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="1"
						>
					</animate>
				</g>
			</svg>
			<div class="wrapper" :style="textStyle">
				<h3>
					Получите неограниченный доступ
				</h3>
				<p>
					Пополните баланс в личном кабинете и пользуйтесь услугами неограниченно.
				</p>
			</div>
		</div>

		<svg class="line--sm line--sm-3" xmlns="http://www.w3.org/2000/svg" fill="none" width="159" height="127" viewBox="0 0 159 127">
			<path
				stroke="#DDE4FD"
				stroke-linejoin="round"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M62 1L1 37L158 126"
				:stroke-dasharray="line_sm_3.dasharray"
				:stroke-dashoffset="line_sm_3.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_sm_3_anim"
					:dur="line_sm_3.dur"
					:begin="line_sm_3.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
		</svg>

		<svg class="line--md line--md-3" xmlns="http://www.w3.org/2000/svg" fill="none" width="183" height="164" viewBox="0 0 183 164">
			<path
				stroke="#DDE4FD"
				stroke-miterlimit="10"
				stroke-width="2"
				d="M1 1l181 105L83 163"
				:stroke-dasharray="line_md_3.dasharray"
				:stroke-dashoffset="line_md_3.dashoffset"
				>
				<animate
					v-if="isAnimated"
					id="line_md_3_anim"
					:dur="line_md_3.dur"
					:begin="line_md_3.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
		</svg>

		<div class="wrapper wrapper--digit wrapper--digit-4">
			<svg class="digit" xmlns="http://www.w3.org/2000/svg" fill="none" width="131" height="130" viewBox="0 0 131 130">
				<g :opacity="isAnimated ? 0 : 1">
					<path fill="#DCE6FF" d="M98.385 71.11L59 94.587l31.441 18.288 40.468-23.477L99.217 71.11a.84.84 0 00-.832 0z"/>
					<path stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M99.452 70.038L75.328 56.109M71.357 120.835l-22.702-13.158"/>
					<path fill="#fff" stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M41.721 12.425L1.06 91.376v20.865c0 .652.356 1.244.89 1.541l26.672 14.996c.534.296 1.186.296 1.778 0l40.602-23.235v14.166c0 1.363 1.482 2.193 2.668 1.541l15.411-8.654c.533-.296.89-.889.89-1.541V94.34l9.78-5.394c.592-.296.888-.889.888-1.541v-15.47c0-1.363-1.482-2.193-2.667-1.541l-8.002 4.445V18.352c0-.652-.356-1.245-.889-1.541L61.814 1.222a1.891 1.891 0 00-1.778 0L42.373 11.714a2.494 2.494 0 00-.652.711z"/>
					<path stroke="#2141A4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M70.41 84.856l-11.026-6.105M70.41 57.591L49.07 98.489l21.042-12.506c.534-.356.889-.949.889-1.542l-.592-26.85zM69.994 28.31L42.55 12.484M29.51 128.126l-.059-20.035L1 91.791M89.376 17.285L70.527 28.014c-.296.177-.593.414-.711.77L29.51 107.973"/>
					<animate
						v-if="isAnimated"
						id="digit_4_anim"
						:dur="digit_4.dur"
						:begin="digit_4.begin"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="1"
						>
					</animate>
				</g>
			</svg>
			<div class="wrapper" :style="textStyle">
				<h3>
					Настраивайте <br>и запускайте сервис
				</h3>
				<p>
					Редактируйте настройки и скрипты и получайте максимальный результат
				</p>
			</div>
		</div>

	</div>
</template>

<script>

	import mixinAnimatedSvg from '../mixins/animatedSvg';

	export default {
		name: 'AnimationSteps',
		mixins:[
			mixinAnimatedSvg
		],
		data(){
			return {
				animationName: 'steps',
			}
		},
		computed: {
			textStyle(){
				return this.isAnimated ? '' : 'opacity:1;';
			},
			isMd(){
				return window.matchMedia(`(min-width:${this.$store.state.breakponts.md}px)`).matches;
			},
			isLg(){
				return window.matchMedia(`(min-width:${this.$store.state.breakponts.lg}px)`).matches;
			},
			line_lg_0(){
				return {
					begin: 'indefinite',
					dur: '0.5s',
					dasharray: this.isAnimated ? 1030 : 0,
					dashoffset: this.isAnimated ? 1030 : 0
				}
			},
			line_sm_1(){
				return {
					begin: 'digit_1_anim.end',
					dur: '0.5s',
					dasharray: this.isAnimated ? 150 : 0,
					dashoffset: this.isAnimated ? 150 : 0
				}
			},
			line_lg_1(){
				return {
					begin: 'digit_1_anim.end',
					dur: '0.5s',
					dasharray: this.isAnimated ? 600 : 0,
					dashoffset: this.isAnimated ? 600 : 0
				}
			},
			digit_1(){
				return {
					begin: !this.isLg ? 'indefinite' : 'line_lg_0_anim.end',
					dur: '0.5s'
				}
			},
			line_sm_2(){
				return {
					begin: 'digit_2_anim.end',
					dur: '0.5s',
					dasharray: this.isAnimated ? 170 : 0,
					dashoffset: this.isAnimated ? 170 : 0
				}
			},
			line_md_2(){
				return {
					begin: 'digit_2_anim.end',
					dur: '0.5s',
					dasharray: this.isAnimated ? 330 : 0,
					dashoffset: this.isAnimated ? 330 : 0
				}
			},
			line_lg_2(){
				return {
					begin: 'digit_2_anim.end',
					dur: '0.5s',
					dasharray: this.isAnimated ? 940 : 0,
					dashoffset: this.isAnimated ? 940 : 0
				}
			},
			digit_2(){
				return {
					begin: this.isLg ? 'line_lg_1_anim.end' : ( this.isMd ? 'digit_1_anim.end' : 'line_sm_1_anim.end' ),
					dur: '0.5s'
				}
			},
			line_sm_3(){
				return {
					begin: 'digit_3_anim.end',
					dur: '0.5s',
					dasharray: this.isAnimated ? 270 : 0,
					dashoffset: this.isAnimated ? 270 : 0
				}
			},
			line_md_3(){
				return {
					begin: 'digit_3_anim.end',
					dur: '0.5s',
					dasharray:  this.isAnimated ? 330 : 0,
					dashoffset:  this.isAnimated ? 330 : 0
				}
			},
			line_lg_3(){
				return {
					begin: 'digit_3_anim.end',
					dur: '0.5s',
					dasharray: this.isAnimated ? 1230 : 0,
					dashoffset: this.isAnimated ? 1230 : 0
				}
			},
			digit_3(){
				return {
					begin: this.isLg ? 'line_lg_2_anim.end' : ( this.isMd ? 'line_md_2_anim.end' : 'line_sm_2_anim.end' ),
					dur: '0.5s'
				}
			},
			digit_4(){
				return {
					begin: this.isLg ? 'line_lg_3_anim.end' : ( this.isMd ? 'line_md_3_anim.end' : 'line_sm_3_anim.end' ),
					dur: '0.5s'
				}
			}
		},
		methods: {
			showSectionBtn(){
				document.querySelector('.section--steps .btn--hidden').classList.remove('btn--hidden');
			}
		},
		mounted(){
			if( !this.isAnimated ){
				this.showSectionBtn();
			}else{
				for (let index = 1; index <= 4; index++) {
					let digit = this.$refs.steps.querySelector(`.wrapper--digit-${index}`),
						anim = digit.querySelector('animate'),
						text = digit.querySelector('.wrapper');
					anim.addEventListener('beginEvent', () => {
						text.style.opacity = 1;
					});
					if( index === 4 ){
						anim.addEventListener('endEvent', () => {
							this.showSectionBtn();
						});
					}
				}
			}
		}
	}

</script>