<template>
	<span aria-hidden="true" aria-label="EasySolutions" role="img" class="icon__wrapper">
		<svg viewBox="0 0 356 522" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon__vue icon__vue--easy-solutions-animation">
			<g class="figure-1" :opacity="figure_1.opacity">
				<path
					d="M10.5356 63.4464L101.587 11.0819L100.962 11.4727C104.245 10.613 108.074 11.2382 112.216 13.6611C123.158 19.9917 132.459 36.7171 132.459 50.9414V314.561C132.459 321.283 130.427 326.207 127.066 328.786L127.379 328.63L34.7639 382.244L10.5356 63.4464Z"
					fill="white"
					stroke="#2141A4"
					stroke-width="2"
					stroke-linejoin="round"
					:stroke-dasharray="figure_1_arc.dasharray"
					:stroke-dashoffset="figure_1_arc.dashoffset">
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_1_arc_anim`"
						:begin="figure_1_arc.begin"
						:dur="figure_1_arc.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="stroke-dashoffset"
						to="0">
					</animate>
				</path>
				<path
					:opacity="figure_2_shadow.opacity"
					d="M95.8032 54.7712C84.2361 48.1279 75.7952 61.4144 75.7952 61.4144L1 342.463C1 356.922 10.4569 374.273 22.1021 380.994C33.6692 387.715 42.0319 374.585 42.0319 374.585L116.905 93.3021C116.905 78.8432 107.448 61.4926 95.8032 54.7712Z"
					fill="#687EC1"
					>
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_2_shadow_anim`"
						:begin="figure_2_shadow.begin"
						:dur="figure_2_shadow.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="0.5">
					</animate>
				</path>
				<path
					d="M1.78168 79.5461C1.78168 65.3218 11.0822 59.3819 22.1022 65.7125C33.0441 72.0432 42.3446 88.7685 42.3446 102.993V366.378C42.3446 380.603 33.1222 386.621 22.1022 380.212C11.0822 373.881 1.78168 357.156 1.78168 342.932V79.5461Z"
					fill="white"
					stroke="#2141A4"
					stroke-width="2"
					:stroke-dasharray="figure_1_ellipse.dasharray"
					:stroke-dashoffset="figure_1_ellipse.dashoffset">
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_1_ellipse_anim`"
						:begin="figure_1_ellipse.begin"
						:dur="figure_1_ellipse.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="stroke-dashoffset"
						to="0"
						>
					</animate>
				</path>
				<animate
					v-if="isAnimated"
					:id="`${uid}_figure_1_anim`"
					:dur="figure_1.dur"
					:begin="figure_1.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="opacity"
					to="1"
					ref="start">
				</animate>
			</g>
			<g class="figure-2" :opacity="figure_2.opacity">
				<path
					d="M84.7634 53.3126L175.808 1L175.183 1.39039C178.465 0.531529 182.294 1.15616 186.436 3.57659C197.377 9.90095 206.677 26.6097 206.677 40.82V409.272C206.677 415.987 204.645 420.906 201.285 423.483L201.597 423.327L108.99 477.044L84.7634 53.3126Z"
					fill="white"
					stroke="#2141A4"
					stroke-width="2"
					stroke-linejoin="round"
					:stroke-dasharray="figure_2_arc.dasharray"
					:stroke-dashoffset="figure_2_arc.dashoffset">
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_2_arc_anim`"
						:begin="figure_2_arc.begin"
						:dur="figure_2_arc.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="stroke-dashoffset"
						to="0">
					</animate>
				</path>
				<path
					:opacity="figure_3_shadow.opacity"
					d="M169.582 97.3659C158.015 90.6445 149.652 103.618 149.652 103.618L74.779 437.735C74.779 452.194 84.2359 469.545 95.8029 476.188C107.37 482.831 115.811 469.545 115.811 469.545L190.762 135.897C190.762 121.438 181.149 104.087 169.582 97.3659Z"
					fill="#687EC1"
					>
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_3_shadow_anim`"
						:begin="figure_3_shadow.begin"
						:dur="figure_3_shadow.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="0.5">
					</animate>
				</path>
				<path
					d="M75.5607 69.3864C75.5607 55.162 84.8612 49.2221 95.8031 55.5528C106.823 61.8834 116.124 78.6088 116.124 92.8332V461.651C116.124 475.875 106.823 481.815 95.8031 475.485C84.8612 469.154 75.5607 452.429 75.5607 438.204V69.3864Z"
					fill="white"
					stroke="#2141A4"
					stroke-width="2"
					:stroke-dasharray="figure_2_ellipse.dasharray"
					:stroke-dashoffset="figure_2_ellipse.dashoffset">
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_2_ellipse_anim`"
						:begin="figure_2_ellipse.begin"
						:dur="figure_2_ellipse.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="stroke-dashoffset"
						to="0"
						>
					</animate>
				</path>
				<animate
					v-if="isAnimated"
					:id="`${uid}_figure_2_anim`"
					:dur="figure_2.dur"
					:begin="figure_2.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="opacity"
					to="1">
				</animate>
			</g>
			<g class="figure-3" :opacity="figure_3.opacity">
				<path
					d="M156.917 96.4386L247.961 44.126L247.336 44.5164C250.618 43.6576 254.448 44.2822 258.59 46.7026C269.531 53.027 278.831 69.7358 278.831 83.9461V452.398C278.831 459.113 276.799 464.032 273.438 466.609L273.751 466.453L181.143 520.171L156.917 96.4386Z"
					fill="white"
					stroke="#2141A4"
					stroke-width="2"
					stroke-linejoin="round"
					:stroke-dasharray="figure_3_arc.dasharray"
					:stroke-dashoffset="figure_3_arc.dashoffset">
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_3_arc_anim`"
						:begin="figure_3_arc.begin"
						:dur="figure_3_arc.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="stroke-dashoffset"
						to="0">
					</animate>
				</path>
				<path
					:opacity="figure_4_shadow.opacity"
					d="M243.362 245.316C231.795 238.594 223.354 251.334 223.354 251.334L148.481 480.252C148.481 494.711 157.938 512.062 169.583 518.783C181.15 525.505 188.575 514.797 188.575 514.797L264.386 283.768C264.386 269.309 254.929 251.959 243.362 245.316Z"
					fill="#687EC1"
					>
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_4_shadow_anim`"
						:begin="figure_4_shadow.begin"
						:dur="figure_4_shadow.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="opacity"
						to="0.5">
					</animate>
				</path>
				<path
					d="M149.262 111.981C149.262 97.7569 158.485 91.7388 169.505 98.0695C180.447 104.4 189.825 121.125 189.825 135.35V504.168C189.825 518.392 180.447 524.332 169.505 518.001C158.563 511.671 149.262 494.945 149.262 480.799V111.981Z"
					fill="white"
					stroke="#2141A4"
					stroke-width="2"
					:stroke-dasharray="figure_3_ellipse.dasharray"
					:stroke-dashoffset="figure_3_ellipse.dashoffset">
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_3_ellipse_anim`"
						:begin="figure_3_ellipse.begin"
						:dur="figure_3_ellipse.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="stroke-dashoffset"
						to="0"
						>
					</animate>
				</path>
				<animate
					v-if="isAnimated"
					:id="`${uid}_figure_3_anim`"
					:dur="figure_3.dur"
					:begin="figure_3.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="opacity"
					to="1">
				</animate>
			</g>
			<g class="figure-4" :opacity="figure_4.opacity">
				<path
					d="M232.342 243.518L323.394 191.153L322.769 191.544C326.051 190.684 329.881 191.31 334.023 193.733C344.965 200.063 354.265 216.789 354.265 231.013V389.044C354.265 395.766 352.233 400.689 348.873 403.269L349.185 403.112L256.571 456.805L232.342 243.518Z"
					fill="white"
					stroke="#2141A4"
					stroke-width="2"
					stroke-linejoin="round"
					:stroke-dasharray="figure_4_arc.dasharray"
					:stroke-dashoffset="figure_4_arc.dashoffset">
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_4_arc_anim`"
						:begin="figure_4_arc.begin"
						:dur="figure_4_arc.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="stroke-dashoffset"
						to="0">
					</animate>
				</path>
				<path
					d="M223.041 259.931C223.041 245.706 232.341 239.767 243.361 246.097C254.303 252.428 263.604 269.153 263.604 283.378V441.409C263.604 455.633 254.381 461.651 243.361 455.243C232.341 448.912 223.041 432.187 223.041 417.962V259.931Z"
					fill="white"
					stroke="#2141A4"
					stroke-width="2"
					:stroke-dasharray="figure_4_ellipse.dasharray"
					:stroke-dashoffset="figure_4_ellipse.dashoffset">
					<animate
						v-if="isAnimated"
						:id="`${uid}_figure_4_ellipse_anim`"
						:begin="figure_4_ellipse.begin"
						:dur="figure_4_ellipse.dur"
						repeatCount="1"
						fill="freeze"
						attributeName="stroke-dashoffset"
						to="0"
						>
					</animate>
				</path>
				<animate
					v-if="isAnimated"
					:id="`${uid}_figure_4_anim`"
					:dur="figure_4.dur"
					:begin="figure_4.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="opacity"
					to="1">
				</animate>
			</g>
		</svg>
	</span>
</template>

<script>

	import mixinAnimatedSvg from '../mixins/animatedSvg';

	export default {
		name: 'AnimationEasySolutions',
		mixins:[
			mixinAnimatedSvg
		],
		data(){
			return {
				animationName: 'easy-solutions',
			}
		},
		computed: {
			figure_1(){
				return {
					begin: 'indefinite',
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			figure_1_ellipse(){
				return {
					begin: `${this.uid}_figure_1_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 690 : 0,
					dashoffset: this.isAnimated ? 690 : 0,
				}
			},
			figure_1_arc(){
				return {
					begin: `${this.uid}_figure_1_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 870 : 0,
					dashoffset: this.isAnimated ? 870 : 0
				}
			},
			figure_2(){
				return {
					begin: `${this.uid}_figure_1_anim.begin + 0.5s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			figure_2_ellipse(){
				return {
					begin: `${this.uid}_figure_2_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 900 : 0,
					dashoffset: this.isAnimated ? 900 : 0
				}
			},
			figure_2_arc(){
				return {
					begin: `${this.uid}_figure_2_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ?  1080 : 0,
					dashoffset: this.isAnimated ?  1080 : 0
				}
			},
			figure_2_shadow(){
				return {
					begin: `${this.uid}_figure_2_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 0.5
				}
			},
			figure_3(){
				return {
					begin: `${this.uid}_figure_2_anim.begin + 0.5s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			figure_3_ellipse(){
				return {
					begin: `${this.uid}_figure_3_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 900 : 0,
					dashoffset: this.isAnimated ? 900 : 0
				}
			},
			figure_3_arc(){
				return {
					begin: `${this.uid}_figure_3_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 1080 : 0,
					dashoffset: this.isAnimated ? 1080 : 0
				}
			},
			figure_3_shadow(){
				return {
					begin: `${this.uid}_figure_3_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 0.5
				}
			},
			figure_4(){
				return {
					begin: `${this.uid}_figure_3_anim.begin + 0.5s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			figure_4_ellipse(){
				return {
					begin: `${this.uid}_figure_4_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 490 : 0,
					dashoffset: this.isAnimated ? 490 : 0
				}
			},
			figure_4_arc(){
				return {
					begin: `${this.uid}_figure_4_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 660 : 0,
					dashoffset: this.isAnimated ? 660 : 0
				}
			},
			figure_4_shadow(){
				return {
					begin: `${this.uid}_figure_4_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 0.5
				}
			}
		}
	}
</script>