<template>
	<svg  viewBox="0 0 961 526" fill="none" xmlns="http://www.w3.org/2000/svg" ref="svg">
		<g class="lines">
			<path
				v-if="!isMobile"
				class="line-start"
				d="M-1 200L56 199L249.502 87.8649L306.494 121.862"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
				:stroke-dasharray="line_start.dasharray"
				:stroke-dashoffset="line_start.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_start_anim`"
					:dur="line_start.dur"
					:begin="line_start.begin"
					class="anim_start"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0"
					ref="start">
				</animate>
			</path>
			<path
				v-if="!isMobile"
				class="line-finish"
				d="M636 450.5L766.135 374.199L809.202 374.199L814.128 348.401C814.356 347.209 816.11 347.375 816.11 348.588V400.519C816.11 401.747 817.896 401.894 818.097 400.682L829.25 333.216C829.45 332.004 831.237 332.151 831.237 333.379V415.398C831.237 416.638 833.047 416.769 833.226 415.542L845.272 332.856C845.451 331.629 847.262 331.76 847.262 333V401.979C847.262 403.194 849.02 403.358 849.244 402.164L859.301 348.734C859.525 347.54 861.284 347.704 861.284 348.919V387.238C861.284 388.35 862.825 388.632 863.219 387.593L868.294 374.199H922L961.5 352.5"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-linecap="round"
				:stroke-dasharray="line_finish.dasharray"
				:stroke-dashoffset="line_finish.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_finish_anim`"
					:dur="line_finish.dur"
					:begin="line_finish.begin"
					class="anim_finish"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0"
					ref="finish">
				</animate>
			</path>
			<path
				class="line-computer"
				d="M598.9 257.425L346 403.525"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
				:stroke-dasharray="line_computer.dasharray"
				:stroke-dashoffset="line_computer.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_computer_anim`"
					:dur="line_computer.dur"
					:begin="line_computer.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
			<path
				class="line-magnifier"
				d="M347 403.325L190 312.725L392.9 196.025"
				stroke="#DCE6FF"
				stroke-width="2"
				stroke-miterlimit="10"
				stroke-linecap="round"
				stroke-linejoin="round"
				:stroke-dasharray="line_magnifier.dasharray"
				:stroke-dashoffset="line_magnifier.dashoffset">
				<animate
					v-if="isAnimated"
					:id="`${uid}_line_magnifier_anim`"
					:dur="line_magnifier.dur"
					:begin="line_magnifier.begin"
					repeatCount="1"
					fill="freeze"
					attributeName="stroke-dashoffset"
					to="0">
				</animate>
			</path>
		</g>
		<g class="computer" :opacity="computer.opacity">
			<path class="shadow" d="M385.5 348.925L553.7 251.725L713.2 343.825C717.1 346.025 717.1 351.725 713.2 353.925L561 441.825C556.5 444.425 550.9 444.425 546.3 441.825L385.5 348.925Z" fill="#DCE6FF"/>
			<path d="M698.5 331.125C698.5 335.325 695.5 337.025 691.9 334.925L468.5 206.025C464.8 203.925 461.9 198.725 461.9 194.525V8.62478C461.9 4.42478 464.9 2.72478 468.5 4.82478L691.9 133.825C695.6 135.925 698.5 141.125 698.5 145.325V331.125Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M696.9 130.925L473.6 1.92486C471.7 0.824864 470.1 0.724864 468.9 1.52486L464.2 4.32486C465.4 3.82486 467 3.92486 468.7 4.82486L692.1 133.825C695.8 135.925 698.7 141.125 698.7 145.325V331.125C698.7 333.225 698 334.725 696.7 335.425L701.4 332.625C702.7 332.025 703.5 330.525 703.5 328.225V142.425C703.6 138.225 700.6 133.025 696.9 130.925Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M691.9 324.525L468.5 195.625V12.5249L691.9 141.425V324.525Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M540.4 425.325C536.7 427.425 530.7 427.425 527.1 425.325L303.7 296.325C300 294.225 300 290.825 303.7 288.625L455.9 200.725C459.6 198.625 465.6 198.625 469.2 200.725L692.6 329.725C696.3 331.825 696.3 335.225 692.6 337.425L540.4 425.325Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M663.9 319.325L487.4 217.325L492.7 214.325L669.3 316.125L663.9 319.325Z" fill="#21409A" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M469.5 219.025L458.6 212.725L464.1 209.525L475 215.925L469.5 219.025Z" fill="#DCE6FF"/>
			<path d="M488 229.625L477 223.325L482.4 220.225L493.4 226.525L488 229.625Z" fill="#DCE6FF"/>
			<path d="M506.3 240.225L495.4 234.025L500.9 230.725L511.8 237.125L506.3 240.225Z" fill="#DCE6FF"/>
			<path d="M524.7 250.925L513.8 244.525L519.3 241.425L530.2 247.825L524.7 250.925Z" fill="#DCE6FF"/>
			<path d="M543.1 261.525L532.2 255.225L537.6 252.025L548.6 258.325L543.1 261.525Z" fill="#DCE6FF"/>
			<path d="M561.5 272.125L550.6 265.825L556.1 262.725L567 269.025L561.5 272.125Z" fill="#DCE6FF"/>
			<path d="M580 282.725L569 276.525L574.4 273.325L585.4 279.625L580 282.725Z" fill="#DCE6FF"/>
			<path d="M598.3 293.425L587.4 287.025L592.9 283.925L603.8 290.225L598.3 293.425Z" fill="#DCE6FF"/>
			<path d="M616.7 304.025L605.8 297.725L611.3 294.625L622.2 300.825L616.7 304.025Z" fill="#DCE6FF"/>
			<path d="M635.1 314.625L624.2 308.325L629.6 305.125L640.6 311.525L635.1 314.625Z" fill="#DCE6FF"/>
			<path d="M653.5 325.325L642.6 318.925L648.1 315.825L659 322.125L653.5 325.325Z" fill="#DCE6FF"/>
			<path d="M672 335.925L661 329.525L666.4 326.425L677.4 332.725L672 335.925Z" fill="#DCE6FF"/>
			<path d="M459.9 234.725L440.2 223.325L451.1 217.025L470.8 228.325L459.9 234.725Z" fill="#DCE6FF"/>
			<path d="M449.7 249.225L422.5 233.525L433.5 227.225L460.6 242.825L449.7 249.225Z" fill="#DCE6FF"/>
			<path d="M438.7 264.125L404.2 244.125L415.1 237.825L449.7 257.825L438.7 264.125Z" fill="#DCE6FF"/>
			<path d="M401.5 268.325L381.9 257.025L396.7 248.525L416.4 259.725L401.5 268.325Z" fill="#DCE6FF"/>
			<path d="M428.6 284.025L409 272.625L423.8 264.125L443.5 275.425L428.6 284.025Z" fill="#DCE6FF"/>
			<path d="M455.7 299.725L436.1 288.325L450.9 279.825L470.6 291.125L455.7 299.725Z" fill="#DCE6FF"/>
			<path d="M549.3 353.625L529.7 342.325L544.4 333.825L564 345.025L549.3 353.625Z" fill="#DCE6FF"/>
			<path d="M595.2 380.125L556.7 357.925L571.5 349.325L610 371.625L595.2 380.125Z" fill="#DCE6FF"/>
			<path d="M522.2 338.025L463.3 304.025L478 295.525L537 329.525L522.2 338.025Z" fill="#DCE6FF"/>
			<path d="M483.4 248.325L467.3 239.025L478.2 232.625L494.3 241.925L483.4 248.325Z" fill="#DCE6FF"/>
			<path d="M473.2 262.825L457.2 253.525L468.1 247.125L484.1 256.425L473.2 262.825Z" fill="#DCE6FF"/>
			<path d="M462.8 277.425L446.7 268.225L457.6 261.825L473.7 271.125L462.8 277.425Z" fill="#DCE6FF"/>
			<path d="M486.4 291.025L470.2 281.825L481.2 275.425L497.3 284.725L486.4 291.025Z" fill="#DCE6FF"/>
			<path d="M509.9 304.625L493.9 295.325L504.8 289.025L520.8 298.325L509.9 304.625Z" fill="#DCE6FF"/>
			<path d="M533.4 318.225L517.4 308.925L528.3 302.625L544.3 311.925L533.4 318.225Z" fill="#DCE6FF"/>
			<path d="M557 331.825L540.9 322.525L551.9 316.225L567.9 325.525L557 331.825Z" fill="#DCE6FF"/>
			<path d="M580.6 345.425L564.5 336.125L575.4 329.825L591.5 339.025L580.6 345.425Z" fill="#DCE6FF"/>
			<path d="M618 367.025L588 349.725L598.9 343.425L628.9 360.725L618 367.025Z" fill="#DCE6FF"/>
			<path d="M496.7 276.425L480.7 267.125L491.6 260.725L507.7 270.025L496.7 276.425Z" fill="#DCE6FF"/>
			<path d="M520.4 289.925L504.3 280.725L515.2 274.325L531.3 283.625L520.4 289.925Z" fill="#DCE6FF"/>
			<path d="M543.9 303.525L527.8 294.325L538.7 287.925L554.8 297.225L543.9 303.525Z" fill="#DCE6FF"/>
			<path d="M567.4 317.125L551.3 307.925L562.2 301.525L578.4 310.825L567.4 317.125Z" fill="#DCE6FF"/>
			<path d="M591 330.725L574.9 321.525L585.8 315.125L601.9 324.425L591 330.725Z" fill="#DCE6FF"/>
			<path d="M635.9 356.725L598.5 335.025L609.4 328.725L646.8 350.325L635.9 356.725Z" fill="#DCE6FF"/>
			<path d="M506.9 261.925L490.8 252.625L501.7 246.225L517.9 255.525L506.9 261.925Z" fill="#DCE6FF"/>
			<path d="M530.5 275.425L514.5 266.225L525.4 259.825L541.4 269.125L530.5 275.425Z" fill="#DCE6FF"/>
			<path d="M554 289.025L538 279.825L548.9 273.425L564.9 282.725L554 289.025Z" fill="#DCE6FF"/>
			<path d="M577.5 302.625L561.5 293.425L572.4 287.025L588.5 296.325L577.5 302.625Z" fill="#DCE6FF"/>
			<path d="M601.2 316.225L585.1 307.025L596 300.625L612.1 309.925L601.2 316.225Z" fill="#DCE6FF"/>
			<path d="M624.7 329.825L608.6 320.525L619.5 314.225L635.6 323.625L624.7 329.825Z" fill="#DCE6FF"/>
			<path d="M653.5 346.525L632.1 334.125L643.1 327.825L664.4 340.225L653.5 346.525Z" fill="#DCE6FF"/>
			<path d="M522.2 351.125L432.1 299.125L383.5 326.525L473.6 378.525L522.2 351.125Z" fill="#DCE6FF"/>
			<path d="M692.6 337.325L540.4 425.225C537.5 426.925 533.2 427.325 529.7 426.325C529.7 426.325 527.6 425.525 527.2 425.225L303.7 296.225C303.4 296.025 303.3 295.925 303 295.825C302.9 295.825 302.9 295.725 302.8 295.725C302.7 295.625 302.5 295.525 302.4 295.425C302.3 295.325 302.3 295.325 302.2 295.225C302 295.025 301.9 294.925 301.8 294.825C301.8 294.825 301.8 294.825 301.7 294.725C301.6 294.525 301.4 294.325 301.3 294.225C301 293.725 300.9 293.125 300.9 292.625V299.125V295.825C300.9 297.225 301.8 301.925 303.6 303.025L527 432.025C532.4 434.725 537.8 434.025 540 433.325C544.9 431.725 546.5 430.825 548.9 428.825L692.5 345.825C694.4 344.725 695.3 343.325 695.3 342.025V333.725C695.4 334.925 694.5 336.425 692.6 337.325Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M479.5 194.425L474.5 191.525V189.525L479.5 192.425V194.425Z" fill="#21409A"/>
			<path d="M488 199.325L483 196.525V194.425L488 197.425V199.325Z" fill="#21409A"/>
			<path d="M496.5 204.325L491.5 201.425V199.325L496.5 202.325V204.325Z" fill="#21409A"/>
			<path d="M505.1 209.225L500 206.325V204.325L505.1 207.225V209.225Z" fill="#21409A"/>
			<path d="M513.6 214.125L508.5 211.225V209.225L513.6 212.125V214.125Z" fill="#21409A"/>
			<path d="M522.1 219.025L517.1 216.225V214.125L522.1 217.125V219.025Z" fill="#21409A"/>
			<path d="M530.6 223.925L525.6 221.125V219.025L530.6 222.025V223.925Z" fill="#21409A"/>
			<path d="M539.2 228.925L534.1 226.025V223.925L539.2 226.925V228.925Z" fill="#21409A"/>
			<path d="M547.7 233.825L542.6 230.925V228.925L547.7 231.825V233.825Z" fill="#21409A"/>
			<path d="M556.2 238.725L551.1 235.825V233.825L556.2 236.725V238.725Z" fill="#21409A"/>
			<path d="M564.7 243.625L559.6 240.825V238.725L564.7 241.725V243.625Z" fill="#21409A"/>
			<path d="M573.3 248.625L568.2 245.725V243.625L573.3 246.625V248.625Z" fill="#21409A"/>
			<path d="M581.8 253.525L576.7 250.625V248.625L581.8 251.525V253.525Z" fill="#21409A"/>
			<path d="M590.3 258.425L585.2 255.525V253.525L590.3 256.425V258.425Z" fill="#21409A"/>
			<path d="M598.8 263.325L593.7 260.525V258.425L598.8 261.425V263.325Z" fill="#21409A"/>
			<path d="M607.4 268.225L602.3 265.425V263.325L607.4 266.325V268.225Z" fill="#21409A"/>
			<path d="M615.9 273.225L610.8 270.325V268.225L615.9 271.225V273.225Z" fill="#21409A"/>
			<path d="M624.4 278.125L619.3 275.225V273.225L624.4 276.125V278.125Z" fill="#21409A"/>
			<path d="M632.9 283.125L627.8 280.125V278.125L632.9 281.025V283.125Z" fill="#21409A"/>
			<path d="M641.4 288.025L636.4 285.125V283.125L641.4 286.025V288.025Z" fill="#21409A"/>
			<path d="M649.9 292.925L644.9 290.025V288.025L649.9 290.925V292.925Z" fill="#21409A"/>
			<path d="M658.5 297.925L653.4 294.925V292.925L658.5 295.825V297.925Z" fill="#21409A"/>
			<path d="M667 302.825L662 299.825V297.925L667 300.725V302.825Z" fill="#21409A"/>
			<path d="M675.5 307.725L670.5 304.825V302.825L675.5 305.725V307.725Z" fill="#21409A"/>
			<path d="M684 312.625L679 309.725V307.725L684 310.625V312.625Z" fill="#21409A"/>
			<path d="M703.4 145.725L698.5 148.525" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M696.7 130.825L691.8 133.625" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<animate
				v-if="isAnimated"
				:id="`${uid}_computer_anim`"
				:dur="computer.dur"
				:begin="computer.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1"
				:ref="isMobileAndAnimated ? 'start' : 'computer'">
			</animate>
		</g>
		<g class="diagram" transform="translate(96, -214)" :opacity="diagram.opacity">
			<g transform="matrix(1, 0.5773502691896257, 0, 1, 0, 0)">
				<g transform="scale(0.9 0.9)">
					<g>
						<path d="M608.423 158.5L608.423 250.5" stroke="#DCE6FF" stroke-width="2">
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="20s"
								begin="0s"
								repeatCount="indefinite"
								attributeName="d"
								values="
									M418.423 128.5L418.423 200.5;
									M428.423 133.5L428.423 200.5;
									M438.423 130.5L438.423 200.5;
									M448.423 110.5L448.423 200.5;
									M458.423 120.5L458.423 200.5;
									M468.423 142.5L468.423 200.5;
									M478.423 128.5L478.423 200.5;
									M488.423 128.5L488.423 200.5;
									M498.423 158.5L498.423 200.5;
									M508.423 168.5L508.423 200.5;
									M518.423 161.5L518.423 200.5;
									M528.423 154.5L528.423 200.5;
									M538.423 169.5L538.423 200.5;
									M548.423 185.5L548.423 200.5;
									M558.423 178.5L558.423 200.5;
									M568.423 155.5L568.423 200.5;
									M578.423 137.5L578.423 200.5;
									M588.423 138.5L588.423 200.5;
									M598.423 152.5L598.423 200.5;
									M608.423 158.5L608.423 200.5;
									M618.423 150.5L618.423 200.5;
									M628.423 140.5L628.423 200.5;
									M638.423 124.5L638.423 200.5;
									M648.423 110.5L648.423 200.5;
									M656.423 106.5L656.423 200.5;
								">
							</animate>
						</path>
						<circle cx="608.423" cy="158.5" r="4" fill="#21409A">
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="20s"
								begin="0s"
								repeatCount="indefinite"
								attributeName="cx"
								values="
									418.423;
									428.423;
									438.423;
									448.423;
									458.423;
									468.423;
									478.423;
									488.423;
									498.423;
									508.423;
									518.423;
									528.423;
									538.423;
									548.423;
									558.423;
									568.423;
									578.423;
									588.423;
									598.423;
									608.423;
									618.423;
									628.423;
									638.423;
									648.423;
									656.423;
								">
							</animate>
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="20s"
								begin="0s"
								repeatCount="indefinite"
								attributeName="cy"
								values="
									128.5;
									133.5;
									130.5;
									110.5;
									120.5;
									142.5;
									128.5;
									128.5;
									158.5;
									168.5;
									161.5;
									154.5;
									169.5;
									185.5;
									178.5;
									155.5;
									137.5;
									138.5;
									152.5;
									158.5;
									150.5;
									140.5;
									124.5;
									110.5;
									106.5;
								">
							</animate>
						</circle>
					</g>
					<g>
						<path d="M656.423 106.5L656.423 106.5" stroke="#DCE6FF" stroke-width="2">
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="20s"
								begin="8s"
								repeatCount="indefinite"
								attributeName="d"
								values="
									M418.423 128.5L418.423 200.5;
									M428.423 133.5L428.423 200.5;
									M438.423 130.5L438.423 200.5;
									M448.423 110.5L448.423 200.5;
									M458.423 120.5L458.423 200.5;
									M468.423 142.5L468.423 200.5;
									M478.423 128.5L478.423 200.5;
									M488.423 128.5L488.423 200.5;
									M498.423 158.5L498.423 200.5;
									M508.423 168.5L508.423 200.5;
									M518.423 161.5L518.423 200.5;
									M528.423 154.5L528.423 200.5;
									M538.423 169.5L538.423 200.5;
									M548.423 185.5L548.423 200.5;
									M558.423 178.5L558.423 200.5;
									M568.423 155.5L568.423 200.5;
									M578.423 137.5L578.423 200.5;
									M588.423 138.5L588.423 200.5;
									M598.423 152.5L598.423 200.5;
									M608.423 158.5L608.423 200.5;
									M618.423 150.5L618.423 200.5;
									M628.423 140.5L628.423 200.5;
									M638.423 124.5L638.423 200.5;
									M648.423 110.5L648.423 200.5;
									M656.423 106.5L656.423 200.5;
								">
							</animate>
						</path>
						<circle cx="418.423" cy="128.5" r="4" fill="#21409A">
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="20s"
								begin="8s"
								repeatCount="indefinite"
								attributeName="cx"
								values="
									418.423;
									428.423;
									438.423;
									448.423;
									458.423;
									468.423;
									478.423;
									488.423;
									498.423;
									508.423;
									518.423;
									528.423;
									538.423;
									548.423;
									558.423;
									568.423;
									578.423;
									588.423;
									598.423;
									608.423;
									618.423;
									628.423;
									638.423;
									648.423;
									656.423;
								">
							</animate>
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="20s"
								begin="8s"
								repeatCount="indefinite"
								attributeName="cy"
								values="
									128.5;
									133.5;
									130.5;
									110.5;
									120.5;
									142.5;
									128.5;
									128.5;
									158.5;
									168.5;
									161.5;
									154.5;
									169.5;
									185.5;
									178.5;
									155.5;
									137.5;
									138.5;
									152.5;
									158.5;
									150.5;
									140.5;
									124.5;
									110.5;
									106.5;
								">
							</animate>
						</circle>
					</g>
					<path d="M608.169 158.8C596.257 159.7 594.23 134.6 582.064 135.5C570.49 136.4 561.62 185.7 549.708 185.8C538.303 185.8 538.556 154 526.897 154C518.196 154 517.013 169.2 508.227 169.2C497.329 169.2 493.443 125.2 483.643 125.3C474.434 125.3 472.998 142.7 466.662 142.6C457.707 142.7 462.776 109.2 451.033 109.2C438.952 109.3 440.219 137.9 433.967 137.6C427.715 137.4 427.8 122.4 418 129.7C418 132.8 418 201.5 418 201.5H657V106C644.412 106.3 620.081 158 608.169 158.8Z" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
					<path d="M418 129.5C427 122.5 428 137 434 137.5C440 138 439 109.5 451 109.5C463 109.5 458.5 143.5 466.5 142.5C474.5 141.5 474 125 484 125.5C494 126 498 169.5 508 169.5C518 169.5 517 154 527 154C537 154 539.5 184.5 549.5 186C559.5 187.5 571 138.5 582 135.5C593 132.5 598 161.5 608 159C618 156.5 648.694 104.673 656.5 106" stroke="transparent"/>
				</g>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_diagram_anim`"
				:dur="diagram.dur"
				:begin="diagram.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="message" transform="translate(175 -210)" :opacity="message.opacity">
			<g transform="matrix(1, 0.5773502691896257, 0, 1, 0, 0)">
				<g transform="scale(0.8 0.8)">
					<path d="M395 163H613C616.3 163 619 160.3 619 157V93C619 89.7 616.3 87 613 87H395C391.7 87 389 89.7 389 93V157C389 160.3 391.7 163 395 163Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M426 145C437.046 145 446 136.046 446 125C446 113.954 437.046 105 426 105C414.954 105 406 113.954 406 125C406 136.046 414.954 145 426 145Z" fill="#21409A"/>
					<path d="M421.6 133.8L435.4 125.8C436.1 125.4 436.1 124.5 435.4 124.1L421.6 116.1C420.9 115.7 420.1 116.2 420.1 117V132.9C420.1 133.7 420.9 134.2 421.6 133.8Z" fill="white"/>
					<g class="lines">
						<path
							:d="`M${457.8 + 8.3*index} ${109 +3*(index%2 === 0 ? index%6 : index%3)}v${33 - 3*(index%2 === 0 ? index%6 : index%3)*2}`"
							v-for="index in 17"
							:key="`wave_${index}`"
							stroke-linecap="round"
							stroke-width="4"
							stroke="#21409A"
							>
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="2s"
								:begin="message_waves[index-1].begin"
								attributeName="d"
								:values="`
									M${457.8 + 8.3*index} 109v33;
									M${457.8 + 8.3*index} 118v13;
									M${457.8 + 8.3*index} 109v33;
								`"
								repeatCount="indefinite">
							</animate>
						</path>
					</g>
				</g>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_message_anim`"
				:dur="message.dur"
				:begin="message.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="headphones" :opacity="headphones.opacity" transform="translate(0 0)">
			<path d="M590.3 477.725C603.4 464.725 628.5 458.025 646.4 462.925C655.3 465.325 660.8 470.125 662.3 476.025C663.8 481.825 661.5 488.825 655 495.225C641.9 508.225 616.8 514.925 598.9 510.025C590 507.625 584.5 502.825 583 496.925C581.4 491.125 583.7 484.125 590.3 477.725Z" fill="#DCE6FF"/>
			<path d="M696.6 414.225C709.7 401.225 734.8 394.525 752.7 399.425C761.6 401.825 767.1 406.625 768.6 412.525C770.1 418.325 767.8 425.325 761.3 431.725C748.2 444.725 723.1 451.425 705.2 446.525C696.3 444.125 690.8 439.325 689.3 433.425C687.7 427.625 690 420.725 696.6 414.225Z" fill="#DCE6FF"/>
			<g>
				<path d="M753.3 412.525C752.2 439.225 732.2 436.525 732.2 436.525C715.7 427.025 693.3 390.125 693.3 371.025C693.3 371.025 701.8 351.125 723.5 360.725C740.9 368.425 754.2 393.425 753.3 412.525Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M748.5 401.925C746.8 396.325 744.3 390.725 741.4 385.325C738.4 380.125 734.8 375.025 730.8 370.725C726.5 366.025 721.9 362.125 716.9 359.325C698 348.425 683 363.425 683 363.425C683 370.925 686.5 381.725 691.9 393.125C694.4 398.325 697.2 403.725 700.4 408.925C703.5 414.125 706.9 419.225 710.3 423.825C717.8 434.125 725.7 442.625 732.2 446.325C732.2 446.325 751.2 440.625 751.2 418.725C751.2 413.425 750.3 407.725 748.5 401.925Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M742.8 424.425C742.8 436.725 738.9 443.525 734.8 447.325C729.9 451.825 716.4 456.325 716.4 456.325C697.5 445.425 669 393.825 669 371.925C669 371.925 677.7 364.425 683.4 361.825C688.7 359.325 696.9 358.625 708.5 364.925C727.5 375.425 742.8 402.525 742.8 424.425Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M728.9 432.925C728.9 454.825 713.5 463.625 694.5 452.725C675.6 441.825 660.1 415.125 660.1 393.225C660.1 371.325 675.5 362.525 694.5 373.425C713.5 384.425 728.9 411.025 728.9 432.925Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M706.3 440.725C704.8 440.725 702.7 440.125 698.9 437.925C692.6 434.325 686.6 427.725 682.1 419.625C677.4 411.625 674.9 403.525 674.9 396.325C674.9 392.325 675.4 389.825 676.9 388.025C677.6 387.225 678.3 386.125 680.4 386.125C681.9 386.125 684.5 386.125 688.3 388.325C694.6 391.925 700.8 398.625 705.4 406.625C710.1 414.625 712.6 423.425 712.6 430.625C712.6 434.625 711.7 437.825 710.3 439.625C709.6 440.425 708.4 440.725 706.3 440.725Z" fill="#21409A" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M696.2 419.925C695.8 419.225 695.4 418.625 695.1 417.825C693 413.925 691.4 409.825 690.3 405.825C689.3 402.325 688.9 398.925 688.9 395.825C688.9 394.025 689.1 392.325 689.4 390.925C689.5 390.325 689.7 389.925 689.9 389.325C689.3 388.925 688.8 388.525 688.1 388.225C684.3 386.025 681.6 385.525 680.1 385.525C678 385.525 677.1 386.425 676.4 387.125C675 388.925 674.1 392.225 674.1 396.125C674.1 397.125 674.2 398.325 674.3 399.525C674.8 403.725 675.9 408.425 677.8 412.825C678.8 415.325 680 417.725 681.3 420.025C682.1 421.325 682.9 422.725 683.8 424.025C688.1 430.225 693.2 435.325 698.5 438.325C702.3 440.525 705 441.025 706.5 441.025C708.6 441.025 709.5 440.125 710.2 439.425C710.8 438.725 711.2 437.925 711.5 436.825C705.9 433.325 700.4 427.125 696.2 419.925Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M721.1 307.725C721.1 307.725 706.4 298.525 705.6 297.125L698.2 298.425C704.6 306.225 709.5 319.525 709.5 336.925C709.5 336.925 709.5 336.925 709.6 336.925V356.325C712 357.025 714.4 357.925 716.8 359.325C721.7 362.225 726.4 366.125 730.7 370.725H730.6H730.7V338.125L721.1 307.725Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M604.1 382.025C605 382.025 610.2 379.325 614.6 372.425C619 365.525 635.9 338.925 649.5 326.025C663.5 312.925 679.2 300.725 701.9 304.125C701.9 304.125 703.6 303.225 706.3 310.225C709 317.125 709 325.025 715.1 325.025C721.2 325.025 724.7 318.125 722 311.025C719.3 304.025 715.4 297.025 703.4 296.225C691.4 295.325 654.7 296.225 628.5 335.525C602.3 374.825 604.1 382.025 604.1 382.025Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M647.7 484.125C647.7 493.625 645.1 499.125 641.9 502.425C636.5 507.725 619.8 517.825 619.8 517.825C617.3 511.525 568.6 455.525 568.6 432.925C568.6 432.925 587.4 421.225 597.8 420.125C602.7 419.525 608.6 420.625 615 424.825C633.8 437.025 647.7 461.725 647.7 484.125Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M631.7 493.825C631.7 516.625 616.4 526.025 596.9 514.525C577.4 503.125 561.6 475.225 561.6 452.325C561.6 430.625 577.4 420.125 596.9 431.625C616.3 443.125 631.7 470.925 631.7 493.825Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M615.1 486.425C613.3 479.425 610.2 472.325 606.2 465.825C602.3 459.425 597.6 453.625 592.4 448.925C589.4 446.225 586.4 444.025 583.2 442.125C564.5 431.325 549.4 440.125 549.4 461.625C549.4 465.325 549.9 469.125 550.6 473.025C552.1 479.925 554.8 486.925 558.4 493.525C562 500.225 566.7 506.325 571.8 511.525C575.3 515.025 579.1 518.025 583.1 520.425C601.8 531.225 616.9 522.425 616.9 500.925C617.1 496.025 616.4 491.225 615.1 486.425Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M593.2 522.325C589.7 522.325 585.6 521.025 581.2 518.525C563.9 508.525 549.3 483.225 549.3 463.225C549.3 458.025 550.4 445.825 560.9 445.825C564.4 445.825 568.5 447.125 572.9 449.625C590.2 459.625 604.8 484.925 604.8 504.925C604.9 510.125 603.8 522.325 593.2 522.325Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M593 447.225L593.9 409.125C604.7 342.825 670.3 279.525 714.5 298.625C714.5 298.625 692.6 285.325 687.4 283.325C646.9 267.625 570.2 334.325 571.2 416.025L570.9 436.925" fill="white"/>
				<path d="M593 447.225L593.9 409.125C604.7 342.825 670.3 279.525 714.5 298.625C714.5 298.625 692.6 285.325 687.4 283.325C646.9 267.625 570.2 334.325 571.2 416.025L570.9 436.925" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M587 508.525C584.6 508.525 581.8 507.625 578.8 505.925C567 499.025 557.1 481.825 557.1 468.225C557.1 464.625 557.9 456.325 565 456.325C567.4 456.325 570.2 457.225 573.2 458.925C585 465.825 594.9 483.025 594.9 496.625C595 500.225 594.2 508.525 587 508.525Z" fill="#21409A" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M583.6 503.525C571.4 497.425 561.4 480.425 561.4 466.725C561.4 463.725 561 458.425 565.2 456.425C565 456.425 564.9 456.425 564.7 456.425C557.6 456.425 556.7 464.825 556.7 468.325C556.7 481.925 566.7 499.225 578.5 506.125C581.5 507.825 584.3 509.025 586.7 508.725C591.1 508.225 592 505.825 592.9 505.425C590.7 505.225 587.4 505.325 583.6 503.525Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M732.9 342.325C728.8 236.325 592.7 315.525 592.7 426.425V431.625L592.6 448.625L597.1 445.525C597.1 445.525 597.1 428.025 597.1 424.725C597 321.625 729 240.425 729 343.725L728.7 368.825L732.4 372.325L732.9 342.325Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M592.6 448.925C589.6 446.125 586.5 443.925 583.3 442.025C578.9 439.425 574.6 438.025 570.8 437.525" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<animateTransform
					v-if="indefeniteAnimationEnabled"
					attributeName="transform"
					type="translate"
					values="
						0 0;
						0 -5;
						0 1;
						0 0;
					"
					:begin="`${uid}_headphones_anim.end`"
					dur="2s"
					repeatCount="indefinite"
				/>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_headphones_anim`"
				:dur="headphones.dur"
				:begin="headphones.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="magnifier" :opacity="magnifier.opacity">
			<path d="M404.1 382.425C389.1 373.725 368.5 370.125 348.9 371.525C363 372.525 376.7 376.225 387.6 382.425C413.5 397.325 413.5 421.625 387.6 436.525C376.7 442.725 363 446.425 348.9 447.425C368.5 448.925 389 445.225 404.1 436.525C430 421.625 430 397.325 404.1 382.425Z" fill="#DCE6FF"/>
			<path d="M314.4 382.425C325.3 376.225 339 372.525 353.1 371.525C333.5 370.025 313 373.725 297.9 382.425C272 397.325 272 421.625 297.9 436.525C312.9 445.225 333.5 448.825 353.1 447.425C339 446.425 325.3 442.725 314.4 436.525C288.5 421.625 288.5 397.325 314.4 382.425Z" fill="#DCE6FF"/>
			<path d="M391.5 382.525C365.5 367.525 323.3 367.525 297.2 382.525C271.1 397.525 271.2 421.925 297.2 437.025C323.2 452.125 365.4 452.025 391.5 437.025C417.6 422.025 417.6 397.525 391.5 382.525ZM383.8 432.325C362 444.825 326.9 444.825 305.1 432.325C283.3 419.825 283.3 399.425 305.1 386.925C326.9 374.425 362 374.425 383.8 386.925C405.5 399.525 405.4 419.825 383.8 432.325Z" fill="#A197A1"/>
			<path d="M305 371.625C326.8 359.125 361.9 359.125 383.7 371.625C398 379.825 402.9 391.425 398.4 402.025C396 396.525 391.1 391.225 383.7 387.025C361.9 374.525 326.8 374.525 305 387.025C297.5 391.425 292.7 396.525 290.3 402.025C285.8 391.525 290.7 379.925 305 371.625Z" fill="#21409A"/>
			<path opacity="0.5" d="M383.9 376.425C362.1 363.925 327 363.925 305.2 376.425C283.4 388.925 283.4 409.325 305.2 421.825C327 434.325 362.1 434.325 383.9 421.825C405.6 409.325 405.6 389.025 383.9 376.425Z" fill="white"/>
			<path d="M383.9 378.625C362.1 366.125 327 366.125 305.2 378.625C294.8 384.625 289.4 392.425 288.9 400.225C288.4 391.625 293.8 382.925 305.2 376.325C327 363.825 362.1 363.825 383.9 376.325C395.3 382.825 400.7 391.525 400.2 400.225C399.6 392.425 394.2 384.625 383.9 378.625Z" fill="white"/>
			<path d="M391.5 367.125C365.5 352.125 323.3 352.125 297.2 367.125C271.1 382.125 271.2 406.525 297.2 421.625C323.2 436.725 365.4 436.625 391.5 421.625C417.6 406.625 417.6 382.225 391.5 367.125ZM383.8 417.125C362 429.625 326.9 429.625 305.1 417.125C283.3 404.625 283.3 384.225 305.1 371.725C326.9 359.225 362 359.225 383.8 371.725C405.5 384.125 405.4 404.625 383.8 417.125Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M297.3 421.625C323.3 436.625 365.5 436.625 391.6 421.625C404.5 414.125 411 404.525 411.1 394.725V409.225C411.3 419.225 404.8 429.225 391.6 436.825C365.6 451.825 323.4 451.825 297.3 436.825C284.1 429.225 277.6 419.225 277.8 409.225V394.725C278 404.425 284.4 414.225 297.3 421.625Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M391.5 423.625C393.2 422.725 394.7 421.625 396.1 420.725L407.3 427.125L397.6 432.725L386.4 426.325C388.2 425.425 389.9 424.625 391.5 423.625Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M397.7 444.025L386.4 437.525V426.225L397.7 432.825V444.025Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M393.4 440.725C393.4 434.925 397.4 427.825 402.5 424.925C405.1 423.325 407.5 423.325 409.1 424.425L473.7 461.725L461.4 484.125L396.8 446.825C394.7 446.225 393.4 444.125 393.4 440.725Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M401.7 449.925L404.8 451.825C403.5 450.825 402.6 448.925 402.6 446.225C402.6 440.425 406.6 433.325 411.7 430.425C414.3 428.825 416.7 428.825 418.3 429.925L414 427.425C412.3 426.425 410 426.425 407.4 427.925C402.4 430.825 398.3 437.925 398.3 443.725C398.4 447.025 399.7 449.225 401.7 449.925Z" fill="#21409A"/>
			<path d="M459.9 483.525C462 485.025 464.5 485.825 467.2 485.825C474.3 485.825 480.1 480.125 480.1 472.925C480.1 468.025 477.4 463.925 473.5 461.725C471.8 460.925 469.8 461.125 467.4 462.425C462.4 465.325 458.3 472.425 458.3 478.225C458.3 480.725 459 482.625 460.4 483.725L459.9 483.525Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			<animate
				v-if="isAnimated"
				:id="`${uid}_magnifier_anim`"
				:dur="magnifier.dur"
				:begin="magnifier.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="piechart" transform="translate(40, -50)" :opacity="piechart.opacity">
			<g :transform="`translate(${piechart_shadow.from})`">
				<g transform="matrix(1, 0.5773502691896257, 0, 1, 0, 0)">
					<path d="M402.923 518.572H498.312C503.139 518.572 507 523.172 507 528.672V598.872C507 604.472 503.139 608.972 498.312 608.872H423.546L411.348 625.372V608.772H402.836C398.009 608.772 394.148 604.172 394.148 598.672V528.572C394.236 523.172 398.097 518.572 402.923 518.572Z" fill="#DCE6FF"/>
				</g>
				<animateTransform
					v-if="isAnimated"
					:id="`${uid}_piechart_shadow_anim`"
					:dur="piechart_shadow.dur"
					:begin="piechart_shadow.begin"
					:from="piechart_shadow.form"
					:to="piechart_shadow.to"
					attributeName="transform"
					type="translate"
					fill="freeze"
					repeatCount="1"
				/>
			</g>
			<g>
				<path d="M395.7 296.917L491.2 352.017C496 354.817 499.9 361.617 499.9 367.117V437.317C499.9 442.017 497.3 443.517 492.8 446.017L416.4 399.117L404.2 392.017L395.7 387.117C390.9 384.317 387 377.517 387 372.017L384.8 299.517C385.3 299.017 390.9 294.117 395.7 296.917Z" fill="white" stroke="#2141A4" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			</g>
			<g transform="translate(0, -461)">
				<g transform="matrix(1, 0.5773502691896257, 0, 1, 0, 0)">
					<path d="M391.554 534.5H486.942C491.769 534.5 495.63 539.1 495.63 544.6V614.8C495.63 620.4 491.769 624.9 486.942 624.8H412.176L399.978 641.3V624.7H391.466C386.727 624.7 382.866 620.2 382.866 614.7V544.5C382.866 539.1 386.727 534.5 391.554 534.5Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M407.964 547.7H390.939V544.5H407.964V547.7Z" fill="#2141A4"/>
					<path d="M404.19 553.8H391.027V550.5H404.19V553.8Z" fill="#2141A4"/>
					<path d="M439.292 580.3V548.3C454.824 548.3 467.373 562.6 467.373 580.3C467.373 598 454.824 612.2 439.292 612.3C423.759 612.3 411.21 598 411.21 580.3C411.21 576.9 411.737 573.6 412.614 570.4L439.292 580.3Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					<path
						d="M412.615 570.5C416.212 557.7 426.831 548.3 439.292 548.3V580.3L412.615 570.5Z" fill="#2141A4" stroke="#21409A" stroke-width="2" stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round">
						<animate
							v-if="indefeniteAnimationEnabled"
							dur="8s"
							begin="0s"
							repeatCount="indefinite"
							attributeName="d"
							values="
							M412.615 570.5C416.212 557.7 426.831 548.3 439.292 548.3V580.3L412.615 570.5Z;
							M412.615 570.5C416.212 557.7 426.831 548.3 439.292 548.3V580.3L412.615 590.5Z;
							M412.615 570.5C416.212 557.7 426.831 548.3 439.292 548.3V580.3L412.615 570.5Z
							"
							>
						</animate>
					</path>
				</g>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_piechart_anim`"
				:dur="piechart.dur"
				:begin="piechart.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="chart" transform="translate(60, -40)" :opacity="chart.opacity">
			<g class="shadow" :transform="`translate(${chart_shadow.from})`">
				<g transform="matrix(1, 0.5773502691896257, 0, 1, 0, 0)">
					<path d="M458 145.053C458 148.854 455.289 151.974 452.002 151.974L286.615 151.876C283.328 151.876 280.617 148.757 280.617 144.955V6.92119C280.617 3.11941 283.328 0 286.615 0H452.002C455.289 0 458 3.11941 458 6.92119V145.053Z" fill="#DCE6FF"/>
				</g>
				<animateTransform
					v-if="isAnimated"
					:id="`${uid}_chart_shadow_anim`"
					:dur="chart_shadow.dur"
					:begin="chart_shadow.begin"
					:from="chart_shadow.form"
					:to="chart_shadow.to"
					attributeName="transform"
					type="translate"
					fill="freeze"
					repeatCount="1"
				/>
			</g>
			<g class="side">
				<path d="M437.5 295.817C437.5 299.617 434.8 301.217 431.5 299.317L266.6 204.017C263.3 202.117 260.6 197.417 260.6 193.617V55.6169C260.6 51.8169 263.3 50.2169 266.6 52.1169L431.5 147.317C434.8 149.217 437.5 153.917 437.5 157.717V295.817Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M431.5 147.317L266.6 52.1169C263.3 50.2169 260.6 51.8169 260.6 55.6169V62.2169L437.5 164.317V157.717C437.5 153.917 434.8 149.217 431.5 147.317Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M436.5 144.517L271.6 49.2169C270 48.3169 268.5 48.2169 267.4 48.8169L262.5 51.7169C263.6 51.1169 265.1 51.2169 266.7 52.1169L431.6 147.317C434.9 149.217 437.6 153.917 437.6 157.717V295.817C437.6 297.617 437 298.917 436 299.617L440.6 296.917C441.8 296.317 442.6 295.017 442.6 292.917V154.817C442.5 151.017 439.8 146.417 436.5 144.517Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			</g>
			<g class="front" transform="translate(0, -125)">
				<g transform="matrix(1, 0.5773502691896257, 0, 1, 0, 0)">
					<g>
						<path d="M437.465 169.079C437.465 172.881 434.754 176 431.467 176L265.998 175.902C262.711 175.902 260 172.783 260 168.981V30.9475C260 27.1457 262.711 23.9288 265.998 23.9288H431.385C434.672 23.9288 437.383 27.0482 437.383 30.85V169.079H437.465Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M431.467 23.9288H265.998C262.711 23.9288 260 27.1457 260 30.9475V37.5762H437.465V30.85C437.465 27.0482 434.754 23.9288 431.467 23.9288Z" fill="white" stroke="#21409A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<g transform="translate(36 0)">
							<path d="M296.726 159.916L295.082 160.013V66.4307H296.726V159.916Z" fill="#DCE6FF"/>
							<path d="M285.798 49.1764V60.5818H292.782L295.575 63.7987L298.286 60.6793H305.27V49.079L285.798 49.1764Z" fill="#2141A4"/>
							<path d="M291.714 54.6354H299.437V56.1951H291.714V54.6354Z" fill="white"/>
							<animateTransform
								v-if="indefeniteAnimationEnabled"
								attributeName="transform"
								type="translate"
								values="
									0 0;
									36 0;
									0 0;
								"
								begin="0s"
								dur="8s"
								repeatCount="indefinite"
							/>
						</g>
						<g transform="translate(35 0)">
							<path d="M365.164 159.526H363.521V102.986H365.164V159.526Z" fill="#DCE6FF"/>
							<path d="M354.319 85.0498V96.4552L361.303 96.5526L364.014 99.6721L366.725 96.6501H373.709V85.1473L354.319 85.0498Z" fill="#2141A4"/>
							<path d="M360.235 90.2163H367.876V91.776H360.235V90.2163Z" fill="white"/>
							<animateTransform
								v-if="indefeniteAnimationEnabled"
								attributeName="transform"
								type="translate"
								values="
									0 0;
									35 0;
									0 0;
								"
								begin="0s"
								dur="8s"
								repeatCount="indefinite"
							/>
						</g>
						<path d="M267 110.5C280.5 111 280 76.5 296 76.5C312 76.5 309 93.5 319 98C329 102.5 330.5 98.5 340 102.5C349.5 106.5 351 119 364.5 119C378 119 399 64 430 64" stroke="#2141A4" stroke-width="2.5">
							<animate
								v-if="indefeniteAnimationEnabled"
								dur="8s"
								begin="0s"
								repeatCount="indefinite"
								attributeName="d"
								values="
								M267 110.5C280.5 111 280 76.5 296 76.5C312 76.5 309 93.5 319 98C329 102.5 330.5 98.5 340 102.5C349.5 106.5 351 119 364.5 119C378 119 399 64 430 64;
								M265 133.5C308 130.5 310 79.5 333 79.5C356 79.5 355 109.5 364 109.5C373 109.5 377 98.5 384 98.5C391 98.5 387.5 127.5 401 127.5C414.5 127.5 407.5 87 429 87;
								M267 110.5C280.5 111 280 76.5 296 76.5C312 76.5 309 93.5 319 98C329 102.5 330.5 98.5 340 102.5C349.5 106.5 351 119 364.5 119C378 119 399 64 430 64;
								"
								>
							</animate>
						</path>

						<path d="M266.573 165.667H269.859" stroke="#DCE6FF" stroke-width="2" stroke-linejoin="round"/>
						<path d="M274.871 165.667H425.059" stroke="#DCE6FF" stroke-width="2" stroke-linejoin="round" stroke-dasharray="8.17 8.17"/>
						<path d="M427.606 165.667H430.892" stroke="#DCE6FF" stroke-width="2" stroke-linejoin="round"/>
					</g>
				</g>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_chart_anim`"
				:dur="chart.dur"
				:begin="chart.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
		<g class="pillars" transform="translate(62, -20)" :opacity="pillars.opacity">
			<g class="pillar_2">
				<path
					class="shadow"
					d="M257.815 245.356C265.681 240.881 278.326 240.881 286.192 245.356C290.089 247.631 292 250.565 292 253.5C292 256.435 290.089 259.369 286.192 261.644C278.326 266.119 265.681 266.119 257.815 261.644C253.919 259.369 252.008 256.435 252.008 253.5C251.861 250.639 253.845 247.631 257.815 245.356Z"
					fill="#DCE6FF"
					:transform="`translate(${pillars.items[2].shadow_from})`">
					<animateTransform
						v-if="isAnimated"
						attributeName="transform"
						type="translate"
						:from="pillars.items[2].shadow_from"
						to="0 0"
						:begin="`${uid}_pillars_anim.begin`"
						dur="0.5s"
						fill="freeze"
						repeatCount="1"
					/>
				</path>
				<path
					class="bg"
					d="M243.1 164.817V251.817C243.1 254.817 245.1 257.817 249 260.117C256.9 264.717 269.8 264.717 277.7 260.117C281.7 257.817 283.6 254.817 283.6 251.817V164.817H243.1Z"
					fill="white"
					stroke="transparent">
				</path>
				<path
					class="arc"
					d="M243.1 254.817 245.1 257.817 249 260.117C256.9 264.717 269.8 264.717 277.7 260.117C281.7 257.817 283.6 254.817 283.6 251.817"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round">
				</path>
				<path
					class="line-left"
					:d="pillars.items[2].left_from"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round">
					<animate
						v-if="isAnimated"
						dur="1s"
						:begin="`${uid}_pillars_anim.begin`"
						repeatCount="1"
						fill="freeze"
						attributeName="d"
						:from="pillars.items[2].left_from"
						:to="pillars.items[2].left_to"
						>
					</animate>
				</path>
				<path
					class="line-right"
					:d="pillars.items[2].right_from"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round">
					<animate
						v-if="isAnimated"
						dur="1s"
						:begin="`${uid}_pillars_anim.begin`"
						repeatCount="1"
						fill="freeze"
						attributeName="d"
						:from="pillars.items[2].right_from"
						:to="pillars.items[2].right_to"
						>
					</animate>
				</path>
				<path
					class="circle"
					d="M249 156.517C256.9 151.917 269.8 151.917 277.7 156.517C281.7 158.817 283.6 161.817 283.6 164.817C283.6 167.817 281.6 170.817 277.7 173.117C269.8 177.717 256.9 177.717 249 173.117C245 170.817 243.1 167.817 243.1 164.817C243.1 161.817 245.1 158.817 249 156.517Z" fill="white" stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round"
					:transform="`translate(${pillars.items[2].circle_from})`">
					<animateTransform
						v-if="isAnimated"
						attributeName="transform"
						type="translate"
						:from="pillars.items[2].circle_from"
						:to="pillars.items[2].circle_to"
						:begin="`${uid}_pillars_anim.begin`"
						dur="1s"
						fill="freeze"
						repeatCount="1"
					/>
				</path>
			</g>
			<g class="pillar_1">
				<path
					class="shadow"
					d="M205.815 274.356C213.681 269.881 226.326 269.881 234.192 274.356C238.089 276.631 240 279.565 240 282.5C240 285.435 238.089 288.369 234.192 290.644C226.326 295.119 213.681 295.119 205.815 290.644C201.919 288.369 200.008 285.435 200.008 282.5C199.861 279.639 201.845 276.631 205.815 274.356Z"
					fill="#DCE6FF"
					:transform="`translate(${pillars.items[1].shadow_from})`">
					<animateTransform
						v-if="isAnimated"
						attributeName="transform"
						type="translate"
						:from="pillars.items[1].shadow_from"
						to="0 0"
						:begin="`${uid}_pillars_anim.begin`"
						dur="0.5s"
						fill="freeze"
						repeatCount="1"
					/>
				</path>
				<path
					class="bg"
					d="M192.6 226.517V280.917C192.6 283.917 194.6 286.917 198.5 289.217C206.4 293.817 219.3 293.817 227.2 289.217C231.2 286.917 233.1 283.917 233.1 280.917V226.517H192.6Z"
					fill="white">
				</path>
				<path
					class="arc"
					d="M192.6 283.917 194.6 286.917 198.5 289.217C206.4 293.817 219.3 293.817 227.2 289.217C231.2 286.917 233.1 283.917 233.1 280.917"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round">
				</path>
				<path
					class="line-left"
					:d="pillars.items[1].left_from"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round">
					<animate
						v-if="isAnimated"
						dur="0.75s"
						:begin="`${uid}_pillars_anim.begin`"
						repeatCount="1"
						fill="freeze"
						attributeName="d"
						:from="pillars.items[1].left_from"
						:to="pillars.items[1].left_to"
						>
					</animate>
				</path>
				<path
					class="line-right"
					:d="pillars.items[1].right_from"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round">
					<animate
						v-if="isAnimated"
						dur="0.75s"
						:begin="`${uid}_pillars_anim.begin`"
						repeatCount="1"
						fill="freeze"
						attributeName="d"
						:from="pillars.items[1].right_from"
						:to="pillars.items[1].right_to"
						>
					</animate>
				</path>
				<path
					class="circle"
					d="M198.6 218.217C206.5 213.617 219.4 213.617 227.3 218.217C231.3 220.517 233.2 223.517 233.2 226.517C233.2 229.517 231.2 232.517 227.3 234.817C219.4 239.417 206.5 239.417 198.6 234.817C194.6 232.517 192.7 229.517 192.7 226.517C192.6 223.517 194.6 220.517 198.6 218.217Z" fill="white"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round"
					:transform="`translate(${pillars.items[1].circle_from})`">
					<animateTransform
						v-if="isAnimated"
						attributeName="transform"
						type="translate"
						:from="pillars.items[1].circle_from"
						:to="pillars.items[1].circle_to"
						:begin="`${uid}_pillars_anim.begin`"
						dur="0.75s"
						fill="freeze"
						repeatCount="1"
					/>
				</path>
			</g>
			<g class="pillar_0">

				<path
					class="shadow"
					d="M157.815 303.356C165.681 298.881 178.326 298.881 186.192 303.356C190.089 305.631 192 308.565 192 311.5C192 314.435 190.089 317.369 186.192 319.644C178.326 324.119 165.681 324.119 157.815 319.644C153.919 317.369 152.008 314.435 152.008 311.5C151.861 308.639 153.845 305.631 157.815 303.356Z"
					fill="#DCE6FF"
					:transform="`translate(${pillars.items[0].shadow_from})`">
					<animateTransform
						v-if="isAnimated"
						attributeName="transform"
						type="translate"
						:from="pillars.items[0].shadow_from"
						to="0 0"
						:begin="`${uid}_pillars_anim.begin`"
						dur="0.5s"
						fill="freeze"
						repeatCount="1"
					/>
				</path>
				<path
					class="bg"
					d="M142.2 281.817V310.017C142.2 313.017 144.2 316.017 148.1 318.317C156 322.917 168.9 322.917 176.8 318.317C180.8 316.017 182.7 313.017 182.7 310.017V281.817H142.2Z"
					fill="white"
					stroke="transparent"
					>
				</path>
				<path
					class="arc"
					d="M142.2 313.017 144.2 316.017 148.1 318.317C156 322.917 168.9 322.917 176.8 318.317C180.8 316.017 182.7 313.017 182.7 310.017"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round"
					>
				</path>
				<path
					class="line-left"
					:d="pillars.items[0].left_from"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round"
					>
					<animate
						v-if="isAnimated"
						dur="0.5s"
						:begin="`${uid}_pillars_anim.begin`"
						repeatCount="1"
						fill="freeze"
						attributeName="d"
						:from="pillars.items[0].left_from"
						:to="pillars.items[0].left_to"
						>
					</animate>
				</path>
				<path
					class="line-right"
					:d="pillars.items[0].right_from"
					stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round"
					>
					<animate
						v-if="isAnimated"
						dur="0.5s"
						:begin="`${uid}_pillars_anim.begin`"
						repeatCount="1"
						fill="freeze"
						attributeName="d"
						:from="pillars.items[0].right_from"
						:to="pillars.items[0].right_to"
						>
					</animate>
				</path>
				<path
					class="circle"
					d="M148.2 273.517C156.1 268.917 169 268.917 176.9 273.517C180.9 275.817 182.8 278.817 182.8 281.817C182.8 284.817 180.8 287.817 176.9 290.117C169 294.717 156.1 294.717 148.2 290.117C144.2 287.817 142.3 284.817 142.3 281.817C142.2 278.817 144.2 275.817 148.2 273.517Z" fill="white" stroke="#21409A"
					stroke-width="2"
					stroke-miterlimit="10"
					stroke-linecap="round"
					stroke-linejoin="round"
					:transform="`translate(${pillars.items[0].circle_from})`">
					<animateTransform
						v-if="isAnimated"
						attributeName="transform"
						type="translate"
						:from="pillars.items[0].circle_from"
						:to="pillars.items[0].circle_to"
						:begin="`${uid}_pillars_anim.begin`"
						dur="0.5s"
						fill="freeze"
						repeatCount="1"
					/>
				</path>
			</g>
			<animate
				v-if="isAnimated"
				:id="`${uid}_pillars_anim`"
				:dur="pillars.dur"
				:begin="pillars.begin"
				repeatCount="1"
				fill="freeze"
				attributeName="opacity"
				to="1">
			</animate>
		</g>
	</svg>
</template>

<script>

	import mixinAnimatedSvg from '../mixins/animatedSvg';

	export default {
		name: 'AnimationSpeechAnalytics',
		mixins: [
			mixinAnimatedSvg
		],
		data(){
			return {
				uid: 'sa',
				animationName: 'speech-analytics',
			}
		},
		computed: {
			line_start() {
				return {
					begin: 'indefinite',
					dur: '0.5s',
					dasharray: this.isAnimated ? 370 : 0,
					dashoffset: this.isAnimated ? 370 : 0
				}
			},
			computer() {
				return {
					begin: this.isMobileAndAnimated ? 'indefinite' : `${this.uid}_line_start_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			message() {
				return {
					begin: `${this.uid}_computer_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			message_waves(){
				return [
					{ begin: "0s" },
					{ begin: "0.2s" },
					{ begin: "0.5s" },
					{ begin: "0s" },
					{ begin: "0.8s" },
					{ begin: "0.1s" },
					{ begin: "0.5s" },
					{ begin: "0s", },
					{ begin: "0.4s" },
					{ begin: "0.6s" },
					{ begin: "0.2s" },
					{ begin: "0.7s" },
					{ begin: "0s" },
					{ begin: "0.1s" },
					{ begin: "0.7s"},
					{ begin: "0s"},
					{ begin: "0.5s" }
				]
			},
			diagram() {
				return {
					begin: `${this.uid}_message_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			piechart() {
				return {
					begin: `${this.uid}_diagram_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			piechart_shadow() {
				return {
					begin: `${this.uid}_piechart_anim.begin + 0.2s`,
					dur: '0.5s',
					from: '-10 -451',
					to: '0 -461'
				}
			},
			headphones() {
				return {
					begin: `${this.uid}_piechart_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			line_computer() {
				return {
					begin: `${this.uid}_piechart_anim.begin`,
					dur: '1s',
					dasharray: this.isAnimated ? 330 : 0,
					dashoffset: this.isAnimated ? 330 : 0
				}
			},
			magnifier() {
				return {
					begin: `${this.uid}_line_computer_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			line_magnifier() {
				return {
					begin: `${this.uid}_magnifier_anim.end`,
					dur: '1s',
					dasharray: this.isAnimated ? 450 : 0,
					dashoffset: this.isAnimated ? 450 : 0
				}
			},
			pillars() {
				return {
					begin: `${this.uid}_line_magnifier_anim.begin + 0.5s`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1,
					shadow_from: this.isAnimated ? '0.5 0.5' : '1 1',
					shadow_to: '1 1' ,
					items: [
						{
							left_from: this.isAnimated ? 'M142.2 308.817V312.017' : 'M142.2 281.817V312.017',
							left_to: 'M142.2 281.817V312.017',
							right_from: this.isAnimated ? 'M182.7 310.017V308.817' : 'M182.7 310.017V281.817',
							right_to: 'M182.7 310.017V281.817',
							circle_from: this.isAnimated ? '0 25' : '0 0',
							circle_to: '0 0',
							shadow_from: this.isAnimated ? '-10 -3' : '0 0'
						},
						{
							left_from: this.isAnimated ? 'M192.6 278.517V282.917' : 'M192.6 226.517V282.917',
							left_to: 'M192.6 226.517V282.917',
							right_from: this.isAnimated ? 'M233.1 280.917V278.517' : 'M233.1 280.917V226.517',
							right_to: 'M233.1 280.917V226.517',
							circle_from: this.isAnimated ? '0 51' : '0 0',
							circle_to: '0 0',
							shadow_from: this.isAnimated ? '-10 -3' : '0 0'
						},
						{
							left_from: this.isAnimated ? 'M243.1 250.817V253.817' : 'M243.1 164.817V253.817',
							left_to: 'M243.1 164.817V253.817',
							right_from: this.isAnimated ? 'M283.6 251.817V250.817' : 'M283.6 251.817V164.817',
							right_to: 'M283.6 251.817V164.817',
							circle_from: this.isAnimated ? '0 83' : '0 0',
							circle_to: '0 0',
							shadow_from: this.isAnimated ? '-10 -3' : '0 0'
						}
					]
				}
			},
			chart() {
				return {
					begin: `${this.uid}_line_magnifier_anim.end`,
					dur: '0.5s',
					opacity: this.isAnimated ? 0 : 1
				}
			},
			chart_shadow() {
				return {
					begin: `${this.uid}_chart_anim.begin + 0.2s`,
					dur: '0.5s',
					from: '-15 -115',
					to: '0 -125'
				}
			},
			line_finish() {
				return {
					begin: 'indefinite',
					dur: '1s',
					dasharray: this.isAnimated ? 820 : 0,
					dashoffset: this.isAnimated ? 820 : 0
				}
			}
		}
	}
</script>