<template>
	<footer class="page__footer">
		<div class="page__wrapper">
			<div class="footer__wrapper">
				<router-link class="project__logo" title="home link" :to="{name: 'index'}">
					<icon-logo></icon-logo>
				</router-link>
				<h3 class="project__description" v-html="$store.state.project.description"></h3>
				<div class="project__copy">
					{{ $store.getters.copy }}
				</div>
			</div>
			<nav class="nav nav--footer">
				<ul class="menu menu--footer">
					<li
						class="menu__item"
						v-for="item in menu"
						:key="`footer_menu_${item.route_name}`"
						:class="[{'menu__item--active': $route.name === item.route_name}, item.footer_class]"
						>
						<div class="nav__item">
							<router-link class="link" :to="{name: item.route_name}">
								{{item.title}}
							</router-link>
						</div>
						<ul class="menu" v-if="item.inner">
							<li
								class="menu__item"
								v-for="item_inner in item.inner"
								:key="`footer_menu_${item_inner.route_name}`"
								:class="{'menu__item--active': $route.name === item_inner.route_name}"
								>
								<div class="nav__item">
									<router-link class="link" :to="{name: item_inner.route_name}">
										{{item_inner.title}}
									</router-link>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="project__copy">
				{{ $store.getters.copy }}
			</div>
		</div>
	</footer>
</template>

<script>

	import IconLogo from './icons/icon_files/IconLogo.vue';

	export default {
		name: 'ElFooter',
		components: {
			IconLogo
		},
		data(){
			return {

			}
		},
		computed: {
			menu(){
				return this.$store.state.menu.filter( item => {
					return item.footer === true;
				});
			}
		}
	}
</script>