<template>
	<header class="header page__header" :class="{'header--menu-open': menuOpen}">
		<div class="page__wrapper">
			<div class="header__shadow" v-on:click.self="toggleMenu"></div>
			<router-link class="project__logo" title="home link" :to="{name: 'index'}">
				<icon-logo></icon-logo>
			</router-link>
			<div class="header__menu-toggle">
				<button class="btn btn--action" @click.prevent="toggleMenu">
					<icon-menu-toggle></icon-menu-toggle>
				</button>
			</div>
			<aigrid-custom-scroll class="header__menu">
				<nav class="nav nav--header">
					<ul class="menu menu--main">
						<li
							class="menu__item"
							v-for="item in menu"
							:key="`header_menu_${item.route_name}`"
							:class="[{'menu__item--active': $route.name === item.route_name}, item.header_class]"
							>
							<div class="nav__item">
								<router-link class="link" :to="{name: item.route_name}">
									{{item.title}}
								</router-link>
							</div>
						</li>
					</ul>
				</nav>
				<div class="wrapper wrapper--authorised" v-if="$store.state.authorised">
					<div class="h3-reg">
						Александр Константинопольский
					</div>
					<div class="p2-reg text--muted mb-2">
						Баланс
					</div>
					<div class="h3-reg mb-4">
						12 780 <span class="text--rouble">p</span>
					</div>
					<ul class="menu menu--authorised">
						<li
							class="menu__item"
							v-for="item in $store.state.authorisedMenu"
							:key="`authorised_menu_${item.route_name}`"
							:class="{'menu__item--active': $route.name === item.route_name}"
							>
							<div class="nav__item">
								<router-link class="link h4" :to="{name: item.route_name}">
									{{item.title}}
								</router-link>
							</div>
						</li>
					</ul>
					<div class="header__actions">
						<button class="btn btn--primary btn--lg-small" @click.prevent="$store.dispatch('deauthoriseUser')">
							<span class="btn__text">
								Выход
							</span>
						</button>
					</div>
				</div>
				<div class="header__actions" v-if="!$store.state.authorised">
					<router-link class="btn btn--primary btn--lg-small d-lg-none" :to="{name: 'registration'}">
						<span class="btn__text">
							Вход
						</span>
					</router-link>
					<aigrid-dropdown-menu class="dropdown--white">
						<template v-slot:activator>
							<button class="btn btn--primary btn--lg-small d-none d-lg-inline-flex">
								<span class="btn__text">
									Вход
								</span>
							</button>
						</template>
						<div class="py-3">
							<div class="control control--text">
								<label for="" class="control__label">
									Эл. почта <sup class="text--error">*</sup>
								</label>
								<input type="email" class="control__input">
								<div class="control__msg control__msg--invalid">
									Введите почту
								</div>
							</div>
							<div class="control control--text">
								<label for="" class="control__label">
									Пароль <sup class="text--error">*</sup>
								</label>
								<input type="password" class="control__input">
								<div class="control__msg control__msg--invalid">
									Введите пароль
								</div>
							</div>
							<a href="#" class="d-block p4 text--info pt-1 mb-4">
								Забыли пароль?
							</a>
							<button class="btn btn--primary w-100 mb-3" @click.prevent="$store.dispatch('authoriseUser')">
								Войти
							</button>
						</div>
					</aigrid-dropdown-menu>
					<router-link class="btn btn--secondary btn--lg-small" :to="{name: 'registration'}">
						<span class="btn__text">
							Регистрация
						</span>
					</router-link>
				</div>
			</aigrid-custom-scroll>
			<div class="header__authorised-actions" v-if="$store.state.authorised">
				<aigrid-dropdown-menu class="dropdown--lg">
					<template v-slot:activator>
						<button class="btn btn--action position-relative">
							<span class="position-relative">
								<icon-bell></icon-bell>
								<span class="badge">
									<span class="badge__text">
										12
									</span>
								</span>
							</span>
						</button>
					</template>
					<template v-slot:header>
						<div class="d-flex align-items-center">
							<div class="p1 m-0 mr-3">
								Уведомления
							</div>
							<aigrid-dropdown-menu class="dropdown--sm ml-auto">
								<template v-slot:activator>
									<button class="btn btn--action btn--sm ml-auto">
										<icon-more-vertical></icon-more-vertical>
									</button>
								</template>
								<ul class="list">
									<li class="list__item">
										<a href="#" class="link">
											Отметить все как прочитанные
										</a>
									</li>
									<li class="list__item">
										<a href="#" class="link">
											Настройки
										</a>
									</li>
								</ul>
							</aigrid-dropdown-menu>
						</div>
					</template>
					<ul class="list">
						<li class="list__item d-flex align-items-start px-3 py-2" v-for="index in 10" :key="`notification_${index}`">
							<div class="figure figure--dot text--success mr-2 mt-1"></div>
							<div class="wrapper mr-2">
								<div class="p-reg mb-1">
									Выход из системы
								</div>
								<div class="p3 mb-1">
									Вы вышли из аккаунта. IP-адрес: 89.208.104.100
								</div>
								<div class="p4 text--muted mb-0">
									12 минут назад
								</div>
							</div>
							<aigrid-dropdown-menu class="dropdown--sm ml-auto">
								<template v-slot:activator>
									<button class="btn btn--action btn--sm ml-auto">
										<icon-more-vertical></icon-more-vertical>
									</button>
								</template>
								<ul class="list">
									<li class="list__item">
										<a href="#" class="link">
											Удалить
										</a>
									</li>
								</ul>
							</aigrid-dropdown-menu>
						</li>
					</ul>
				</aigrid-dropdown-menu>
				<aigrid-dropdown-menu>
					<template v-slot:activator>
						<button class="btn btn--action position-relative">
							<div class="wrapper wrapper--dropdown">
								<div class="person">
									<div class="person__pic">
										A
									</div>
								</div>
							</div>
						</button>
					</template>
					<template v-slot:header>
						<div class="my-2 py-1">
							<div class="p1 pb-1">
								Александр Константинопольский
							</div>
							<div class="p4 text--muted mb-1">
								Баланс
							</div>
							<div class="h3 mb-0">
								12 780 <span class="text--rouble">p</span>
							</div>
						</div>
					</template>
					<ul class="menu">
						<li
							class="menu__item"
							v-for="item in $store.state.authorisedMenu"
							:key="`authorised_menu_dropdown_${item.route_name}`"
							:class="{'menu__item--active': $route.name === item.route_name}"
							>
							<div class="nav__item">
								<router-link class="link" :to="{name: item.route_name}">
									{{item.title}}
								</router-link>
							</div>
						</li>
					</ul>
					<template v-slot:footer>
						<ul class="menu">
							<li class="menu__item">
								<div class="nav__item">
									<a href="#" class="link" @click.prevent="$store.dispatch('deauthoriseUser')">
										Выход
									</a>
								</div>
							</li>
						</ul>
					</template>
				</aigrid-dropdown-menu>
			</div>
		</div>
		<div class="page__wrapper my-0 py-0" v-if="$route.name === 'index'">
			<h3 class="project__description" v-html="$store.state.project.description"></h3>
		</div>
	</header>
</template>

<script>

	import {events} from '../events';

	import AigridCustomScroll from '../components/AigridCustomScroll.vue';

	import IconLogo from './icons/icon_files/IconLogo.vue';
	import IconMenuToggle from './icons/icon_files/IconMenuToggle.vue';
	import IconBell from './icons/icon_files/IconBell.vue';
	import IconMoreVertical from './icons/icon_files/IconMoreVertical.vue';

	import AigridDropdownMenu from '../components/AigridDropdownMenu';

	export default {
		name: 'ElHeader',
		components: {
			IconLogo,
			IconMenuToggle,
			IconBell,
			IconMoreVertical,
			AigridCustomScroll,
			AigridDropdownMenu
		},
		data(){
			return {
				menuOpen: false
			}
		},
		computed: {
			menu(){
				return this.$store.state.menu.filter( item => {
					return this.$store.state.authorised ? item.header_authorised === true : item.header === true;
				});
			}
		},
		methods: {
			toggleMenu() {
				this.menuOpen = !this.menuOpen;
				this.$evbus.$emit(events.EV_APP_TOGGLE_PAGE_SCROLL, !this.menuOpen);
			},
			closeMenu() {
				this.menuOpen = false;
				this.$evbus.$emit(events.EV_APP_TOGGLE_PAGE_SCROLL, !this.menuOpen);
			}
		},
		mounted(){
			this.$evbus.$on(events.EV_APP_CLOSE_ALL_WINDOWS, () => {
				if( this.menuOpen ){
					this.closeMenu();
				}
			});
		}
	}
</script>