<template>
	<ul class="list breadcrumbs">
		<li class="list__item" v-for="(item,index) in breadcrumbs" :key="`breadcrumbs_${index}`">
			<router-link class="link" :to="{name: item.to}">
				{{ item.text }}
			</router-link>
		</li>
	</ul>
</template>


<script>

	export default {
		name: 'ElPagination',
		props: {

		},
		components: {

		},
		data() {
			return{
				breadcrumbs: []
			}
		},
		computed: {

		},
		methods: {
			getBreadCrumbs(current, breadcrumbs = []){
				if( !current.meta.parent ){
					breadcrumbs.push({
						text: current.meta.breadCrumb,
						to: current.name
					});
					return breadcrumbs;
				}else{
					breadcrumbs.push({
						text: current.meta.breadCrumb,
						to: current.name
					});
					return this.getBreadCrumbs(this.$router.options.routes.filter( route => route.name === current.meta.parent)[0], breadcrumbs);
				}
			}
		},
		mounted(){
			this.breadcrumbs = this.getBreadCrumbs(this.$route).reverse();
		}
	}
</script>