<template>
	<div class="modal" :class="{'modal--visible': isVisible}">
		<div class="modal__overlay" @click.self="closePopup">
			<div class="modal__container">
				<div class="modal__header">
					<slot name="header"></slot>
					<div class="modal__close">
						<button class="btn btn--action" @click="closePopup">
							<icon-close></icon-close>
						</button>
					</div>
				</div>
				<aigrid-custom-scroll class="modal__main">
					<slot name="default"></slot>
				</aigrid-custom-scroll>
				<div class="modal__footer" v-if="hasFooter">
					<slot name="footer"></slot>
				</div>
			</div>
		</div>
	</div>
</template>


<script>

	import {events} from '../events';

	import IconClose from './icons/icon_files/IconClose.vue';
	import AigridCustomScroll from './AigridCustomScroll.vue';

	export default {
		name: 'ElPopup',
		props: {
			visible: {
				type: Boolean,
				default: false
			},
			name: {
				type: String,
				default: 'default-popup-name'
			}
		},
		components: {
			IconClose,
			AigridCustomScroll
		},
		data() {
			return{
				isVisible: this.visible
			}
		},
		computed: {
			hasFooter(){
				return !!this.$slots.footer || !!this.$scopedSlots.footer;
			}
		},
		methods: {
			closePopup() {
				this.isVisible = false;
				this.$evbus.$emit(events.EV_APP_TOGGLE_PAGE_SCROLL, true);
			},
			showPopup() {
				this.isVisible = true;
				this.$evbus.$emit(events.EV_APP_TOGGLE_PAGE_SCROLL, false);
			}
		},
		mounted(){
			this.$evbus.$on(events.EV_APP_OPEN_POPUP, (data) => {
				if( data.name === this.name ){
					this.showPopup();
				}
			});
			this.$evbus.$on(events.EV_APP_CLOSE_ALL_WINDOWS, () => {
				if( this.isVisible ){
					this.closePopup();
				}
			});
		}
	}
</script>