<template>
	<section class="section section--slider-main">
		<div class="slider slider--main">
			<swiper
				ref="sliderMain"
				:options="swiperOptions"
				@slide-change-transition-start="onChangeTransitionStart"
				@ready="onSwiperReady"
				>
				<swiper-slide v-if="isDesctopView"></swiper-slide>
				<swiper-slide>
					<animation-speech-recognition :animated="$store.getters.animEnabled"></animation-speech-recognition>
					<h1>
						Распознавание речи
					</h1>
					<a href="#" class="btn btn--secondary">
						Решения
					</a>
				</swiper-slide>
				<swiper-slide>
					<animation-speech-analytics :animated="$store.getters.animEnabled"></animation-speech-analytics>
					<h1>
						Речевая аналитика
					</h1>
					<a href="#" class="btn btn--secondary">
						Решения
					</a>
				</swiper-slide>
				<swiper-slide>
					<animation-voice-biometrics :animated="$store.getters.animEnabled"></animation-voice-biometrics>
					<h1>
						Робот-оператор
					</h1>
					<a href="#" class="btn btn--secondary">
						Решения
					</a>
				</swiper-slide>
				<swiper-slide v-if="isDesctopView"></swiper-slide>
				<div
					class="swiper-pagination slider__pagination"
					slot="pagination"
					>
				</div>
			</swiper>
		</div>
	</section>
</template>

<script>

	import { events } from '../events';

	import { Swiper as SwiperClass, Pagination, Navigation, Autoplay } from 'swiper';
	import getAwesomeSwiper from 'vue-awesome-swiper/dist/exporter'

	import AnimationSpeechAnalytics from './AnimationSpeechAnalytics';
	import AnimationSpeechRecognition from './AnimationSpeechRecognition';
	import AnimationVoiceBiometrics from './AnimationVoiceBiometrics';

	SwiperClass.use([Pagination, Navigation, Autoplay]);
	const { Swiper, SwiperSlide } = getAwesomeSwiper(SwiperClass);

	export default {
		name: 'ElSliderMain',
		components: {
			Swiper,
			SwiperSlide,
			AnimationSpeechAnalytics,
			AnimationSpeechRecognition,
			AnimationVoiceBiometrics
		},
		data(){
			return {
				animations: [
					'speech-recognition',
					'speech-analytics',
					'voice-biometrics'
				],
				swiperOptions: {
					speed: 1000,
					spaceBetween: 0,
					slidesPerView: 1,
					loop: false,
					autoplay: {
						delay: 10000,
					},
					breakpointsInverse: true,
					breakpoints: {
						992: {//lg
							slidesPerView: 3
						}
					},
					pagination: {
						el: '.slider--main .swiper-pagination',
						clickable: true
					},
					on: {
						slideChange(swiper){
							swiper.slides.map( (slide, index) => {
								if( index === (swiper.activeIndex + 1) ){
									slide.classList.add('slider__slide--visible-text')
								}else{
									slide.classList.remove('slider__slide--visible-text')
								}
							});
						},
						init(swiper){
							swiper.slides[swiper.params.initialSlide + 1].classList.add('slider__slide--visible-text');
						}
					}
				}
			}
		},
		computed: {
			isDesctopView(){
				return window.matchMedia(`(min-width:${this.$store.state.breakponts.lg}px)`).matches;
			}
		},
		methods: {
			onChangeTransitionStart(swiper) {
				let prev = this.animations[swiper.activeIndex - 1],
					current = this.animations[swiper.activeIndex];
				this.$evbus.$emit(events.EV_APP_ANIMATED_SVG_FINISH, {
					name: prev,
					next: current || null
				});
				this.animations.map( (animName, index) => {
					if( index === swiper.activeIndex ){
						this.$evbus.$emit(events.EV_APP_ANIMATED_SVG_PLAY_INDEFINITE, {
							name: animName
						});
					}else{
						this.$evbus.$emit(events.EV_APP_ANIMATED_SVG_PAUSE_INDEFINITE, {
							name: animName
						});
					}
				});
			},
			onSwiperReady(){
				//анимация первого слайда
				this.$evbus.$emit(events.EV_APP_ANIMATED_SVG_START, {
					name: this.animations[0]
				});
			}
		},
		mounted(){

		}
	}

</script>