<template>
	<icon-template
		:width="20"
		:height="20"
		name="Done"
	>
        <path fill="currentColor" d="M10 0a10 10 0 110 20 10 10 0 010-20zM9 14.5l7-7-1.41-1.41L9 11.67 5.91 8.59 4.5 10 9 14.5z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
