<template>
	<icon-template
		:width="68"
		:height="66"
		name="One"
	>
		<path fill="#DCE6FF" d="M2.613 43.434L30.65 27.226a5.951 5.951 0 015.948 0l28.037 16.208c2.122 1.23 2.122 4.332 0 5.562L36.598 65.203a5.951 5.951 0 01-5.948 0L2.613 48.996c-2.15-1.23-2.15-4.332 0-5.562z"/>
		<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M2.613 27.785L30.65 11.577a5.951 5.951 0 015.948 0l28.037 16.208c2.122 1.23 2.122 4.332 0 5.561L36.598 49.555a5.951 5.951 0 01-5.948 0L2.613 33.346c-2.15-1.23-2.15-4.331 0-5.56z"/>
		<path fill="#fff" d="M66.227 30.356v-10.06H1.02v10.06"/>
		<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M66.227 30.356v-10.06H1.02v10.06"/>
		<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M2.613 18.005L30.65 1.796a5.951 5.951 0 015.948 0l28.037 16.209c2.122 1.23 2.122 4.331 0 5.56L36.598 39.775a5.951 5.951 0 01-5.948 0L2.613 23.566c-2.15-1.23-2.15-4.332 0-5.561z"/>
		<path fill="#2141A4" d="M25 22.6l2.8-8.3 3.9-2.3 12.1 14-4.5 2.6-8.8-10.1-1.5 4.4-4-.3z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
