
<template>
	<icon-template
		:width="44"
		:height="44"
		name="Refresh"
	>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21.414 31.64c-2.438-.058-4.774-1.001-6.573-2.654a10.067 10.067 0 01-3.2-6.324 9.967 9.967 0 017.626-10.792 10.042 10.042 0 017.023.914 10.08 10.08 0 014.687 5.322c.865 2.282.87 4.797.014 7.075m4.678-4.191l-4.214 4.615-4.635-4.233"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
