
<template>
	<icon-template
		:width="163"
		:height="243"
		name="Telecommunication"
	>
		<path fill="#DCE6FF" d="M4.993 187.57l68.782-39.832a14.617 14.617 0 0114.575 0l68.781 39.732c5.191 2.995 5.191 10.582 0 13.676L88.35 240.878a14.612 14.612 0 01-14.575 0L4.993 201.146c-5.29-2.994-5.29-10.581 0-13.576z"/>
		<g class="wrapper">
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M4.993 149.136l68.782-39.732a14.617 14.617 0 0114.575 0l68.781 39.732c5.191 2.995 5.191 10.582 0 13.676L88.35 202.544a14.612 14.612 0 01-14.575 0L4.993 162.812c-5.29-3.094-5.29-10.681 0-13.676z"/>
			<path fill="#fff" d="M161.025 155.425v-24.658H1.1v24.658"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M161.025 155.425v-24.658H1.1v24.658"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M4.993 125.177l68.782-39.732a14.614 14.614 0 0114.575 0l68.781 39.732c5.191 2.995 5.191 10.582 0 13.677L88.35 178.585a14.612 14.612 0 01-14.575 0L4.993 138.754c-5.29-2.995-5.29-10.582 0-13.577z"/>
			<path fill="#DCE6FF" d="M121.493 117.59l-19.766-11.48c-4.293-2.496-11.081-2.496-15.274 0l-30.148 27.652c-4.193 2.496-6.688 10.382-2.096 13.577l7.786 4.592c4.293 2.496 11.68 2.496 15.773 0l43.925-25.556c4.192-2.396 4.093-6.389-.2-8.785z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M57.902 42.719l.3 98.73c0 2.696.898 4.792 2.495 5.69 1.597.899 3.794.699 6.19-.798l34.141-19.766c5.391-3.195 9.783-10.782 9.783-16.971l-.2-98.63c0-2.696-.898-4.792-2.495-5.69-1.598-.999-3.794-.7-6.19.798l-34.24 19.666c-5.392 3.195-9.784 10.782-9.784 16.971z"/>
			<path fill="#fff" d="M64.092 42.719c0-3.993 3.194-9.484 6.688-11.48l30.048-17.37c1.498-.899 3.494.2 3.494 1.996l.2 86.951-40.23 23.16-.2-83.257z"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-miterlimit="10" stroke-width="2" d="M65.29 42.719l.199 81.26 37.835-21.862-.2-86.252c0-.599-.399-.898-.499-.998-.2-.1-.599-.3-1.198 0l-30.048 17.37c-3.095 1.797-6.09 6.988-6.09 10.482z"/>
			<path fill="#fff" d="M93.541 121.184l-13.676 7.886 13.676-7.886z"/>
			<path fill="#21409A" d="M79.865 130.268c-.4 0-.799-.199-.999-.499-.3-.499-.1-1.198.4-1.597l13.676-7.887c.5-.299 1.198-.099 1.597.4.3.499.1 1.198-.399 1.597l-13.677 7.886c-.2 0-.399.1-.598.1z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M57.603 43.617l.3 97.133c0 3.195 1.197 5.491 2.994 6.589l-7.188-4.193c-1.896-1.098-2.995-3.394-2.995-6.588l-.299-97.233 7.188 4.292zM94.34 2.388c2.895-1.597 5.39-1.797 7.287-.698l7.188 4.192c-1.897-1.098-4.493-.998-7.288.7L67.885 25.847l-7.188-4.193L94.34 2.388z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M65.689 27.445c-.1.1-.3.2-.4.3l-.599.599-.399.399-.599.599c-.1.1-.3.3-.3.4-.299.299-.498.698-.898.997l-.2.2c-.299.4-.598.899-.998 1.398-.1.1-.1.3-.2.3-.199.299-.399.798-.598 1.097-.1.1-.1.3-.3.5-.2.399-.4.898-.599 1.297 0 .1-.1.1-.1.2s-.1.1-.1.2c-.1.3-.299.599-.399.998-.1.1-.1.3-.1.3-.1.299-.2.498-.299.798-.1.1-.1.2-.1.3l-.3 1.197v.1c-.1.3-.1.699-.199.998 0 .1-.1.2-.1.3-.1.3-.1.5-.1.799v.3c0 .299-.1.798-.1 1.097l-7.187-4.193c0-.3 0-.798.1-1.098v-.3c0-.299.1-.498.1-.798 0-.1 0-.2.1-.3.1-.299.1-.698.199-.998v-.1l.3-1.197c0-.1.1-.2.1-.3.1-.3.199-.499.299-.798.1-.1.1-.3.1-.3.1-.3.3-.599.399-.998 0-.1.1-.1.1-.2v-.1c0-.1.1-.1.1-.1.2-.399.399-.898.599-1.297.1-.1.1-.3.3-.5.199-.299.398-.798.598-1.098.1-.1.1-.299.2-.299.3-.5.599-.998.998-1.398l.2-.2c.3-.299.499-.698.898-1.097.1-.1.1-.1.1-.2l.2-.2.599-.599.399-.399.599-.599c.1-.1.3-.3.4-.3.199-.2.498-.399.798-.499l.3-.3c.299-.299.798-.498 1.097-.798l7.188 4.193c-.4.2-.799.5-1.098.799l-.3.3c-.399.199-.599.398-.798.598zM93.341 82.55l-7.587-4.492 1.298 11.58 7.587 4.492-1.298-11.58z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M76.27 56.196l.1 20.564c0 1.897.7 3.195 1.697 3.794l7.587 4.492c-1.098-.599-1.697-1.897-1.697-3.793l-.1-20.565c0-3.794 2.596-8.386 5.89-10.282l39.133-22.661c1.597-.999 3.195-.999 4.293-.4l-7.487-4.492c-1.099-.599-2.596-.5-4.293.4L82.26 45.912c-3.294 1.897-5.99 6.49-5.99 10.283z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M89.847 50.406c-3.294 1.896-5.99 6.489-5.99 10.282l.1 20.565c0 3.793 2.696 5.29 5.99 3.394l3.494-1.997 1.298 11.48 9.084-17.57 25.257-14.574c3.294-1.897 5.989-6.49 5.989-10.283l-.099-20.564c0-3.794-2.696-5.291-5.99-3.394l-39.133 22.66z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M83.957 60.688c0-3.794 2.596-8.386 5.89-10.282l-7.587-4.493c-3.294 1.897-5.99 6.49-5.99 10.283l7.687 4.492z"/>
			<path fill="#21409A" d="M120.395 46.213c1.597-.998 2.995-.2 2.995 1.697s-1.398 4.293-2.995 5.191c-1.598.998-2.995.2-2.995-1.697s1.397-4.193 2.995-5.191zM110.612 51.903c1.597-.998 2.994-.2 2.994 1.697s-1.397 4.293-2.994 5.191c-1.598.999-2.995.2-2.995-1.697s1.397-4.193 2.995-5.19zM101.327 57.394c1.598-.999 2.995-.2 2.995 1.697 0 1.896-1.397 4.292-2.995 5.19-1.597 1-2.995.2-2.995-1.696 0-1.897 1.298-4.293 2.995-5.191z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
