<template>
	<icon-template
		:width="162"
		:height="216"
		name="Easy"
	>
		<path fill="#DCE6FF" d="M5.006 159.898l68.767-39.791c4.54-2.671 10.014-2.671 14.554 0l68.767 39.791c5.208 3.072 5.208 10.683 0 13.62L88.327 213.31c-4.54 2.67-10.014 2.67-14.554 0L5.006 173.518c-5.341-2.937-5.341-10.548 0-13.62z"/>
		<g class="wrapper">
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5.006 121.576l68.767-39.791c4.54-2.671 10.014-2.671 14.554 0l68.767 39.791c5.208 3.071 5.208 10.682 0 13.62l-68.767 39.791c-4.54 2.671-10.014 2.671-14.554 0L5.006 135.196c-5.341-3.071-5.341-10.683 0-13.62z"/>
			<path fill="#fff" d="M160.967 127.852v-24.703H1v24.703"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M160.967 127.852v-24.703H1v24.703"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5.006 97.54l68.767-39.79c4.54-2.671 10.014-2.671 14.554 0l68.767 39.79c5.208 3.072 5.208 10.683 0 13.621l-68.767 39.791c-4.54 2.671-10.014 2.671-14.554 0L5.006 111.161c-5.341-2.938-5.341-10.549 0-13.62z"/>
			<path fill="#DCE6FF" d="M66.963 124.781s17.091 10.682 26.839 5.341c9.747-5.341 33.782-18.294 33.782-18.294l-40.86-10.682-19.761 23.635z"/>
			<path fill="#DCE6FF" d="M92.2 112.362l28.975 2.804 31.646-18.293-36.319-19.762L92.2 112.362z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M96.206 95.805c-2.404 1.335-2.938 7.344-2.938 10.015l17.759-10.282c0-2.804.534-8.68 2.938-10.015l-17.76 10.282zM68.832 22.231l-17.76 10.282c2.404 1.468 7.879 3.872 10.282 2.537l17.76-10.282c-2.404 1.469-7.879-1.068-10.282-2.537zM106.888 66.83c-8.413-4.941-15.356-16.692-15.223-26.44 0-4.806 1.736-8.278 4.407-9.88L78.312 40.79c-2.803 1.603-4.406 4.94-4.406 9.881 0 9.748 6.81 21.499 15.222 26.439 4.273 2.403 8.146 2.67 10.95 1.068l17.759-10.281c-2.804 1.602-6.676 1.468-10.949-1.069zM127.184 76.577V86.59l17.759-10.415.134-9.88-17.893 10.28zM102.748 3.003L84.856 13.285l8.679 5.074 17.893-10.416-8.68-4.94z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M133.727 54.411c-.401-1.602-.935-3.338-1.469-4.94-2.003-5.074 2.537-8.947 4.673-10.282l-17.759 10.282c-2.136 1.201-6.676 5.207-4.673 10.281.534 1.603 1.068 3.338 1.468 4.94.935 5.075 8.279 10.149 11.217 11.885l17.759-10.282c-2.804-1.736-10.148-6.943-11.216-11.884zM121.576 29.174a7.75 7.75 0 01-2.003-1.735c-1.202-1.336-2.404-2.538-3.605-3.74-3.873-3.338-4.674-12.284-4.674-15.622l-17.76 10.282c0 3.338.802 12.284 4.674 15.622 1.202 1.202 2.404 2.404 3.606 3.74.534.8 1.201 1.335 2.003 1.735 3.338 1.87 7.477.4 9.347-.534l17.759-10.282c-1.87.802-6.009 2.404-9.347.534z"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M114.365 88.728c-2.003 2.804 2.537 12.017 4.674 15.623l-6.143 3.471c-1.735-2.937-6.008-9.347-9.347-11.35-.667-.4-1.335-.667-2.002-.533a16.58 16.58 0 01-3.606-.401c-3.872-1.068-4.673 6.943-4.673 10.282l-8.68-4.941c0-3.338-.8-11.35-4.673-15.623-1.202-1.201-2.404-2.403-3.605-3.739-.534-.8-1.202-1.335-2.003-1.735-3.338-2.003-7.611-.401-9.347.534l-6.142-10.549c2.136-1.202 6.676-5.208 4.673-10.282-.534-1.602-1.068-3.338-1.469-4.94-.934-5.074-8.279-10.148-11.216-11.884V32.78c2.938 1.736 10.282 4.94 11.35 1.201.4-1.201.934-2.27 1.469-3.204 2.002-2.804-2.27-11.884-4.674-15.623l6.142-3.472c1.736 2.938 6.01 9.347 9.347 11.35.668.4 1.336.668 2.003.534 1.202 0 2.404.134 3.606.4 3.872 1.07 4.673-6.943 4.673-10.28l8.68 4.94c0 3.338.8 12.284 4.673 15.622 1.202 1.202 2.403 2.404 3.605 3.74.534.8 1.202 1.335 2.003 1.735 3.338 1.87 7.478.4 9.347-.534l6.142 10.549c-2.136 1.202-6.676 5.207-4.673 10.281.534 1.603 1.068 3.339 1.469 4.94.934 5.075 8.278 10.15 11.216 11.885v9.881c-2.938-1.736-10.282-4.94-11.35-1.202-.401 1.069-.801 2.137-1.469 3.205zm-9.881-20.296c0-9.748-6.81-21.498-15.222-26.439-8.546-4.94-15.49-.935-15.49 8.813 0 9.748 6.81 21.498 15.223 26.439 8.546 4.806 15.356.934 15.489-8.813z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M127.184 86.591c-2.938-1.735-10.282-4.94-11.35-1.201-.4 1.201-.935 2.27-1.469 3.204-2.003 2.805 2.537 12.018 4.674 15.623l17.759-10.281c-1.335-2.27-3.605-6.677-4.54-10.416l-5.074 3.072zM130.923 28.64l-17.759 10.282 6.008 10.549 17.76-10.282-6.009-10.549zM83.12 1L65.36 11.282c1.736 2.937 6.01 9.347 9.347 11.35.668.4 1.336.667 2.003.534 1.202 0 2.404.133 3.606.4 3.872 1.069 4.673-6.943 4.673-10.281l5.074-2.938C87.259 7.543 84.455 3.27 83.12 1z"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M15.955 52.008l9.214-5.341a4.34 4.34 0 014.406 0l21.364 12.418-13.085 7.61-21.899-12.684c-.668-.535-.668-1.603 0-2.003z"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M37.587 66.429c.267.133.4.4.4.667v4.674l-.133 32.981c0 3.205-3.472 5.341-6.41 3.606l-13.352-7.745c-2.404-1.335-3.873-4.006-3.873-6.676v-40.46c0-.667.668-.934 1.202-.667l22.166 13.62z"/>
			<path fill="#21409A" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M37.987 66.562l13.086-7.61v5.207l-13.219 7.61.133-5.207z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M39.056 70.835l13.085-7.61c1.47-.802 4.273-1.603 8.947 1.067 3.338 2.003 7.878 1.336 11.617-.934l-13.086 7.61c-3.739 2.137-8.279 2.805-11.617.935-4.673-2.67-7.611-1.869-8.946-1.068z"/>
			<path fill="#fff" d="M95.538 127.585l-13.086 7.611c.801-.401 1.47-1.469 2.003-2.938.4-.801-.534-2.403-.267-3.472.4-1.602 2.003-2.67 2.27-4.54.267-1.735-.668-4.273-.534-6.275.133-1.736 1.469-2.805 1.469-4.54 0-1.736-1.202-4.273-1.335-5.876-.134-1.201 1.068-1.602.934-2.67-.133-1.469-.4-2.938-.801-4.273-.801-3.205-4.94-6.41-9.213-8.813-3.873-2.403-7.745-4.006-9.214-4.54l13.086-7.611c1.469.534 5.341 2.27 9.213 4.406 4.273 2.404 8.413 5.609 9.214 8.813.267 1.336.534 2.804.801 4.273.133 1.068-.935 1.603-.935 2.67.134 1.737 1.336 4.14 1.336 5.876 0 1.736-1.336 2.804-1.47 4.54-.133 1.869.802 4.54.535 6.276-.267 1.869-1.87 3.071-2.27 4.54-.267 1.068.668 2.67.267 3.471-.668 1.603-1.335 2.537-2.003 3.072z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M67.764 87.26l13.086-7.612c1.469.534 5.341 2.27 9.213 4.406 4.273 2.404 8.413 5.609 9.214 8.813.267 1.336.534 2.804.801 4.273.133 1.068-.935 1.603-.935 2.67.134 1.737 1.336 4.14 1.336 5.876 0 1.736-1.336 2.804-1.47 4.54-.133 1.869.802 4.54.535 6.276-.267 1.869-1.87 3.071-2.27 4.54-.267 1.068.668 2.67.267 3.471-.668 1.469-1.335 2.537-2.003 2.938l-13.086 7.611c.801-.4 1.47-1.469 2.003-2.937.4-.802-.534-2.404-.267-3.472.4-1.603 2.003-2.671 2.27-4.54.267-1.736-.668-4.273-.534-6.276.133-1.736 1.469-2.804 1.469-4.54 0-1.736-1.202-4.273-1.335-5.875-.134-1.202 1.068-1.602.934-2.671-.133-1.469-.4-2.937-.801-4.273-.801-3.204-4.94-6.409-9.213-8.813-3.873-2.27-7.745-3.872-9.214-4.406z"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M95.538 127.585l-13.086 7.611c.801-.401 1.47-1.469 2.003-2.938.4-.801-.534-2.403-.267-3.472.4-1.602 2.003-2.67 2.27-4.54.267-1.735-.668-4.273-.534-6.275.133-1.736 1.469-2.805 1.469-4.54 0-1.736-1.202-4.273-1.335-5.876-.134-1.201 1.068-1.602.934-2.67-.133-1.469-.4-2.938-.801-4.273-.801-3.205-4.94-6.41-9.213-8.813-3.873-2.403-7.745-4.006-9.214-4.54l13.086-7.611c1.469.534 5.341 2.27 9.213 4.406 4.273 2.404 8.413 5.609 9.214 8.813.267 1.336.534 2.804.801 4.273.133 1.068-.935 1.603-.935 2.67.134 1.737 1.336 4.14 1.336 5.876 0 1.736-1.336 2.804-1.47 4.54-.133 1.869.802 4.54.535 6.276-.267 1.869-1.87 3.071-2.27 4.54-.267 1.068.668 2.67.267 3.471-.668 1.603-1.335 2.537-2.003 3.072z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M65.895 59.752l9.747-6.142c6.41-2.136 12.285 8.946 10.282 17.492-1.602 6.677-3.872 7.878-4.674 8.279l-13.085 7.611c.8-.534 2.403-2.403 4.807-8.813 3.07-8.011-2.137-15.623-7.077-18.427z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M71.102 60.153c3.605 3.472 4.94 10.015 1.87 18.026-2.804 7.344-4.407 8.813-5.208 8.947 1.469.534 5.341 2.27 9.214 4.406 4.272 2.404 8.412 5.608 9.213 8.813.267 1.335.534 2.804.801 4.273.134 1.068-.935 1.602-.935 2.67.134 1.736 1.336 4.14 1.336 5.876 0 1.735-1.336 2.804-1.47 4.54-.133 2.136.802 4.807.535 6.542-.267 1.87-1.87 3.072-2.27 4.54-.267 1.069.668 2.671.267 3.472-.935 2.404-2.136 3.605-3.472 3.071-2.403-1.068-11.884-5.207-21.364-10.682-10.148-5.875-20.43-13.219-21.899-19.896l.134-32.981c.133-.134 3.471-4.14 10.014.133 5.208 3.472 15.356-1.201 16.558-9.614.668-4.139 5.608-3.738 6.676-2.136z"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M86.19 106.888l13.62-7.878M86.592 115.968l13.619-7.878M85.924 125.448l13.62-7.878"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
