<template>
	<icon-template
		:width="68"
		:height="66"
		name="Four"
	>
		<path fill="#DCE6FF" d="M2.613 43.434L30.65 27.226a5.951 5.951 0 015.948 0l28.037 16.208c2.122 1.23 2.122 4.332 0 5.561L36.598 65.204a5.951 5.951 0 01-5.948 0L2.613 48.995c-2.15-1.23-2.15-4.331 0-5.56z"/>
		<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M2.613 27.785L30.65 11.577a5.951 5.951 0 015.948 0l28.037 16.208c2.122 1.23 2.122 4.332 0 5.561L36.598 49.555a5.951 5.951 0 01-5.948 0L2.613 33.346c-2.15-1.23-2.15-4.331 0-5.56z"/>
		<path fill="#fff" d="M66.227 30.356v-10.06H1.02v10.06"/>
		<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M66.227 30.356v-10.06H1.02v10.06"/>
		<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M2.613 18.005L30.65 1.796a5.951 5.951 0 015.948 0l28.037 16.209c2.122 1.23 2.122 4.331 0 5.56L36.598 39.775a5.951 5.951 0 01-5.948 0L2.613 23.566c-2.15-1.23-2.15-4.332 0-5.561z"/>
		<path fill="#2141A4" d="M26 30.6l-2-2.4.8-13.6L31 11l7.3 8.5 2.7-1.6 2.3 2.6-2.7 1.6 2.5 2.9-4.5 2.6-2.5-2.9L26 30.6zm2-5.2l5.7-3.3-5.1-5.8-.6 9.1z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
