<template>
	<icon-template
		:width="351"
		:height="239"
		name="SpeechRecognitionSmall"
	>
        <path fill="#DCE6FF" d="M133.79 71.18V51.79c0-1.889 1.35-4.228 3.014-5.173l31.581-18.22c1.665-.944 3.014-.18 3.014 1.71v19.39c0 1.889-1.349 4.228-3.014 5.173l-3.059 1.754c-5.174 2.97-6.343 4.724-8.593 8.638l-2.429 4.228c-.495.81-1.08 1.44-1.709 1.8-.63.36-1.26.45-1.71.18l-2.429-1.44c-2.25-1.304-3.419-1.71-8.593 1.305l-3.059 1.754c-.81.495-1.574.54-2.114.225-.54-.315-.9-.99-.9-1.934zM180.579 215.499l19.659-11.382c8.772-5.084 22.988-5.039 31.761 0 8.772 5.083 8.772 13.271 0 18.355h-.045l-19.614 11.381c-8.773 5.039-22.989 5.039-31.761 0-8.728-5.083-8.773-13.316 0-18.354z"/>
        <path fill="transparent" stroke="#DCE6FF" stroke-miterlimit="10" stroke-width="1.996" d="M211.934 213.159l44.987-26.047M166.318 36.09l21.234-12.282M202.802 32.85l-15.161-8.727M247.653 161.694l-66.536-38.419-62.847 37.069v-27.937"/>
        <path fill="#DCE6FF" d="M327.641 188.146l-32.211 18.76c-2.295 1.305-6.029 1.305-8.323 0l-46.921-27.082c-1.17-.675-1.755-1.62-1.71-2.52v-3.599l39.904-23.258 49.261 37.699z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M256.249 151.752c2.294-1.305 6.028-1.305 8.323 0l46.921 27.082c2.295 1.305 2.295 3.509 0 4.814l-24.203 13.991c-2.294 1.304-6.028 1.304-8.323 0l-46.921-27.083c-2.294-1.304-2.294-3.509 0-4.813l24.203-13.991z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M232.001 170.556l46.921 27.083c2.294 1.304 6.028 1.304 8.323 0l24.203-13.991c1.079-.63 1.664-1.485 1.709-2.295v3.689c0 .855-.585 1.755-1.709 2.43l-24.203 13.991c-2.295 1.304-6.029 1.304-8.323 0l-46.921-27.083c-1.17-.674-1.755-1.619-1.71-2.519v-3.599c.045.81.63 1.665 1.71 2.294z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M252.916 158.32c2.204-6.793 2.204-12.596 2.204-14.981l3.914-2.249c0 .99 0 2.519-.135 4.454l31.806 18.354c0 3.374 0 13.451-6.163 23.619l-35.63-20.56 4.004-8.637z"/>
        <path fill="#fff" stroke="#21409A" stroke-miterlimit="10" stroke-width="1.996" d="M255.166 143.339l35.585 20.559 3.914-2.249-35.585-20.559-3.914 2.249z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M284.586 187.517c6.164-10.168 6.164-20.245 6.164-23.619l3.914-2.249c0 3.329 0 12.506-4.859 22.853l-5.219 3.015zM202.847 7.793c0-3.104 2.205-4.364 4.904-2.834l132.037 76.208c2.699 1.575 4.904 5.353 4.904 8.503v88.489L202.847 96.283V7.793z"/>
        <path fill="#fff" d="M349.999 86.61v88.49l-5.308 3.059v-88.49"/>
        <path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M349.999 86.61v88.49l-5.308 3.059v-88.49"/>
        <path fill="#fff" d="M345.098 78.108c2.699 1.575 4.903 5.353 4.903 8.502l-5.308 3.06c0-3.105-2.205-6.928-4.904-8.503"/>
        <path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M345.098 78.108c2.699 1.575 4.903 5.353 4.903 8.502l-5.308 3.06c0-3.105-2.205-6.928-4.904-8.503"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M339.788 81.167L207.751 4.96c-1.08-.63-2.115-.81-2.924-.54l4.228-2.43c.9-.944 2.34-1.034 4.004-.09l132.037 76.209-5.308 3.06zM344.692 178.159v17.905c0 3.104-2.205 4.364-4.904 2.834l-132.037-76.253c-2.699-1.574-4.904-5.353-4.904-8.502V96.238l141.845 81.921z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M344.691 196.064v-17.905L350 175.1v17.905c0 1.575-.54 2.654-1.44 3.149l-5.083 2.924c.719-.54 1.214-1.574 1.214-3.014z"/>
        <path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M207.751 99.117l132.037 76.208v-88.49L207.751 10.628v88.49z"/>
        <path fill="#2141A4" d="M284.722 133.037l-57.854-33.38v2.159l57.854 33.381v-2.16zM275.589 117.427l-48.721-28.162v2.159l48.721 28.117v-2.114zM302.132 122.69l-75.264-43.457v2.159l75.264 43.457v-2.159zM313.784 119.406l-86.915-50.16v2.114l86.915 50.16v-2.114zM220.211 96.373l-6.613-3.824v2.564l6.613 3.824v-2.564zM220.211 86.295l-6.613-3.824v2.565l6.613 3.824v-2.565zM220.211 76.218l-6.613-3.824v2.61l6.613 3.779v-2.565zM220.211 66.141l-6.613-3.779v2.565l6.613 3.824v-2.61z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M216.928 221.212c0-3.194-2.115-6.388-6.298-8.818-8.413-4.858-22.044-4.858-30.457 0-4.228 2.43-6.343 5.624-6.298 8.818v4.139c-.045 3.194 2.07 6.388 6.298 8.817 8.413 4.859 22.044 4.859 30.457 0 4.183-2.429 6.298-5.623 6.298-8.772v-4.184z"/>
        <path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M173.965 220.357c-.045 3.104 2.069 6.253 6.253 8.638 8.368 4.723 21.909 4.723 30.277 0 4.183-2.385 6.253-5.489 6.253-8.593"/>
        <path fill="#EDEDEF" d="M191.645 223.371c2.07 1.17 5.399 1.17 7.468 0 1.035-.585 1.53-1.394 1.53-2.159 0-.765-.495-1.575-1.53-2.16-2.069-1.169-5.398-1.169-7.468 0-1.034.585-1.529 1.395-1.529 2.16 0 .765.495 1.529 1.529 2.159z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M190.116 198.943c0-.765.495-1.574 1.529-2.159 2.07-1.17 5.399-1.17 7.468 0 1.035.585 1.53 1.349 1.53 2.159v22.359c0 .765-.495 1.574-1.53 2.159-2.069 1.17-5.398 1.17-7.468 0-1.034-.585-1.529-1.394-1.529-2.159v-22.359z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M218.726 166.913c0-1.755-.629-2.97-1.619-3.554l-2.564-1.485c-.99-.54-2.34-.495-3.869.405-3.014 1.754-5.489 6.028-5.489 9.537v16.42c0 1.44-.18 2.79-.45 3.959a18.175 18.175 0 01-3.689-1.574c-8.367-4.814-15.16-16.601-15.16-26.228v-16.42c0-1.755-.63-2.969-1.62-3.554l-2.564-1.485c-.99-.539-2.339-.449-3.869.405-3.014 1.755-5.488 6.029-5.488 9.538v16.42c0 11.247 7.962 25.013 17.725 30.636 2.474 1.44 4.858 2.204 7.018 2.384h.045c.27 0 .494.045.764.045h.855c.225 0 .45-.045.675-.09h.09c.225-.045.45-.09.72-.135.81-.18 1.574-.494 2.294-.854l.09-.045 10.977-6.344c3.194-1.844 5.173-5.803 5.173-11.426v-13.226l-.045-3.329z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M214.455 161.874c-.99-.54-2.34-.45-3.869.405-3.014 1.754-5.489 6.028-5.489 9.537v16.42c0 6.703-3.329 10.662-8.142 10.797-2.07.045-4.454-.63-6.928-2.069-8.368-4.814-15.161-16.6-15.161-26.228v-16.42c0-3.509 2.474-7.783 5.489-9.537 1.529-.855 2.879-.945 3.868-.405l-.225-.135-2.384-1.35c-.99-.54-2.339-.45-3.869.405-3.014 1.755-5.488 6.028-5.488 9.537v16.421c0 11.247 7.963 25.013 17.725 30.636 2.474 1.44 4.813 2.204 6.928 2.384h1.034c1.665 0 3.15-.405 4.454-1.124l-.045-.045c.135-.045.225-.135.36-.18l-.27.18c3.194-1.845 5.174-5.804 5.174-11.427v-16.42c0-3.509 2.474-7.783 5.488-9.538 1.53-.854 2.879-.944 3.869-.405l-2.519-1.439z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M213.33 170.916c0 9.853-7.963 17.815-17.815 17.815-9.853 0-17.815-7.962-17.815-17.815v-51.96c0-9.852 7.962-17.815 17.815-17.815 9.852 0 17.815 7.963 17.815 17.815v51.96z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M214.498 147.478c0-1.26-.404-2.564-1.169-3.779v3.779c0 2.609-1.755 5.264-5.219 7.243-6.973 4.004-18.265 4.004-25.193 0-3.464-1.979-5.173-4.589-5.218-7.243v-3.779c-.765 1.215-1.17 2.519-1.17 3.779v18.4c0 2.834 1.845 5.623 5.534 7.783 7.423 4.273 19.434 4.273 26.812 0 3.689-2.115 5.533-4.949 5.578-7.738l.045-18.445zM127.674 64.342v-19.39c0-1.89 1.349-4.228 3.014-5.173l31.581-18.22c1.664-.945 3.014-.18 3.014 1.71v19.389c0 1.89-1.35 4.229-3.014 5.173l-3.014 1.755c-5.174 2.97-6.343 4.724-8.593 8.638l-2.429 4.228c-.495.81-1.08 1.44-1.71 1.8-.629.36-1.259.45-1.709.18l-2.429-1.395c-2.25-1.304-3.419-1.71-8.593 1.305l-3.059 1.754c-.81.495-1.575.54-2.114.225-.585-.315-.945-.99-.945-1.98z"/>
        <path fill="#2141A4" d="M152.642 40.724c0-1.53 1.08-3.374 2.384-4.094.675-.36 1.26-.405 1.665-.18.45.27.675.765.675 1.53 0 1.529-1.08 3.373-2.385 4.138-.674.36-1.259.405-1.664.18-.405-.315-.675-.81-.675-1.574zm-8.053 6.568c.45.225 1.035.225 1.665-.18 1.305-.765 2.384-2.61 2.384-4.139 0-.765-.27-1.305-.675-1.53-.449-.27-1.034-.224-1.664.18-1.305.765-2.384 2.61-2.384 4.094 0 .81.269 1.35.674 1.575zm-8.727 5.038c.405.27 1.035.225 1.664-.18 1.305-.764 2.385-2.609 2.385-4.138 0-.765-.27-1.305-.72-1.53-.45-.225-1.035-.225-1.665.18-1.304.765-2.384 2.61-2.384 4.094 0 .81.27 1.35.72 1.574z"/>
        <path fill="#DCE6FF" d="M160.967 100.601c1.844 1.08 3.374 3.689 3.374 5.804v44.312c0 2.159-1.485 3.014-3.374 1.935l-59.203-34.191c-1.845-1.079-3.374-3.689-3.374-5.803V68.346c0-2.16 1.484-3.014 3.374-1.935l59.203 34.19z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M151.788 104.335c1.845 1.08 3.375 3.689 3.375 5.804v44.312c0 2.16-1.485 3.014-3.375 1.935l-59.203-34.191c-1.844-1.079-3.374-3.689-3.374-5.803V72.08c0-2.16 1.485-3.014 3.374-1.935l59.203 34.19z"/>
        <path fill="#2141A4" d="M140.048 140.1l-33.111-19.119c.135.359.225.719.225 1.034 0 .36-.09.63-.225.81l33.066 19.12c.449.269.809.045.809-.45.045-.54-.315-1.17-.764-1.395zM128.891 114.727c0 .405-.18.675-.495.72l-10.257.9c-.18 0-.315-.045-.495-.135-.18-.09-.36-.27-.495-.45-.315-.405-.495-.9-.495-1.305v-13.676c0-.405.18-.719.495-.719.315-.045.72.18 1.035.584l10.257 12.777c.27.36.45.855.45 1.304zM148.596 145.948c0 .495-.36.72-.81.45l-2.789-1.619c-.45-.27-.81-.9-.81-1.395s.36-.72.81-.45l2.789 1.62c.45.27.81.9.81 1.394zM147.471 137.851c0 .495-.36.72-.81.45l-.54-.315c-.45-.27-.809-.9-.809-1.395s.359-.72.809-.45l.54.315c.45.27.81.9.81 1.395zM147.471 141.585c0 .495-.36.72-.81.45l-.54-.315c-.45-.27-.809-.9-.809-1.395s.359-.72.809-.45l.54.315c.45.27.81.9.81 1.395z"/>
        <path fill="#2141A4" d="M107.161 122.015c0 1.125-.765 1.53-1.709.99-.675-.36-1.215-1.125-1.53-1.934l-7.333-4.229c-.45-.27-.81-.9-.81-1.395s.36-.719.81-.45l7.333 4.229c.27-.45.855-.585 1.53-.18.944.54 1.709 1.89 1.709 2.969z"/>
        <path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M272.487 94.438l-90.469-52.23c-2.115-1.215-3.869-.225-3.869 2.204v25.193c0 2.474 1.709 5.444 3.869 6.658l90.469 52.23c2.114 1.215 3.869.225 3.869-2.204v-25.193c0-2.43-1.755-5.443-3.869-6.658z"/>
        <path fill="#2141A4" d="M208.56 66.186c-.494-.315-.944-.045-.944.54v14.576c0 .585.405 1.304.944 1.62.495.314.945.044.945-.54V67.806c0-.585-.405-1.305-.945-1.62zM215.983 73.43c-.495-.316-.945-.046-.945.539v8.638c0 .584.405 1.304.945 1.62.495.314.945.044.945-.54v-8.638c0-.585-.45-1.305-.945-1.62zM212.296 72.8c-.495-.316-.945-.046-.945.54v5.667c0 .585.405 1.305.945 1.62.495.315.945.045.945-.54V74.42c-.045-.63-.45-1.35-.945-1.62zM219.672 72.62c-.495-.316-.944-.046-.944.54v14.575c0 .585.404 1.305.944 1.62.495.314.945.044.945-.54V74.239c0-.63-.405-1.35-.945-1.62zM227.097 79.862c-.495-.315-.945-.045-.945.54v8.638c0 .584.405 1.304.945 1.62.494.314.944.044.944-.54v-8.638c-.045-.63-.45-1.35-.944-1.62zM223.407 80.672c-.495-.315-.945-.045-.945.54v2.699c0 .585.405 1.305.945 1.62.495.314.945.044.945-.54v-2.7c-.045-.584-.45-1.304-.945-1.62zM230.786 84.946c-.495-.315-.945-.045-.945.54v2.699c0 .584.405 1.304.945 1.62.495.314.945.044.945-.54v-2.7c0-.585-.45-1.305-.945-1.62zM238.208 87.735c-.494-.315-.944-.045-.944.54v5.668c0 .585.405 1.305.944 1.62.495.315.945.045.945-.54v-5.668c-.045-.585-.45-1.305-.945-1.62zM234.473 87.105c-.495-.315-.945-.045-.945.54v2.7c0 .584.405 1.304.9 1.619.495.315.945.045.945-.54v-2.7c.045-.63-.36-1.349-.9-1.619zM241.897 86.925c-.495-.315-.9-.045-.9.54v11.607c0 .585.405 1.304.945 1.619.495.315.945.045.945-.54V88.545c-.045-.63-.495-1.35-.99-1.62zM249.32 95.653c-.495-.27-.945-.045-.945.54v2.699c0 .585.405 1.304.945 1.619.495.315.945.045.945-.54v-2.699c-.045-.63-.45-1.35-.945-1.62zM245.585 90.524c-.495-.315-.945-.045-.945.54v8.638c0 .584.405 1.304.945 1.619.495.315.945.045.945-.54v-8.637c0-.585-.405-1.305-.945-1.62zM256.699 98.442c-.495-.315-.945-.045-.945.54v5.668c0 .585.405 1.305.945 1.62.494.315.944.045.944-.54v-5.669c0-.63-.45-1.35-.944-1.62zM253.009 91.829c-.495-.315-.945-.045-.945.54v14.575c0 .585.405 1.305.945 1.62.495.315.945.045.945-.54V93.448c-.045-.584-.45-1.304-.945-1.62zM260.386 97.587c-.495-.315-.945-.045-.945.54v11.607c0 .585.405 1.304.945 1.619.495.315.945.045.945-.54V99.207c0-.585-.405-1.305-.945-1.62zM267.809 103.346c-.494-.315-.899-.045-.899.539v8.638c0 .585.405 1.305.944 1.619.495.315.945.045.945-.539v-8.638c-.045-.585-.495-1.305-.99-1.619zM264.119 104.2c-.495-.315-.945-.045-.945.54v2.699c0 .585.405 1.305.945 1.62.495.315.945.045.945-.54v-2.699c-.045-.63-.45-1.35-.945-1.62zM192.907 57.144c-4.004-2.295-7.243-.45-7.243 4.184 0 4.588 3.239 10.212 7.243 12.506 4.004 2.294 7.243.45 7.243-4.184 0-4.589-3.239-10.167-7.243-12.506zm3.419 10.842l-5.174.45c-.089 0-.179 0-.269-.046-.09-.044-.18-.135-.27-.224-.135-.18-.27-.45-.27-.675v-6.928c0-.225.09-.36.27-.36.18 0 .36.09.494.315l5.174 6.433c.18.18.27.45.27.675.045.225-.045.36-.225.36zM177.926 131.418c1.259 2.699 2.654 3.734 5.038 5.083 4.274 2.43 10.482 3.284 16.106 2.699 0 0 2.249-.09 2.249-2.339s-2.249-2.069-2.249-2.069c-5.579.585-11.562-.36-15.836-2.879-3.509-2.025-5.263-4.679-5.263-7.378"/>
        <path fill="#2141A4" d="M177.926 123.905c1.26 2.699 2.655 3.734 5.039 5.083 4.274 2.43 10.482 3.284 16.105 2.7 0 0 2.25-.09 2.25-2.34 0-2.249-2.25-2.069-2.25-2.069-5.578.585-11.561-.36-15.835-2.879-3.509-2.025-5.264-4.679-5.264-7.378M177.926 138.885c1.259 2.7 2.654 3.734 5.038 5.084 4.274 2.429 10.482 3.284 16.106 2.699 0 0 2.249-.09 2.249-2.339s-2.249-2.07-2.249-2.07c-5.579.585-11.562-.359-15.836-2.879-3.509-2.024-5.263-4.678-5.263-7.378M213.554 129.708v2.295c0 2.879-1.844 5.578-5.218 7.557-.765.45-1.575.855-2.429 1.215 0 0-1.53.495-1.53 2.519 0 2.025 1.53 1.8 1.53 1.8.854-.36 1.754-.675 2.519-1.125 3.509-1.934 5.083-3.599 5.083-6.478v-3.509"/>
        <path fill="#2141A4" d="M213.554 122.555v2.295c0 2.879-1.844 5.578-5.218 7.557-.765.45-1.575.855-2.429 1.215 0 0-1.53.495-1.53 2.519 0 2.025 1.53 1.8 1.53 1.8.854-.36 1.754-.675 2.519-1.125 3.509-1.934 5.083-3.599 5.083-6.478v-3.509"/>
        <path fill="#2141A4" d="M213.554 115.402v2.295c0 2.879-1.844 5.578-5.218 7.557-.765.45-1.575.855-2.429 1.215 0 0-1.53.495-1.53 2.519 0 2.025 1.53 1.8 1.53 1.8.854-.36 1.754-.675 2.519-1.125 3.509-1.934 5.083-3.599 5.083-6.478v-3.509"/>
        <path fill="transparent" stroke="#21409A" stroke-miterlimit="10" stroke-width="1.996" d="M178.059 144.374v-25.733c0-9.852 7.963-17.815 17.815-17.815s17.815 7.963 17.815 17.815v23.529"/>
        <path fill="#fff" d="M218.73 183.378v-16.51c0-1.755-.63-2.97-1.62-3.554l-2.564-1.485c-.99-.54-2.34-.495-3.869.405-3.014 1.754-5.489 6.028-5.489 9.537v13.991"/>
        <path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M218.73 183.378v-16.51c0-1.755-.63-2.97-1.62-3.554l-2.564-1.485c-.99-.54-2.34-.495-3.869.405-3.014 1.754-5.489 6.028-5.489 9.537v13.991"/>
        <path fill="#fff" d="M207.661 186.662V173.256c0-3.509 2.474-7.783 5.488-9.538 1.53-.854 2.88-.944 3.869-.404l-2.564-1.485c-.99-.54-2.339-.495-3.869.405-3.014 1.754-5.488 6.028-5.488 9.537v15.521"/>
        <path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.996" d="M207.661 186.662V173.256c0-3.509 2.474-7.783 5.488-9.538 1.53-.854 2.88-.944 3.869-.404l-2.564-1.485c-.99-.54-2.339-.495-3.869.405-3.014 1.754-5.488 6.028-5.488 9.537v15.521"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
