
<template>
	<icon-template
		:width="28"
		:height="28"
		name="MenuMic"
	>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 3a3 3 0 00-3 3v8a3 3 0 006 0V6a3 3 0 00-3-3v0z"/>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12v2a7 7 0 11-14 0v-2M14 21v4M10 25h8"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
