<template>
	<icon-template
		:width="44"
		:height="44"
		name="PlusCircle"
	>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22 34.833c7.088 0 12.833-5.745 12.833-12.833S29.088 9.167 22 9.167 9.167 14.912 9.167 22 14.912 34.833 22 34.833zM17.722 22h8.556M22 17.722v8.556"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
