<template>
	<icon-template
		:width="68"
		:height="66"
		name="Three"
	>
		<path fill="#DCE6FF" d="M2.613 43.434L30.65 27.226a5.951 5.951 0 015.948 0l28.037 16.208c2.122 1.23 2.122 4.332 0 5.561L36.598 65.204a5.951 5.951 0 01-5.948 0L2.613 48.995c-2.15-1.23-2.15-4.331 0-5.56z"/>
		<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M2.613 27.785L30.65 11.577a5.951 5.951 0 015.948 0l28.037 16.208c2.122 1.23 2.122 4.332 0 5.561L36.598 49.555a5.951 5.951 0 01-5.948 0L2.613 33.346c-2.15-1.23-2.15-4.331 0-5.56z"/>
		<path fill="#fff" d="M66.227 30.356v-10.06H1.02v10.06"/>
		<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M66.227 30.356v-10.06H1.02v10.06"/>
		<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M2.613 18.005L30.65 1.796a5.951 5.951 0 015.948 0l28.037 16.209c2.122 1.23 2.122 4.331 0 5.56L36.598 39.775a5.951 5.951 0 01-5.948 0L2.613 23.566c-2.15-1.23-2.15-4.332 0-5.561z"/>
		<path fill="#2141A4" d="M28.5 30.413l.6-3.3c1.1.1 2.4 0 3.7-.4 1.3-.3 2.5-.8 3.5-1.4 1.3-.7 2.1-1.5 2.5-2.2.4-.7.4-1.4-.1-1.9-.5-.6-1.2-.8-2.1-.7-.9.1-2.1.6-3.5 1.5-1.3.8-2.2 1.3-2.6 1.6l-2.3-2.7c.3-.1 1.1-.6 2.6-1.5 1.2-.7 2.1-1.4 2.5-2 .5-.6.5-1.2.1-1.7-.5-.5-1.2-.8-2.2-.6-1 .1-2 .5-3.2 1.2-2 1.2-3.4 2.7-4.1 4.5l-3.9-.6c.7-2.6 2.8-4.9 6.1-6.9 2.5-1.4 4.7-2.2 6.7-2.3 2-.1 3.5.4 4.5 1.5.7.8.9 1.8.5 2.9-.4 1.1-1.2 2.1-2.3 3 .6-.3 1.2-.5 1.9-.7.7-.2 1.4-.2 2.1-.3.7 0 1.4.1 2.1.4.7.2 1.2.6 1.7 1.1 1.1 1.2 1.2 2.6.3 4.3-.8 1.6-2.5 3.2-5 4.6a18.1 18.1 0 01-5.5 2.2c-1.6.5-3.2.6-4.6.4z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
