<template>
	<icon-template
		:width="36"
		:height="48"
		name="Pdf"
	>
		<path fill="#687EC1" stroke="#2141A4" stroke-width="2" d="M2.929 1h20.657L35 12.414V45c0 1.128-.886 2-1.929 2H2.93C1.887 47 1 46.128 1 45V3c0-1.128.887-2 1.929-2z"/>
		<path fill="#fff" d="M27.75 22.27c.49 0 .731-.428.731-.844 0-.43-.25-.846-.73-.846h-2.795c-.546 0-.85.454-.85.955v6.887c0 .614.348.954.82.954.468 0 .818-.34.818-.954v-1.89h1.69c.524 0 .787-.43.787-.858 0-.419-.263-.835-.787-.835h-1.69v-2.568h2.006zm-9.443-1.69h-2.044c-.555 0-.949.382-.949.949v6.899c0 .703.567.924.972.924h2.145c2.54 0 4.216-1.676 4.216-4.263-.001-2.735-1.58-4.509-4.34-4.509zm.098 7.07H17.16v-5.369h1.123c1.7 0 2.44 1.144 2.44 2.723 0 1.478-.727 2.647-2.317 2.647zm-7.488-7.07H8.892c-.573 0-.892.379-.892.955v6.887c0 .614.366.954.858.954s.858-.34.858-.954V26.41h1.27c1.566 0 2.86-1.113 2.86-2.904 0-1.752-1.248-2.927-2.93-2.927zm-.034 4.216H9.716v-2.599h1.167c.72 0 1.179.564 1.179 1.3-.002.735-.458 1.299-1.179 1.299z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
