
<template>
	<icon-template
		:width="140"
		:height="53"
		name="Logo"
	>
        <defs>
            <linearGradient id="icon_logo_path0" x1="7.221" x2="7.221" y1="0" y2="45.933" gradientUnits="userSpaceOnUse">
                <stop stop-color="#C52A29"/>
                <stop offset="1" stop-color="#F8981D"/>
            </linearGradient>
            <linearGradient id="icon_logo_path1" x1="16.404" x2="16.404" y1="0" y2="52.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#ED6D23"/>
                <stop offset="1" stop-color="#FEEA3A"/>
            </linearGradient>
            <linearGradient id="icon_logo_path2" x1="25.593" x2="25.593" y1="52.5" y2="13.123" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F9A923"/>
                <stop offset="1" stop-color="#4DAF4F"/>
            </linearGradient>
            <linearGradient id="icon_logo_path3" x1="2.627" x2="2.627" y1="6.562" y2="45.937" gradientUnits="userSpaceOnUse">
                <stop offset=".5" stop-color="#EF4538"/>
                <stop offset="1" stop-color="#C52A29"/>
            </linearGradient>
            <linearGradient id="icon_logo_path4" x1="11.81" x2="11.81" y1="0" y2="52.5" gradientUnits="userSpaceOnUse">
                <stop offset=".5" stop-color="#F8981D"/>
                <stop offset="1" stop-color="#ED6D23"/>
            </linearGradient>
            <linearGradient id="icon_logo_path5" x1="20.989" x2="20.989" y1="0" y2="52.5" gradientUnits="userSpaceOnUse">
                <stop offset=".5" stop-color="#FEEA3A"/>
                <stop offset="1" stop-color="#F9A923"/>
            </linearGradient>
            <linearGradient id="icon_logo_path6" x1="30.188" x2="30.188" y1="13.123" y2="39.371" gradientUnits="userSpaceOnUse">
                <stop offset=".5" stop-color="#4DAF4F"/>
                <stop offset="1" stop-color="#337E3D"/>
            </linearGradient>
        </defs>
        <path fill="url(#icon_logo_path0)" d="M11.81 0c-1.44 0-2.495 2.267-2.495 2.267L0 42.652c0 1.805 1.182 3.281 2.627 3.281 1.445 0 2.485-2.231 2.485-2.231L14.437 3.28C14.437 1.476 13.256 0 11.81 0z"/>
        <path fill="url(#icon_logo_path1)" d="M20.999 0c-1.446 0-2.48 2.211-2.48 2.211l-9.33 47.008c0 1.8 1.18 3.281 2.62 3.281 1.441 0 2.496-2.267 2.496-2.267L23.64 3.281C23.64 1.476 22.444 0 20.999 0z"/>
        <path fill="url(#icon_logo_path2)" d="M30.187 13.123c-1.445 0-2.49 2.191-2.49 2.191L18.373 49.22c0 1.8 1.181 3.28 2.627 3.28 1.445 0 2.363-1.86 2.363-1.86l9.447-34.235c0-1.805-1.181-3.28-2.622-3.28z"/>
        <path fill="#231F20" d="M11.81 0c-1.44 0-2.495 2.267-2.495 2.267L0 42.652c0 1.805 1.182 3.281 2.627 3.281 1.445 0 2.485-2.231 2.485-2.231L14.437 3.28C14.437 1.476 13.256 0 11.81 0zM20.999 0c-1.446 0-2.48 2.211-2.48 2.211l-9.33 47.008c0 1.8 1.18 3.281 2.62 3.281 1.441 0 2.496-2.267 2.496-2.267L23.64 3.281C23.64 1.476 22.444 0 20.999 0zM30.187 13.123c-1.445 0-2.49 2.191-2.49 2.191L18.373 49.22c0 1.8 1.181 3.28 2.627 3.28 1.445 0 2.363-1.86 2.363-1.86l9.447-34.235c0-1.805-1.181-3.28-2.622-3.28z" opacity=".2"/>
        <path fill="url(#icon_logo_path3)" d="M2.627 6.562C1.182 6.562 0 8.038 0 9.843v32.813c0 1.805 1.182 3.28 2.627 3.28 1.445 0 2.621-1.475 2.621-3.28V9.843c0-1.805-1.181-3.281-2.621-3.281z"/>
        <path fill="url(#icon_logo_path4)" d="M11.81 0c-1.44 0-2.622 1.476-2.622 3.28V49.22c0 1.8 1.182 3.281 2.622 3.281s2.627-1.48 2.627-3.281V3.281C14.437 1.476 13.255 0 11.81 0z"/>
        <path fill="url(#icon_logo_path5)" d="M20.99 0c-1.44 0-2.618 1.476-2.618 3.28V49.22c0 1.8 1.177 3.281 2.617 3.281s2.633-1.48 2.633-3.281V3.281C23.622 1.476 22.43 0 20.989 0z"/>
        <path fill="url(#icon_logo_path6)" d="M30.188 13.123c-1.445 0-2.627 1.476-2.627 3.281V36.09c0 1.805 1.181 3.281 2.627 3.281 1.445 0 2.622-1.476 2.622-3.28V16.403c0-1.805-1.182-3.28-2.622-3.28z"/>
        <path fill="#2141A4" d="M56.613 14.173a16.719 16.719 0 013.61.308l8.15 24.221c-.981.237-1.993.34-3.004.309a9.375 9.375 0 01-2.755-.309l-1.675-4.999h-8.98l-1.684 5c-.91.224-1.85.328-2.789.308a9.534 9.534 0 01-2.642-.309l8.151-24.22a18.086 18.086 0 013.618-.309zm-.259 5.174a25.383 25.383 0 01-.958 4.033l-2.116 6.249h6.33l-2.073-6.249a26.808 26.808 0 01-1.036-4.033h-.147zM71.094 14.482a11.202 11.202 0 012.823-.308c.974-.017 1.946.086 2.893.308v24.22c-.936.217-1.896.32-2.858.31a10.31 10.31 0 01-2.858-.31v-24.22zM91.791 13.823a16.707 16.707 0 016.589 1.117 2.628 2.628 0 01-.605 1.35 18.924 18.924 0 00-5.69-.9c-4.758 0-8.367 2.55-8.367 11.215s3.575 11.106 8.367 11.106c1.636-.015 3.266-.2 4.862-.55v-9.723H90.47a1.993 1.993 0 01-.146-.833 1.615 1.615 0 01.146-.792h8.264v12.348a19.083 19.083 0 01-6.908 1.142c-6.433 0-10.085-4.166-10.085-12.765-.035-8.398 3.583-12.715 10.05-12.715zM111.333 20.555a5.69 5.69 0 013.005.792c-.004.293-.086.58-.237.833a1.746 1.746 0 01-.627.617 5.145 5.145 0 00-2.59-.617c-1.857 0-3.61 1.666-4.75 4.1v12.597c-.274.104-.569.15-.863.134a2.09 2.09 0 01-.864-.134V21.005c.273-.11.569-.16.864-.141.295-.017.591.031.863.141v3.175c1.607-3.075 3.679-3.625 5.199-3.625zM120.364 16.606a3.97 3.97 0 01-1.149.133 3.861 3.861 0 01-1.139-.133v-1.933a3.647 3.647 0 011.139-.142c.389-.012.776.036 1.149.142v1.933zm-.251 22.288c-.274.104-.569.15-.863.134a2.087 2.087 0 01-.864-.134V21.006c.273-.111.569-.16.864-.142.295-.017.59.031.863.142v17.888zM139.137 13.132c.295-.018.591.03.863.142v25.604c-.238.094-.494.139-.751.133a2.296 2.296 0 01-.786-.133l-.173-2.658a5.988 5.988 0 01-2.429 2.407 6.288 6.288 0 01-3.399.734c-4.317 0-6.977-2.383-6.977-9.424 0-7.04 2.685-9.415 6.977-9.415 2.893 0 4.68 1.175 5.751 3.033V13.274c.291-.12.608-.168.924-.142zm-6.114 8.907c-3.972 0-5.612 2.208-5.612 7.898 0 5.691 1.64 7.907 5.612 7.907 3.454 0 5.181-3.007 5.181-5.732V27.73c0-2.69-1.753-5.69-5.181-5.69z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
