
<template>
	<icon-template
		:width="24"
		:height="24"
		name="ExpandMore"
	>
        <path fill="currentColor" fill-rule="evenodd" d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" clip-rule="evenodd"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
