<template>
	<icon-template
		:width="44"
		:height="44"
		name="Delete"
	>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.917 15.583h20.166M19.25 21.083v7.334M24.75 21.083v7.334M12.834 15.583l1.309 14.929c0 .66.276 1.293.767 1.76a2.69 2.69 0 001.852.728h10.476a2.69 2.69 0 001.852-.729c.491-.466.767-1.1.767-1.76l1.31-14.928"/>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.334 15.583v-3.437c0-.304.128-.596.358-.81.229-.215.54-.336.864-.336h4.889c.324 0 .635.12.864.336.23.214.358.506.358.81v3.437"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
