
<template>
	<icon-template
		:width="28"
		:height="28"
		name="MoreVertical"
	>
        <path fill="currentColor" d="M14 19.167c.619 0 1.212.237 1.65.659.437.422.683.994.683 1.59a2.21 2.21 0 01-.683 1.592 2.378 2.378 0 01-1.65.659 2.378 2.378 0 01-1.65-.66 2.21 2.21 0 01-.683-1.59c0-.597.245-1.17.683-1.591a2.378 2.378 0 011.65-.66zm0-7.75c.619 0 1.212.237 1.65.659.437.422.683.994.683 1.59a2.21 2.21 0 01-.683 1.592 2.378 2.378 0 01-1.65.659 2.378 2.378 0 01-1.65-.66 2.21 2.21 0 01-.683-1.59c0-.597.245-1.17.683-1.591a2.378 2.378 0 011.65-.66zm0-7.75c.619 0 1.212.237 1.65.659.437.422.683.994.683 1.59a2.21 2.21 0 01-.683 1.592 2.378 2.378 0 01-1.65.659 2.378 2.378 0 01-1.65-.66 2.21 2.21 0 01-.683-1.59c0-.597.245-1.17.683-1.591a2.378 2.378 0 011.65-.66z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
