<template>
	<icon-template
		:width="108"
		:height="45"
		name="VsrShort"
	>
		<path fill="#2C2624" d="M44.79 12.037L30.46 37.915h-5.827L10.311 12.037h7.884l9.355 17.175 9.355-17.175h7.884zM71.474 19.802h-6.892v-.94H51.954v2.677h12.983a6.49 6.49 0 014.637 1.918 7.137 7.137 0 011.388 2.067c.34.78.514 1.62.512 2.47v3.433c.002.85-.172 1.69-.512 2.47a7.18 7.18 0 01-1.388 2.059 6.575 6.575 0 01-4.637 1.918H51.591a6.085 6.085 0 01-2.48-.519 6.613 6.613 0 01-2.057-1.4 6.933 6.933 0 01-1.414-2.058 6.157 6.157 0 01-.512-2.47v-1.276h6.851v.939h12.603v-2.676H51.591a6.085 6.085 0 01-2.48-.519 6.531 6.531 0 01-2.057-1.408 6.792 6.792 0 01-1.414-2.05 6.122 6.122 0 01-.512-2.47v-3.458c-.001-.85.173-1.69.512-2.47a6.891 6.891 0 011.389-2.042 6.613 6.613 0 012.057-1.4 6.085 6.085 0 012.48-.518h13.371a6.574 6.574 0 014.637 1.918 7.139 7.139 0 011.388 2.05c.34.78.514 1.62.512 2.47v1.285zM98.648 12.037v6.826h-14.05v19.052h-6.81V18.51c-.004-.85.17-1.692.513-2.47.34-.762.82-1.454 1.413-2.042a6.612 6.612 0 012.083-1.4 6.202 6.202 0 012.529-.518l14.322-.042z"/>
		<path fill="#0EB36E" d="M.667 0h6.669v3.68H4.31v37.051h3.025v3.63H.666V0zM100.664 0h6.669v44.329h-6.669v-3.631h2.983V3.648h-2.983V0z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
