
<template>
	<icon-template
		:width="162"
		:height="227"
		name="Bank"
	>
		<g class="wrapper">
			<path fill="#DCE6FF" d="M5 171.4l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 185.1c-5.3-3.1-5.3-10.7 0-13.7z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5 132.9l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 146.6c-5.3-3-5.3-10.6 0-13.7z"/>
			<path fill="#fff" d="M161 139.3v-24.8H1.1v24.8"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M161 139.3v-24.8H1.1v24.8"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5 108.8l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 122.5c-5.3-3-5.3-10.7 0-13.7z"/>
			<path fill="#DCE6FF" d="M41.2 111.1l51.9-29.9c1.2-.7 2.7-.7 3.9 0l51.9 29.9c1.4.8 1.4 2.8 0 3.6l-51.9 30c-1.2.7-2.7.7-3.9 0l-51.9-29.9c-1.4-.9-1.4-2.9 0-3.7z"/>
			<path fill="#DCE6FF" d="M63.3 118.2c-8.2-4.2-21.6-4.2-29.6 0-8.2 4.2-8.1 11 .1 15.2 8.2 4.2 21.6 4.2 29.6 0 8.2-4.2 8.2-11-.1-15.2z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M100.9 130.1l-11.6 6.5v4.3l11.6-6.5v-4.3zM140.2 107.6l-11.6 6.5v4.4l11.6-6.6v-4.3z"/>
			<path fill="#2141A4" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M117 107.6l11.6 6.5v4.4l-11.6-6.6v-4.3z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M77.7 130.1l11.6 6.5v4.3l-11.6-6.5v-4.3zM38.9 107.8l11.6 6.5v4.3l-11.6-6.5v-4.3z"/>
			<path fill="#2141A4" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M62.1 107.8l-11.6 6.5v4.3l11.6-6.5v-4.3z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M37.9 31.8l51.3 29.7v75.3L37.7 108l.2-76.2zM141.7 31.2L89.2 61.6v75.3l52.6-29.5-.1-76.2z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M141.6 30.9L88.2 1 37.9 31.4 89 62l52.6-31.1z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M129.7 30.1L89.9 7.7c-.9-.5-2-.5-2.8.1L49.5 30.4c-.7.5-.7 1.5 0 1.9l38.2 22.9c.9.5 2 .5 2.8 0l39.1-23.3c.9-.5.9-1.5.1-1.8zM94.8 67.4V126l42.9-23.5V42.6L94.8 67.4z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M106.7 74.4l-1.8 2.5 7.8 5.5 1.8-2.5-7.8-5.5z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M113.1 98.8L112 80.3l16.7-15.7 2.1 2.3-15.7 14.7 1 17.2h-3z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M129 63.1c-.5-.3-.9-.5-1.4-.7-1.9-.7-4.1-.8-6.5-.2-1.9.4-3.8 1.2-5.8 2.3-4.5 2.6-8.7 6.7-11.9 11.8-3.2 5-5 10.3-5 14.9 0 4.1 1.4 7.4 4.1 9.2.2.1.3.3.6.3 1.4.8 3.1 1.2 4.9 1.2.5 0 1 0 1.4-.1 2.3-.3 4.8-1.1 7.4-2.6 4.5-2.6 8.7-6.7 11.9-11.8 3.2-5 5-10.3 5-14.9 0-4.3-1.6-7.7-4.7-9.4zm-20 35.7c-1.7.1-3.1-.1-4.3-.8-.2-.1-.5-.3-.7-.5-1.6-1.3-2.5-3.6-2.5-6.5 0-8.3 6.9-19.1 15.3-24 1.7-1 3.2-1.6 4.7-2 .9-.2 1.7-.3 2.5-.3s1.4.1 2.1.3c.5.1.9.3 1.3.6 2 1.2 3.2 3.6 3.2 6.9 0 8.3-6.9 19.1-15.3 24-2.2 1.3-4.3 2.1-6.3 2.3z"/>
			<path fill="#2141A4" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M118.2 75.6l.2-.3-1.2-.7s-.1 0-.1-.1c-1-.6-2.5-.4-4.3.6-3.2 1.8-5.7 5.8-5.7 8.9 0 1.3.5 2.3 1.2 2.8.1.1.2.1.3.2l1 .6.2-.3c.8 0 1.9-.3 2.9-.9 3.2-1.8 5.7-5.8 5.7-8.9.3-.8.1-1.4-.2-1.9z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M117.5 84c2.5-3.3 3-7.2 1.1-8.6-1.9-1.4-5.4.1-8 3.5-2.5 3.3-3 7.2-1.1 8.6 2 1.3 5.5-.2 8-3.5zM133.4 90.9c.1 0 8.7-5 8.8-5 .1 0 3.2.8 3.2.8l-4.7 6.9-6.8 2.1-.3-2.7-.2-2.1z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M145.4 86.8l-9.4 5.8v6.1l9.4-5.8v-6.1zM133.4 90.9s.3 1.2 1.4 1.6c1 .4 1.2.1 1.2.1v6.1s-.5.6-1.7.1c-1.2-.6-1-1.7-1-1.7l.1-6.2zM133.4 51.4c.1 0 8.7-5 8.8-5 .1 0 3.2.8 3.2.8l-4.7 6.9-6.8 2.1-.3-2.7-.2-2.1z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M145.4 47.2L136 53v6.1l9.4-5.8v-6.1zM133.4 51.5s.3 1.2 1.4 1.6c1 .3 1.2.1 1.2.1v6.1s-.5.6-1.7.1c-1.2-.6-1-1.7-1-1.7l.1-6.2z"/>
			<path fill="#fff" d="M61.1 115.8V122.9c0 5.7-8 10.3-18 10.3s-18-4.6-18-10.3v-7.1"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M61.1 115.8V122.9c0 5.7-8 10.3-18 10.3s-18-4.6-18-10.3v-7.1"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M25.3 115.8c0 5.7 8 10.3 18 10.3 9.9 0 18-4.6 18-10.3 0-5.7-8-10.3-18-10.3-10.1 0-18 4.6-18 10.3z"/>
			<path fill="#fff" d="M28.9 104.1v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M28.9 104.1v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M28.9 104.1c0-5.4 7.7-9.8 17.1-9.8 9.5 0 17.1 4.4 17.1 9.8s-7.7 9.8-17.1 9.8c-9.4 0-17.1-4.3-17.1-9.8z"/>
			<path fill="#21409A" d="M47.3 105.1l1.5.7 4.3-2.4 1.4.7-4.3 2.4 3.7 1.8-1.9 1.1-3.8-1.8-1 .5-1.4-.7 1-.5-1.5-.7-1 .5-1.7-.8 1-.5-6.4-3.2 4.4-2.5c1.3-.7 2.4-1.2 3.3-1.4.9-.2 1.9-.3 3-.2 1.1.1 2 .4 2.8.8.8.4 1.4.8 1.6 1.2.2.4.3.9.1 1.3-.2.4-.5.8-1 1.3-.5.4-1.1.8-1.8 1.2l-2.3 1.2zm.8-2.2c.4-.2.8-.5 1.2-.7.3-.3.6-.5.7-.8.1-.3.1-.5 0-.8-.1-.3-.5-.5-1-.7-.4-.2-.9-.3-1.4-.4-.5-.1-.9-.1-1.4 0-.5.1-.9.2-1.4.3-.5.2-.9.4-1.3.6l-2.7 1.5 4.8 2.4 2.5-1.4z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
