
<template>
	<icon-template
		:width="44"
		:height="44"
		name="Upload"
	>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.75" d="M13 27.294v2.353A2.353 2.353 0 0015.353 32H29.47a2.353 2.353 0 002.353-2.353v-2.353M16.53 17.882L22.411 12l5.882 5.882M22.412 12v14.118"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
