<template>
	<icon-template
		:width="44"
		:height="44"
		name="DeleteCross"
	>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M32 12L22 22M12 32l10-10m0 0l10 10M22 22L12 12"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
