<template>
	<icon-template
		:width="162"
		:height="257"
		name="Collection"
	>
		<path fill="#DCE6FF" d="M5 201.1l68.8-39.8c4.5-2.6 10.1-2.6 14.6 0l68.8 39.8c5.2 3 5.2 10.6 0 13.6l-68.8 39.8c-4.5 2.6-10.1 2.6-14.6 0L5 214.7c-5.3-3-5.3-10.6 0-13.6z"/>
		<g class="wrapper">
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5 162.7L73.7 123c4.5-2.6 10.1-2.6 14.6 0l68.8 39.8c5.2 3 5.2 10.6 0 13.6l-68.8 39.8c-4.5 2.6-10.1 2.6-14.6 0L5 176.4c-5.3-3.1-5.3-10.7 0-13.7z"/>
			<path fill="#fff" d="M161 169v-24.7H1.1V169"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M161 169v-24.7H1.1V169"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5 138.7L73.7 99c4.5-2.6 10.1-2.6 14.6 0l68.8 39.8c5.2 3 5.2 10.6 0 13.6l-68.8 39.8c-4.5 2.6-10.1 2.6-14.6 0L5 152.4c-5.3-3.1-5.3-10.7 0-13.7z"/>
			<path fill="#DCE6FF" d="M101.6 111.2l34.9 33.6-48.6 13c-11.8 3.2-22.5 2.6-32.3-2.9-3.2-1.8-2.5-6.2.9-7.6 6.8-2.1 8.9-2.8 18.1-5.4 4.9-1.3 9.2-4.4 12-8.6l15-22.1z"/>
			<path fill="#DCE6FF" d="M73.273 161.003c6.525-4.25 10.568-9.609 9.03-11.969-1.537-2.36-8.072-.828-14.597 3.423-6.525 4.25-10.568 9.609-9.031 11.969 1.537 2.36 8.073.828 14.598-3.423z"/>
			<path fill="#fff" fill-rule="evenodd" d="M52.6 78.7l-15.8 8.8v42.2c0 16.9 19 26.9 32.9 17.3l7.5-5.2c12.5-8.6 19.9-22.8 19.9-37.9v-50l-15.8 8.8v43.2c0 11.7-6.9 22.3-17.5 27.1-5.2 2.3-11.2-1.5-11.2-7.2V78.7z" clip-rule="evenodd"/>
			<path fill="#21409A" d="M36.8 87.5l-.5-.9c-.3.2-.5.5-.5.9h1zm15.8-8.8h1c0-.4-.2-.7-.5-.9-.3-.2-.7-.2-1 0l.5.9zM69.7 147l.6.8-.6-.8zm7.5-5.2l-.6-.8.6.8zm19.9-87.9h1c0-.4-.2-.7-.5-.9-.3-.2-.7-.2-1 0l.5.9zm-15.8 8.8l-.5-.9c-.3.2-.5.5-.5.9h1zM63.8 133l-.4-.9.4.9zM37.3 88.4l15.8-8.8-1-1.7-15.8 8.8 1 1.7zm.5 41.3V87.5h-2v42.2h2zm31.3 16.4c-13.3 9.1-31.3-.4-31.3-16.5h-2c0 17.7 19.9 28.2 34.5 18.1l-1.2-1.6zm7.6-5.1l-7.5 5.2 1.1 1.6 7.5-5.2-1.1-1.6zm19.4-37.1c0 14.8-7.3 28.7-19.5 37.1l1.1 1.6c12.7-8.8 20.3-23.2 20.3-38.7h-1.9zm0-50v50h2v-50h-2zm-14.3 9.7l15.8-8.8-1-1.7-15.8 8.8 1 1.7zm-1.5-.9v43.2h2V62.7h-2zm0 43.2c0 11.3-6.6 21.5-16.9 26.2l.8 1.8c11-4.9 18.1-15.9 18.1-28h-2zm-16.9 26.2c-4.6 2.1-9.7-1.3-9.7-6.3h-2c0 6.5 6.7 10.8 12.6 8.1l-.9-1.8zm-9.8-6.4v-47h-2v47.1h2v-.1z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M36.8 86.6l15.9-9 9.8 4.9-15.9 9-9.8-4.9zM81.3 61.9l16.1-9 9.8 4.9-16 9-9.9-4.9z"/>
			<path fill="#fff" fill-rule="evenodd" d="M62.5 82.6l-15.8 8.8v42.2c0 16.9 19 26.9 32.9 17.3l7.5-5.2c12.5-8.6 19.9-22.8 19.9-37.9v-50l-15.8 8.8v44.2c0 11.7-6.9 22.3-17.5 27.1-5.2 2.3-11.2-1.5-11.2-7.2V82.6z" clip-rule="evenodd"/>
			<path fill="#21409A" d="M46.7 91.5l-.5-.9c-.3.2-.5.5-.5.9h1zm15.8-8.9h1c0-.4-.2-.7-.5-.9-.3-.2-.7-.2-1 0l.5.9zm17.1 68.3l.6.8-.6-.8zm7.5-5.2l-.6-.8.6.8zM107 57.8h1c0-.4-.2-.7-.5-.9-.3-.2-.7-.2-1 0l.5.9zm-15.8 8.8l-.5-.9c-.3.2-.5.5-.5.9h1zm-17.5 71.3l-.4-.9.4.9zM47.2 92.3L63 83.5l-1-1.7-15.8 8.8 1 1.7zm.5 41.3V91.5h-2v42.2h2v-.1zM79 150.1c-13.3 9.1-31.3-.4-31.3-16.5h-2c0 17.7 19.9 28.2 34.5 18.1l-1.2-1.6zm7.6-5.2l-7.5 5.2 1.1 1.6 7.5-5.2-1.1-1.6zm19.4-37.1c0 14.8-7.3 28.7-19.5 37.1l1.1 1.6c12.7-8.8 20.3-23.2 20.3-38.7H106zm0-50v50h2v-50h-2zm-14.3 9.7l15.8-8.8-1-1.7-15.8 8.8 1 1.7zm-1.5-.9v44.2h2V66.6h-2zm0 44.2c0 11.3-6.6 21.6-16.9 26.2l.8 1.8c11-4.9 18.1-15.9 18.1-28h-2zM73.3 137c-4.6 2.1-9.7-1.3-9.7-6.3h-2c0 6.5 6.7 10.8 12.6 8.1l-.9-1.8zm-9.8-6.3V82.6h-2v48.1h2z"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M81.3 73.8l9.9 4.8 16-9M36.8 98.5l9.8 4.9 15.9-9"/>
			<path fill="#DCE6FF" d="M137.7 144c-7.9-4.1-20.8-4.1-28.7 0-7.9 4.1-7.9 10.6.1 14.7 7.9 4.1 20.8 4.1 28.7 0 7.8-4.1 7.8-10.7-.1-14.7z"/>
			<path fill="#fff" d="M116.5 80.5l5.7-3.2c2.2-1.1 5.2-.7 8.7 1.4 6.6 3.8 11.7 12.1 11.7 18.8 0 2.8-.7 4.8-2.3 5.9l-5.8 3.5"/>
			<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M116.5 80.5l5.7-3.2c2.2-1.1 5.2-.7 8.7 1.4 6.6 3.8 11.7 12.1 11.7 18.8 0 2.8-.7 4.8-2.3 5.9l-5.8 3.5"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M135.423 106.312c4.016-3.021 2.966-11.195-2.345-18.258-5.312-7.062-12.874-10.338-16.89-7.317-4.017 3.021-2.967 11.195 2.344 18.257 5.312 7.063 12.874 10.339 16.891 7.318z"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M135.423 106.312c4.016-3.021 2.966-11.195-2.345-18.258-5.312-7.062-12.874-10.338-16.89-7.317-4.017 3.021-2.967 11.195 2.344 18.257 5.312 7.063 12.874 10.339 16.891 7.318z"/>
			<path fill="#21409A" d="M124.8 94.5l.1 1.4 3.8 2.2.1 1.3-3.8-2.2.2 3.6-1.8-1-.2-3.6-.9-.5-.1-1.3.9.5-.1-1.4-.9-.5-.1-1.6.9.5-.3-6.3 4.2 2.3c1.2.7 2.1 1.3 2.8 1.9.6.6 1.2 1.3 1.6 2.2.4.9.6 1.7.7 2.4 0 .8-.1 1.4-.3 1.7-.2.3-.6.6-1 .6-.4.1-1 0-1.5-.2-.6-.2-1.2-.5-1.8-.8l-2.5-1.2zm2.3-.3c.4.2.8.4 1.2.5.4.1.7.2 1 .2.3 0 .5-.1.6-.4.1-.2.2-.6.2-1s-.1-.8-.3-1.2c-.2-.4-.4-.7-.7-1.1l-.9-.9c-.4-.3-.7-.5-1.1-.8l-2.5-1.4.3 4.7 2.2 1.4z"/>
			<path fill="#fff" d="M63.6 41.4l-5.7-3.2c-2.2-1.1-5.2-.7-8.7 1.4-6.6 3.8-11.7 12.1-11.7 18.8 0 2.8.7 4.8 2.3 5.9l5.8 3.5"/>
			<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M63.6 41.4l-5.7-3.2c-2.2-1.1-5.2-.7-8.7 1.4-6.6 3.8-11.7 12.1-11.7 18.8 0 2.8.7 4.8 2.3 5.9l5.8 3.5"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M61.593 59.962c5.312-7.063 6.361-15.237 2.345-18.258-4.017-3.02-11.579.255-16.89 7.318-5.312 7.062-6.362 15.236-2.345 18.257 4.016 3.02 11.578-.255 16.89-7.317z"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M61.593 59.962c5.312-7.063 6.361-15.237 2.345-18.258-4.017-3.02-11.579.255-16.89 7.318-5.312 7.062-6.362 15.236-2.345 18.257 4.016 3.02 11.578-.255 16.89-7.317z"/>
			<path fill="#21409A" d="M52.5 57v1.3l4-2.3v1.3l-4 2.3V63l-1.8 1v-3.4l-.9.5v-1.3l.9-.5V58l-.9.5V57l.9-.5v-5.9l4.2-2.4c1.2-.7 2.1-1.1 2.7-1.2.6-.1 1.1 0 1.5.4.4.4.6 1 .6 1.7s-.1 1.4-.4 2.1c-.3.6-.6 1.2-1.1 1.8-.5.6-1 1.1-1.6 1.5-.6.5-1.2.9-1.8 1.2L52.5 57zm2.3-2.9c.4-.2.8-.5 1.2-.8.4-.3.7-.6 1-.9.3-.3.5-.7.7-1.1.2-.4.2-.8.2-1.3 0-.4-.1-.7-.2-.9-.1-.2-.4-.3-.6-.3-.3 0-.6 0-.9.1-.3.1-.7.3-1.1.5L52.5 51v4.4l2.3-1.3z"/>
			<path fill="#fff" d="M74.4 138.1l-5.7-3.2c-2.2-1.1-5.2-.7-8.7 1.4-6.6 3.8-11.7 12.1-11.7 18.8 0 2.8.7 4.8 2.3 5.9l5.8 3.5"/>
			<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M74.4 138.1l-5.7-3.2c-2.2-1.1-5.2-.7-8.7 1.4-6.6 3.8-11.7 12.1-11.7 18.8 0 2.8.7 4.8 2.3 5.9l5.8 3.5"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M72.374 156.574c5.312-7.062 6.362-15.236 2.345-18.257-4.016-3.021-11.578.255-16.89 7.317-5.312 7.062-6.361 15.236-2.345 18.257 4.017 3.021 11.579-.255 16.89-7.317z"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M72.374 156.574c5.312-7.062 6.362-15.236 2.345-18.257-4.016-3.021-11.578.255-16.89 7.317-5.312 7.062-6.361 15.236-2.345 18.257 4.017 3.021 11.579-.255 16.89-7.317z"/>
			<path fill="#21409A" d="M63.3 153.6v1.3l4-2.3v1.3l-4 2.3v3.4l-1.8 1v-3.4l-.9.5v-1.3l.9-.5v-1.3l-.9.5v-1.5l.9-.5v-5.9l4.2-2.4c1.2-.7 2.1-1.1 2.7-1.2.6-.1 1.1 0 1.5.4.4.4.6 1 .6 1.7s-.1 1.4-.4 2.1c-.3.6-.6 1.2-1.1 1.8-.5.6-1 1.1-1.6 1.5-.6.5-1.2.9-1.8 1.2l-2.3 1.3zm2.3-2.8c.4-.2.8-.5 1.2-.8.4-.3.7-.6 1-.9.3-.3.5-.7.7-1.1.2-.4.2-.8.2-1.3 0-.4-.1-.7-.2-.9-.1-.2-.4-.3-.6-.3-.3 0-.6 0-.9.1-.3.1-.7.3-1.1.5l-2.5 1.4v4.4l2.2-1.1z"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M40.1 36.2v-13M51.9 26.2v-10M63.8 30.6v-10"/>
			<path fill="#fff" d="M101.2 142.4v7c0 5.5 7.8 9.9 17.3 9.9s17.3-4.4 17.3-9.9v-7.1"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M101.2 142.4v7c0 5.5 7.8 9.9 17.3 9.9s17.3-4.4 17.3-9.9v-7.1"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M101.2 142.4c0-5.5 7.8-9.9 17.3-9.9 9.6 0 17.3 4.4 17.3 9.9s-7.8 9.9-17.3 9.9-17.3-4.5-17.3-9.9z"/>
			<path fill="#21409A" d="M120.1 143.6h1.6l2.9-4.1h1.5l-2.9 4.1h4.1l-1.3 1.8h-4l-.6.9h-1.5l.6-.9h-1.6l-.6.9h-1.9l.6-.9h-7.3l3-4.2c.9-1.2 1.6-2.1 2.4-2.7.7-.6 1.6-1.1 2.6-1.5 1-.4 2-.6 2.9-.6.9 0 1.6.1 2 .4.4.3.6.6.7 1.1 0 .5-.1 1-.4 1.6-.3.6-.6 1.2-1.1 1.8l-1.7 2.3zm-.3-2.3c.3-.4.5-.8.7-1.2.2-.4.3-.7.3-1 0-.3-.1-.5-.4-.7-.2-.2-.6-.2-1.2-.2-.5 0-1 .1-1.4.2-.4.2-.9.4-1.3.6-.4.3-.8.6-1.1.9-.3.4-.7.7-.9 1.1l-1.8 2.5h5.4l1.7-2.2z"/>
			<path fill="#fff" d="M95.3 129.7v7c0 5.5 7.8 9.9 17.3 9.9s17.3-4.4 17.3-9.9v-7"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M95.3 129.7v7c0 5.5 7.8 9.9 17.3 9.9s17.3-4.4 17.3-9.9v-7"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M95.3 129.7c0-5.5 7.8-9.9 17.3-9.9 9.6 0 17.3 4.4 17.3 9.9s-7.8 9.9-17.3 9.9c-9.6 0-17.3-4.4-17.3-9.9z"/>
			<path fill="#21409A" d="M113.8 130.7l1.5.7 4.4-2.4 1.4.7-4.4 2.4 3.7 1.8-1.9 1.1-3.7-1.8-1 .5-1.4-.7 1-.5-1.5-.7-1 .5-1.7-.8 1-.5-6.5-3.2 4.5-2.5c1.3-.7 2.4-1.2 3.3-1.4.9-.2 1.9-.3 3-.2 1.1.1 2 .4 2.8.8.8.4 1.4.8 1.6 1.2.2.4.3.9.1 1.3-.2.4-.5.8-1 1.3-.5.4-1.1.8-1.8 1.2l-2.4 1.2zm.8-2.2c.4-.2.8-.5 1.2-.7.3-.3.6-.5.7-.8.1-.3.1-.5 0-.8-.1-.3-.5-.5-1-.7-.4-.2-.9-.3-1.4-.4-.5-.1-.9-.1-1.4 0-.5.1-.9.2-1.4.3-.5.2-.9.4-1.3.6l-2.7 1.5 4.9 2.4 2.4-1.4z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
