
<template>
	<icon-template
		:width="49"
		:height="56"
		name="MenuToggle"
	>
		<path fill="#C0CFFB" d="M24.3 54.1V27.8l23.3-13.3v26.7L24.3 54.1z"/>
		<path fill="#fff" d="M47.8 14.7L24.6 1.2v.3L1.4 14.7l23.3 13v.3l23.1-13.3z"/>
		<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-width="2" d="M24.3 27.8v25.5M46 15.5s-20.4 11.8-20.7 12c-.6.3-1.3.3-1.8 0C23.1 27.2 1.9 15 1.9 15"/>
		<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-width="2" d="M1 39.5V16.1c0-1 .5-2 1.4-2.5L22.9 2c.9-.5 1.9-.5 2.8 0l20.5 11.7c.9.5 1.4 1.4 1.4 2.5v23.4c0 1-.5 2-1.4 2.5L25.7 53.7c-.9.5-1.9.5-2.8 0L2.4 42c-.9-.5-1.4-1.5-1.4-2.5z"/>
		<path class="cross" fill="transparent" stroke="transparent" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M5 23.6l14.183 21.456M5 37.223l14.183-5.79"/>
		<path class="lines" stroke="#21409A" stroke-linecap="round" stroke-width="2" d="M4.3 35.6l15.8 9.2M4.3 29.7l15.8 9.2M4.3 23.9l15.8 9.2"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
