
<template>
	<icon-template
		:width="162"
		:height="214"
		name="Profit"
	>
		<path fill="#DCE6FF" d="M5 158.4l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 172.1c-5.3-3.1-5.3-10.7 0-13.7z"/>
		<g class="wrapper">
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5 119.9l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 133.6c-5.3-3-5.3-10.6 0-13.7z"/>
			<path fill="#fff" d="M161 126.3v-24.8H1.1v24.8"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M161 126.3v-24.8H1.1v24.8"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5 95.8l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 109.5c-5.3-3-5.3-10.7 0-13.7z"/>
			<path fill="#DCE6FF" d="M33.6 103.7l54.9-31.8c5.4-3.2 14.1-3.2 19.6 0 5.5 3.2 5.4 8.2 0 11.3l-55 31.8c-5.4 3.2-14.1 3.2-19.6 0-5.2-3.1-5.2-8.1.1-11.3z"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M99.5 20.3l-11.7 6.4V13.1c0-.6-.1-1.2-.6-1.5-.5-.3-1.4-.3-1.9 0L27.1 45.4c-2.3 1.3-3.4 3-3.4 4.7v56.6c0 1.7 1.1 3.4 3.4 4.7h.1c4.4 2.6 11.8 2.6 16.2 0l57.9-33.6c.5-.3 1-1.1 1-1.7V22c-.1-1.4-1.3-2.5-2.8-1.7z"/>
			<path fill="#fff" d="M25.8 52.9l54.1-32.4v11.4"/>
			<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M25.8 52.9l54.1-32.4v11.4"/>
			<path fill="#fff" d="M30.5 55.2l53.2-31.7v5.9"/>
			<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M30.5 55.2l53.2-31.7v5.9"/>
			<path fill="transparent" stroke="#304295" stroke-dasharray="4.2 4.2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M23.7 98.1c0 1.7 1.1 3.4 3.4 4.7h.1c4.4 2.6 11.8 2.6 16.2 0l57.9-35.5M23.7 58.1c0 1.7 1.1 3.4 3.4 4.7h.1c4.4 2.6 11.8 2.6 16.2 0l57.9-34.5"/>
			<path fill="#fff" d="M109.4 40.6v12.9c0 .5-.4 1.1-.8 1.4 0 0-22.4 13.3-25.9 14.8s-5.4-1.5-5.4-6.4 1-7.9 5.4-10.4l21.4-12.1.1-.1c.3-.2.3-.6-.1-.8l-2.1-1.2v-3.1l6.5 3.8c.5.1.8.6.9 1.2 0-.1 0-.1 0 0z"/>
			<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M109.4 40.6v12.9c0 .5-.4 1.1-.8 1.4 0 0-22.4 13.3-25.9 14.8s-5.4-1.5-5.4-6.4 1-7.9 5.4-10.4l21.4-12.1.1-.1c.3-.2.3-.6-.1-.8l-2.1-1.2v-3.1l6.5 3.8c.5.1.8.6.9 1.2zm0 0c0-.1 0-.1 0 0z"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M84 60.6c.2 1.7 1.8 2.2 3.6 1.2 1.8-1.1 3.2-3.3 3-4.9-.2-1.7-1.8-2.2-3.6-1.2-1.8 1-3.1 3.1-3 4.9z"/>
			<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M85.8 11.7L29.2 44.8c-.6.4-1.6.9-2.2 1.4-3 2.3-3.3 5.3-.7 7.5.6.5 1.6 1 2.2 1.3 3.8 1.6 9 1.4 12.9-.4.6-.3 1.7-.9 2.3-1.3L100.1 20"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M26.7 31.8L77 1.8v20.4l-50.3 30V31.8z"/>
			<path fill="#fff" d="M56.9 4.8l-5.6-3.2C49.1.5 46.2.9 42.7 3c-6.5 3.8-11.6 12-11.6 18.6 0 2.8.7 4.8 2.3 5.8l5.7 3.5"/>
			<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M56.9 4.8l-5.6-3.2C49.1.5 46.2.9 42.7 3c-6.5 3.8-11.6 12-11.6 18.6 0 2.8.7 4.8 2.3 5.8l5.7 3.5"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M54.9 23.1c5.2-7 6.3-15.1 2.3-18.1-4-3-11.4.3-16.7 7.2-5.2 7-6.3 15.1-2.3 18.1 4 3.1 11.5-.2 16.7-7.2z"/>
			<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M54.9 23.1c5.2-7 6.3-15.1 2.3-18.1-4-3-11.4.3-16.7 7.2-5.2 7-6.3 15.1-2.3 18.1 4 3.1 11.5-.2 16.7-7.2z"/>
			<path fill="#21409A" d="M45.9 20.2v1.3l4-2.3v1.3l-4 2.3v3.4l-1.8 1v-3.4l-.9.5V23l.9-.5v-1.3l-.9.5v-1.5l.9-.5v-5.8l4.1-2.4c1.2-.7 2.1-1.1 2.7-1.2.6-.1 1.1 0 1.5.4.4.4.6 1 .6 1.7s-.1 1.4-.4 2.1c-.3.6-.6 1.2-1.1 1.8-.5.6-1 1.1-1.6 1.5-.6.5-1.2.9-1.8 1.2l-2.2 1.2zm2.3-2.9c.4-.2.8-.5 1.2-.8.4-.3.7-.6 1-.9.3-.3.5-.7.7-1.1.2-.4.2-.8.2-1.3 0-.4-.1-.7-.2-.9-.1-.2-.4-.3-.6-.3-.3 0-.6 0-.9.1-.3.1-.7.3-1.1.5L46 14.1v4.4l2.2-1.2z"/>
			<path fill="#DCE6FF" d="M88.2 115.5c-7.8-4.1-20.5-4.1-28.3 0-7.8 4.1-7.8 10.5.1 14.6 7.8 4.1 20.5 4.1 28.3 0 7.8-4.1 7.8-10.6-.1-14.6zM127.1 96.2c-7.8-4.1-20.5-4.1-28.3 0-7.8 4.1-7.8 10.5.1 14.6 7.8 4.1 20.5 4.1 28.3 0 7.7-4.1 7.7-10.6-.1-14.6z"/>
			<path fill="#fff" d="M52.3 113.9v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M52.3 113.9v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M52.3 113.9c0-5.4 7.7-9.8 17.1-9.8 9.5 0 17.1 4.4 17.1 9.8s-7.7 9.8-17.1 9.8c-9.4 0-17.1-4.4-17.1-9.8z"/>
			<path fill="#21409A" d="M70.9 115.1h1.6l2.9-4.1h1.5l-2.9 4.1h4l-1.3 1.8h-4l-.6.9h-1.5l.6-.9h-1.6l-.6.9h-1.9l.6-.9h-7.2l3-4.2c.9-1.2 1.6-2.1 2.4-2.7.7-.6 1.6-1.1 2.6-1.5 1-.4 2-.6 2.9-.6.9 0 1.6.1 2 .4.4.3.6.6.7 1.1 0 .5-.1 1-.4 1.6-.3.6-.6 1.2-1.1 1.8l-1.7 2.3zm-.3-2.3c.3-.4.5-.8.7-1.2.2-.4.3-.7.3-1 0-.3-.1-.5-.4-.7-.2-.2-.6-.2-1.2-.2-.5 0-1 .1-1.4.2-.4.2-.9.4-1.3.6-.4.3-.8.6-1.1.9-.3.4-.7.7-.9 1.1l-1.8 2.5H69l1.6-2.2z"/>
			<path fill="#fff" d="M46.3 101.3v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M46.3 101.3v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M46.3 101.3c0-5.4 7.7-9.8 17.1-9.8 9.5 0 17.1 4.4 17.1 9.8s-7.7 9.8-17.1 9.8c-9.4 0-17.1-4.3-17.1-9.8z"/>
			<path fill="#21409A" d="M64.7 102.3l1.5.7 4.3-2.4 1.4.7-4.3 2.4 3.7 1.8-1.9 1.1-3.7-1.8-1 .5-1.4-.7 1-.5-1.5-.7-1 .5-1.7-.8 1-.5-6.4-3.2 4.4-2.5c1.3-.7 2.4-1.2 3.3-1.4.9-.2 1.9-.3 3-.2 1.1.1 2 .4 2.8.8.8.4 1.4.8 1.6 1.2.2.4.3.9.1 1.3-.2.4-.5.8-1 1.3-.5.4-1.1.8-1.8 1.2l-2.4 1.2zm.8-2.1c.4-.2.8-.5 1.2-.7.3-.3.6-.5.7-.8.1-.3.1-.5 0-.8-.1-.3-.5-.5-1-.7-.4-.2-.9-.3-1.4-.4-.5-.1-.9-.1-1.4 0-.5.1-.9.2-1.4.3-.5.2-.9.4-1.3.6l-2.7 1.5 4.8 2.4 2.5-1.4z"/>
			<path fill="#fff" d="M92.3 96.7v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M92.3 96.7v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M92.3 96.7c0-5.4 7.7-9.8 17.1-9.8 9.5 0 17.1 4.4 17.1 9.8s-7.7 9.8-17.1 9.8c-9.5 0-17.1-4.4-17.1-9.8z"/>
			<path fill="#21409A" d="M110.8 97.9h1.6l2.9-4.1h1.5l-2.9 4.1h4l-1.3 1.8h-4l-.6.9h-1.5l.6-.9h-1.5l-.6.9h-1.9l.6-.9h-7.2l3-4.2c.9-1.2 1.6-2.1 2.4-2.7.7-.6 1.6-1.1 2.6-1.5 1-.4 2-.6 2.9-.6.9 0 1.6.1 2 .4.4.3.6.6.7 1.1 0 .5-.1 1-.4 1.6-.3.6-.6 1.2-1.1 1.8l-1.8 2.3zm-.2-2.3c.3-.4.5-.8.7-1.2.2-.4.3-.7.3-1 0-.3-.1-.5-.4-.7-.2-.2-.6-.2-1.2-.2-.5 0-1 .1-1.4.2-.4.2-.9.4-1.3.6-.4.3-.8.6-1.1.9-.3.4-.7.7-.9 1.1l-1.8 2.5h5.3l1.8-2.2z"/>
			<path fill="#fff" d="M96.3 85v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M96.3 85v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M96.3 85c0-5.4 7.7-9.8 17.1-9.8 9.5 0 17.1 4.4 17.1 9.8s-7.7 9.8-17.1 9.8c-9.4 0-17.1-4.4-17.1-9.8z"/>
			<path fill="#21409A" d="M114.7 86l1.5.7 4.3-2.4 1.4.7-4.3 2.4 3.7 1.8-1.9 1.1-3.7-1.8-1 .5-1.4-.7 1-.5-1.5-.7-1 .5-1.7-.8 1-.5-6.4-3.2 4.4-2.5c1.3-.7 2.4-1.2 3.3-1.4.9-.2 1.9-.3 3-.2 1.1.1 2 .4 2.8.8.8.4 1.4.8 1.6 1.2.2.4.3.9.1 1.3-.2.4-.5.8-1 1.3-.5.4-1.1.8-1.8 1.2l-2.4 1.2zm.8-2.2c.4-.2.8-.5 1.2-.7.3-.3.6-.5.7-.8.1-.3.1-.5 0-.8-.1-.3-.5-.5-1-.7-.4-.2-.9-.3-1.4-.4-.5-.1-.9-.1-1.4 0-.5.1-.9.2-1.4.3-.5.2-.9.4-1.3.6l-2.7 1.5 4.8 2.4 2.5-1.4z"/>
			<path fill="#fff" d="M91.4 73.9v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M91.4 73.9v7c0 5.4 7.7 9.8 17.1 9.8 9.4 0 17.1-4.4 17.1-9.8v-7"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M91.4 73.9c0-5.4 7.7-9.8 17.1-9.8 9.5 0 17.1 4.4 17.1 9.8s-7.7 9.8-17.1 9.8c-9.4 0-17.1-4.3-17.1-9.8z"/>
			<path fill="#21409A" d="M109.7 74.9l1.5.7 4.3-2.4 1.4.7-4.3 2.4 3.7 1.8-1.9 1.1-3.8-1.8-1 .5-1.4-.7 1-.5-1.5-.7-1 .5-1.7-.8 1-.5-6.3-3.2 4.4-2.5c1.3-.7 2.4-1.2 3.3-1.4.9-.2 1.9-.3 3-.2 1.1.1 2 .4 2.8.8.8.4 1.4.8 1.6 1.2.2.4.3.9.1 1.3-.2.4-.5.8-1 1.3-.5.4-1.1.8-1.8 1.2l-2.4 1.2zm.8-2.2c.4-.2.8-.5 1.2-.7.3-.3.6-.5.7-.8.1-.3.1-.5 0-.8-.1-.3-.5-.5-1-.7-.4-.2-.9-.3-1.4-.4-.5-.1-.9-.1-1.4 0-.5.1-.9.2-1.4.3-.5.2-.9.4-1.3.6l-2.7 1.5 4.8 2.4 2.5-1.4z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
