<template>
	<icon-template
		:width="44"
		:height="44"
		name="Attachment"
	>
          <path fill="currentColor" d="M29.442 20.185l-8.871 8.871a4.362 4.362 0 01-6.171 0 4.363 4.363 0 010-6.171l9.642-9.643A2.728 2.728 0 0127.9 17.1l-8.1 8.1a1.094 1.094 0 01-1.542 0 1.094 1.094 0 010-1.543l7.328-7.328-1.157-1.157-7.328 7.328a2.728 2.728 0 003.856 3.857l8.1-8.1a4.362 4.362 0 000-6.17 4.362 4.362 0 00-6.171 0l-9.642 9.642a5.997 5.997 0 000 8.485 5.997 5.997 0 008.485 0l8.87-8.87-1.156-1.158z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
