<template>
	<icon-template
		:width="44"
		:height="44"
		name="Frame"
	>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M24.75 9.167v5.704a1.426 1.426 0 001.426 1.425h5.704"/>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M29.028 34.833h-14.26a2.852 2.852 0 01-2.851-2.851V12.019a2.852 2.852 0 012.852-2.852h9.981l7.13 7.13v15.685a2.852 2.852 0 01-2.852 2.851zM21.898 20.574v8.556"/>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.62 24.852l4.278 4.278 4.278-4.278"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
