<template>
	<icon-template
		:width="547"
		:height="464"
		name="Clients"
	>
		<path fill="transparent" stroke="#DDE4FD" stroke-miterlimit="10" stroke-width="2" d="M83.7 331.6L458.9 115M195.9 369.5l96-55.4"/>
		<path fill="transparent" stroke="#DDE4FD" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M291.9 314.3l86.4 49.9 150.1-87.6M111.2 131.5l300.3 173.4M37.6 304.9l46.1 26.6"/>
		<path fill="#DDE4FD" d="M384.7 223.3c-13.3-13.3-13.4-12.3-16.6-14.2L287 138.5c-6.6-3.8-17.1-3.8-23.5 0l-94.9 55.2c-3.2 1.9-4.8 4.3-4.8 6.8v33.4c0 2.4 1.7 5 4.9 6.9l106.4 61.4c6.6 3.8 17.1 3.8 23.5 0l94.8-55.1c3.2-1.8 5.5-4 5.5-8 .1-4.7-10.2-11.8-14.2-15.8zM455.3 370.3l-97.4-52.9v2.5c0 1.7.9 5.5 2.4 6.3l102.2 59.2c3.5 2 7.7 2 11.1 0l70.9-44.6c2-1.1 3.3-4.4 1.7-6l-14.2-8.7-76.7 44.2zM221.8 440.4s55.9 39.1 98.3 15.7c16.6-9.2 30.1-16.8 40.5-22.8 11-6.3 11.1-22.1.2-28.6L284.4 359l-139.9 35 77.3 46.4zM84.9 302.1L46 279.6C29.8 290.7 15.2 302.7 8.3 322c-.6 1.9-1.7 3.5-3.2 4.7l21.7 12.5c3.2 1.8 7 1.8 10.2 0l47.9-27.7c3.6-2.1 3.6-7.4 0-9.4zM148.2 129.2l-42.3-24.4c-17.6 12-33.5 25.1-41 46.1-.7 2.1-1.9 3.8-3.5 5.1L85 169.6c3.4 2 7.7 2 11.1 0l52.1-30c4-2.4 4-8.1 0-10.4z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M457.5 373.8l-109.4-62.7v2.4c0 1.7.9 5.5 2.4 6.3l101.4 58.4c3.5 2 7.7 2 11.1 0l71.7-43.9c2-1.1 3.2-3.2 3.2-5.5v-3.2l-80.4 48.2z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M537.9 325.6L462.1 374c-2.8 1.8-6.6 1.9-9.5.2L349.7 315c-2.2-1.3-2.2-4.3-.1-5.7l75.8-48.4 112.5 64.7z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M431.1 183.6c-1.5-.9-3.3-.8-4.7.1l-1.3.8L533 248.4l2.2 79.3 2.6-1.5V251c0-3.4-1.8-6.6-4.8-8.3l-101.9-59.1z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M530.4 244c2.9 1.7 4.8 4.9 4.8 8.3v75.2L423 262.6v-75.2c0-2.4 2.7-4 4.8-2.8L530.4 244zM486.7 350.7c-1.6 0-3.2-.9-4.8-1.9l-95.6-55.1c-.5-.2-.9-.7-.9-1.3 0-.5.4-1 .9-1.3l34.8-22c1.2-.7 2.4-1.1 3.5-1.1.6 0 .9.1 1.3.3l98.3 56.8c.2.2.4.5.5.9.1.6-.1 1-.4 1.4L489.1 350c-.8.4-1.6.7-2.4.7zM440.8 331c3.2 1.8 3.2 4.7 0 6.6l-14.1 8.1c-3.1 1.8-8.1 1.8-11.3 0l-22-12.7c-3.1-1.8-3.2-4.7 0-6.6l14.1-8.1c3.1-1.8 8.1-1.8 11.3 0l22 12.7z"/>
		<path fill="#DDE4FD" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M427.6 255.9l101.7 58.7v-62.2l-101.7-58.7v62.2z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M317.8 362.3c-11.5-14.7-29.6-35.6-38.2-42-7-5.2-13.7-9.6-20.1-13.4-4.7-2.8-11.5-5.8-16.4-7.3-28.9-9-41.1-4.3-47.5-.6-16 9.3-52.2 34-54.1 35.1.1 0 .2-.1.2-.1-8.7 4.9-9.1 15.5-9.2 27.1 0 3 .3 4.7 1.7 7.6l18.6-10.8c9 5.2 16.4 18.3 16.4 28.6 0 4.7-1.5 8.1-4 10 2 .7 59.5 32.6 67.5 38.4.5.3.9.6 1.3.9l24.4-14.1c4.8 6.2 8 14.1 8 21 0 4.5-1.3 7.8-3.6 9.8 1.9.6 9.2-1.7 9.8-2 .1-.1.2-.1.2-.2l-.1.1c22.4-13 61.5-36.6 61.5-36.6s4.7-6.4 6-12.4c3.7-17.5-14.6-32-22.4-39.1z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M252.1 412.7c-4.5-2.2-8.5-2.1-11.1-.3l-6.7 4.6c-2.7 1.8-4.2 5.4-3.9 10.4 1 16 19.2 32.6 28.6 26.2h-.1l6.7-4.6c9.3-6.4.9-29.2-13.5-36.3z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M245.3 417.3c8.9 4.3 16.8 16 17.4 25.8.8 11.7-8.5 15.1-18.5 7.9-7.4-5.3-13.4-15.2-14-23.8-.5-9.8 6.2-14.2 15.1-9.9zm11.3 23.9c.6 0 1.1-.5 1.1-1.3-.2-2.5-1.7-7.9-4.3-8.7-1.5-.4-3-2.3-3.3-4-.5-2.8-4.7-5.1-7.2-5.4-.7-.1-1.1.5-1.2 1.3-.1 1.6-1.4 2-3 .9-.6-.4-1.5-.7-2-.2-1.4 1.6-2.4 5.5 0 7.7 1.4 1.4 2.1 3.6 1.5 4.7-.9 1.5 1.3 4.3 2.4 5.7 4.7 5.8 4 1.8 6.6 3.1 2.1 1 2.3 3.2 4.1 3.6 1.7.2 3.3-.2 4.4-1.4.4-.5.3-1.4-.1-2.4-.9-1.9-.4-3.5 1-3.6z"/>
		<path fill="#304295" d="M252.1 412.7c-4.5-2.2-8.5-2.1-11.1-.3l-6.7 4.6c2.7-1.8 6.6-1.9 11.1.3 8.9 4.3 16.8 16 17.4 25.8.3 5-1.2 8.5-3.9 10.4h0l6.7-4.6c9.3-6.3.9-29.1-13.5-36.2z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M155.9 357.5c-4.2-2.5-8-2.6-10.7-1l-6.7 4c-2.7 1.6-4.4 4.9-4.4 9.6-.1 15.4 16.3 32.6 25.7 26.9l6.7-4c9.3-5.3 2.8-27.8-10.6-35.5z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M158.3 385.3c2.4.1.6-5.9-.5-8.1-.4-.8-.9-1.3-1.5-1.7-.3-.2-.5-.2-.9-.4-1.3-.7-2.3-2.4-2.5-4-.3-2.8-4.3-5.2-6.6-5.7-.7-.2-1.2.3-1.3 1.1-.2 1.3-1.3 1.8-2.5 1.1-.4-.2-.6-.4-.9-.6-.6-.3-1.1-.4-1.5 0-1.3 1.2-1.7 3.2-1.7 5 0 .9.5 1.8 1.1 2.6 1.3 1.5 1.8 3.6 1.1 4.7-1.4 2.2 3.8 8.3 5 8.9 1.4.8 1.5-.8 3.2.2 1.9 1.1 2.1 3.3 3.8 3.7 1.7.4 3.2.1 4.4-1.1.5-.5.4-1.3.1-2.3-.6-1.9 0-3.5 1.2-3.4z"/>
		<path fill="#304295" d="M155.9 357.5c-4.2-2.5-8-2.6-10.7-1l-6.7 4c2.8-1.6 6.5-1.3 10.7 1 8.3 4.8 15 16.4 14.9 25.9 0 4.8-1.7 8.1-4.4 9.6h.1l6.7-4c9.3-5.3 2.8-27.8-10.6-35.5z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M192.1 346.1c6.5 3.7 13.2 8.1 20.1 13.4 8.7 6.5 26.7 27.3 38.2 42 7.9 7 16.4 13.9 21.7 28.2 3.4 9.2 1.7 21-.9 21-.7 0-6.6 2.4-8.5 1.7 2.2-2 3.6-5.3 3.6-9.8 0-10.6-6.8-22.8-16.7-28.6-3-1.7-8.7-4.2-14.9-1.3-8.9 4-7.7 15.5-6.2 19.4-.5-.3-61.6-34.9-63.5-35.6 2.5-1.8 4-5.3 4-10 0-10.4-7.4-23.4-16.4-28.6-11.5-6.6-18.6-2.5-18.7 8.9 0 .6 0 1.3.1 1.9-1.3-2.8-1.7-4.6-1.7-7.6.2-14 .7-26.5 15.5-29.3-.6-.9 16.1.9 23.7 4.1 6.9 2.9 13.6 6.2 20.6 10.2z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M195.2 372.3c3.3 1.9 6 6.6 6 10.4 0 3.8-2.7 5.3-6 3.4l-13.9-7.9c-3.3-1.9-6-6.6-6-10.4 0-3.8 2.7-5.3 6-3.4l13.9 7.9zM220.8 299.6c9.5-.3 22.5 4.1 30 7.7 7.5 3.6 15.9 8.8 24 15.7 6.7 5.7 20.2 19.1 30.3 31.8 1.7 2.2 12 10.8-17.2 26.3-21.5 11.3-36 14.5-40.6 8.6-10.5-13.4-24.4-28.6-31.4-33.9-6.7-5-13.1-9.2-19.4-12.8-6.6-3.9-13-7-19.5-9.8-2.8-1.2-6.7-2.2-10.7-2.8-7.9-1.3 11.8-13.5 23.2-20.9 12.9-8.2 22.8-10.9 31.3-9.9z"/>
		<path fill="#304295" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M280.7 430.5c-.9.6-1.7 1.8-1.7 2.9 0 1 .8 1.5 1.7.9l15.6-9c.9-.6 1.7-1.8 1.7-2.9 0-1.1-.8-1.5-1.7-.9l-15.6 9zM319.6 408.4c-.9.5-1.5 1.7-1.5 2.6 0 .9.7 1.3 1.5.9l13.8-8c.9-.5 1.5-1.7 1.5-2.6 0-.9-.7-1.3-1.5-.9l-13.8 8z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M394.3 198.9c0-2.4-1.7-4.9-4.9-6.8L283 130.7c-6.6-3.8-17.1-3.8-23.5 0l-94.9 55.2c-3.2 1.9-4.8 4.3-4.8 6.8v33.4c0 2.5 1.7 5 4.9 6.9L271 294.3c6.6 3.8 17.1 3.8 23.5 0l94.9-55.2c3.2-1.8 4.8-4.3 4.8-6.6.2-2.5.2-31.2.1-33.6z"/>
		<path fill="#DDE4FD" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M386.6 186.8c0-.4-.2-.8-.6-1l-106.4-61.4c-2.1-1.2-5.2-1.9-8.4-1.9s-6.2.7-8.4 1.9l-94.9 55.2c-.3.2-.5.6-.5.9v12.2c0 .4.2.8.6.9L274.3 255c2.1 1.2 5.2 1.9 8.5 1.9 3.2 0 6.2-.7 8.4-1.9l94.9-55.2c.3-.2.5-.6.5-.9v-12.1z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M394.3 147.2c0-2.4-1.7-5-4.9-6.8L283 79c-6.6-3.8-17.1-3.8-23.5 0l-94.9 55.1c-3.2 1.9-4.8 4.3-4.8 6.8v33.4c0 2.4 1.7 5 4.9 6.9L271 242.6c6.6 3.8 17.1 3.8 23.5 0l94.9-55.2c3.2-1.8 4.8-4.3 4.8-6.6.2-2.5.2-31.1.1-33.6z"/>
		<path fill="#DDE4FD" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M386.6 135.1c0-.4-.2-.8-.6-1L279.6 72.7c-2.1-1.2-5.2-1.9-8.4-1.9s-6.2.7-8.4 1.9L168 127.8c-.3.2-.5.6-.5.9v12.2c0 .4.2.8.6.9l106.4 61.4c2.1 1.3 5.2 1.9 8.5 1.9s6.2-.7 8.4-1.9l94.9-55.2c.3-.2.5-.6.5-.9-.2-.3-.2-11.6-.2-12z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M394.3 95.5c0-2.4-1.7-4.9-4.9-6.8L283 27.3c-6.6-3.8-17.1-3.8-23.5 0l-94.9 55.2c-3.2 1.9-4.8 4.3-4.8 6.8v33.4c0 2.4 1.7 5 4.9 6.9L271 191c6.6 3.8 17.1 3.8 23.5 0l94.9-55.2c3.2-1.8 4.8-4.3 4.8-6.6.2-2.6.2-31.2.1-33.7z"/>
		<path fill="#DDE4FD" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M168 88.7l106.4 61.4c2.1 1.2 5.2 1.9 8.5 1.9 3.2 0 6.2-.7 8.4-1.9l94.9-55.2c.6-.4.6-1.6-.1-2L279.6 31.5c-2.1-1.2-5.2-1.9-8.4-1.9s-6.2.7-8.4 1.9l-95 55.2c-.5.4-.5 1.6.2 2z"/>
		<path fill="#304295" d="M362.8 119.5c-1 .6-1.8 2.1-1.8 3.2v22.2c0 1.2.9 1.7 1.9 1 1-.6 1.9-2.1 1.8-3.2v-22.2c0-1.1-.8-1.6-1.9-1zM369.7 115.4c-1 .6-1.8 2.1-1.8 3.2v22.2c0 1.2.9 1.7 1.9 1 1-.6 1.8-2.1 1.8-3.2v-22.2c0-1-.9-1.5-1.9-1zM376.7 111.4c-1 .6-1.8 2.1-1.8 3.2v22.2c0 1.2.9 1.7 1.9 1 1-.6 1.8-2.1 1.8-3.2v-22.2c0-1.1-.9-1.6-1.9-1zM383.6 107.3c-1 .6-1.8 2.1-1.8 3.2v22.2c0 1.2.9 1.7 1.9 1 1-.6 1.8-2.1 1.8-3.2v-22.2c0-1.1-.8-1.6-1.9-1zM168.3 208.4c-.7-.5-1.3-1.5-1.3-2.3 0 .8.6 1.8 1.3 2.3zM168.3 215.1c-.7-.4-1.3-1.5-1.3-2.3 0 .8.6 1.9 1.3 2.3zM173 154.6c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.5.6-.3l5.4 3.1zM173 164.5c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.5.6-.3l5.4 3.1zM182.5 160.2c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.2c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.2zM182.5 170.2c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.5.6-.3l5.4 3.1zM192.1 165.9c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM192.1 175.9c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM201.6 171.6c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM201.6 181.6c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.5.6-.3l5.4 3.1zM211.2 177.6c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.3-.6.6-.3l5.4 3.1zM211.2 187.6c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.3-.6.6-.3l5.4 3.1zM220.7 183.3c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.5.6-.3l5.4 3.1zM220.7 193.2c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM173 106.3c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM173 116.2c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM182.5 112c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM182.5 121.9c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1V119c0-.4.2-.5.6-.3l5.4 3.2zM192.1 117.7c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM192.1 127.6c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.5.6-.3l5.4 3.1zM201.6 123.3c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM201.6 133.2c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM211.2 129.3c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.3-.6.6-.3l5.4 3.1zM211.2 139.2c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.3-.6.6-.3l5.4 3.1zM220.7 135c.3.2.6.6.6 1v5.4c0 .4-.2.6-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM220.7 144.9c.3.2.6.6.6 1v5.4c0 .4-.2.5-.6.3l-5.4-3.1c-.3-.2-.6-.6-.6-1v-5.4c0-.4.2-.6.6-.3l5.4 3.1zM256.3 149.9c1 .6 1.8 2.1 1.8 3.2v22.2c0 1.2-.9 1.7-1.9 1-1-.6-1.8-2.1-1.8-3.2v-22.2c0-1.2.9-1.6 1.9-1zM249.4 145.8c1 .6 1.8 2.1 1.8 3.2v22.3c0 1.2-.9 1.7-1.9 1-1-.6-1.8-2.1-1.8-3.2v-22.2c0-1.2.8-1.7 1.9-1.1zM242.4 141.8c1 .6 1.8 2.1 1.8 3.2v22.2c0 1.2-.9 1.7-1.9 1-1-.6-1.8-2.1-1.8-3.2v-22.1c0-1.3.9-1.8 1.9-1.1zM235.5 137.6c1 .6 1.8 2.1 1.8 3.2V163c0 1.2-.9 1.7-1.9 1-1-.6-1.8-2.1-1.8-3.2v-22.2c0-1 .8-1.5 1.9-1zM256.3 202.4c1 .6 1.8 2.1 1.8 3.2v22.2c0 1.2-.9 1.7-1.9 1-1-.6-1.8-2.1-1.8-3.2v-22.2c0-1.1.9-1.6 1.9-1zM249.4 198.3c1 .6 1.8 2.1 1.8 3.2v22.2c0 1.2-.9 1.7-1.9 1-1-.6-1.8-2.1-1.8-3.2v-22.2c0-1 .8-1.5 1.9-1zM242.4 194.3c1 .6 1.8 2.1 1.8 3.2v22.2c0 1.2-.9 1.7-1.9 1-1-.6-1.8-2.1-1.8-3.2v-22.2c0-1.2.9-1.6 1.9-1zM235.5 190.2c1 .6 1.8 2.1 1.8 3.2v22.2c0 1.2-.9 1.7-1.9 1-1-.6-1.8-2.1-1.8-3.2v-22.2c0-1.1.8-1.6 1.9-1z"/>
		<path fill="#304295" d="M174.9 209.1c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-6.6-3.8c-.7-.5-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l6.6 3.8zM170 213c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-1.7-1c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l1.7 1zM178 224.2c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-9.7-5.6c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l9.7 5.6zM185.8 222.2c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-11.1-6.4c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l11.1 6.4zM184.3 228c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-1.3-.8c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l1.3.8zM181.9 213.1c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-1.9-1.1c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l1.9 1.1zM191.1 218.5c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-4-2.3c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l4 2.3zM197 225.1c-.7-.4-1.3-1.5-1.3-2.3-.1.9.5 1.9 1.3 2.3z"/>
		<path fill="#304295" d="M203.6 225.9c.7.4 1.3 1.5 1.3 2.4 0 .9-.6 1.2-1.3.8l-6.6-3.9c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l6.6 3.8zM197 231.8c-.7-.4-1.3-1.5-1.3-2.3-.1.9.5 1.9 1.3 2.3z"/>
		<path fill="#304295" d="M198.6 229.8c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-7.4-4.3c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l7.4 4.3zM206.7 241l-9.7-5.6-7.3-4.4c-.7-.4-1.3-.1-1.3.8s.6 1.9 1.3 2.3l7.3 4.4 9.7 5.6c.7.4 1.3.1 1.3-.8s-.6-1.9-1.3-2.3zM219.7 242c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-16.4-9.4c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l16.4 9.4zM219.7 248.6c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-1.4-.8c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l1.4.8zM213 244.7c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-1.3-.8c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l1.3.8zM210.6 229.9c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-1.9-1.1c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l1.9 1.1zM219.7 235.2c.7.4 1.3 1.5 1.3 2.3 0 .9-.6 1.2-1.3.8l-4-2.3c-.7-.4-1.3-1.5-1.3-2.3 0-.9.6-1.2 1.3-.8l4 2.3z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M344 61.9c-34.7-16.4-90.8-16.4-125.2 0-34.5 16.4-34.3 38.1.4 54.5 34.7 16.4 90.8 16.4 125.2 0 34.4-16.4 34.2-38.1-.4-54.5z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M194.3 83.6c-.9.9-1.3 1.8-1.1 3.1.2 1.3 1.7 1.2 3.4.6 1.6-.6 4.6-3.1 3.2-4.5-1.4-1.5-4-.5-5.5.8zM231.5 16.5c1.2-2.7 1.4-3.7 3.9-5.5 2.5-1.7 4.2-.1 4.6 1.3.4 1.4-1.8 6.7-4.8 7.7s-3.7-3.5-3.7-3.5z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M205.4 98.2s1.3 6.5 3.8 8.1c2.4 1.6 3.4 2.2 6.8.5 2.3-1.2 111.7-56.8 111.7-56.8s1.6-3.6.1-11.5c-1.5-7.8-20.1-38.9-52.2-38-19.8.6-37.9 13.7-50.9 34.5-.7 1.1-8-7.1-11.5-4.9-8.1 5.2 2.1 16.1 6.9 12.9-12.9 25.1-14.7 55.2-14.7 55.2z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M218.3 33.3c-1.7-3.2-2.1-8.5.2-10.7 2.3-2.2 5.8-2.8 8.2.1 2.5 3 3 7.4-.6 8.4-3.5.9-7.8 2.2-7.8 2.2zM206.1 94.4c4.1-.9 6 1.7 6.7-3.2.7-4.8-1.6-7.7-6.4-8.9-4.8-1-8.1 6-4.2 9l3.9 3.1zM201.3 49.9c.4-3.8-.6-4.9 1-7.9s7.5-5.7 12.2-3.6c-2.4 1.6-.4 4-.1 6.7.7 6.2 1.3 15.2-2 22.6-4.7 10.7-20.4 11.2-19.4.6 1.2-5.4 8.3-18.4 8.3-18.4z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M203.8 78.1c-1.5-2.3-1.9-3.7-.4-5.5 1.5-1.8 3-1.3 4.4-.2 1.5 1.1 4.7 4.7 2.8 6.3-3.2 2.8-6.8-.6-6.8-.6zM366.2 69.7c.7-1.8 1.5-2.4 1.1-4.2-.3-1.7-2.9-2.8-5.5-2.4-2.6.5-14.6-.2-15.6 4.4-1 4.7 9.9 13 13.6 13.4 3.7.3 6.2-6.1 6.2-6.1l.2-5.1zM342.8 27.1c-.2-1.8.5-2.3-1-3.6-1.4-1.3-4.3-.9-7 2.1-2.8 3-9.1 9.6-7 13 2.1 3.4 16.8 2.4 16.8 2.4l2.4-7-4.2-6.9zM292.1 6.1c.9-1.3 1.8-2.1 3.6-2.1s3.5.9 3.3 4.7c-.2 3.8-5.3 4.9-6.4 2.4-1-2.7-.5-5-.5-5zM227.6 102.3c-3.7 4.7-5.8 8.4-3.6 11.9 2 3.2 10.4 3.2 16 .1.6-.3 4.7 5.5 5.8 5.4 6.6-.7 14.9 3.9 22.8 5.1 2.4.4 2.7-1.5 3.4-2.5.9-1.3 12-2.1 12.5-1.7 3.6 2.8 13 4.3 15.6 3.1 9.2-4.3-4.7-17.8-8.1-21.6-3.5-3.8 1.7-21.5 2.4-31.5.6-10-8.9-21.3-18.2-6.5-9.2 14.7-28.1 25.4-36.2 27.6-8.1 2.1-12.4 10.6-12.4 10.6z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M294.7 84.5c-1.7.2-6 2.6-7 4-.9 1.3.4 2.8 3.2 3.1 2.8.2 13.4.1 12.7-3.6-.5-3.9-5.1-3.7-8.9-3.5zM248.7 95.1c-.9 1.5-1.8 2.8-3.3 3.1-2.5.5-5.5-3-4.9-5.8.6-2.8 5-4.5 6.6-2.1 1.5 2.4 1.6 4.8 1.6 4.8zM245.9 119.7c6.6-.7 14.9 3.9 22.8 5.1 2.4.4 2.7-1.5 3.4-2.5V111l-14.6.9-11.6 7.8z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M246.9 108.7c1.6-.7.7-.9 2.4-1.3 1.7-.3 3.3-.2 3.5 2.7.2 2.8-2.1 8-5.1 8.5-3 .5-4.4-2.8-3.1-5.5 1.2-2.7 2.3-4.4 2.3-4.4zM353.9 61.6c5-7.5 6.1-16.1 4.3-19.4-1.9-3.2-7.3-4.7-13.9 1.8-6.6 6.5-14.4 14.6-7.5 19.5 6.8 4.9 13.6 3.4 17.1-1.9zM246.3 45.8c-7-2.1-10.2-11.1-6.8-16.4 3.4-5.2 10.3-3.4 13.3.6 2.9 3.9 3 18.6-6.5 15.8z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M362.4 89.4c-.9 4.3-.8 7.3-4.3 10.4-3.5 3.1-11.3 3-15-2.2-3.7-5.3-15.2 5.7-22.5 11-14.6 10.6-23.4-7.9-19.7-16.8 3.7-9-5.8-55.7-18.6-34.8-12.8 20.9-21.3 28.1-31.7 31.8-26.1 9.5-31.1-2.7-30.3-9.2.6-5.4 4.5-8.1 12.2-7.9 7.8.2 24.4-27 29.1-38.2 4.7-11.1 4.7-21.7 5.9-24.5 1.2-2.8.4-2.2 5.1-4.3 4.7-2.1 9.3 2.8 13.4 7.7 3.1 3.7 28.9-.1 35.8 11 7 11.1 11.6 22.2 6.2 34.2-5.3 11.9 14.5 17.1 21.7 16.8 7.3-.4 12.7 15 12.7 15z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M303.8 32.1c2.1-.3 3.3-1 5.1.2 1.7 1.2 1.5 2.8-.7 4.8s-5.1 6.1-4.8 9.6c.2 3.5-5.4 9.8-8.1 2.7-2.7-7.1-7.6-4-8.5-7.5-.9-3.6-2.8-6.7 3.2-6.2 6 .3 13.8-3.6 13.8-3.6zM305.8 75.9c.9-2.4.9-1.4.9-3-.1-1.5-2.8-2.8-5.5-1.2-2.8 1.7-6 2.5-7 5.5-1 2.9 2.9 6.4 6.3 4 3.3-2.2 5.3-5.3 5.3-5.3zM317.6 119.1c3.1-.2 3.3-.1 6.2-.6 2.9-.6 4-3.1 2.3-5-1.7-1.9-13.3-3.7-16.5-5.6-3.2-1.9-8.5 0-6.2 4s-.9 7.6.2 9c1.2 1.3 5.5.8 7.3-.2 1.8-.8 6.7-1.6 6.7-1.6zM327.7 93.6c-.1-2.1-.2-3.1 1.6-4.3 1.7-1.3 3.5.1 4.6 1.7 1.1 1.7 7.1 5.7 9.2 6.6 2.1.9 4.3 7.3-.8 6.8-5.1-.4-9.8 1.3-11.1 2.3-1.3.9-7.3 1.3-5-3.8 2.2-5.1 1.5-9.3 1.5-9.3zM327.4 74c-4.3.6-9.9-.8-11-3.1-1-2.2-.1-3.6 1.8-3.8 2-.2 8.7-5.7 8.9-8.9.2-3.2 4.4-6.6 5.6-2 1.3 4.6 4.1 7.7 6.4 9.5 2.3 1.7.2 5.8-4 5.5-4.2-.4-7.7 2.8-7.7 2.8zM320.1 10.3c1.6.5 2.4 1.7 2 4-.4 2.4-1.6 7-1.5 9.1.1 2.2-3.7 3.6-5.2 1.7-1.2-1.5-6.7-11.1-6.7-11.1l.8-4.8 5.5.8c0 .1 3.5-.1 5.1.3zM270 28.4c2.8-.1 4.4.4 6.4-.7s2.7-3.2-.2-5.9c-2.9-2.7-18.1-7.5-18.1-7.5l-5.8 7.8 3.6 13.3 14.1-7zM271.8 55.6c-.1-2.4-.6-4.1.2-5.8.7-1.8 1.9-2.1 4.2-1.7 2.3.4 13-1.3 16.5 2.6 3.5 3.9 3.3 12.6-2 9.3-5.3-3.3-9.4-2.8-9.4-2.8s-4 7.7-8.2 4.1c-1.8-1.6-1.3-5.7-1.3-5.7zM257.4 52.3c2.4-1.5 2.8-.9 3.9-2.9 1-2.1-1.5-4-4.5-3.6-3 .5-13.5 3.5-13.5 3.5l1.6 6.2 12.5-3.2zM229.4 54.8c-.6-1.8-1.3-3.1-.9-5.1.4-1.9 1.8-2.8 4.9-2.2 3.1.6 14.9 11.1 15 14.3.2 3.2-7.6 5.1-8.8 3.6-1.2-1.5-6 6.9-7.7 3-1.7-3.8-2.5-13.6-2.5-13.6zM257.2 79.9c.2-1.8-.1-2.7.8-4.2s3.7-2.2 5.7.2c2 2.4 6 11.1 4 14.1-2.1 3-12 2.1-12 2.1s-7.4-2.8-4.1-6.6c3.3-3.8 5.6-5.6 5.6-5.6zM219.6 99.3c-.8-.4-1.1-.6-1.3-1.6-.1-1 1.2-1.8 3.2-2.7 2-.9 5.6-6.4 9.1-6.4s4.7 1.5 5 4.4c.3 2.9-6.6 8-8.4 10-1.7 2.1-5.5 5-6.2 1.9-.6-2.9-1.4-5.6-1.4-5.6zM259.8 107c-.6-.1-1.1-.1-1.7-.1-5 .8-8.8 4-9.9 8.3-.6 2.4-4 2.3-3.2-1 .4-2.1 1.6-5.5 4.3-6.7-9.2 1.5-16.5 5.8-15.9 10.5 10.7 3.7 22.8 5.9 35.2 6.7-1.8-.2-1.7-2.6-2.1-4.1-2.2-2.1-5.5-3.3-7.3-3.4-2-.1-1.8-2.3.1-2.4.9-.1 5.3.6 6.7 2.3 0-1.1.1-2.1.2-3.2.4-2.1 3.5-2.1 3.4.5-.2 4.7 0 9.9 5 10.4 4.9.1 9.8 0 14.7-.3.3-9.9-16.5-16.6-29.5-17.5z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M363.6 69.4c-1.6 2.7-1.8 5.2-1.5 6.9.4 2.1-2.4 2.6-3.2.6-.2-.8-.5-4.1.5-6.4-3.2.7-6.7.4-9.6-.6-2.1-.8-1.6-3.5 1.3-2.9 5.2 1.1 9.2 1.1 13-2.9 1.3-1.5 2.4-2.6 1.9-4.2-1.8-6.2-4.4-12.2-7.8-17.6 2.3 6.1-2.8 13.8-8.5 18.2-2.8 2.2-5 2.4-6.1 2.5-1.4.1-2.8-.4-3.9-1.4-1.8-1.8-1.5-5.1 1.7-7.8 7-6.1 13.6-17.5 4.8-26.3-1.4-1.3-2.8-2.6-4.3-3.9.9 1.6-1.3 4.7-1.6 5.4.2 3.4 2.1 6.6 3.6 7.9 1.7 1.5-.3 3.4-2.1 2.1-.8-.6-3.4-3.3-4-5.8-1.1 1.5-2.4 2.9-4 4.1-2.5 1.9-4.5-.6-3-1.8 6.1-4.8 9.8-12.8 8-14.3-4.7-3.6-10-6.7-15.5-9.3-2.8-.9-6.6 13.7-3.8 17.5 6.2 7.6 6.2 17.9-.2 27.6-2.2 3.4-3.4 6.8-3.6 9.8 0 2.4 4.1 3.2 7.7 1.3 4.7-2.4 5.5-5.7 5.1-10.2-.2-2.4 2.7-2.4 3.2-.6.6 2.5.3 5.5-.9 8 2.4-.4 5.8.3 6.6.7 1.9.9.9 3.2-1.2 2.4-1.7-.6-4.9-.7-7.9.2-1 .9-2.3 1.7-3.8 2.3-4.1 1.6-6.5 1.5-8.1-.1.3.9.7 1.6 1.3 2.3 2.8 3.7 8.7 5.3 16.4 4.4.6-.1 1.3-.2 2-.2 9.6-1.4 19.8.6 23.5 9.4 2.1 4.7 1.6 9.5-1.6 13 7.4-7.2 11-15.2 10.7-22.9-.2-3.9-.6-7.7-1.3-11.4-.1 1.8-1.5 2.9-3.8 4zM315.8 19.9c-1.2-2.8-3.4-5.2-5-6.1-2-1.1-.4-3.4 1.7-2.5.8.3 2.8 1.5 4.1 3.5.8-2.2 1.7-4.7 3.6-4.4-5.6-2.4-11.6-4.2-17.9-5.4-2.1.1-4.6 1.1-4.6 3.9s-3.8 2.8-4.3-.3c-.4-2.5.3-4.1 2.3-4.6-4.3-.5-8.7-.7-13.1-.6-5.1.2-5 13.8 18.3 16.4 5.5.6 10.6 2.7 14.5 5.6-.8-1.2-.1-3.9.4-5.5zM266.8 26.4c-3.8.4-7.2 2.2-8.6 3.6-1.6 1.6-3.8-.2-2.5-1.8.6-.7 3.6-3.2 6.4-3.8-1.7-.9-3.3-2.1-4.7-3.5-2.1-2.2.6-4.1 1.9-2.8 2.5 2.5 5.3 4.4 10.2 5.8 3.8 1 7.3 2.1 11.3.6.9-.6 2-1.2 2.9-1.7-12.1-5-15.1-14.4-11.2-18.1-8.3 2.1-16 6.6-22.9 13-4.1 5.7-1.2 13.8 1.4 19.7 1.5 3.4-.3 6-4.7 5.7-4.4-.3-9.2-7.7-7-13.4-2.9 4.2-5.6 8.8-8.1 13.7-1.2 4.3.4 7.4 3.6 11.1 3.2 3.6 6.1 5.2 9.6 6.5 1.8.6.8 3.6-2.2 2.6-2.3-.8-4.4-2-6.2-3.3.2 2.1-.8 4.7-1.2 5.2-1 1.5-3.2.6-2.4-1.1.8-1.5 1.2-4.6.2-7.3-2-2.1-4.7-4.5-4.3-7.1-2 4.7-3.6 9.8-5.1 15.1-1.3 6.4 4.8 13.9 14.8 12.3 10.7-1.8 15.2-8.5 20.8-21.9.8-2 1.7-4 2.6-6-2.8 3.2-8.6 3.8-13.4 3.6-3.2-.2-2.8-3.2-.9-3.2 3.8.1 7.2-.4 11.8-2.6 2.1-1 3.9-2.3 5.5-3.7 2.9-5.5 6.7-11 12.2-15.6-3.4 1.2-9.1-1.5-9.8-1.6zM225.6 93.9c.9-1.7 2.3-4.7 5-5.2-5.2-.5-9.9-3.1-10.4-9.2-.9 5.5-1.5 10.5-1.8 15.8 1.1 1.9 4.7-.2 7.2-1.4z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M347.8 90.9c-1.6-3.8-5.2-5.5-10.4-4.7-4.8.8-5.6 3.6-5.5 4.8.5 5.1 3.8 7.2 8.9 8.9 2.7.9 1.5 3.4-.8 3-2.6-.5-5.3-1.7-7.3-3.3-.3 2.4-2.1 5.2-2.7 5.8-1.6 1.5-4 0-2.5-1.7 1.2-1.5 2.3-4.6 2.1-7.7-.8-1.5-1.8-5.3-.3-6.7-5.2 3.2-8.7 9.4-9.5 14.1-.4 2.2-2.4 3.8-4.8 3.9-.3 0-.6 0-.9-.1-2.8-.4-4.6-2.7-4.2-5.1.3-1.9.9-3.9 1.7-5.8-2.1.6-4.8.9-6.5 1-2.3.1-2.7-2.4.4-2.6 2.6-.2 5.8-.9 8-2.1 1.6-2.6 3.6-5.1 5.8-7.3-4.2-1.4-7.6-3.7-10-6.9-1.3-1.7-2.2-3.5-2.8-5.4-.1 1.9-4 6-10 7.3-2.2.5-2.8-2.1-.8-2.4 1.5-.2 3.9-1.3 6.3-3.3 1.7-1.5 3.6-3.7 3.6-6.9 0-4.8 1.7-10 5.1-15.2 3.6-5.4 4.3-10.7 2.2-15.1-1.7-2.2-5-2.8-8.5-.3-4.6 3.2-4.7 6.8-3.6 11.6.6 2.5-2.5 3-3.2 1-1-2.6-1.3-5.7-.5-8.6-2.6.8-6.2.5-7.1.2-2.1-.6-1.6-3.2.8-2.8 1.9.3 5.3 0 8.4-1.3 2.3-3.6 7.7-5.5 9.6-4.7l-.1-.1c-1.8-1.3-5.8-3.5-10.2-3.7-4.3-.2-9.1.9-13.4 4.2-4.7 3.6-8.1 7.7-10.7 12.3-.3.6-1.3 3.7 1.4 5.1 6 3.2 13.1-3.6 17.1 6.2.9 2.4-1.7 2.9-2.6 1.1-3.8-7.7-7.4-2.4-13-4.3.6 1.8.8 3.8.2 5.8-.7 2-3.2 1.6-2.8-.3.6-3.6-3.6-5.9-2.8-9-1.4 2.8-2.6 5.8-3.9 8.7-1.4 3.4-3.1 6.9-5.1 10.1-1.3 3-2 6.4-1.7 9.9.5 4.6 1.9 7.4 4.1 10.2 1.1 1.4-1.5 3.5-3.4 1.1-1.3-1.5-2.2-3.2-2.8-5-.9 1.9-3.5 3.7-4.3 4-1.7.7-3-1.1-1.3-2.1 1.5-.9 3.6-3.2 4.5-6-.6-1.4-.9-3.6-.2-5.1-4.9 5.8-11.3 10.4-20 12.5-.6.2-1.1.2-1.7.3-3 .6-4.7 2.4-6.1 4.2-2.8 3.9-4.2 7-4.8 10.4-.3 1.7-3.7 1.5-3.3-1.3.2-1.5.7-3 1.3-4.3-1.4.9-4.3 2.2-5.3.4-.2 3.6-.2 7.3 0 11.3 0 0 .2 3.8 5.8 5.2-1.6-4.4 3.5-8.5 6.5-10.7 3.2-2.4 6.8-3.8 10.7-4.6 1.7-1 2.2-3.2 1.7-6.2-.2-1.7 2.8-1.6 3.4 1.2.3 1.5.3 3.9-1 4.4 4.9-.6 10-.5 14.9-.2 7.7-.2 12.9-1.6 15.3-3.9 2.5-2.4 2.4-6.6 2.1-11.4 0-.8-.1-1.7-.1-2.4-1.9-1.8-3.9-3-6.1-4-1.7-.8-.4-3.6 2.5-2.4 1.3.6 2.5 1.3 3.7 2.1.3-3.5 1.2-6.9 3.8-9.9 1.7-2 4.8-2.4 7-.9s2.6 4.3.9 6.3c-2.1 2.4-1.9 6.5-1.7 10.7.1 2.1.6 4.3 0 6.2 2.7-2.7 8.6-2.7 11.6-2.2 3.6.6 2.1 3.1-.6 2.8-4.9-.6-11 1-12.3 5.5-.8 2-1.9 3.9-3.7 5.7-1.1 1.1-2.4 2.1-3.9 2.8 7.3.8 13.2 4.3 16.9 8 3.6 3.5 8.5 10.9 4.3 12.6 8.2-1.1 16.2-2.8 23.7-5.1-2.3.3-5.9-.1-8.2-1.2-3.2.2-6.1 1.7-7.3 2.9-1.3 1.3-3.2-.2-2-1.6.5-.6 2.9-2.5 5.1-3.1-1.7-.9-3.5-2.1-4.9-3.4-2.2-2.1.5-4.1 1.8-2.8 2.6 2.5 5.5 4.7 10.4 5.9 4.7 1.1 12.2 1.3 18.8-2.1 11.2-6.1 13.2-16.6 10.8-22.4zM200 62.7c2.8-3.4 3.6-6 3.5-11-.2-4.8-2.3-6.9-1.1-9.8-4.8 8.1-8.1 17-9.4 26.4 1.1-2.7 5.3-3.6 7-5.6z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M274.8.6c-11.4.5-22.1 2.9-31.9 7-4 1.7-5.7 5.6-6.5 9.9-.3 1.7-3.5 2-3.3-.9.2-1.9.9-4 2.3-5.5-3.2 1.7-6.3 3.6-9.2 5.6-1.3 1.3-.3 4.1.6 6.1 2.5 5.8-3.3 11-7.3 6.6-1.1-1.2-2.7-4.1-1-6.7-3.8 3.3-7.3 7-10.4 10.8 6.7 15 5 25.9-1 34.6-.4.6-.8 1.1-1.3 1.7-.9 1.6-.2 5.3 3.2 6.6 1.8.7.5 3.5-2.5 2.4-2.3-.9-4.3-3.5-3.2-6.1-3.2 3.1-7 5.4-11.1 7.1v1.4c.1 1.9.4 3.8.9 5.6.2-1.6 2.4-2.8 2.8-3.2 1.9-1.2 3.9.7 2.1 2.2-1.1.9-4.2 3.2-3.3 5.2 2.7 5.5 7.5 10.8 14.5 15.4 1.1.7 3.5 2.1 3.4.8-.3-5.4-.1-10.7.3-15.9-1.2 2.5-4.7 1.3-6.3.6-6.6-3.2-5.5-9.9-.7-8.5 3.8 1.1 7.7-.5 8.3-4.3 2.1-14.5 6.2-27.9 11.8-39.3-3-1.1-5.9-.4-9.3 1-2.4 1-3.4-1.3-1.7-2.4.7-.4 1.5-.8 2.4-1.1-2.3-.9-4.5-4-4.7-4.7-.7-1.7 1.7-2.8 2.6-1.1.9 1.5 3.3 3.7 6.3 4.8 2-.2 4 0 5.8.6C239 15.2 256.2 1.2 275.8.4l-1 .2zM5.3 205.2l49-28.3c1.4-.8 2.7-.9 3.6-.4.1.1 8.4 5 9.4 5.6.9.6 1.4 1.7 1.4 3.2v106c0 3.3-2.3 7.3-5.2 9l-49 28.3c-1.4.8-2.7.9-3.6.4-.9-.5-8.3-5-9.2-5.5-.9-.6-1.4-1.7-1.4-3.3v-106c-.1-3.3 2.1-7.3 5-9z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M14.4 210.7c-2.9 1.7-5.1 5.7-5.1 9v106c0 3.3 2.4 4.7 5.2 3l49-28.3c2.9-1.7 5.2-5.7 5.2-9v-106c0-3.3-2.5-4.7-5.4-3l-48.9 28.3z"/>
		<path fill="#304295" d="M43.9 197.2c.8-.5 1.5-.1 1.5.9 0 .9-.6 2.1-1.5 2.5-.8.5-1.5.1-1.5-.9.1-.9.7-2 1.5-2.5z"/>
		<path fill="#DDE4FD" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M63.5 192.5v89.4c0 1.5-1.3 3.8-2.6 4.5l-46.5 26.8v-89.3c0-1.6 1.3-3.8 2.4-4.5l46.7-26.9z"/>
		<path fill="#304295" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M36.5 306.4l8.6-5c.2-.2.4 0 .4.2v3.6c0 .2-.2.6-.4.7l-8.6 5c-.2.2-.4 0-.4-.2v-3.6c0-.3.2-.6.4-.7z"/>
		<path fill="#304295" d="M31.5 205l8.6-5c.2-.2.4 0 .4.2v1.3c0 .2-.2.6-.4.7l-8.6 5c-.2.2-.4 0-.4-.2v-1.3c0-.2.3-.5.4-.7z"/>
		<path fill="#fff" d="M8.8 221.2c-.9-.5-7.7-4.6-8.5-5.1l8.5 5.1z"/>
		<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M8.8 221.2c-.9-.5-7.7-4.6-8.5-5.1"/>
		<path fill="#fff" d="M12.5 211.2c-.9-.5-7.3-4.3-8.1-4.8l8.1 4.8z"/>
		<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M12.5 211.2c-.9-.5-7.3-4.3-8.1-4.8"/>
		<path fill="#DDE4FD" d="M477.9 150.5s26.5 18.1 47 7.5c5.2-2.7 5.8-3 10.7-5.8 5.3-3 4.5-10.9-.7-14l-36.5-21.9-20.5 34.2z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M483.7 79c8 4.6 14.5 15.8 14.4 25l-.1 41.5c0 9.2-6.6 12.9-14.5 8.3l-62.1-35.9c-8-4.6-14.5-15.8-14.4-25l.1-41.5c0-9.2 6.6-12.9 14.5-8.3L483.7 79z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M510.5 95.8l-.1 41.5c0 4.6-1.7 7.7-4.3 9.2l-12.3 8.1c2.6-1.5 4.2-4.7 4.2-9.2l.2-41.6c0-9.2-6.5-20.3-14.5-25L421.6 43c-4-2.3-7.7-2.5-10.3-1l12.3-8.1c2.6-1.5 6.3-1.3 10.3 1l62.1 36c8.1 4.6 14.5 15.7 14.5 24.9z"/>
		<path fill="#304295" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M468.2 106.7l-26.1-32.5c-.3-.4-.8-.5-1.3-.3s-.7.6-.7 1l-.1 34.8c0 .3.2.6.4.8.2.2.5.3.8.3h.1l26.2-2.3c.4 0 .8-.3.9-.6.1-.5.1-.9-.2-1.2z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M510.5 95.8l-12.4 8.2c0-9.2-6.5-20.3-14.5-25l12.4-8.1c8.1 4.6 14.5 15.7 14.5 24.9z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M510.5 95.8l-.1 41.5c0 4.6-1.7 7.7-4.3 9.2l-12.3 8.1c2.6-1.5 4.2-4.7 4.2-9.2l.2-41.6 12.3-8zM145.8 63c.1 0 .1.1.2.1-19.4-11.3-38.8-20.2-58.2-31.5-.1 0-.1-.1-.2-.1L52.1 12.9c-1.3-.6-3.1-.3-4.8.6-1.7 1-3.5 2.7-4.8 4.9L7.3 75.5c-1.5 2.4-1.3 4.7-.1 5.4 2.2 1.3 4.3 2.5 6.6 3.8l.1 40.3c0 1.9.6 3.2 1.7 3.8 19.4 11.3 38.8 22.5 58.2 33.8 1.1.6 2.6.6 4.3-.4l55.6-32.1c3.2-1.9 5.9-6.5 5.9-10.3l-.2-46.7 4.3-2.4c2.9-1.8 4.3-6.7 2.1-7.7z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M65.2 114.5c-.9-.9-.9-3 .4-5.2l35.2-57.1c1.3-2.2 3.1-4 4.8-4.9 1.7-1 3.5-1.3 4.8-.6L145.8 63c.1 0 .1.1.2.1-19.4-11.3-38.8-20.2-58.2-31.5-.1 0-.1-.1-.2-.1L52.1 12.9c-1.3-.6-3.1-.3-4.8.6-1.7 1-3.5 2.7-4.8 4.9L7.3 75.5c-1.5 2.4-1.3 4.7-.1 5.4 2.2 1.2 55.8 32.3 58 33.6z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M100.8 45c1.7-1 3.5-1.3 4.8-.6L141 60.6c2.2 1 .8 5.9-2.1 7.7l-4.3 2.4.2 46.9c0 3.8-2.6 8.4-5.9 10.3l-53.2 35.5-8.4-4.7-.2-48.9-1 5.5-7.1-4 36.8-61.2c1.5-2.5 3.3-4.2 5-5.1z"/>
		<path fill="#fff" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M105.6 47.3c1.7-1 3.5-1.3 4.8-.6L145.8 63c2.2 1 .8 5.9-2.1 7.7l-4.3 2.4.2 46.9c0 3.8-2.6 8.4-5.9 10.3l-55.6 32.1c-3.2 1.9-5.9.4-5.9-3.4l-.2-47-4.3 2.4c-2.9 1.7-4.3-1.7-2.1-5.1l35.2-57.1c1.3-2.2 3-3.9 4.8-4.9z"/>
		<path fill="#304295" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M117.2 90.9c1.3-.7 2.2-.2 2.2 1.3l.1 20.7c0 1.4-1 3.2-2.2 3.9l-20 11.5c-1.3.7-2.2.2-2.2-1.3l-.1-20.7c0-1.4 1-3.2 2.2-3.9l20-11.5z"/>
		<path fill="#fff" d="M108.6 46.1c-6.3-3-53-29.5-59.2-33l59.2 33z"/>
		<path fill="transparent" stroke="#304295" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M108.6 46.1c-6.3-3-53-29.5-59.2-33"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
