<template>
	<icon-template
		:width="44"
		:height="44"
		name="GrantAccess"
	>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.333 32a5.333 5.333 0 100-10.667 5.333 5.333 0 000 10.667zM20.133 22.867L31 12M29.666 13.333L32.334 16M25.667 17.334L28.333 20"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
