<template>
	<icon-template
		:width="162"
		:height="227"
		name="Telemarketing"
	>
		<path fill="#DCE6FF" d="M5 171.4l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 185.1c-5.3-3.1-5.3-10.7 0-13.7z"/>
		<g class="wrapper">
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5 132.9l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 146.6c-5.3-3-5.3-10.6 0-13.7z"/>
			<path fill="#fff" d="M161 139.3v-24.8H1.1v24.8"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M161 139.3v-24.8H1.1v24.8"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M5 108.8l68.8-40c4.5-2.6 10.1-2.6 14.6 0l68.8 40c5.2 3 5.2 10.7 0 13.7l-68.8 40c-4.5 2.6-10.1 2.6-14.6 0L5 122.5c-5.3-3-5.3-10.7 0-13.7z"/>
			<path fill="#DCE6FF" d="M49.2 130.1c1 0 15.5 1.2 27.5-3.5S93 116.3 93 116.3l2.6 11.4 22 3 37.2-22.1-26.5-15.4-34.2-3-26.4 17.4-18.5 22.5z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M94.2 56.7c0-.1-.2-.3-.5-.5L75.6 45.7c.3.2.4.3.5.5.3.9 1.3 13.9-3.8 23.1-4.8 8.7-17.8 18.5-19.7 19.6-.3.1-.9-.1-1.6-.5 6 3.5 12.1 7 18.1 10.5.7.4 1.3.6 1.6.5 1.9-1.1 14.9-10.9 19.7-19.7 5.1-9.1 4.1-22.2 3.8-23zM29 117.5c6 3.5 12.1 7 18.1 10.5-3.6-2.1-5.3-6.6-5.4-7l-18.1-10.5c.1.3 1.8 4.8 5.4 7z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M60.8 92.5L42.7 82c-.6.5-11.1 10.9-19.1 28.5L41.7 121c8-17.6 18.5-28 19.1-28.5zM106.5 22.7c-6-3.5-12.1-7-18.1-10.5-4-2.3-9.6-.9-10-.8l18.1 10.5c.4-.1 6-1.5 10 .8zM96.5 21.9L78.4 11.4C67.7 27.7 64.7 41.8 64.5 42.5L82.6 53c.2-.7 3.2-14.8 13.9-31.1z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M96.5 21.9C85.8 38.2 82.8 52.3 82.6 53.1c.1 0 1.7.4 4.3 1.1 2.6.7 7 1.7 7.3 2.5.3.9.1 13.3-6 23.6-6.4 11-15.7 18.1-17.6 19.2-1.1.4-4.4-2.5-6.5-4.2-2-1.6-3.3-2.7-3.4-2.8-.5.5-11 10.9-19 28.5.2.5 3.5 9.4 11.1 7.9 1.4-.3 3.2-1.1 5.4-2.3 10.2-5.9 28-21.9 40.1-42.8 13.7-25.9 14.3-50.6 11.3-57.5-3-7-12.6-4.5-13.1-4.4z"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M37.2 74l6.3-3.8c-.1-7.2 4.9-16.1 11.1-19.9l-.1-7.2c-9.8 6-17.6 19.8-17.3 30.9z"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M24.6 81.6l6.3-3.8C30.5 62.7 41.1 44 54.3 36l-.1-7.2c-16.7 10.1-30 33.8-29.6 52.8z"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M12.1 89.1l6.3-3.8C18 62.4 33.9 33.9 54 21.8l-.1-7.2C30.3 28.8 11.6 62.2 12.1 89.1z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M118.3 103.9l-7.6-18.3-32.1-19.9 9.3-5.4c1.5-.9 3.5-.9 5 0l29.8 16.8c1.9 1.3 6.2 5.6 6.2 10.6 0 2.8-4.1 9.7-4.2 9.9-.1.2-6.4 6.3-6.4 6.3z"/>
			<path fill="#fff" d="M113.8 83.5l9.6-5.7-9.6 5.7z"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M113.8 83.5l9.6-5.7"/>
			<path fill="#21409A" d="M90.1 109c.8 4.1 1.3 7 1.4 7.1l4.4 10.4c0 .1.1.1.2.1l10.1-5.9s.1-.1 0-.1l-.7-2.1c-.2-1-.3-2.1-.4-3.3"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M90.1 109c.8 4.1 1.3 7 1.4 7.1l4.4 10.4c0 .1.1.1.2.1l10.1-5.9s.1-.1 0-.1l-.7-2.1c-.2-1-.3-2.1-.4-3.3"/>
			<path fill="#fff" d="M105 115.1l12.8 14.3h.1l9.4-5.8.1-.1c1.1-.7 1.8-2.1 1.8-4.1l-.2-31.7-9.6 5.7s-12 1.1-12.8 1.4c-.6.2-12.4 9.7-16.4 14.2"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M105 115.1l12.8 14.3h.1l9.4-5.8.1-.1c1.1-.7 1.8-2.1 1.8-4.1l-.2-31.7-9.6 5.7s-12 1.1-12.8 1.4c-.6.2-12.4 9.7-16.4 14.2"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M113.3 83L83.5 65.8c-3.5-2-6.4-.4-6.4 3.7v31.2c0 4.1 2.9 9.1 6.4 11.1l3.4 2c.6.4 1.1 1.1 1.3 1.9.4 2.3 1.7 7.2 6.5 10.8.9.7 1.7.1 1.4-1.1-.3-1.5-.7-3.4-.7-5.2 0-.8.6-1.1 1.3-.7l16.6 9.6c3.5 2 6.4.4 6.4-3.7V94.1c0-4-2.9-9-6.4-11.1z"/>
			<path fill="#21409A" d="M101.9 94.8L97.6 106c-.2.6-.4 1.1-.4 1.4 0 .2.1.3.2.6.1.2.3.4.4.5.2.2.5.3.7.3.6 0 1.4-.3 2.2-.9l.7 1c-2.1 1.9-4.3 1.8-6.7-.1-.9-.8-1.6-1.6-2.1-2.6s-.8-1.8-.8-2.6c0-.5.1-1.1.4-1.7l2.9-7.5c.3-.7.4-1.3.4-1.8 0-.3-.1-.7-.4-1.1-.3-.4-.6-.9-1.1-1.3-.2-.2-.5-.4-.7-.6l.3-.6 7 4.8 1.3 1zm-1.3-10.7c.9.7 1.6 1.6 2.2 2.7.6 1.1.9 2.1.9 2.9 0 .8-.3 1.3-.9 1.4-.6.1-1.3-.2-2.2-.9-.8-.7-1.5-1.6-2.1-2.7-.6-1.1-.9-2.1-.9-2.9 0-.8.3-1.3.9-1.4.6-.1 1.3.2 2.1.9z"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
