<template>
	<icon-template
		:width="24"
		:height="24"
		name="Close"
	>
		<path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M18 6l-6 6m-6 6l6-6m0 0L6 6m6 6l6 6"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
