
<template>
	<icon-template
		:width="162"
		:height="215"
		name="Safe"
	>
		<path fill="#DCE6FF" d="M4.95 158.908l68.657-39.691a14.575 14.575 0 0114.566 0l68.658 39.691c5.198 3.011 5.198 10.607 0 13.618l-68.658 39.691a14.57 14.57 0 01-14.566 0L4.95 172.526c-5.265-3.011-5.265-10.607 0-13.618z"/>
		<g class="wrapper">
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M4.95 120.586l68.657-39.691a14.573 14.573 0 0114.566 0l68.658 39.691c5.198 3.011 5.198 10.607 0 13.618l-68.658 39.691a14.57 14.57 0 01-14.566 0L4.95 134.204c-5.265-3.011-5.265-10.607 0-13.618z"/>
			<path fill="#fff" d="M160.73 126.882v-24.636H1.052v24.636"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M160.73 126.882v-24.636H1.052v24.636"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M4.95 96.634l68.657-39.69a14.573 14.573 0 0114.566 0l68.658 39.69c5.198 3.011 5.198 10.607 0 13.618l-68.658 39.692a14.575 14.575 0 01-14.566 0L4.95 110.252c-5.265-3.011-5.265-10.607 0-13.618z"/>
			<path fill="#DCE6FF" d="M63.329 127.748c-5.482 0-8.97-1.994-11.96-4.983-2.99-2.99 0-31.395 0-31.395l41.298-25.14a8 8 0 018.098-.13l48.003 27.148c5.398 3.053 5.416 10.809.02 13.864a11747.561 11747.561 0 01-31.157 17.565 23.885 23.885 0 01-11.724 3.071H63.329z"/>
			<path fill="#fff" d="M109.749 82.872c-6.877-3.995-33.9-19.608-51.031-29.412-1.569-.605-5.936-3.921-12.306-10.893-6.37-6.971-6.514-23.601 2.534-23.964 0-3.268-.107-9.456 5.374-11.948l6.478-4.983C67.278-.82 73.556 4.08 75.776 8.8c8.953-9.804 20.437-10.022 32.887.726 12.45 10.748 16.407 31.832 14.477 38.489 5.718 4.59 10.857 14.524 9.048 23.601-.541 2.715-1.73 4.42-3.178 5.447l-8.967 4.776c-1.005.979-2.199 1.538-3.418 1.82-2.887.666-5.911-.226-6.876-.786z"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M113.368 53.46c1.93-6.657-2.027-27.74-14.477-38.488C86.44 4.224 74.28 3.715 69.213 17.876c-1.81-5.083-4.926-13.72-14.893-11.22m59.048 46.804c5.718 4.59 10.858 14.524 9.048 23.602-.845 4.236-3.265 6.012-5.791 6.596m-3.257-30.198l9.772-5.446M54.32 6.655c-5.481 2.492-5.374 8.68-5.374 11.948-9.048.363-8.904 16.993-2.534 23.964 6.37 6.972 10.737 10.288 12.306 10.893a13029.571 13029.571 0 0151.031 29.412c.965.56 3.989 1.453 6.876.786M54.32 6.655l6.478-4.983C67.278-.82 73.556 4.08 75.776 8.8c8.953-9.804 20.437-10.022 32.887.726 12.45 10.748 16.407 31.832 14.477 38.489m0 0c5.718 4.59 10.857 14.524 9.048 23.601-.541 2.715-1.73 4.42-3.178 5.447l-12.385 6.596"/>
			<path fill="#fff" d="M10.711 8.757h-.005a4.237 4.237 0 011.504-1.593l.164-.095a.592.592 0 00.022-.012c.014-.009.028-.017.044-.024l9.484-5.462c1.17-.647 2.715-.764 4.505-.249 9.858 2.84 20.019 7.28 30.18 13.138C66.77 20.32 76.931 27.6 86.785 36.126a21.924 21.924 0 014.983 6.3c.099.187.194.377.285.567L78.489 50.81a21.881 21.881 0 00-5.295-6.929 226.978 226.978 0 00-5.536-4.633 213.847 213.847 0 00-2.306-1.834 200.891 200.891 0 00-9.866-7.293 185.48 185.48 0 00-8.771-5.71h-.002a172.334 172.334 0 00-3.697-2.196 167.18 167.18 0 00-6.136-3.361 143.77 143.77 0 00-3.007-1.523 137.015 137.015 0 00-10.61-4.695 119.209 119.209 0 00-6.147-2.228 109.24 109.24 0 00-4.279-1.327 7.732 7.732 0 00-2.126-.324zM78.234 111.76l-1.394.566c.89-.839 1.61-1.878 2.143-3.088.728-1.659 1.111-3.643 1.111-5.889V57.023c0-1.933-.58-4.092-1.601-6.207l13.564-7.818c1.038 2.133 1.631 4.317 1.631 6.268v46.327c0 4.417-1.485 7.823-4.17 9.721l-.004.002c-.439.31-.91.581-1.414.81l-7.903 4.516-.004.002-.322.185-1.605.919-.003.001-.003.001-.026.01z"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M10.711 8.757h-.005a4.237 4.237 0 011.504-1.593l.164-.095a.592.592 0 00.022-.012c.014-.009.028-.017.044-.024l9.484-5.462c1.17-.647 2.715-.764 4.505-.249 9.858 2.84 20.019 7.28 30.18 13.138C66.77 20.32 76.931 27.6 86.785 36.126a21.924 21.924 0 014.983 6.3c.099.187.194.377.285.567L78.489 50.81a21.881 21.881 0 00-5.295-6.929 226.978 226.978 0 00-5.536-4.633 213.847 213.847 0 00-2.306-1.834 200.891 200.891 0 00-9.866-7.293 185.48 185.48 0 00-8.771-5.71h-.002a172.334 172.334 0 00-3.697-2.196 167.18 167.18 0 00-6.136-3.361 143.77 143.77 0 00-3.007-1.523 137.015 137.015 0 00-10.61-4.695 119.209 119.209 0 00-6.147-2.228 109.24 109.24 0 00-4.279-1.327 7.732 7.732 0 00-2.126-.324zM78.234 111.76l-1.394.566c.89-.839 1.61-1.878 2.143-3.088.728-1.659 1.111-3.643 1.111-5.889V57.023c0-1.933-.58-4.092-1.601-6.207l13.564-7.818c1.038 2.133 1.631 4.317 1.631 6.268v46.327c0 4.417-1.485 7.823-4.17 9.721l-.004.002c-.439.31-.91.581-1.414.81l-7.903 4.516-.004.002-.322.185-1.605.919-.003.001-.003.001-.026.01z"/>
			<path fill="#925FC4" d="M11.742 7.501l11.822 6.39v36.684c0 5.288 2.121 11.58 5.894 17.463l26.232 40.945c2.746 4.287 7.155 6.828 9.902 5.709l13.803-5.626.486 1.803c.002-.002.004-.004.008-.004 2.729-1.89 4.235-5.32 4.235-9.773V54.766c0-1.934-.583-4.092-1.601-6.207a21.881 21.881 0 00-5.295-6.93c-9.859-8.526-20.02-15.809-30.18-21.667C36.883 14.105 26.722 9.667 16.866 6.826a7.658 7.658 0 00-2.126-.324 5.09 5.09 0 00-1.8.308l-1.2.691z"/>
			<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M9.97 12.01v46.326c0 5.286 2.124 11.578 5.896 17.46l26.23 40.946c2.747 4.285 7.16 6.826 9.9 5.707l24.842-10.123 1.394-.566.026-.01.006-.002a8.771 8.771 0 001.617-.877l.008-.004c.073-.049.144-.101.212-.152.031-.024.063-.046.09-.071l.004-.002a7.82 7.82 0 00.683-.581c.067-.063.132-.126.197-.193.048-.048.095-.095.14-.146.167-.174.325-.356.477-.545.044-.052.083-.107.125-.16.083-.109.162-.216.241-.328.034-.048.067-.095.097-.146.035-.05.07-.103.103-.154l.142-.229c.04-.066.08-.129.115-.196a9.925 9.925 0 00.371-.713c.088-.183.169-.369.248-.561.027-.065.051-.13.077-.197.012-.03.023-.057.033-.087.026-.063.048-.126.072-.191l.053-.152c.028-.083.053-.168.081-.253.03-.087.055-.176.081-.267.014-.047.03-.093.042-.142.021-.079.043-.156.063-.235.004-.01.006-.022.008-.032.025-.096.05-.195.073-.292a4.13 4.13 0 00.057-.266c.026-.113.048-.228.07-.344.002-.004.004-.008.002-.01.023-.114.043-.233.063-.351.012-.071.023-.145.033-.216a18.141 18.141 0 00.113-.947c.008-.081.014-.164.018-.247a22.794 22.794 0 00.035-.583c.01-.261.016-.523.016-.792V54.76c0-1.931-.583-4.092-1.601-6.207-.008-.017-.016-.035-.028-.053a24.034 24.034 0 00-.277-.55c-.069-.131-.136-.262-.21-.39-.076-.142-.156-.28-.237-.422a7.531 7.531 0 00-.16-.271 5.093 5.093 0 00-.144-.237c-.085-.14-.174-.28-.267-.42-.077-.121-.156-.242-.24-.36a23.515 23.515 0 00-.71-.991 18.252 18.252 0 00-.57-.715 18.004 18.004 0 00-.568-.664 26.154 26.154 0 00-.676-.722 25.54 25.54 0 00-1.21-1.138c-9.859-8.527-20.018-15.81-30.18-21.668C36.881 14.095 26.72 9.656 16.864 6.816a7.721 7.721 0 00-2.126-.324c-.654 0-1.26.105-1.799.308a3.963 3.963 0 00-.502.225c-.024.01-.044.024-.066.036l-.164.095a4.255 4.255 0 00-1.507 1.592c-.472.874-.73 1.968-.73 3.262z"/>
			<path fill="#DCE6FF" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M18.94 24.278v36.553c0 4.172 1.656 9.135 4.595 13.778l20.45 32.306c2.14 3.381 5.579 5.387 7.716 4.504l20.45-8.434a6.775 6.775 0 001.285-.702c.002-.002.004-.004.007-.004 2.127-1.492 3.302-4.197 3.302-7.71V58.014c0-1.524-.454-3.228-1.25-4.897-.95-1.999-2.391-3.947-4.126-5.467-7.684-6.727-15.605-12.474-23.525-17.097C39.92 25.933 32 22.43 24.318 20.19a5.91 5.91 0 00-1.658-.255c-.51 0-.981.083-1.402.243-1.446.541-2.318 1.986-2.318 4.1z"/>
			<path fill="#2141A4" d="M68.101 39.399c0 .908.737 2.07 1.647 2.593.91.523 1.647.213 1.647-.695 0-.909-.737-2.07-1.647-2.593-.91-.526-1.647-.214-1.647.695zM57.809 31.85c0 .908.738 2.07 1.647 2.592.91.524 1.647.214 1.647-.695 0-.908-.738-2.07-1.647-2.592-.91-.526-1.647-.214-1.647.695zM47.026 24.818c.137.898 1.04 1.935 2.018 2.316.978.38 1.66-.037 1.524-.935-.136-.898-1.04-1.935-2.018-2.316-.978-.383-1.66.037-1.523.935zM36.534 19.76c.162.894 1.096 1.905 2.084 2.257.989.352 1.659-.085 1.496-.98-.162-.893-1.096-1.903-2.084-2.255-.991-.354-1.66.085-1.496.979zM25.677 15.62c.353.836 1.483 1.62 2.524 1.75 1.041.13 1.6-.442 1.248-1.28-.352-.837-1.482-1.62-2.523-1.75-1.042-.13-1.601.442-1.249 1.28z"/>
			<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M31.918 58.655l8.979 14.466 25.252-14.466"/>
		</g>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
