
<template>
	<icon-template
		:width="24"
		:height="24"
		name="ChewronDown"
	>
        <path fill="transparent" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 8l7 7 7-7"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
