<template>
	<icon-template
		:width="68"
		:height="66"
		name="Two"
	>
		<path fill="#DCE6FF" d="M2.613 43.434L30.65 27.226a5.951 5.951 0 015.948 0l28.037 16.208c2.122 1.23 2.122 4.332 0 5.562L36.598 65.203a5.951 5.951 0 01-5.948 0L2.613 48.996c-2.15-1.23-2.15-4.332 0-5.562z"/>
		<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M2.613 27.785L30.65 11.577a5.951 5.951 0 015.948 0l28.037 16.208c2.122 1.23 2.122 4.332 0 5.561L36.598 49.555a5.951 5.951 0 01-5.948 0L2.613 33.346c-2.15-1.23-2.15-4.331 0-5.56z"/>
		<path fill="#fff" d="M66.227 30.356v-10.06H1.02v10.06"/>
		<path fill="transparent" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M66.227 30.356v-10.06H1.02v10.06"/>
		<path fill="#fff" stroke="#21409A" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M2.613 18.005L30.65 1.796a5.951 5.951 0 015.948 0l28.037 16.209c2.122 1.23 2.122 4.331 0 5.56L36.598 39.775a5.951 5.951 0 01-5.948 0L2.613 23.566c-2.15-1.23-2.15-4.332 0-5.561z"/>
		<path fill="#2141A4" d="M21 19.981c.3-1.3 1.1-2.6 2.2-3.8 1.1-1.2 2.4-2.3 4-3.1 1.5-.9 3-1.5 4.5-1.8 1.5-.3 2.9-.4 4.2-.1 1.3.3 2.4.9 3.1 1.8 1 1.1 1.3 2.7.9 4.6-.4 1.9-1.4 4.4-3.1 7.4l8.6-5 2.3 2.6-15.8 9.1-2-2.3c1.1-2 1.9-3.6 2.5-4.9.6-1.2 1.2-2.4 1.7-3.5s.8-2 .9-2.6c.1-.6.2-1.2.1-1.7s-.2-.9-.5-1.3c-.5-.6-1.2-.8-2.2-.8-.9.1-1.9.4-2.8.9-2.2 1.3-3.6 2.9-4.3 4.9l-4.3-.4z"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
