
<template>
	<icon-template
		:width="32"
		:height="32"
		name="Bell"
	>
	<mask id="vSp6VDrlYo" fill="#fff">
		<path d="M28 25.333v1.334H4v-1.334l2.667-2.666v-8a9.32 9.32 0 016.666-8.947v-.387a2.667 2.667 0 015.334 0v.387a9.32 9.32 0 016.666 8.947v8L28 25.333zM18.667 28a2.667 2.667 0 01-5.334 0"/>
	</mask>
	<path fill="#2141A4" d="M28 25.333h2l-.586-1.414L28 25.333zm0 1.334v2l2-2h-2zm-24 0H2l2 2v-2zm0-1.334L2.586 23.92 2 25.333h2zm2.667-2.666L8.08 24.08l.586-1.414h-2zM13.333 5.72l.569 1.918 1.431-1.918h-2zM16 2.667v-2 2zm2.667 3.053h-2l1.431 1.918.569-1.918zm6.666 16.947h-2l.586 1.414 1.414-1.414zM26 25.333v1.334h4v-1.334h-4zm2-.666H4v4h24v-4zm-22 2v-1.334H2v1.334h4zm-.586.08l2.667-2.666-2.829-2.829-2.666 2.667 2.828 2.828zm3.253-4.08v-8h-4v8h4zm0-8a7.32 7.32 0 015.235-7.03l-1.137-3.835a11.32 11.32 0 00-8.098 10.865h4zm6.666-8.947v-.002-.001-.002-.001-.001-.002-.001-.002-.001-.001-.002-.001V5.7 5.7v-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001V5.6 5.6v-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001V5.5 5.5v-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001V5.4v-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.001-.002-.001-.002h-4V5.72h4zm0-.387c0-.177.07-.346.196-.471L12.7 2.033a4.667 4.667 0 00-1.367 3.3h4zm.196-.471A.667.667 0 0116 4.667v-4a4.666 4.666 0 00-3.3 1.366l2.829 2.829zM16 4.667c.177 0 .346.07.471.195L19.3 2.033A4.666 4.666 0 0016 .667v4zm.471.195a.667.667 0 01.196.471h4a4.667 4.667 0 00-1.367-3.3L16.47 4.862zm.196.471V5.72h4v-.002-.001-.002-.001-.001-.002-.001-.002-.001-.001-.002-.001V5.7 5.7v-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001-.001V5.6 5.6v-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001V5.5 5.5v-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.001-.001V5.4v-.002-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.001-.002-.001-.002-.001-.001-.002-.001-.002h-4zm1.431 2.305a7.32 7.32 0 015.235 7.029h4a11.32 11.32 0 00-8.098-10.865l-1.136 3.836zm5.235 7.029v8h4v-8h-4zm.586 9.414l2.667 2.666 2.828-2.828-2.667-2.667-2.828 2.829zM16.667 28c0 .177-.07.346-.196.471L19.3 31.3a4.667 4.667 0 001.367-3.3h-4zm-.196.471a.667.667 0 01-.471.196v4a4.666 4.666 0 003.3-1.367L16.47 28.47zm-.471.196a.667.667 0 01-.471-.196L12.7 31.3a4.666 4.666 0 003.3 1.367v-4zm-.471-.196a.667.667 0 01-.196-.471h-4c0 1.238.492 2.425 1.367 3.3l2.829-2.829z" mask="url(#vSp6VDrlYo)"/>
	</icon-template>
</template>

<script>
	import IconTemplate from '../IconTemplate.vue';
	export default {
		components: {
			IconTemplate
		}
	}
</script>
