<template>
	<div id="app" class="page__body" :class="{'page__body--home': isHomePage, 'page__body--promo': isPromoPage}">
		<template v-if="isHomePage">
			<div class="d-flex w-100"><!--  не удалять d-flex нужен для корректной работы min-height в ie11 -->
				<div class="wrapper wrapper--slider-main">
					<el-header></el-header>
					<el-slider-main ></el-slider-main>
				</div>
			</div>
		</template>
		<el-header v-else></el-header>
			<router-view></router-view>
		<el-footer></el-footer>
		<div class="page__bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</template>

<script>

	import {events} from './events';

	import ElHeader from './components/ElHeader.vue';
	import ElFooter from './components/ElFooter.vue';
	import ElSliderMain from './components/ElSliderMain';

	export default {
		name: 'App',
		components: {
			ElHeader,
			ElFooter,
			ElSliderMain
		},
		computed: {
			isHomePage(){
				return this.$route.name === 'index';
			},
			isPromoPage(){
				return  [
					'feedback',
					'registration',
					'clients',
					'services',
					'providers',
					'help',
					'documentation'
				].includes(this.$route.name);
			}
		},
		watch:{
			$route(){
				this.$evbus.$emit(events.EV_APP_CLOSE_ALL_WINDOWS);
			}
		},
		methods: {
			initCssVariables(){
				//ширина скроллбара
				let scrollMeasure = document.createElement('div');
				scrollMeasure.classList.add('scroll__measure');
				document.body.appendChild(scrollMeasure);
				var scrollbarWidth = scrollMeasure.offsetWidth - scrollMeasure.clientWidth;
				document.querySelector(':root').style.setProperty('--scrollbar-width', `${scrollbarWidth}px`);

				//реальный vh - https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
				let vh = window.innerHeight * 0.01;
				document.documentElement.style.setProperty('--vh', `${vh}px`);
				window.addEventListener('resize', () => {
					let vh = window.innerHeight * 0.01;
					document.documentElement.style.setProperty('--vh', `${vh}px`);
				});
			},
			lockPageScroll: function(){
				if( this.$store.state.isSafari ){
					this.scrollPos = {
						x: window.scrollX,
						y: window.scrollY
					}
				}
				document.querySelector('.page').classList.add('page--noscroll');
			},
			unlockPageScroll: function(){
				document.querySelector('.page').classList.remove('page--noscroll');
				if( this.$store.state.isSafari ){
					window.scrollTo( this.scrollPos.x, this.scrollPos.y );
				}
			}
		},
		mounted(){
			this.$evbus.$on(events.EV_APP_TOGGLE_PAGE_SCROLL, (data) => {
				data ? this.unlockPageScroll() : this.lockPageScroll();
			});

			this.initCssVariables();
		}
	}
</script>
